384/384(노드레드스케쥴러2부).txt
[{"id":"abafc6af.309c08","type":"ui_table","z":"f3f7ca5.74ca438","group":"51ce6aa1.620754","name":"","order":2,"width":"22","height":"5","columns":[],"outputs":1,"cts":true,"x":790,"y":380,"wires":[["84343966.7082e8","bd001e7b.0567a","5961b36.d359c4c"]]},{"id":"3e2f405d.ff4e6","type":"change","z":"f3f7ca5.74ca438","name":"","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"groupBy\":\"DNUM\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"디바이스번호\",\"field\":\"DNUM\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"채널번호\",\"field\":\"CH\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"요일\",\"field\":\"WEEK\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"켜지는시간\",\"field\":\"ONTIME\",\"width\":100,\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue().h + ':' + cell.getValue().m;}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"꺼지는시간\",\"field\":\"OFFTIME\",\"width\":100,\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue().h + ':' + cell.getValue().m;}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"켜짐상태\",\"field\":\"ONSTATE\",\"width\":100,\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue()==0){return \\\"<i class=\\\\\\\"fa fa-spinner fa-pulse fa-fw\\\\\\\"></i>\\\";}else if(cell.getValue()==1){return \\\"<i class=\\\\\\\"fa fa-check-square\\\\\\\"></i>\\\";}else if(cell.getValue()==-1){return \\\"<i class=\\\\\\\"fa fa-window-close\\\\\\\"></i>\\\";}else if(cell.getValue()==2){return \\\"<i class=\\\\\\\"fa fa-thumbs-o-up\\\\\\\"></i>\\\";}}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"꺼짐상태\",\"field\":\"OFFSTATE\",\"width\":100,\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue()==0){return \\\"<i class=\\\\\\\"fa fa-spinner fa-pulse fa-fw\\\\\\\"></i>\\\";}else if(cell.getValue()==1){return \\\"<i class=\\\\\\\"fa fa-check-square\\\\\\\"></i>\\\";}else if(cell.getValue()==-1){return \\\"<i class=\\\\\\\"fa fa-window-close\\\\\\\"></i>\\\";}else if(cell.getValue()==2){return \\\"<i class=\\\\\\\"fa fa-thumbs-o-up\\\\\\\"></i>\\\";}}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"비활성\",\"field\":\"disable\",\"width\":100,\"formatter\":\"function(cell, formatterParams, onRendered){return \\\"<i class=\\\\\\\"fa fa-thumbs-o-down\\\\\\\"></i>\\\";}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"삭제\",\"field\":\"DEL\",\"width\":100,\"formatter\":\"function(cell, formatterParams, onRendered){return \\\"<i class=\\\\\\\"fa fa-trash\\\\\\\"></i>\\\";}\",\"align\":\"center\"}]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["abafc6af.309c08"]]},{"id":"f158ba16.6fe458","type":"inject","z":"f3f7ca5.74ca438","name":"테이블의 구조를 만든다!","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":300,"wires":[["3e2f405d.ff4e6"]]},{"id":"21f802af.34bcce","type":"inject","z":"f3f7ca5.74ca438","name":"샘플데이터삽입","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":260,"y":340,"wires":[["d54bacc6.7f185"]]},{"id":"d54bacc6.7f185","type":"function","z":"f3f7ca5.74ca438","name":"샘플데이터","func":"var data = \n[\n    {\n    \"id\":0,\n\t\"DNUM\":123,\n\t\"CH\":12,\n\t\"WEEK\":\"월화수목금토일\",\n\t\"ONTIME\":{h:11,m:30},\n\t\"OFFTIME\":{h:12,m:22},\n\t\"ONSTATE\":0,\n\t\"OFFSTATE\":1,\n\t\"DEL\":0\n    },\n    {\n    \"id\":1,\n\t\"DNUM\":123,\n\t\"CH\":12,\n\t\"WEEK\":\"월화수\",\n\t\"ONTIME\":{h:12,m:30},\n\t\"OFFTIME\":{h:13,m:22},\n\t\"ONSTATE\":-1,\n\t\"OFFSTATE\":2,\n\t\"DEL\":0\n    },\n    {\n        \"id\":2,\n\t\"DNUM\":123,\n\t\"CH\":12,\n\t\"WEEK\":\"금토일\",\n\t\"ONTIME\":{h:13,m:30},\n\t\"OFFTIME\":{h:14,m:22},\n\t\"ONSTATE\":1,\n\t\"OFFSTATE\":2,\n\t\"DEL\":0\n    }\n    \n    \n]\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":340,"wires":[["abafc6af.309c08"]]},{"id":"266276ef.026cca","type":"ui_form","z":"f3f7ca5.74ca438","name":"","label":"데이터삽입","group":"aa2634f1.1bbfd8","order":3,"width":0,"height":0,"options":[{"label":"디바이스번호","value":"DNUM","type":"text","required":true,"rows":null},{"label":"채널번호","value":"CH","type":"text","required":true,"rows":null},{"label":"요일","value":"WEEK","type":"text","required":true,"rows":null},{"label":"켜지는시간","value":"ONTIME_h","type":"number","required":true,"rows":null},{"label":"켜지는분","value":"ONTIME_m","type":"number","required":true,"rows":null},{"label":"꺼지는시간","value":"OFFTIME_h","type":"number","required":true,"rows":null},{"label":"꺼지는분","value":"OFFTIME_m","type":"number","required":true,"rows":null}],"formValue":{"DNUM":"","CH":"","WEEK":"","ONTIME_h":"","ONTIME_m":"","OFFTIME_h":"","OFFTIME_m":""},"payload":"","submit":"입력하기!","cancel":"","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":270,"y":380,"wires":[["8e47574a.644c78"]]},{"id":"8e47574a.644c78","type":"function","z":"f3f7ca5.74ca438","name":"데이터를 한레코드씩 집어넣는코드","func":"//입력한 데이터를 전역변수에 기록한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n//없으면 비어있는 값으로 하나 만들어둔다\nif(nockanda_data == null){\n   global.set(\"nockanda_data\",[]); //비어있는 배열구조로 만듦!\n   nockanda_data = global.get(\"nockanda_data\");\n}\n\n//전역변수로 지정된 id count값을 가지고온다\n//최초로 이 코드가 돌아갔을때는 count값이 없다!\n//그러면 만들어주면 된다!\nvar count = global.get(\"id_count\");\n\nif(count == null){\n    count = 0;\n}\n\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\n        \nvar argu = [];\n\nvar mydata = {};\nmydata.id = count;\nmydata.DNUM = msg.payload.DNUM;\nmydata.CH = msg.payload.CH;\nmydata.WEEK = msg.payload.WEEK;\nmydata.ONTIME = {h:msg.payload.ONTIME_h,m:msg.payload.ONTIME_m};\nmydata.OFFTIME = {h:msg.payload.OFFTIME_h,m:msg.payload.OFFTIME_m};\nmydata.DEL = 0;\n\n//이녀석들의 초기값이 무엇이어야 하겠느냐?\nvar now = new Date();\nvar day = [\"일\",\"월\",\"화\",\"수\",\"목\",\"금\",\"토\",\"일\"];\n\nmydata.ONSTATE = 0; \nmydata.OFFSTATE = 0;\n//만약 입력했을 당시의 요일중에 오늘요일이 포함이 되지 않는다면 초기값이 -1이다\n//입력한 시간값이 현재시간보다 과거라면 오늘안에 체크될 여지가 전혀 없으므로 -1로 처리한다\nif(mydata.WEEK.indexOf(day[now.getDay()]) == -1){\n   mydata.ONSTATE = -1; \n   mydata.OFFSTATE = -1;\n}\nif(mydata.ONTIME.h < now.getHours()){\n   //아주 확실히 과거   \n   mydata.ONSTATE = -1; \n}\nif(mydata.ONTIME.h == now.getHours()){\n   if(mydata.ONTIME.m < now.getMinutes()){  \n       mydata.ONSTATE = -1; \n   } \n}\nif(mydata.OFFTIME.h < now.getHours()){\n   //아주 확실히 과거   \n   mydata.OFFSTATE = -1; \n}\nif(mydata.OFFTIME.h == now.getHours()){\n   if(mydata.OFFTIME.m < now.getMinutes()){  \n       mydata.OFFSTATE = -1; \n   } \n}\n\n//전역변수에 기록한다(전역변수가 list이다)\nnockanda_data.push(mydata);\n\nargu.push(mydata);\nupdate.arguments.push(argu);\n //할거다한 위치\n count++;\n //전역변수에 다시 저장~\n global.set(\"id_count\",count);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":380,"wires":[["abafc6af.309c08"]]},{"id":"caef68c9.d81228","type":"function","z":"f3f7ca5.74ca438","name":"시간을체크하는블럭","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n//현재 시간을 가지고온다!\nvar now = new Date();\n//.getDay(); 요일\n//.getHours() 시간\n//.getMinutes()분\nvar day = [\"일\",\"월\",\"화\",\"수\",\"목\",\"금\",\"토\",\"일\"];\n\n//전체 갯수만큼 루프를 회전한다\nfor(var i = 0;i<nockanda_data.length;i++){\n   //i번째 레코드를 검사한다!\n   //nockanda_data[i]\n\n   //오늘의 요일을 체크한다\n   if(nockanda_data[i].WEEK.indexOf(day[now.getDay()]) == -1){\n       //전역변수에 기록되어있는 WEEK에 오늘의 요일이 포함되어 있지 않는 경우\n       continue;\n   }\n   \n\n   if(nockanda_data[i].ONTIME.h == now.getHours() && nockanda_data[i].ONTIME.m == now.getMinutes() && nockanda_data[i].ONSTATE == 0){\n       //스케쥴 체크가 되는지점!\n       nockanda_data[i].ONSTATE = 1;\n       //체크를 했으니 반환값을 만든다 = 테이블을 업데이트한다\n       \n       var update = {};\n       update.command = \"updateOrAddData\";\n       update.arguments = [];\n        \n       var argu = [];\n\n       var mydata = {};\n       mydata.id = nockanda_data[i].id;\n       mydata.ONSTATE = 1; \n \n       argu.push(mydata);\n       update.arguments.push(argu);\n       msg.payload = update;\n\n       //MQTT메시지를 전송하는 부분(나중에 진짜로 되도록 하고)\n       var mqtt = { \n            topic:\"nockanda/\"+nockanda_data[i].DNUM,\n            payload:{\n                       id:nockanda_data[i].id,\n                       ch:nockanda_data[i].CH*1,\n                       state:1\n            }\n        };\n\n       return [msg,mqtt];\n   }else if(nockanda_data[i].OFFTIME.h == now.getHours() && nockanda_data[i].OFFTIME.m == now.getMinutes() && nockanda_data[i].OFFSTATE == 0){\n       //스케쥴 체크가 되는지점!\n       nockanda_data[i].OFFSTATE = 1;\n       //체크를 했으니 반환값을 만든다 = 테이블을 업데이트한다\n       \n       var update2 = {};\n       update2.command = \"updateOrAddData\";\n       update2.arguments = [];\n        \n       var argu2 = [];\n\n       var mydata2 = {};\n       mydata2.id = nockanda_data[i].id;\n       mydata2.OFFSTATE = 1; \n \n       argu2.push(mydata2);\n       update2.arguments.push(argu2);\n       msg.payload = update2;\n\n       //MQTT메시지를 전송하는 부분(나중에 진짜로 되도록 하고)\n       var mqtt2 = { \n            topic:\"nockanda/\"+nockanda_data[i].DNUM,\n            payload:{\n                       id:nockanda_data[i].id,\n                       ch:nockanda_data[i].CH*1,\n                       state:0\n            }\n        };\n       return [msg,mqtt2];\n   }\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":460,"wires":[["abafc6af.309c08"],["e4c1653c.e77b88"]]},{"id":"3aa5e5dd.bad20a","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":460,"wires":[["caef68c9.d81228","74a494d.5e0566c"]]},{"id":"47d3d80c.9c0a28","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":160,"wires":[["412ab382.ca687c"]]},{"id":"c7fce235.97fce","type":"debug","z":"f3f7ca5.74ca438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"412ab382.ca687c","type":"change","z":"f3f7ca5.74ca438","name":"전역변수값을 보는 블럭","rules":[{"t":"set","p":"payload","pt":"msg","to":"nockanda_data","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["c7fce235.97fce"]]},{"id":"b9ee7e61.6febe","type":"change","z":"f3f7ca5.74ca438","name":"전역변수를 클리어하는 블럭","rules":[{"t":"set","p":"nockanda_data","pt":"global","to":"[]","tot":"json"},{"t":"set","p":"id_count","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["c7fce235.97fce"]]},{"id":"9a4aa113.610cf","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":220,"wires":[["b9ee7e61.6febe"]]},{"id":"c0ce40dd.78858","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":500,"wires":[["a00914af.96ab48"]]},{"id":"a00914af.96ab48","type":"function","z":"f3f7ca5.74ca438","name":"오늘의요일이 무엇인가?","func":"var sample1 = \"월화수목\";\nvar sample2 = \"토일\";\n\nvar day = [\"일\",\"월\",\"화\",\"수\",\"목\",\"금\",\"토\",\"일\"];\nvar now = new Date().getDay();\nif(sample1.indexOf(\"일\") != -1){\n   msg.payload = \"포함된다\";\n}else{\n   msg.payload = \"포함되지 않는다\";\n}\n\n//msg.payload = ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":500,"wires":[["b8ef35be.a55b68"]]},{"id":"b8ef35be.a55b68","type":"debug","z":"f3f7ca5.74ca438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":500,"wires":[]},{"id":"74a494d.5e0566c","type":"function","z":"f3f7ca5.74ca438","name":"자정이되었을때모든테이블을초기화하는블럭","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n//새로운 전역변수 이전요일을 저장한다\nvar pre_day = global.get(\"day\");\nvar day = new Date().getDay();\n\nif(pre_day != day){\n   //요일이 넘어간 경우이다!\n\n   var update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n//전체 갯수만큼 루프를 회전한다\nfor(var i = 0;i<nockanda_data.length;i++){\n    nockanda_data[i].ONSTATE = 0;\n    nockanda_data[i].OFFSTATE = 0;\n    \n     var mydata = {};\n     mydata.id = nockanda_data[i].id;\n\n     //요일체크를 일단 해야한느데 그대로둔다\n     mydata.ONSTATE = 0; \n     mydata.OFFSTATE = 0; \n     argu.push(mydata);\n}\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;\n\n}\n\nglobal.set(\"day\",day);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":420,"wires":[["abafc6af.309c08"]]},{"id":"66f3ea88.bf9d24","type":"function","z":"f3f7ca5.74ca438","name":"현재요일값의 전역변수값을 초기에 지정하는 블럭","func":"global.set(\"day\",new Date().getDay());","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":600,"wires":[[]]},{"id":"e02324f4.55a968","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":600,"wires":[["66f3ea88.bf9d24"]]},{"id":"84343966.7082e8","type":"switch","z":"f3f7ca5.74ca438","name":"매뉴얼작동","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ONSTATE","vt":"str"},{"t":"eq","v":"OFFSTATE","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":60,"wires":[["54ae2055.41a28"],["52fdb81c.06ae88"]]},{"id":"54ae2055.41a28","type":"function","z":"f3f7ca5.74ca438","name":"ONSTATE일처리하는녀석","func":"//입력한 데이터를 전역변수에 기록한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n//없으면 비어있는 값으로 하나 만들어둔다\nif(nockanda_data == null){\n   global.set(\"nockanda_data\",[]); //비어있는 배열구조로 만듦!\n   nockanda_data = global.get(\"nockanda_data\");\n}\n\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n       //~~~할거하고\n\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\n        \nvar argu = [];\n\nvar mydata = {};\nmydata.id = nockanda_data[i].id;\nmydata.ONSTATE = 1; \nnockanda_data[i].ONSTATE = 1;\n\nargu.push(mydata);\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nvar mqtt = {\n    topic:\"nockanda/\"+nockanda_data[i].DNUM,\n            payload:{\n                       id:nockanda_data[i].id,\n                       ch:nockanda_data[i].CH*1,\n                       state:1\n            }\n};\n\nreturn [msg,mqtt];\n\n   }\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":40,"wires":[["e95cf6e.e134108"],["1e0c9475.24651c"]]},{"id":"52fdb81c.06ae88","type":"function","z":"f3f7ca5.74ca438","name":"OFFSTATE을처리하는녀석","func":"//입력한 데이터를 전역변수에 기록한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n//없으면 비어있는 값으로 하나 만들어둔다\nif(nockanda_data == null){\n   global.set(\"nockanda_data\",[]); //비어있는 배열구조로 만듦!\n   nockanda_data = global.get(\"nockanda_data\");\n}\n\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n       //~~~할거하고\n\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\n        \nvar argu = [];\n\nvar mydata = {};\nmydata.id = nockanda_data[i].id;\nmydata.OFFSTATE = 1; \nnockanda_data[i].OFFSTATE = 1;\n\nargu.push(mydata);\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nvar mqtt = {\n    topic:\"nockanda/\"+nockanda_data[i].DNUM,\n            payload:{\n                       id:nockanda_data[i].id,\n                       ch:nockanda_data[i].CH*1,\n                       state:0\n            }\n};\n\nreturn [msg,mqtt];\n\n   }\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":100,"wires":[["e95cf6e.e134108"],["1e0c9475.24651c"]]},{"id":"66671d9b.c7b384","type":"function","z":"f3f7ca5.74ca438","name":"전역변수에있는값을 테이블에 밀어넣는코드","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n\n   var update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n//전체 갯수만큼 루프를 회전한다\nfor(var i = 0;i<nockanda_data.length;i++){\n     var mydata = {};\n     mydata.id = nockanda_data[i].id;\n     mydata.DNUM = nockanda_data[i].DNUM;\n     mydata.CH = nockanda_data[i].CH;\n     mydata.WEEK = nockanda_data[i].WEEK;\n     mydata.ONTIME = nockanda_data[i].ONTIME;\n     mydata.OFFTIME = nockanda_data[i].OFFTIME;\n     mydata.DEL = nockanda_data[i].DEL;\n     mydata.ONSTATE = nockanda_data[i].ONSTATE;\n     mydata.OFFSTATE = nockanda_data[i].OFFSTATE;\n     argu.push(mydata);\n}\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":640,"wires":[["e95cf6e.e134108"]]},{"id":"f9a1b26e.4b6bc","type":"ui_ui_control","z":"f3f7ca5.74ca438","name":"","events":"all","x":280,"y":660,"wires":[["a54f69e7.3f0a88"]]},{"id":"a54f69e7.3f0a88","type":"switch","z":"f3f7ca5.74ca438","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":660,"wires":[["1be92e53.bbb132"]]},{"id":"1be92e53.bbb132","type":"function","z":"f3f7ca5.74ca438","name":"ui-control에서 mag.payload만 살려두는코드","func":"var data = {payload:msg.payload};\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":720,"wires":[["8580deff.6ad56"]]},{"id":"8580deff.6ad56","type":"delay","z":"f3f7ca5.74ca438","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":720,"wires":[["66671d9b.c7b384"]]},{"id":"bd001e7b.0567a","type":"switch","z":"f3f7ca5.74ca438","name":"삭제루틴","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"DEL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":240,"wires":[["845dd561.7ddf48"]]},{"id":"845dd561.7ddf48","type":"function","z":"f3f7ca5.74ca438","name":"레코드삭제","func":"//전역변수에 들어있는 녀석도 삭제해줘야한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n  return null;\n}\n\n//전역변수를 순회하면서 레코드번호가 msg.row와 일치한것을 찾아야한다\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n       //해당 레코드 삭제\n       nockanda_data.splice(i,1);//i번째 레코드에 해당되는 한녀석을 지워라!\n       break;\n   }\n}\n\nvar update = {};\nupdate.command = \"deleteRow\";\nupdate.arguments = [];\nupdate.arguments.push(msg.payload.id);\nmsg.payload = update;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":300,"wires":[["e95cf6e.e134108"]]},{"id":"5961b36.d359c4c","type":"switch","z":"f3f7ca5.74ca438","name":"비활성루틴","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"disable","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":300,"wires":[["d15199d7.ab46d8"]]},{"id":"d15199d7.ab46d8","type":"function","z":"f3f7ca5.74ca438","name":"해당되는레코드업데이트","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n//전역변수에 들어있는 스케쥴목록중에 어떤녀석이 해당되는 녀석인가?\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n      nockanda_data[i].ONSTATE = 1;\n      nockanda_data[i].OFFSTATE = 1;\n      break;\n   }\n}\n\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n     var mydata = {};\n     mydata.id = msg.payload.id;\n     mydata.ONSTATE = 1;\n     mydata.OFFSTATE = 1;\n     argu.push(mydata);\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":360,"wires":[["e95cf6e.e134108"]]},{"id":"cdec8ab2.b30ee8","type":"mqtt out","z":"f3f7ca5.74ca438","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":1010,"y":480,"wires":[]},{"id":"e4c1653c.e77b88","type":"json","z":"f3f7ca5.74ca438","name":"","property":"payload","action":"","pretty":false,"x":730,"y":460,"wires":[["cdec8ab2.b30ee8"]]},{"id":"9b3dac5.1bf895","type":"mqtt in","z":"f3f7ca5.74ca438","name":"","topic":"nockanda/node-red","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":1050,"y":440,"wires":[["4f0b026b.89ed8c"]]},{"id":"4f0b026b.89ed8c","type":"json","z":"f3f7ca5.74ca438","name":"","property":"payload","action":"","pretty":false,"x":1240,"y":440,"wires":[["a2b6ac08.9d8c4"]]},{"id":"a2b6ac08.9d8c4","type":"function","z":"f3f7ca5.74ca438","name":"수신확인","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n//msg.payload.id\n//msg.payload.state\n//전역변수 업데이트\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n     if(msg.payload.state == 0){\n        //OFF\n        nockanda_data[i].OFFSTATE = 2;\n     }else if(msg.payload.state == 1){\n        //ON\n        nockanda_data[i].ONSTATE = 2;\n     }\n     break;\n   }\n}\n\n//테이블 업데이트\n   var update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n\n     var mydata = {};\n     mydata.id = msg.payload.id;\n\n     if(msg.payload.state == 0){\n        //OFF\n        mydata.OFFSTATE = 2;\n     }else if(msg.payload.state == 1){\n        //ON\n        mydata.ONSTATE = 2;\n     }\n     \n     \n     argu.push(mydata);\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":440,"wires":[["e95cf6e.e134108"]]},{"id":"bee2897a.9386c8","type":"link in","z":"f3f7ca5.74ca438","name":"","links":["e95cf6e.e134108"],"x":675,"y":300,"wires":[["abafc6af.309c08"]]},{"id":"e95cf6e.e134108","type":"link out","z":"f3f7ca5.74ca438","name":"테이블입구","links":["bee2897a.9386c8"],"x":1575,"y":420,"wires":[]},{"id":"1e0c9475.24651c","type":"mqtt out","z":"f3f7ca5.74ca438","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":1330,"y":60,"wires":[]},{"id":"51ce6aa1.620754","type":"ui_group","name":"녹칸다의 컨트롤 패널","tab":"d25c9cdc.bf5cd","order":6,"disp":true,"width":"22","collapse":false,"className":""},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"클라이언트리스트","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false}]