534/534-3(노드레드코드).txt
[{"id":"3509c1f4.0067ee","type":"http in","z":"10f98e2d.cd9152","name":"","url":"/updata","method":"get","upload":false,"swaggerDoc":"","x":70,"y":120,"wires":[["a4fb97ef.5139a8"]]},{"id":"9b06678.8b15198","type":"http response","z":"10f98e2d.cd9152","name":"","statusCode":"","headers":{},"x":730,"y":240,"wires":[]},{"id":"9a225c67.369f4","type":"http in","z":"10f98e2d.cd9152","name":"","url":"/downdata","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["9396aa3e.56a9c8"]]},{"id":"d56fbab3.95ffd8","type":"mysql","z":"10f98e2d.cd9152","mydb":"2f51f2aa.0979ee","name":"","x":690,"y":60,"wires":[[]]},{"id":"dcf4a093.f9c29","type":"function","z":"10f98e2d.cd9152","name":"INSERT SQL쿼리를 작성하자","func":"var id = msg.mysql[0].id;\nvar data1 = msg.data.data1;\nvar data2 = msg.data.data2;\nvar date = new Date();\n\n\nmsg.topic = \"insert into mytable(id,data1,data2,date) values('\"+id+\"',\"+data1+\",\"+data2+\",'\"+date+\"');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":20,"wires":[["d56fbab3.95ffd8"]]},{"id":"7cf14751.d20778","type":"users_isloggedin","z":"10f98e2d.cd9152","name":"","enableCustomHandler":true,"outputs":2,"x":270,"y":1060,"wires":[["eb89b690.5578a8"],["32dc938f.9d3a9c"]]},{"id":"5d11abf2.576b44","type":"http in","z":"10f98e2d.cd9152","name":"","url":"/manage","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1060,"wires":[["7cf14751.d20778"]]},{"id":"442dc451.478bec","type":"template","z":"10f98e2d.cd9152","name":"for allowed users only","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Node users demo</title>\n        <style>\n            * {\n                color: #fff;\n            }\n            h1 {\n                font-size: 120px;\n                color: #fff;\n                padding: 20px;\n            }\n        </style>\n    </head>\n    <body style=\"text-align: center; background: #010203;\">\n        <h1>LOGIN SUCCESS !!!</h1>\n        <h2>User: {{user.username}}</h2>\n        <h2>Scope: {{user.scope}}</h2>\n        <h2>API KEY: {{uuid}}</h2>\n        </h2>[데이터 업로드 예시]</h2>\n        <a href=/updata?key={{uuid}}&data1=10&data2=20><서버주소>/updata?key={{uuid}}&data1=10&data2=20</a><BR>\n        </h2>[데이터 다운로드 예시]</h2>\n        <a href=/downdata?key={{uuid}}&num=10><서버주소>/downdata?key={{uuid}}&num=10</a><BR>\n        <a href=/createkey>[인증키발급받기]</a><BR>\n        <a href=/users/logout?return=/manage>[로그아웃]</a>\n    </body>\n</html>","x":540,"y":1000,"wires":[["bddc41b9.d825e"]]},{"id":"bddc41b9.d825e","type":"http response","z":"10f98e2d.cd9152","name":"","statusCode":"","headers":{},"x":730,"y":1000,"wires":[]},{"id":"32dc938f.9d3a9c","type":"template","z":"10f98e2d.cd9152","name":"custom login page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n      * {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  margin: 0;\n  height: 100%;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n  font-size: 15px;\n  background: #000;\n}\n\n.form-group {\n  margin-bottom: 15px;\n}\n\n.form-group input {\n  width: 100%;\n  border-radius: 2px;\n\n  display: block;\n  width: 100%;\n  height: 34px;\n  padding: 6px 12px;\n  font-size: 14px;\n  line-height: 1.42857143;\n  color: #555;\n  outline: 0;\n  border: 1px solid #ddd;\n}\n\n.login-wrapper > a, button {\n  text-decoration: none;\n  cursor: pointer;\n  background-color: #00979C;\n  border: 1px solid #008d92;\n  color: #f3f5f6;\n  transition: color 0.2s, background-color 0.2s;\n\n  text-align: center;\n  padding: 12px 60px;\n  font-size: 1.2rem;\n  display: inline-block;\n  margin-bottom: 1rem;\n  border-radius: 2px;\n  background-color: #00979C;\n  font-weight: bold;\n  text-transform: uppercase;\n}\n\n.login-wrapper > a:hover, .login-wrapper > a:active,\nbutton:hover, button:active {\n  background-color: #00b5bb;\n  color: #f3f5f6;\n  border-color: #00abb0;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 400px;\n  color: #EFF0F1;\n  text-align: center;\n  left: calc(50% - 200px);\n  top: calc(50% - 180px);\n}\n\n.response {\n  margin-top: 10px;\n  padding: 15px;\n  color: #fff;\n  border-radius: 2px;\n}\n\n.response.success {\n  background-color: #51b385;\n  border-color: #63bb92;\n}\n\n.response.error {\n  background-color: #c11532;\n  border-color: #c11532;\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 100px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>Node-RED Node Users</title>\n</head>\n<body>\n\n  <div class=\"login-wrapper\">\n    \n    <h1>Custom Users Login</h1>\n    <form id=\"login-form\">\n      <div class=\"form-group\">\n        <input type=\"text\" name=\"username\" placeholder=\"Username\"/>  \n      </div>\n      <div class=\"form-group\">\n        <input type=\"password\" name=\"password\" placeholder=\"Password\"/>  \n      </div>\n      <button type=\"submit\">Login</button>\n      <div class=\"response\"></div>\n    </form>\n\n  </div>\n    \n  <script src=\"http://code.jquery.com/jquery-3.3.1.min.js\"></script>\n  <script>\n    var responseTimer;\n\n    function showResponse(message, type) {\n      $(\".response\").text(message);\n      $(\".response\").removeClass(\"success\").removeClass(\"error\").addClass(type).show();\n\n      clearTimeout(responseTimer);\n      responseTimer = setTimeout(function () {\n        $(\".response\").fadeOut();\n      }, 4000);\n    }\n\n    function getParameterByName(name) {\n      var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);\n      return match && decodeURIComponent(match[1].replace(/\\+/g, ' '));\n    }\n\n    $(\"#login-form\").submit(function (e) {\n      e.preventDefault();\n      var username = $(this).find(\"input[name=username]\").val();\n      var password = $(this).find(\"input[name=password]\").val();\n      var cred = {\n        username: username,\n        password: password\n      };\n      $.post('/users', cred).done(function () {\n        showResponse(\"Login success! Redirecting...\", \"success\");\n        setTimeout(function () {\n            window.location = '/manage';  \n        }, 2000);        \n      }).fail(function (xhr) {\n        var msg = \"\";\n        switch(xhr.status) {\n          case 0:\n            msg = \"Failed to connect with server.\";\n            break;\n          case 401: \n            msg = \"Unauthorized: username and password not found\";\n            break;\n          default: \n            msg = \"Server error: oops.. something went wrong...\";\n        }\n        showResponse(msg, \"error\");\n      });\n    });\n  </script>\n\n</body>\n</html>","x":490,"y":1160,"wires":[["1558e0e0.c481df"]]},{"id":"1558e0e0.c481df","type":"http response","z":"10f98e2d.cd9152","name":"","statusCode":"","headers":{},"x":670,"y":1160,"wires":[]},{"id":"d0edffef.0250f","type":"comment","z":"10f98e2d.cd9152","name":"User unauthorized, show login page","info":"","x":540,"y":1120,"wires":[]},{"id":"2b6a47de.9309b8","type":"comment","z":"10f98e2d.cd9152","name":"User authorized, allow through","info":"","x":500,"y":960,"wires":[]},{"id":"21d5d12d.8fc67e","type":"http in","z":"10f98e2d.cd9152","name":"","url":"/createkey","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1240,"wires":[["a9603a13.20a388"]]},{"id":"a9603a13.20a388","type":"users_isloggedin","z":"10f98e2d.cd9152","name":"","enableCustomHandler":true,"outputs":2,"x":290,"y":1240,"wires":[["c622a106.e1b23"],["f882cb31.70fb28"]]},{"id":"f882cb31.70fb28","type":"change","z":"10f98e2d.cd9152","name":"인증실패","rules":[{"t":"set","p":"payload","pt":"msg","to":"로그인을 해야해요!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1320,"wires":[["4341ff18.ecf7f"]]},{"id":"4341ff18.ecf7f","type":"http response","z":"10f98e2d.cd9152","name":"","statusCode":"","headers":{},"x":630,"y":1280,"wires":[]},{"id":"d6c1760.420a888","type":"uuid","z":"10f98e2d.cd9152","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"uuid","fieldType":"msg","x":370,"y":1400,"wires":[["3cc29b70.eb1974"]]},{"id":"c398e148.2e8b5","type":"template","z":"10f98e2d.cd9152","name":"for allowed users only","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <meta http-equiv=\"refresh\" content=\"0; url=/manage\"></meta>\n</html>","x":620,"y":1360,"wires":[["35f1c4b7.b5009c"]]},{"id":"939200d3.f2371","type":"mysql","z":"10f98e2d.cd9152","mydb":"2f51f2aa.0979ee","name":"","x":210,"y":1480,"wires":[["d6c1760.420a888"]]},{"id":"3cc29b70.eb1974","type":"function","z":"10f98e2d.cd9152","name":"등록되어있냐?","func":"if(msg.payload.length ==0){\n    msg.payload = \"신규 인증키가 발급되었습니다!\\n\";\n    msg.topic = \"insert into myuser(id,apikey) values('\"+msg.user.username+\"','\"+msg.uuid+\"');\";\n}else{\n    msg.payload = \"기존인증키를 재발급했습니다!\\n\";\n    msg.topic = \"update myuser set apikey='\"+msg.uuid+\"' where id='\"+msg.user.username+\"';\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1460,"wires":[["c8131251.f708","c398e148.2e8b5"]]},{"id":"a3426856.16a898","type":"function","z":"10f98e2d.cd9152","name":"이미등록되어있냐?","func":"msg.topic = \"select * from myuser where id='\"+msg.user.username+\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":1360,"wires":[["939200d3.f2371"]]},{"id":"c622a106.e1b23","type":"change","z":"10f98e2d.cd9152","name":"유저정보임시보관","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.user","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1300,"wires":[["a3426856.16a898"]]},{"id":"c8131251.f708","type":"mysql","z":"10f98e2d.cd9152","mydb":"2f51f2aa.0979ee","name":"","x":570,"y":1520,"wires":[[]]},{"id":"35f1c4b7.b5009c","type":"http response","z":"10f98e2d.cd9152","name":"","statusCode":"","headers":{},"x":670,"y":1420,"wires":[]},{"id":"eb89b690.5578a8","type":"change","z":"10f98e2d.cd9152","name":"유저정보임시보관","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.user","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":960,"wires":[["9af0cb94.8d6348"]]},{"id":"9af0cb94.8d6348","type":"function","z":"10f98e2d.cd9152","name":"이미등록되어있냐?","func":"msg.topic = \"select * from myuser where id='\"+msg.user.username+\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":780,"wires":[["57d7504e.04545"]]},{"id":"57d7504e.04545","type":"mysql","z":"10f98e2d.cd9152","mydb":"2f51f2aa.0979ee","name":"","x":390,"y":840,"wires":[["f54f6174.c1491"]]},{"id":"f54f6174.c1491","type":"function","z":"10f98e2d.cd9152","name":"등록되어있냐?","func":"if(msg.payload.length ==0){\n    msg.uuid = \"\";\n}else{\n    msg.uuid = msg.payload[0].apikey;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":740,"wires":[["3fc5bc9b.2483e4","442dc451.478bec"]]},{"id":"3fc5bc9b.2483e4","type":"debug","z":"10f98e2d.cd9152","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":880,"wires":[]},{"id":"df3a20b8.e2f6d","type":"function","z":"10f98e2d.cd9152","name":"조회SQL쿼리","func":"msg.topic = \"select *from myuser where apikey='\"+msg.payload.key+\"';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["c1f41bfc.2c5058"]]},{"id":"c1f41bfc.2c5058","type":"mysql","z":"10f98e2d.cd9152","mydb":"2f51f2aa.0979ee","name":"","x":310,"y":120,"wires":[["6a223d9c.a605e4"]]},{"id":"a4fb97ef.5139a8","type":"change","z":"10f98e2d.cd9152","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":180,"wires":[["df3a20b8.e2f6d"]]},{"id":"48908b39.552f04","type":"function","z":"10f98e2d.cd9152","name":"등록되어있냐?","func":"if(msg.payload.length ==0){\n    msg.payload = \"등록된 API KEY가 아닙니다!\\n\";\n    \n    return [null,msg];\n}else{\n    msg.payload = \"성공적으로 업로드되었습니다!\\n\";\n    return [msg,null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":200,"wires":[["dcf4a093.f9c29","9b06678.8b15198"],["9b06678.8b15198"]]},{"id":"6a223d9c.a605e4","type":"change","z":"10f98e2d.cd9152","name":"","rules":[{"t":"set","p":"mysql","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":140,"wires":[["48908b39.552f04"]]},{"id":"9396aa3e.56a9c8","type":"change","z":"10f98e2d.cd9152","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":380,"wires":[["be070026.61831"]]},{"id":"6551e045.1d731","type":"mysql","z":"10f98e2d.cd9152","mydb":"2f51f2aa.0979ee","name":"","x":330,"y":320,"wires":[["c84b586f.21f758"]]},{"id":"be070026.61831","type":"function","z":"10f98e2d.cd9152","name":"조회SQL쿼리","func":"msg.topic = \"select *from myuser where apikey='\"+msg.payload.key+\"';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":440,"wires":[["6551e045.1d731"]]},{"id":"c84b586f.21f758","type":"change","z":"10f98e2d.cd9152","name":"","rules":[{"t":"set","p":"mysql","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[["f928e1d3.ba008"]]},{"id":"f928e1d3.ba008","type":"function","z":"10f98e2d.cd9152","name":"등록되어있냐?","func":"if(msg.payload.length ==0){\n    msg.payload = \"등록된 API KEY가 아닙니다!\\n\";\n    \n    return [null,msg];\n}else{\n    msg.payload = \"성공적으로 업로드되었습니다!\\n\";\n    return [msg,null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":440,"wires":[["ebde991a.32f368"],["caa63fba.2ad09"]]},{"id":"ebde991a.32f368","type":"function","z":"10f98e2d.cd9152","name":"SELECT SQL쿼리를 작성하자","func":"var id = msg.mysql[0].id;\nvar num = msg.data.num;\n\nmsg.topic = \"select * from mytable where id='\"+id+\"' order by num desc limit \"+num+\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":500,"wires":[["9255691.0951598"]]},{"id":"caa63fba.2ad09","type":"http response","z":"10f98e2d.cd9152","name":"","statusCode":"","headers":{},"x":670,"y":420,"wires":[]},{"id":"9255691.0951598","type":"mysql","z":"10f98e2d.cd9152","mydb":"2f51f2aa.0979ee","name":"","x":430,"y":580,"wires":[["c247f87.e4c2708"]]},{"id":"c247f87.e4c2708","type":"json","z":"10f98e2d.cd9152","name":"","property":"payload","action":"","pretty":false,"x":610,"y":580,"wires":[["f8921c86.dd1f5"]]},{"id":"f8921c86.dd1f5","type":"function","z":"10f98e2d.cd9152","name":"\\n추가하기","func":"msg.payload = msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":640,"wires":[["caa63fba.2ad09"]]},{"id":"2f51f2aa.0979ee","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"mydatabase","tz":"","charset":"UTF8"}]