354/354-2(노드레드).txt
[{"id":"ad280bdf.d00598","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"c9b86b9c.3814f8","type":"tcp in","z":"ad280bdf.d00598","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":100,"y":240,"wires":[["67191a0e.c98d64","7c304d36.1cd8d4"]]},{"id":"1015f4c4.505b0b","type":"tcp out","z":"ad280bdf.d00598","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":410,"y":240,"wires":[]},{"id":"7c304d36.1cd8d4","type":"function","z":"ad280bdf.d00598","name":"","func":"msg.payload = \"[서버응답]\" + msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["1015f4c4.505b0b"]]},{"id":"b75f5178.3a533","type":"ui_text","z":"ad280bdf.d00598","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"사물인터넷보드1","format":"{{msg.payload}}","layout":"row-spread","className":"","x":470,"y":340,"wires":[]},{"id":"7146b544.c5e79c","type":"ui_text","z":"ad280bdf.d00598","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"사물인터넷보드2","format":"{{msg.payload}}","layout":"row-spread","className":"","x":470,"y":380,"wires":[]},{"id":"9069dc1e.913cb","type":"ui_text","z":"ad280bdf.d00598","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"사물인터넷보드3","format":"{{msg.payload}}","layout":"row-spread","className":"","x":470,"y":420,"wires":[]},{"id":"67191a0e.c98d64","type":"switch","z":"ad280bdf.d00598","name":"","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"::ffff:192.168.0.9","vt":"str"},{"t":"eq","v":"::ffff:192.168.0.11","vt":"str"},{"t":"eq","v":"::ffff:192.168.0.7","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":240,"y":360,"wires":[["b75f5178.3a533"],["7146b544.c5e79c"],["9069dc1e.913cb"]]},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"Group 1","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":6},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]