354/354-4(노드레드).txt
[{"id":"ad280bdf.d00598","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"c9b86b9c.3814f8","type":"tcp in","z":"ad280bdf.d00598","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":100,"y":260,"wires":[["a91e7cb8.4d932"]]},{"id":"1015f4c4.505b0b","type":"tcp out","z":"ad280bdf.d00598","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":470,"y":240,"wires":[]},{"id":"7c304d36.1cd8d4","type":"function","z":"ad280bdf.d00598","name":"메시지에코","func":"msg.payload = \"[서버응답]\" + msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":300,"wires":[[]]},{"id":"d24ae8c3.fae818","type":"ui_form","z":"ad280bdf.d00598","name":"","label":"","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"options":[{"label":"디바이스ID","value":"title","type":"text","required":true,"rows":null},{"label":"LED1","value":"led1","type":"switch","required":false,"rows":null},{"label":"LED2","value":"led2","type":"switch","required":false,"rows":null},{"label":"LED3","value":"led3","type":"switch","required":false,"rows":null},{"label":"LED4","value":"led4","type":"switch","required":false,"rows":null}],"formValue":{"title":"","led1":false,"led2":false,"led3":false,"led4":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":440,"wires":[["4eda1319.72746c"]]},{"id":"a91e7cb8.4d932","type":"function","z":"ad280bdf.d00598","name":"클라언트등록","func":"if(msg.payload[0] == '#'){\n   //디바이스 아이디인것이다!\n   //등록을 해야한다!\n   //#OK를 응답한다!\n   msg.payload = msg.payload.replace(\"\\r\",\"\");\n   msg.payload = msg.payload.replace(\"\\n\",\"\");\n   global.set(msg.payload,msg);\n   \n   msg.payload = \"#OK\\n\";\n   return msg;\n}else{\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["1015f4c4.505b0b"]]},{"id":"4eda1319.72746c","type":"function","z":"ad280bdf.d00598","name":"","func":"//msg.payload.id \n//msg.payload.content\n\nvar socket = global.get(msg.payload.title);\n\nif(socket != null){\n    socket.payload = msg.payload;\n}\n\nreturn socket;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":440,"wires":[["c94b3516.20f9a8"]]},{"id":"f18bce90.98e4b","type":"debug","z":"ad280bdf.d00598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":620,"wires":[]},{"id":"c94b3516.20f9a8","type":"json","z":"ad280bdf.d00598","name":"","property":"payload","action":"","pretty":false,"x":430,"y":440,"wires":[["ca48f469.4c0768"]]},{"id":"ca48f469.4c0768","type":"function","z":"ad280bdf.d00598","name":"끝에\\n붙히는블럭","func":"msg.payload = msg.payload+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["1015f4c4.505b0b"]]},{"id":"9f0ea5d6.1b5d28","type":"status","z":"ad280bdf.d00598","name":"","scope":["c9b86b9c.3814f8"],"x":100,"y":620,"wires":[["8eed9e39.a98c6"]]},{"id":"8eed9e39.a98c6","type":"function","z":"ad280bdf.d00598","name":"","func":"if(msg.status.event != \"disconnect\") return null;\n\nvar list = global.keys();\n\n//msg.ip  msg.port\n//msg.status.event (connect,disconnect)\n//msg.status.ip\n//msg.status.port\n\nfor(var i = 0;i<list.length;i++){\n    //list[i]\n    var socket = global.get(list[i]);\n    if(socket != null){\n        if(socket.ip == msg.status.ip && socket.port == msg.status.port){\n            global.set(list[i],undefined);\n            break;\n        }\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":620,"wires":[[]]},{"id":"6f386b27.a79dc4","type":"inject","z":"ad280bdf.d00598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":720,"wires":[["7b83c2f7.8f328c"]]},{"id":"7b83c2f7.8f328c","type":"function","z":"ad280bdf.d00598","name":"","func":"var list = global.keys();\n\nfor(var i = 0;i<list.length;i++){\n    global.set(list[i],undefined);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":720,"wires":[[]]},{"id":"4444019a.cccc","type":"inject","z":"ad280bdf.d00598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":520,"wires":[["eb1eb434.c83078"]]},{"id":"eb1eb434.c83078","type":"function","z":"ad280bdf.d00598","name":"클라이언트목록조회","func":"msg.payload = global.keys();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":520,"wires":[["1fc41562.1e2a9b"]]},{"id":"1fc41562.1e2a9b","type":"ui_list","z":"ad280bdf.d00598","group":"4ac94e5d.efbcd","name":"","order":0,"width":"6","height":"6","lineType":"two","actionType":"click","allowHTML":false,"outputs":1,"topic":"","x":490,"y":520,"wires":[["d24ae8c3.fae818"]]},{"id":"9c2bb4e6.01d708","type":"ui_group","name":"Group 2","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":6},{"id":"4ac94e5d.efbcd","type":"ui_group","name":"Group 3","tab":"d25c9cdc.bf5cd","order":3,"disp":true,"width":6},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]