354/354-1(노드레드).txt
[{"id":"ad280bdf.d00598","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"c9b86b9c.3814f8","type":"tcp in","z":"ad280bdf.d00598","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":240,"wires":[["7c304d36.1cd8d4"]]},{"id":"1015f4c4.505b0b","type":"tcp out","z":"ad280bdf.d00598","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":470,"y":240,"wires":[]},{"id":"7c304d36.1cd8d4","type":"function","z":"ad280bdf.d00598","name":"","func":"msg.payload = \"[서버응답]\" + msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":160,"wires":[["1015f4c4.505b0b"]]}]