268/268-1-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"e85dde2.0ebb52","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":430,"y":440,"wires":[]},{"id":"ddd9933a.8d698","type":"ui_form","z":"d4fe52b8.55a31","name":"","label":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"options":[{"label":"TM1637_1","value":"dsp1","type":"number","required":true,"rows":null}],"formValue":{"dsp1":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":90,"y":420,"wires":[["2405f971.3d9556"]]},{"id":"2405f971.3d9556","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":260,"y":380,"wires":[["e85dde2.0ebb52"]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]