386/386-1(노드레드스케쥴러4부).txt
[{"id":"abafc6af.309c08","type":"ui_table","z":"f3f7ca5.74ca438","group":"51ce6aa1.620754","name":"","order":4,"width":"10","height":"6","columns":[],"outputs":1,"cts":true,"x":790,"y":380,"wires":[["84343966.7082e8","bd001e7b.0567a","5961b36.d359c4c"]]},{"id":"3e2f405d.ff4e6","type":"change","z":"f3f7ca5.74ca438","name":"","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"groupBy\":\"DNUM\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"디바이스번호\",\"field\":\"DNUM\",\"width\":80,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"채널번호\",\"field\":\"CH\",\"width\":80,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"요일\",\"field\":\"WEEK\",\"width\":80,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"켜지는시간\",\"field\":\"ONTIME\",\"width\":60,\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue().h + ':' + cell.getValue().m;}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"꺼지는시간\",\"field\":\"OFFTIME\",\"width\":60,\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue().h + ':' + cell.getValue().m;}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"켜짐상태\",\"field\":\"ONSTATE\",\"width\":20,\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue()==0){return \\\"<i class=\\\\\\\"fa fa-spinner fa-pulse fa-fw\\\\\\\"></i>\\\";}else if(cell.getValue()==1){return \\\"<i class=\\\\\\\"fa fa-check-square\\\\\\\"></i>\\\";}else if(cell.getValue()==-1){return \\\"<i class=\\\\\\\"fa fa-window-close\\\\\\\"></i>\\\";}else if(cell.getValue()==2){return \\\"<i class=\\\\\\\"fa fa-thumbs-o-up\\\\\\\"></i>\\\";}}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"꺼짐상태\",\"field\":\"OFFSTATE\",\"width\":20,\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue()==0){return \\\"<i class=\\\\\\\"fa fa-spinner fa-pulse fa-fw\\\\\\\"></i>\\\";}else if(cell.getValue()==1){return \\\"<i class=\\\\\\\"fa fa-check-square\\\\\\\"></i>\\\";}else if(cell.getValue()==-1){return \\\"<i class=\\\\\\\"fa fa-window-close\\\\\\\"></i>\\\";}else if(cell.getValue()==2){return \\\"<i class=\\\\\\\"fa fa-thumbs-o-up\\\\\\\"></i>\\\";}}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"비활성\",\"field\":\"disable\",\"width\":20,\"formatter\":\"function(cell, formatterParams, onRendered){return \\\"<i class=\\\\\\\"fa fa-thumbs-o-down\\\\\\\"></i>\\\";}\",\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"삭제\",\"field\":\"DEL\",\"width\":20,\"formatter\":\"function(cell, formatterParams, onRendered){return \\\"<i class=\\\\\\\"fa fa-trash\\\\\\\"></i>\\\";}\",\"align\":\"center\"}]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["abafc6af.309c08"]]},{"id":"f158ba16.6fe458","type":"inject","z":"f3f7ca5.74ca438","name":"테이블의 구조를 만든다!","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":300,"wires":[["3e2f405d.ff4e6"]]},{"id":"21f802af.34bcce","type":"inject","z":"f3f7ca5.74ca438","name":"샘플데이터삽입","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":260,"y":340,"wires":[["d54bacc6.7f185"]]},{"id":"d54bacc6.7f185","type":"function","z":"f3f7ca5.74ca438","name":"샘플데이터","func":"var data = \n[\n    {\n    \"id\":0,\n\t\"DNUM\":123,\n\t\"CH\":12,\n\t\"WEEK\":\"월화수목금토일\",\n\t\"ONTIME\":{h:11,m:30},\n\t\"OFFTIME\":{h:12,m:22},\n\t\"ONSTATE\":0,\n\t\"OFFSTATE\":1,\n\t\"DEL\":0\n    },\n    {\n    \"id\":1,\n\t\"DNUM\":123,\n\t\"CH\":12,\n\t\"WEEK\":\"월화수\",\n\t\"ONTIME\":{h:12,m:30},\n\t\"OFFTIME\":{h:13,m:22},\n\t\"ONSTATE\":-1,\n\t\"OFFSTATE\":2,\n\t\"DEL\":0\n    },\n    {\n        \"id\":2,\n\t\"DNUM\":123,\n\t\"CH\":12,\n\t\"WEEK\":\"금토일\",\n\t\"ONTIME\":{h:13,m:30},\n\t\"OFFTIME\":{h:14,m:22},\n\t\"ONSTATE\":1,\n\t\"OFFSTATE\":2,\n\t\"DEL\":0\n    }\n    \n    \n]\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":340,"wires":[["abafc6af.309c08"]]},{"id":"266276ef.026cca","type":"ui_form","z":"f3f7ca5.74ca438","d":true,"name":"","label":"데이터삽입","group":"aa2634f1.1bbfd8","order":3,"width":0,"height":0,"options":[{"label":"디바이스번호","value":"DNUM","type":"text","required":true,"rows":null},{"label":"채널번호","value":"CH","type":"text","required":true,"rows":null},{"label":"요일","value":"WEEK","type":"text","required":true,"rows":null},{"label":"켜지는시간","value":"ONTIME_h","type":"number","required":true,"rows":null},{"label":"켜지는분","value":"ONTIME_m","type":"number","required":true,"rows":null},{"label":"꺼지는시간","value":"OFFTIME_h","type":"number","required":true,"rows":null},{"label":"꺼지는분","value":"OFFTIME_m","type":"number","required":true,"rows":null}],"formValue":{"DNUM":"","CH":"","WEEK":"","ONTIME_h":"","ONTIME_m":"","OFFTIME_h":"","OFFTIME_m":""},"payload":"","submit":"입력하기!","cancel":"","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":270,"y":380,"wires":[["8e47574a.644c78"]]},{"id":"8e47574a.644c78","type":"function","z":"f3f7ca5.74ca438","name":"데이터를 한레코드씩 집어넣는코드","func":"//입력한 데이터를 전역변수에 기록한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n//없으면 비어있는 값으로 하나 만들어둔다\nif(nockanda_data == null){\n   global.set(\"nockanda_data\",[]); //비어있는 배열구조로 만듦!\n   nockanda_data = global.get(\"nockanda_data\");\n}\n\n//전역변수로 지정된 id count값을 가지고온다\n//최초로 이 코드가 돌아갔을때는 count값이 없다!\n//그러면 만들어주면 된다!\nvar count = global.get(\"id_count\");\n\nif(count == null){\n    count = 0;\n}\n\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\n        \nvar argu = [];\n\nvar mydata = {};\nmydata.id = count;\nmydata.DNUM = msg.payload.DNUM;\nmydata.CH = msg.payload.CH;\nmydata.WEEK = msg.payload.WEEK;\nmydata.ONTIME = {h:msg.payload.ONTIME_h,m:msg.payload.ONTIME_m};\nmydata.OFFTIME = {h:msg.payload.OFFTIME_h,m:msg.payload.OFFTIME_m};\nmydata.DEL = 0;\n\n//이녀석들의 초기값이 무엇이어야 하겠느냐?\nvar now = new Date();\nvar day = [\"일\",\"월\",\"화\",\"수\",\"목\",\"금\",\"토\",\"일\"];\n\nmydata.ONSTATE = 0; \nmydata.OFFSTATE = 0;\n//만약 입력했을 당시의 요일중에 오늘요일이 포함이 되지 않는다면 초기값이 -1이다\n//입력한 시간값이 현재시간보다 과거라면 오늘안에 체크될 여지가 전혀 없으므로 -1로 처리한다\nif(mydata.WEEK.indexOf(day[now.getDay()]) == -1){\n   mydata.ONSTATE = -1; \n   mydata.OFFSTATE = -1;\n}\nif(mydata.ONTIME.h < now.getHours()){\n   //아주 확실히 과거   \n   mydata.ONSTATE = -1; \n}\nif(mydata.ONTIME.h == now.getHours()){\n   if(mydata.ONTIME.m < now.getMinutes()){  \n       mydata.ONSTATE = -1; \n   } \n}\nif(mydata.OFFTIME.h < now.getHours()){\n   //아주 확실히 과거   \n   mydata.OFFSTATE = -1; \n}\nif(mydata.OFFTIME.h == now.getHours()){\n   if(mydata.OFFTIME.m < now.getMinutes()){  \n       mydata.OFFSTATE = -1; \n   } \n}\n\n//전역변수에 기록한다(전역변수가 list이다)\nnockanda_data.push(mydata);\n\nargu.push(mydata);\nupdate.arguments.push(argu);\n //할거다한 위치\n count++;\n //전역변수에 다시 저장~\n global.set(\"id_count\",count);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":380,"wires":[["abafc6af.309c08"]]},{"id":"caef68c9.d81228","type":"function","z":"f3f7ca5.74ca438","name":"시간을체크하는블럭","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n//현재 시간을 가지고온다!\nvar now = new Date();\n//.getDay(); 요일\n//.getHours() 시간\n//.getMinutes()분\nvar day = [\"일\",\"월\",\"화\",\"수\",\"목\",\"금\",\"토\",\"일\"];\n\n//전체 갯수만큼 루프를 회전한다\nfor(var i = 0;i<nockanda_data.length;i++){\n   //i번째 레코드를 검사한다!\n   //nockanda_data[i]\n\n   //오늘의 요일을 체크한다\n   if(nockanda_data[i].WEEK.indexOf(day[now.getDay()]) == -1){\n       //전역변수에 기록되어있는 WEEK에 오늘의 요일이 포함되어 있지 않는 경우\n       continue;\n   }\n   \n\n   if(nockanda_data[i].ONTIME.h == now.getHours() && nockanda_data[i].ONTIME.m == now.getMinutes() && nockanda_data[i].ONSTATE == 0){\n       //스케쥴 체크가 되는지점!\n       nockanda_data[i].ONSTATE = 1;\n       //체크를 했으니 반환값을 만든다 = 테이블을 업데이트한다\n       \n       var update = {};\n       update.command = \"updateOrAddData\";\n       update.arguments = [];\n        \n       var argu = [];\n\n       var mydata = {};\n       mydata.id = nockanda_data[i].id;\n       mydata.ONSTATE = 1; \n \n       argu.push(mydata);\n       update.arguments.push(argu);\n       msg.payload = update;\n\n       //MQTT메시지를 전송하는 부분(나중에 진짜로 되도록 하고)\n       var mqtt = { \n            topic:\"nockanda/\"+nockanda_data[i].DNUM,\n            payload:{\n                       id:nockanda_data[i].id,\n                       ch:nockanda_data[i].CH*1,\n                       state:1\n            }\n        };\n\n       return [msg,mqtt];\n   }else if(nockanda_data[i].OFFTIME.h == now.getHours() && nockanda_data[i].OFFTIME.m == now.getMinutes() && nockanda_data[i].OFFSTATE == 0){\n       //스케쥴 체크가 되는지점!\n       nockanda_data[i].OFFSTATE = 1;\n       //체크를 했으니 반환값을 만든다 = 테이블을 업데이트한다\n       \n       var update2 = {};\n       update2.command = \"updateOrAddData\";\n       update2.arguments = [];\n        \n       var argu2 = [];\n\n       var mydata2 = {};\n       mydata2.id = nockanda_data[i].id;\n       mydata2.OFFSTATE = 1; \n \n       argu2.push(mydata2);\n       update2.arguments.push(argu2);\n       msg.payload = update2;\n\n       //MQTT메시지를 전송하는 부분(나중에 진짜로 되도록 하고)\n       var mqtt2 = { \n            topic:\"nockanda/\"+nockanda_data[i].DNUM,\n            payload:{\n                       id:nockanda_data[i].id,\n                       ch:nockanda_data[i].CH*1,\n                       state:0\n            }\n        };\n       return [msg,mqtt2];\n   }\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":460,"wires":[["abafc6af.309c08"],["e4c1653c.e77b88"]]},{"id":"3aa5e5dd.bad20a","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":460,"wires":[["caef68c9.d81228","74a494d.5e0566c"]]},{"id":"47d3d80c.9c0a28","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":160,"wires":[["412ab382.ca687c"]]},{"id":"c7fce235.97fce","type":"debug","z":"f3f7ca5.74ca438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"412ab382.ca687c","type":"change","z":"f3f7ca5.74ca438","name":"전역변수값을 보는 블럭","rules":[{"t":"set","p":"payload","pt":"msg","to":"nockanda_data","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["c7fce235.97fce"]]},{"id":"b9ee7e61.6febe","type":"change","z":"f3f7ca5.74ca438","name":"전역변수를 클리어하는 블럭","rules":[{"t":"set","p":"nockanda_data","pt":"global","to":"[]","tot":"json"},{"t":"set","p":"id_count","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["c7fce235.97fce"]]},{"id":"9a4aa113.610cf","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":220,"wires":[["b9ee7e61.6febe"]]},{"id":"c0ce40dd.78858","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":500,"wires":[["a00914af.96ab48"]]},{"id":"a00914af.96ab48","type":"function","z":"f3f7ca5.74ca438","name":"오늘의요일이 무엇인가?","func":"var sample1 = \"월화수목\";\nvar sample2 = \"토일\";\n\nvar day = [\"일\",\"월\",\"화\",\"수\",\"목\",\"금\",\"토\",\"일\"];\nvar now = new Date().getDay();\nif(sample1.indexOf(\"일\") != -1){\n   msg.payload = \"포함된다\";\n}else{\n   msg.payload = \"포함되지 않는다\";\n}\n\n//msg.payload = ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":500,"wires":[["b8ef35be.a55b68"]]},{"id":"b8ef35be.a55b68","type":"debug","z":"f3f7ca5.74ca438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":500,"wires":[]},{"id":"74a494d.5e0566c","type":"function","z":"f3f7ca5.74ca438","name":"자정이되었을때모든테이블을초기화하는블럭","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n//새로운 전역변수 이전요일을 저장한다\nvar pre_day = global.get(\"day\");\nvar day = new Date().getDay();\n\nif(pre_day != day){\n   //요일이 넘어간 경우이다!\n\n   var update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n//전체 갯수만큼 루프를 회전한다\nfor(var i = 0;i<nockanda_data.length;i++){\n    nockanda_data[i].ONSTATE = 0;\n    nockanda_data[i].OFFSTATE = 0;\n    \n     var mydata = {};\n     mydata.id = nockanda_data[i].id;\n\n     //요일체크를 일단 해야한느데 그대로둔다\n     mydata.ONSTATE = 0; \n     mydata.OFFSTATE = 0; \n     argu.push(mydata);\n}\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;\n\n}\n\nglobal.set(\"day\",day);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":420,"wires":[["abafc6af.309c08"]]},{"id":"66f3ea88.bf9d24","type":"function","z":"f3f7ca5.74ca438","name":"현재요일값의 전역변수값을 초기에 지정하는 블럭","func":"global.set(\"day\",new Date().getDay());","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":600,"wires":[[]]},{"id":"e02324f4.55a968","type":"inject","z":"f3f7ca5.74ca438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":600,"wires":[["66f3ea88.bf9d24"]]},{"id":"84343966.7082e8","type":"switch","z":"f3f7ca5.74ca438","name":"매뉴얼작동","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ONSTATE","vt":"str"},{"t":"eq","v":"OFFSTATE","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":60,"wires":[["54ae2055.41a28"],["52fdb81c.06ae88"]]},{"id":"54ae2055.41a28","type":"function","z":"f3f7ca5.74ca438","name":"ONSTATE일처리하는녀석","func":"//입력한 데이터를 전역변수에 기록한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n//없으면 비어있는 값으로 하나 만들어둔다\nif(nockanda_data == null){\n   global.set(\"nockanda_data\",[]); //비어있는 배열구조로 만듦!\n   nockanda_data = global.get(\"nockanda_data\");\n}\n\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n       //~~~할거하고\n\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\n        \nvar argu = [];\n\nvar mydata = {};\nmydata.id = nockanda_data[i].id;\nmydata.ONSTATE = 1; \nnockanda_data[i].ONSTATE = 1;\n\nargu.push(mydata);\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nvar mqtt = {\n    topic:\"nockanda/\"+nockanda_data[i].DNUM,\n            payload:{\n                       id:nockanda_data[i].id,\n                       ch:nockanda_data[i].CH*1,\n                       state:1\n            }\n};\n\nreturn [msg,mqtt];\n\n   }\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":40,"wires":[["e95cf6e.e134108"],["1e0c9475.24651c"]]},{"id":"52fdb81c.06ae88","type":"function","z":"f3f7ca5.74ca438","name":"OFFSTATE을처리하는녀석","func":"//입력한 데이터를 전역변수에 기록한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n//없으면 비어있는 값으로 하나 만들어둔다\nif(nockanda_data == null){\n   global.set(\"nockanda_data\",[]); //비어있는 배열구조로 만듦!\n   nockanda_data = global.get(\"nockanda_data\");\n}\n\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n       //~~~할거하고\n\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\n        \nvar argu = [];\n\nvar mydata = {};\nmydata.id = nockanda_data[i].id;\nmydata.OFFSTATE = 1; \nnockanda_data[i].OFFSTATE = 1;\n\nargu.push(mydata);\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nvar mqtt = {\n    topic:\"nockanda/\"+nockanda_data[i].DNUM,\n            payload:{\n                       id:nockanda_data[i].id,\n                       ch:nockanda_data[i].CH*1,\n                       state:0\n            }\n};\n\nreturn [msg,mqtt];\n\n   }\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":100,"wires":[["e95cf6e.e134108"],["1e0c9475.24651c"]]},{"id":"66671d9b.c7b384","type":"function","z":"f3f7ca5.74ca438","name":"전역변수에있는값을 테이블에 밀어넣는코드","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n\n   var update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n//전체 갯수만큼 루프를 회전한다\nfor(var i = 0;i<nockanda_data.length;i++){\n     var mydata = {};\n     mydata.id = nockanda_data[i].id;\n     mydata.DNUM = nockanda_data[i].DNUM;\n     mydata.CH = nockanda_data[i].CH;\n     mydata.WEEK = nockanda_data[i].WEEK;\n     mydata.ONTIME = nockanda_data[i].ONTIME;\n     mydata.OFFTIME = nockanda_data[i].OFFTIME;\n     mydata.DEL = nockanda_data[i].DEL;\n     mydata.ONSTATE = nockanda_data[i].ONSTATE;\n     mydata.OFFSTATE = nockanda_data[i].OFFSTATE;\n     argu.push(mydata);\n}\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":640,"wires":[["e95cf6e.e134108"]]},{"id":"f9a1b26e.4b6bc","type":"ui_ui_control","z":"f3f7ca5.74ca438","name":"","events":"all","x":280,"y":660,"wires":[["a54f69e7.3f0a88","b8ef35be.a55b68"]]},{"id":"a54f69e7.3f0a88","type":"switch","z":"f3f7ca5.74ca438","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":660,"wires":[["1be92e53.bbb132"]]},{"id":"1be92e53.bbb132","type":"function","z":"f3f7ca5.74ca438","name":"ui-control에서 mag.payload만 살려두는코드","func":"var data = {payload:msg.payload};\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":720,"wires":[["8580deff.6ad56"]]},{"id":"8580deff.6ad56","type":"delay","z":"f3f7ca5.74ca438","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":720,"wires":[["66671d9b.c7b384"]]},{"id":"bd001e7b.0567a","type":"switch","z":"f3f7ca5.74ca438","name":"삭제루틴","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"DEL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":240,"wires":[["845dd561.7ddf48"]]},{"id":"845dd561.7ddf48","type":"function","z":"f3f7ca5.74ca438","name":"레코드삭제","func":"//전역변수에 들어있는 녀석도 삭제해줘야한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n  return null;\n}\n\n\n//전역변수를 순회하면서 레코드번호가 msg.row와 일치한것을 찾아야한다\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n       //해당 레코드 삭제\n       nockanda_data.splice(i,1);//i번째 레코드에 해당되는 한녀석을 지워라!\n       break;\n   }\n}\n\n//var update = {};\n//update.command = \"deleteRow\";\n//update.arguments = [];\n\n//update.arguments.push(msg.payload.id);\n\n\nmsg.payload = \"123\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":300,"wires":[["119a3bd1.f91684"]]},{"id":"5961b36.d359c4c","type":"switch","z":"f3f7ca5.74ca438","name":"비활성루틴","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"disable","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":300,"wires":[["d15199d7.ab46d8"]]},{"id":"d15199d7.ab46d8","type":"function","z":"f3f7ca5.74ca438","name":"해당되는레코드업데이트","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n//전역변수에 들어있는 스케쥴목록중에 어떤녀석이 해당되는 녀석인가?\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n      nockanda_data[i].ONSTATE = 1;\n      nockanda_data[i].OFFSTATE = 1;\n      break;\n   }\n}\n\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n     var mydata = {};\n     mydata.id = msg.payload.id;\n     mydata.ONSTATE = 1;\n     mydata.OFFSTATE = 1;\n     argu.push(mydata);\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":360,"wires":[["e95cf6e.e134108"]]},{"id":"cdec8ab2.b30ee8","type":"mqtt out","z":"f3f7ca5.74ca438","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":1010,"y":480,"wires":[]},{"id":"e4c1653c.e77b88","type":"json","z":"f3f7ca5.74ca438","name":"","property":"payload","action":"","pretty":false,"x":730,"y":460,"wires":[["cdec8ab2.b30ee8"]]},{"id":"9b3dac5.1bf895","type":"mqtt in","z":"f3f7ca5.74ca438","name":"","topic":"nockanda/node-red","qos":"0","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":1050,"y":440,"wires":[["4f0b026b.89ed8c"]]},{"id":"4f0b026b.89ed8c","type":"json","z":"f3f7ca5.74ca438","name":"","property":"payload","action":"","pretty":false,"x":1240,"y":440,"wires":[["a2b6ac08.9d8c4"]]},{"id":"a2b6ac08.9d8c4","type":"function","z":"f3f7ca5.74ca438","name":"수신확인","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n//msg.payload.id\n//msg.payload.state\n//전역변수 업데이트\nfor(var i = 0;i<nockanda_data.length;i++){\n   if(nockanda_data[i].id == msg.payload.id){\n     if(msg.payload.state == 0){\n        //OFF\n        nockanda_data[i].OFFSTATE = 2;\n     }else if(msg.payload.state == 1){\n        //ON\n        nockanda_data[i].ONSTATE = 2;\n     }\n     break;\n   }\n}\n\n//테이블 업데이트\n   var update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n\n     var mydata = {};\n     mydata.id = msg.payload.id;\n\n     if(msg.payload.state == 0){\n        //OFF\n        mydata.OFFSTATE = 2;\n     }else if(msg.payload.state == 1){\n        //ON\n        mydata.ONSTATE = 2;\n     }\n     \n     \n     argu.push(mydata);\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":440,"wires":[["e95cf6e.e134108"]]},{"id":"bee2897a.9386c8","type":"link in","z":"f3f7ca5.74ca438","name":"","links":["e95cf6e.e134108"],"x":675,"y":300,"wires":[["abafc6af.309c08"]]},{"id":"e95cf6e.e134108","type":"link out","z":"f3f7ca5.74ca438","name":"테이블입구","links":["bee2897a.9386c8"],"x":1615,"y":420,"wires":[]},{"id":"1e0c9475.24651c","type":"mqtt out","z":"f3f7ca5.74ca438","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":1330,"y":60,"wires":[]},{"id":"68cdd9e1.ec4da8","type":"ui_template","z":"f3f7ca5.74ca438","group":"51ce6aa1.620754","name":"","order":2,"width":"0","height":"0","format":"<style>\nbody {font-family: Arial, Helvetica, sans-serif;}\n\n/* The Modal (background) */\n.modal {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    opacity:0.99;\n    z-index: 100; /* Sit on top */\n    padding-top: 100px; /* Location of the box */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n}\n\n/* Modal Content */\n.modal-content {\n    position: relative;\n    background-color: #fefefe;\n    margin: auto;\n    padding: 0;\n    border: 1px solid #888;\n    width: 50%;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    -webkit-animation-duration: 0.4s;\n    animation-name: animatetop;\n    animation-duration: 0.4s\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top:-300px; opacity:0} \n    to {top:0; opacity:1}\n}\n\n@keyframes animatetop {\n    from {top:-300px; opacity:0}\n    to {top:0; opacity:1}\n}\n\n/* The Close Button */\n.close {\n    color: white;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n    color: #000;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n.modal-header {\n    padding: 2px 16px;\n    background-color: #5cb85c;\n    color: white;\n}\n\n.modal-body {padding: 2px 16px;}\n\n.modal-footer {\n    padding: 2px 16px;\n    background-color: #5cb85c;\n    color: white;\n}\n</style>\n\n<!-- Trigger/Open The Modal -->\n<md-button onClick='nockanda_open()'>입력하기!</md-button>\n\n<!-- The Modal -->\n<div id=\"myModal\" class=\"modal\">\n\n  <!-- Modal content -->\n  <div class=\"modal-content\">\n    <div class=\"modal-header\">\n      <span class=\"close\">&times;</span>\n      <h2>스케쥴입력기!</h2>\n    </div>\n    <div class=\"modal-body\">\n\n      <div id=result></div>\n\n      <table border=1>\n        <tr>\n      <td><md-button ng-click=\"sendMsg()\">입력하기!</md-button></td>\n      <td><md-button onClick='nclear()'>새로쓰기!</md-button></td>\n      <td><md-button onClick='nclose()'>닫기!</md-button></td>\n        </tr></table>\n\n\n      <table border=1>\n          <tr><td>디바이스번호</td><td>채널번호</td></tr>\n          <tr height=30>\n             <td><div id=input1></div></td>\n            <td><div id=input2></div></td>\n          </tr>\n          <tr><td>시작시간(H.)</td><td>시작시간(M.)</td></tr>\n          <tr height=30>\n             <td><div id=input3></div></td>\n            <td><div id=input4></div></td>\n          </tr>\n          <tr><td>종료시간(H.)</td><td>종료시간(M.)</td></tr>\n          <tr height=30>\n             <td><div id=input5></div></td>\n            <td><div id=input6></div></td>\n          </tr>\n      </table>\n\n      <table border=1>\n          <tr>\n              <td><md-button onClick='number_input(0)'  style=\"width: 50px; height:50px;\"/>0</md-button></td>\n              <td><md-button onClick='number_input(1)' style=\"width: 50px; height:50px;\"/>1</md-button></td>\n              <td><md-button onClick='number_input(2)' style=\"width: 50px; height:50px;\"/>2</md-button></td>\n              <td><md-button onClick='number_input(3)' style=\"width: 50px; height:50px;\"/>3</md-button></td>\n              <td><md-button onClick='number_input(4)' style=\"width: 50px; height:50px;\"/>4</md-button></td>\n          </tr>\n          <tr>\n              <td><md-button onClick='number_input(5)' style=\"width: 50px; height:50px;\"/>5</md-button></td>\n              <td><md-button onClick='number_input(6)' style=\"width: 50px; height:50px;\"/>6</md-button></td>\n              <td><md-button onClick='number_input(7)' style=\"width: 50px; height:50px;\"/>7</md-button></td>\n              <td><md-button onClick='number_input(8)' style=\"width: 50px; height:50px;\"/>8</md-button></td>\n              <td><md-button onClick='number_input(9)' style=\"width: 50px; height:50px;\"/>9</md-button></td>\n          </tr>\n      </table>    \n\n      <table border=1>\n         <tr>\n             <td>월</td>\n             <td>화</td>\n             <td>수</td>\n             <td>목</td>\n             <td>금</td>\n             <td>토</td>\n             <td>일</td>\n         </tr>\n         <tr>\n             <td><input type=checkbox id=check1 style=\"zoom:2.0;\" checked></td>\n             <td><input type=checkbox id=check2 style=\"zoom:2.0;\" checked></td>\n             <td><input type=checkbox id=check3 style=\"zoom:2.0;\" checked></td>\n             <td><input type=checkbox id=check4 style=\"zoom:2.0;\" checked></td>\n             <td><input type=checkbox id=check5 style=\"zoom:2.0;\" checked></td>\n             <td><input type=checkbox id=check6 style=\"zoom:2.0;\" checked></td>\n             <td><input type=checkbox id=check7 style=\"zoom:2.0;\" checked></td>\n         </tr>\n      </table>\n\n</div>\n\n\n\n\n    </div>\n  </div>\n\n</div>\n\n\n<script>\n    // Get the modal\nvar modal = document.getElementById('myModal');\n\n// Get the button that opens the modal\n//var btn = document.getElementById(\"myBtn\");\n\n// Get the <span> element that closes the modal\nvar span = document.getElementsByClassName(\"close\")[0];\n\n// When the user clicks on the button, open the modal \n//btn.onclick = function() {\n//    nclear();\n//    modal.style.display = \"block\";\n//}\n\nfunction nockanda_open(){\n    nclear();\n    modal.style.display = \"block\";\n}\n\n// When the user clicks on <span> (x), close the modal\nspan.onclick = function() {\n    modal.style.display = \"none\";\n}\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n\nvar input_index = 0;\n\nfunction number_input(num){\n    if(input_index == 0){\n             //디바이스번호쪽부터 채워나간다\n    \tdocument.getElementById('input1').innerText += num;\n             if(document.getElementById('input1').innerText.length >= 4){\n                input_index++;\n             }\n    }else if(input_index == 1){\n    \tdocument.getElementById('input2').innerText += num;\n             if(document.getElementById('input2').innerText.length >= 3){\n                input_index++;\n             }\n    }else if(input_index == 2){\n    \tdocument.getElementById('input3').innerText += num;\n             if(document.getElementById('input3').innerText.length >= 2){\n                input_index++;\n             }\n    }else if(input_index == 3){\n    \tdocument.getElementById('input4').innerText += num;\n             if(document.getElementById('input4').innerText.length >= 2){\n                input_index++;\n             }\n    }else if(input_index == 4){\n    \tdocument.getElementById('input5').innerText += num;\n             if(document.getElementById('input5').innerText.length >= 2){\n                input_index++;\n             }\n    }else if(input_index == 5){\n    \tdocument.getElementById('input6').innerText += num;\n             if(document.getElementById('input6').innerText.length >= 2){\n                input_index=0;\n             }\n    }\n}\n\nfunction nclear(){\n   input_index=0;\n   document.getElementById('input1').innerText = \"\";\n   document.getElementById('input2').innerText = \"\";\n   document.getElementById('input3').innerText = \"\";\n   document.getElementById('input4').innerText = \"\";\n   document.getElementById('input5').innerText = \"\";\n   document.getElementById('input6').innerText = \"\";\n   document.getElementById('check1').checked = true;\n   document.getElementById('check2').checked = true;\n   document.getElementById('check3').checked = true;\n   document.getElementById('check4').checked = true;\n   document.getElementById('check5').checked = true;\n   document.getElementById('check6').checked = true;\n   document.getElementById('check7').checked = true;\n}\nfunction nclose(){\n   modal.style.display = \"none\";\n}\n\n (function(scope) {\nscope.sendMsg = function() {\n\n    //약간의 예외처리!\n    if(document.getElementById('input1').innerText.length != 4){\n       //디바이스번호가 4자리가 아닌경우!\n       document.getElementById('result').innerText = \"디바이스 번호가 반드시 4자리여야 합니다!\";\n       return;\n    }\n    if(document.getElementById('input2').innerText.length != 3){\n       document.getElementById('result').innerText = \"채널번호는 3자리로 입력해야합니다!\";\n       return;\n    }\n    if(document.getElementById('input3').innerText.length != 2){\n       document.getElementById('result').innerText = \"시간은 hh형태로 입력하십시요!\";\n       return;\n    }\n    if(document.getElementById('input3').innerText > 23){\n       document.getElementById('result').innerText = \"입력가능한시간은 0~23입니다!\";\n       return;\n    }\n    if(document.getElementById('input4').innerText.length != 2){\n       document.getElementById('result').innerText = \"분은 mm형태로 입력하십시요!\";\n       return;\n    }\n    if(document.getElementById('input4').innerText > 59){\n       document.getElementById('result').innerText = \"입력가능한 분은 0~59입니다!\";\n       return;\n    }\n    if(document.getElementById('input5').innerText.length != 2){\n       document.getElementById('result').innerText = \"시간은 hh형태로 입력하십시요!\";\n       return;\n    }\n    if(document.getElementById('input5').innerText > 23){\n       document.getElementById('result').innerText = \"입력가능한시간은 0~23입니다!\";\n       return;\n    }\n    if(document.getElementById('input6').innerText.length != 2){\n       document.getElementById('result').innerText = \"분은 mm형태로 입력하십시요!\";\n       return;\n    }\n    if(document.getElementById('input6').innerText > 59){\n       document.getElementById('result').innerText = \"입력가능한 분은 0~59입니다!\";\n       return;\n    }\n    scope.dnum = document.getElementById('input1').innerText;\n    scope.ch = document.getElementById('input2').innerText;\n    scope.s1 = document.getElementById('input3').innerText;\n    scope.s2 = document.getElementById('input4').innerText;\n    scope.e1 = document.getElementById('input5').innerText;\n    scope.e2 = document.getElementById('input6').innerText;\n    scope.d1 = document.getElementById('check1').checked;\n    scope.d2 = document.getElementById('check2').checked;\n    scope.d3 = document.getElementById('check3').checked;\n    scope.d4 = document.getElementById('check4').checked;\n    scope.d5 = document.getElementById('check5').checked;\n    scope.d6 = document.getElementById('check6').checked;\n    scope.d7 = document.getElementById('check7').checked;\n\n   \n\n    scope.send({ payload: {dnum:scope.dnum,ch:scope.ch,s1:scope.s1,s2:scope.s2,e1:scope.e1,e2:scope.e2,d1:scope.d1,d2:scope.d2,d3:scope.d3,d4:scope.d4,d5:scope.d5,d6:scope.d6,d7:scope.d7}})\n\n    modal.style.display = \"none\";\n}\n\n})(scope);\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":1220,"y":720,"wires":[["cc7ae968.949d18"]]},{"id":"cc7ae968.949d18","type":"function","z":"f3f7ca5.74ca438","name":"(전역변수에 저장까지만한다)","func":"//입력한 데이터를 전역변수에 기록한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n//없으면 비어있는 값으로 하나 만들어둔다\nif(nockanda_data == null){\n   global.set(\"nockanda_data\",[]); //비어있는 배열구조로 만듦!\n   nockanda_data = global.get(\"nockanda_data\");\n}\n\n//전역변수로 지정된 id count값을 가지고온다\n//최초로 이 코드가 돌아갔을때는 count값이 없다!\n//그러면 만들어주면 된다!\nvar count = global.get(\"id_count\");\n\nif(count == null){\n    count = 0;\n}\n\nvar week = \"\";\nif(msg.payload.d1) week += \"월\";\nif(msg.payload.d2) week += \"화\";\nif(msg.payload.d3) week += \"수\";\nif(msg.payload.d4) week += \"목\";\nif(msg.payload.d5) week += \"금\";\nif(msg.payload.d6) week += \"토\";\nif(msg.payload.d7) week += \"일\";\n\n\n//var update = {};\n//update.command = \"updateOrAddData\";\n//update.arguments = [];\n        \n//var argu = [];\n\nvar mydata = {};\nmydata.id = count;\nmydata.DNUM = msg.payload.dnum;\nmydata.CH = msg.payload.ch;\nmydata.WEEK = week;\nmydata.ONTIME = {h:msg.payload.s1,m:msg.payload.s2};\nmydata.OFFTIME = {h:msg.payload.e1,m:msg.payload.e2};\nmydata.DEL = 0;\n\n//이녀석들의 초기값이 무엇이어야 하겠느냐?\nvar now = new Date();\nvar day = [\"일\",\"월\",\"화\",\"수\",\"목\",\"금\",\"토\",\"일\"];\n\nmydata.ONSTATE = 0; \nmydata.OFFSTATE = 0;\n//만약 입력했을 당시의 요일중에 오늘요일이 포함이 되지 않는다면 초기값이 -1이다\n//입력한 시간값이 현재시간보다 과거라면 오늘안에 체크될 여지가 전혀 없으므로 -1로 처리한다\nif(mydata.WEEK.indexOf(day[now.getDay()]) == -1){\n   mydata.ONSTATE = -1; \n   mydata.OFFSTATE = -1;\n}\nif(mydata.ONTIME.h < now.getHours()){\n   //아주 확실히 과거   \n   mydata.ONSTATE = -1; \n}\nif(mydata.ONTIME.h == now.getHours()){\n   if(mydata.ONTIME.m < now.getMinutes()){  \n       mydata.ONSTATE = -1; \n   } \n}\nif(mydata.OFFTIME.h < now.getHours()){\n   //아주 확실히 과거   \n   mydata.OFFSTATE = -1; \n}\nif(mydata.OFFTIME.h == now.getHours()){\n   if(mydata.OFFTIME.m < now.getMinutes()){  \n       mydata.OFFSTATE = -1; \n   } \n}\n\n//전역변수에 기록한다(전역변수가 list이다)\nnockanda_data.push(mydata);\n\n//argu.push(mydata);\n//update.arguments.push(argu);\n //할거다한 위치\n count++;\n //전역변수에 다시 저장~\n global.set(\"id_count\",count);\nmsg.payload = \"123\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":660,"wires":[["fec35154.dca7e"]]},{"id":"c5890c0.d2a87f8","type":"function","z":"f3f7ca5.74ca438","name":"전역변수에있는값을 테이블에 밀어넣는코드","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n\n   var update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n//전체 갯수만큼 루프를 회전한다\nfor(var i = 0;i<nockanda_data.length;i++){\n     var mydata = {};\n     mydata.id = nockanda_data[i].id;\n     mydata.DNUM = nockanda_data[i].DNUM;\n     mydata.CH = nockanda_data[i].CH;\n     mydata.WEEK = nockanda_data[i].WEEK;\n     mydata.ONTIME = nockanda_data[i].ONTIME;\n     mydata.OFFTIME = nockanda_data[i].OFFTIME;\n     mydata.DEL = nockanda_data[i].DEL;\n     mydata.ONSTATE = nockanda_data[i].ONSTATE;\n     mydata.OFFSTATE = nockanda_data[i].OFFSTATE;\n     argu.push(mydata);\n}\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":520,"wires":[["11146dc.060dd92"]]},{"id":"fec35154.dca7e","type":"function","z":"f3f7ca5.74ca438","name":"ui-control에서 mag.payload만 살려두는코드","func":"var data = {payload:msg.payload};\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":580,"wires":[["c5890c0.d2a87f8"]]},{"id":"bd0e8346.f2f3c","type":"ui_button","z":"f3f7ca5.74ca438","name":"","group":"51ce6aa1.620754","order":3,"width":"3","height":"1","passthru":false,"label":"저장하기","tooltip":"","color":"","bgcolor":"","className":"","icon":"backup","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1220,"y":780,"wires":[["de9f93d6.5a843"]]},{"id":"de9f93d6.5a843","type":"function","z":"f3f7ca5.74ca438","name":"id를 다시 재정렬 한다","func":"//입력한 데이터를 전역변수에 기록한다!\nvar nockanda_data = global.get(\"nockanda_data\");\n//없으면 비어있는 값으로 하나 만들어둔다\nif(nockanda_data == null){\n   global.set(\"nockanda_data\",[]); //비어있는 배열구조로 만듦!\n   nockanda_data = global.get(\"nockanda_data\");\n}\n\n\nfor(var i =0;i<nockanda_data.length;i++){\n   nockanda_data[i].id = i;\n}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":780,"wires":[["b47e378c.778ad8"]]},{"id":"b47e378c.778ad8","type":"change","z":"f3f7ca5.74ca438","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"nockanda_data","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":780,"wires":[["a9a700d7.d09e5"]]},{"id":"a9a700d7.d09e5","type":"json","z":"f3f7ca5.74ca438","name":"","property":"payload","action":"","pretty":false,"x":1310,"y":860,"wires":[["87181132.e3f5"]]},{"id":"87181132.e3f5","type":"file","z":"f3f7ca5.74ca438","name":"","filename":"C:\\Users\\wajang\\.node-red\\root\\save.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1620,"y":860,"wires":[[]]},{"id":"137e3f9.10d93c","type":"file in","z":"f3f7ca5.74ca438","name":"","filename":"C:\\Users\\wajang\\.node-red\\root\\save.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1440,"y":960,"wires":[["1c060905.047c67"]]},{"id":"f37888fe.b1ffc8","type":"ui_button","z":"f3f7ca5.74ca438","name":"","group":"51ce6aa1.620754","order":3,"width":"3","height":"1","passthru":false,"label":"불러오기","tooltip":"","color":"","bgcolor":"","className":"","icon":"cloud_download","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1220,"y":920,"wires":[["137e3f9.10d93c"]]},{"id":"1c060905.047c67","type":"json","z":"f3f7ca5.74ca438","name":"","property":"payload","action":"","pretty":false,"x":1480,"y":1020,"wires":[["dccc3424.2116a8"]]},{"id":"b7bb7fb2.2102","type":"change","z":"f3f7ca5.74ca438","name":"","rules":[{"t":"set","p":"nockanda_data","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1160,"wires":[["4b3cdc76.406ed4"]]},{"id":"b3695aa9.43a9d8","type":"function","z":"f3f7ca5.74ca438","name":"클리어블럭","func":"msg.payload={\n    command:\"clearData\",\n    arguments: []\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1020,"wires":[["9ffc32ef.99d7e","11146dc.060dd92"]]},{"id":"4b3cdc76.406ed4","type":"function","z":"f3f7ca5.74ca438","name":"ui-control에서 mag.payload만 살려두는코드","func":"var data = {payload:msg.payload};\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1080,"wires":[["b3695aa9.43a9d8"]]},{"id":"9ffc32ef.99d7e","type":"function","z":"f3f7ca5.74ca438","name":"전역변수에있는값을 테이블에 밀어넣는코드","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n\n   var update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n//전체 갯수만큼 루프를 회전한다\nfor(var i = 0;i<nockanda_data.length;i++){\n     var mydata = {};\n     mydata.id = nockanda_data[i].id;\n     mydata.DNUM = nockanda_data[i].DNUM;\n     mydata.CH = nockanda_data[i].CH;\n     mydata.WEEK = nockanda_data[i].WEEK;\n     mydata.ONTIME = nockanda_data[i].ONTIME;\n     mydata.OFFTIME = nockanda_data[i].OFFTIME;\n     mydata.DEL = nockanda_data[i].DEL;\n     mydata.ONSTATE = nockanda_data[i].ONSTATE;\n     mydata.OFFSTATE = nockanda_data[i].OFFSTATE;\n     argu.push(mydata);\n}\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2010,"y":760,"wires":[["11146dc.060dd92"]]},{"id":"dc2eac36.3cca","type":"function","z":"f3f7ca5.74ca438","name":"클리어블럭","func":"msg.payload={\n    command:\"clearData\",\n    arguments: []\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1910,"y":240,"wires":[["5efb2a48.025db4","11146dc.060dd92"]]},{"id":"119a3bd1.f91684","type":"function","z":"f3f7ca5.74ca438","name":"ui-control에서 mag.payload만 살려두는코드","func":"var data = {payload:msg.payload};\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":180,"wires":[["dc2eac36.3cca"]]},{"id":"5efb2a48.025db4","type":"function","z":"f3f7ca5.74ca438","name":"전역변수에있는값을 테이블에 밀어넣는코드","func":"//전역변수의 값을 가지고온다\nvar nockanda_data = global.get(\"nockanda_data\");\n\nif(nockanda_data == null || nockanda_data.length == 0){\n   //데이터가 없는경우\n   //여기서부터 아래쪽은 실행하지 않고 종료한다!\n   return null;\n}\n\n\n   var update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n//전체 갯수만큼 루프를 회전한다\nfor(var i = 0;i<nockanda_data.length;i++){\n     var mydata = {};\n     mydata.id = nockanda_data[i].id;\n     mydata.DNUM = nockanda_data[i].DNUM;\n     mydata.CH = nockanda_data[i].CH;\n     mydata.WEEK = nockanda_data[i].WEEK;\n     mydata.ONTIME = nockanda_data[i].ONTIME;\n     mydata.OFFTIME = nockanda_data[i].OFFTIME;\n     mydata.DEL = nockanda_data[i].DEL;\n     mydata.ONSTATE = nockanda_data[i].ONSTATE;\n     mydata.OFFSTATE = nockanda_data[i].OFFSTATE;\n     argu.push(mydata);\n}\nupdate.arguments.push(argu);\nmsg.payload = update;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":300,"wires":[["11146dc.060dd92"]]},{"id":"3a199d2e.77b022","type":"ui_button","z":"f3f7ca5.74ca438","name":"","group":"51ce6aa1.620754","order":3,"width":"3","height":"1","passthru":false,"label":"새로고침","tooltip":"","color":"","bgcolor":"","className":"","icon":"replay","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1660,"y":280,"wires":[["dc2eac36.3cca"]]},{"id":"da7464d8.5e12a8","type":"link in","z":"f3f7ca5.74ca438","name":"","links":["11146dc.060dd92"],"x":675,"y":240,"wires":[["abafc6af.309c08"]]},{"id":"11146dc.060dd92","type":"link out","z":"f3f7ca5.74ca438","name":"","links":["da7464d8.5e12a8"],"x":2195,"y":520,"wires":[]},{"id":"dccc3424.2116a8","type":"function","z":"f3f7ca5.74ca438","name":"가능하면 설정값을 초기화한다!","func":"//msg.payload 안에 모든 자료가 들어있는상황\n\n//현재 데이터를 기준으로 전역적으로 설정해야하는 id값을 알아내야한다\nglobal.set(\"id_count\",msg.payload.length);\n\nvar now = new Date();\nvar day = [\"일\",\"월\",\"화\",\"수\",\"목\",\"금\",\"토\",\"일\"]\n\nfor(var i = 0;i<msg.payload.length;i++){\n    msg.payload[i].ONSTATE = 0;\n    msg.payload[i].OFFSTATE = 0;\n\nif(msg.payload[i].WEEK.indexOf(day[now.getDay()]) == -1){\n   msg.payload[i].ONSTATE = -1; \n   msg.payload[i].OFFSTATE = -1;\n}\nif(msg.payload[i].ONTIME.h < now.getHours()){\n   //아주 확실히 과거   \n   msg.payload[i].ONSTATE = -1; \n}\nif(msg.payload[i].ONTIME.h == now.getHours()){\n   if(msg.payload[i].ONTIME.m < now.getMinutes()){  \n       msg.payload[i].ONSTATE = -1; \n   } \n}\nif(msg.payload[i].OFFTIME.h < now.getHours()){\n   //아주 확실히 과거   \n   msg.payload[i].OFFSTATE = -1; \n}\nif(msg.payload[i].OFFTIME.h == now.getHours()){\n   if(msg.payload[i].OFFTIME.m < now.getMinutes()){  \n       msg.payload[i].OFFSTATE = -1; \n   } \n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1080,"wires":[["b7bb7fb2.2102"]]},{"id":"51ce6aa1.620754","type":"ui_group","name":"녹칸다의 컨트롤 패널","tab":"d25c9cdc.bf5cd","order":6,"disp":false,"width":"10","collapse":false,"className":""},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"클라이언트리스트","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false}]