485/485-4-2(노드레드코드).txt
[{"id":"be5a5d01.b95f","type":"mqtt in","z":"200cf880.993108","name":"","topic":"nockanda/dht11","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":140,"y":980,"wires":[["207c13e8.89684c"]]},{"id":"207c13e8.89684c","type":"csv","z":"200cf880.993108","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":300,"y":1060,"wires":[["706f788b.cc2808","fbdb9862.d94428"]]},{"id":"4500e7b5.bd20a8","type":"blynk-iot-out-write","z":"200cf880.993108","name":"","pin":"0","pinmode":0,"client":"3773a4cf.1b53cc","x":530,"y":980,"wires":[]},{"id":"b4bb9e9c.d8a2c","type":"blynk-iot-out-write","z":"200cf880.993108","name":"","pin":"1","pinmode":0,"client":"3773a4cf.1b53cc","x":540,"y":1080,"wires":[]},{"id":"706f788b.cc2808","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":940,"wires":[["4500e7b5.bd20a8"]]},{"id":"fbdb9862.d94428","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1120,"wires":[["b4bb9e9c.d8a2c"]]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3773a4cf.1b53cc","type":"blynk-iot-client","name":"","path":"blynk.cloud","key":"xTsRRXaMhp2vho_pCzRrx3oEc0etPTyG","tmpl":"TMPLLHbw5Ov0","dbg_all":false,"dbg_read":false,"dbg_prop":false,"dbg_sync":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"enabled":true}]