485/485-3(노드레드코드).txt
[{"id":"21d3738d.548bcc","type":"blynk-iot-out-write","z":"200cf880.993108","name":"","pin":"0","pinmode":0,"client":"3773a4cf.1b53cc","x":500,"y":320,"wires":[]},{"id":"6ebd278d.1fe878","type":"serial in","z":"200cf880.993108","name":"","serial":"3ca061b1.78119e","x":70,"y":320,"wires":[["e563187c.d7cd98"]]},{"id":"e563187c.d7cd98","type":"csv","z":"200cf880.993108","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":190,"y":360,"wires":[["e30f2cbe.e5f6e","53dddc85.944714"]]},{"id":"97c762eb.0730c","type":"blynk-iot-out-write","z":"200cf880.993108","name":"","pin":"1","pinmode":0,"client":"3773a4cf.1b53cc","x":500,"y":420,"wires":[]},{"id":"e30f2cbe.e5f6e","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":260,"wires":[["21d3738d.548bcc"]]},{"id":"53dddc85.944714","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[["97c762eb.0730c"]]},{"id":"3773a4cf.1b53cc","type":"blynk-iot-client","name":"","path":"blynk.cloud","key":"xTsRRXaMhp2vho_pCzRrx3oEc0etPTyG","tmpl":"TMPLLHbw5Ov0","dbg_all":false,"dbg_read":false,"dbg_prop":false,"dbg_sync":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"enabled":true},{"id":"3ca061b1.78119e","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"}]