485/485-1-2(노드레드코드).txt
[{"id":"bfcb0a67.b679d8","type":"serial in","z":"200cf880.993108","name":"","serial":"3ca061b1.78119e","x":160,"y":160,"wires":[["afa5ea81.8a2898"]]},{"id":"4b505bf6.971114","type":"debug","z":"200cf880.993108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":160,"wires":[]},{"id":"afa5ea81.8a2898","type":"csv","z":"200cf880.993108","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":270,"y":240,"wires":[["4b505bf6.971114","f1c21b77.125a08","9f8017e2.b190d8","ed7a1975.67cc28","bac18121.aa05c"]]},{"id":"f1c21b77.125a08","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload.col1}}","layout":"row-spread","className":"","x":460,"y":260,"wires":[]},{"id":"9f8017e2.b190d8","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.col2}}","layout":"row-spread","className":"","x":460,"y":300,"wires":[]},{"id":"ed7a1975.67cc28","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"gtype":"donut","title":"습도","label":"%","format":"{{msg.payload.col1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":460,"y":360,"wires":[]},{"id":"bac18121.aa05c","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"gtype":"donut","title":"온도","label":"'C","format":"{{msg.payload.col2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":460,"y":420,"wires":[]},{"id":"3ca061b1.78119e","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":6},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]