485/485-2(노드레드코드).txt
[{"id":"3daf6bf0.e48e14","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"녹칸다 만세!","payloadType":"str","x":200,"y":280,"wires":[["21d3738d.548bcc"]]},{"id":"21d3738d.548bcc","type":"blynk-iot-out-write","z":"200cf880.993108","name":"","pin":"0","pinmode":0,"client":"3773a4cf.1b53cc","x":450,"y":280,"wires":[]},{"id":"43b04dd6.5d23a4","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"구독과 좋아요!","payloadType":"str","x":200,"y":320,"wires":[["21d3738d.548bcc"]]},{"id":"3773a4cf.1b53cc","type":"blynk-iot-client","name":"","path":"blynk.cloud","key":"xTsRRXaMhp2vho_pCzRrx3oEc0etPTyG","tmpl":"TMPLLHbw5Ov0","dbg_all":false,"dbg_read":false,"dbg_prop":false,"dbg_sync":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"enabled":true}]