283/283-3-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"978ad2c8.82572","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/stepper1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":430,"y":180,"wires":[]},{"id":"551cf523.0eac4c","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"+5.625도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"32","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":40,"wires":[["978ad2c8.82572"]]},{"id":"19e456c6.1b37d9","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"-5.625도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-32","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":80,"wires":[["978ad2c8.82572"]]},{"id":"50dc5044.2c70c","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"+90도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"512","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":120,"wires":[["978ad2c8.82572"]]},{"id":"2ce5e228.ce42ce","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"-90도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-512","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":160,"wires":[["978ad2c8.82572"]]},{"id":"e6b7adb8.3af6","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"+180도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1024","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":200,"wires":[["978ad2c8.82572"]]},{"id":"c27cd22b.f17ac","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"-180도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1024","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":240,"wires":[["978ad2c8.82572"]]},{"id":"d012554a.072618","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"+360도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2048","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":280,"wires":[["978ad2c8.82572"]]},{"id":"c413adb2.24963","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"-360도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-2048","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":320,"wires":[["978ad2c8.82572"]]},{"id":"887c29d8.75c0b8","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/stepper2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":450,"y":500,"wires":[]},{"id":"f18d1a1.b312ee8","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"+5.625도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"32","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":360,"wires":[["887c29d8.75c0b8"]]},{"id":"60a99bd0.399674","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"-5.625도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-32","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":400,"wires":[["887c29d8.75c0b8"]]},{"id":"a5e10cc.d47caf","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"+90도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"512","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":440,"wires":[["887c29d8.75c0b8"]]},{"id":"4fdfae4b.0040b","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"-90도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-512","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":480,"wires":[["887c29d8.75c0b8"]]},{"id":"773f0066.05f96","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"+180도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1024","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":520,"wires":[["887c29d8.75c0b8"]]},{"id":"48de8ee1.339ab","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"-180도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1024","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":560,"wires":[["887c29d8.75c0b8"]]},{"id":"d755b9d1.90fba8","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"+360도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2048","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":600,"wires":[["887c29d8.75c0b8"]]},{"id":"b847d797.4ddf88","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"-360도","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-2048","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":640,"wires":[["887c29d8.75c0b8"]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]