283/283-2-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"25a29dd8.99b4b2","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/servo1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":510,"y":220,"wires":[]},{"id":"346b6575.56beea","type":"ui_slider","z":"d00468c7.f49a28","name":"","label":"slider","tooltip":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"x":170,"y":160,"wires":[["59b0f972.1d6388","637c36f9.02d358"]]},{"id":"14eca55e.bdbb0b","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"passthru":false,"label":"서보1번제어","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":220,"wires":[["89bbbbc0.d2de18"]]},{"id":"59b0f972.1d6388","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"degree1\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":120,"wires":[[]]},{"id":"89bbbbc0.d2de18","type":"function","z":"d00468c7.f49a28","name":"","func":"var data = flow.get(\"degree1\");\n\nif(data == null) data = 0;\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["25a29dd8.99b4b2"]]},{"id":"637c36f9.02d358","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":2,"width":0,"height":0,"name":"","label":"서보1번각도","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":160,"wires":[]},{"id":"14bea46c.b8094c","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/servo2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":510,"y":420,"wires":[]},{"id":"eb087654.66a618","type":"ui_slider","z":"d00468c7.f49a28","name":"","label":"slider","tooltip":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"x":170,"y":360,"wires":[["5a5c12ba.2ab35c","1bf6928.1c5126e"]]},{"id":"ed96e024.53051","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":false,"label":"서보2번제어","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":420,"wires":[["c86c3aff.84bae8"]]},{"id":"5a5c12ba.2ab35c","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"degree2\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":320,"wires":[[]]},{"id":"c86c3aff.84bae8","type":"function","z":"d00468c7.f49a28","name":"","func":"var data = flow.get(\"degree2\");\n\nif(data == null) data = 0;\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":420,"wires":[["14bea46c.b8094c"]]},{"id":"1bf6928.1c5126e","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":2,"width":0,"height":0,"name":"","label":"서보2번각도","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":360,"wires":[]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]