270/270-1-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"3386c9cf.e71386","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":370,"y":220,"wires":[]},{"id":"909bcb2c.970e08","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":180,"wires":[["3386c9cf.e71386"]]},{"id":"6039e186.e92bb","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":260,"wires":[["3386c9cf.e71386"]]},{"id":"ea5bbf75.ae0eb","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":140,"y":380,"wires":[["ea53d1b7.e4a7b"]]},{"id":"ea53d1b7.e4a7b","type":"ui_text","z":"d4fe52b8.55a31","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":380,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]