270/270-3-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"3386c9cf.e71386","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":350,"y":260,"wires":[]},{"id":"ea5bbf75.ae0eb","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":150,"y":380,"wires":[["50c28de6.ae1e44"]]},{"id":"7ddb1bd3.9fc3c4","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"passthru":false,"label":"정방향","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"d\",\"para\":\"fw\"}","payloadType":"json","topic":"topic","topicType":"msg","x":150,"y":300,"wires":[["3386c9cf.e71386"]]},{"id":"d1c26ceb.801f6","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":2,"width":0,"height":0,"passthru":false,"label":"역방향","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"d\",\"para\":\"bw\"}","payloadType":"json","topic":"topic","topicType":"msg","x":150,"y":260,"wires":[["3386c9cf.e71386"]]},{"id":"50c28de6.ae1e44","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":380,"wires":[]},{"id":"9d0fd058.28e93","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":2,"width":0,"height":0,"passthru":false,"label":"속도(0)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"v\",\"para\":\"0\"}","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":60,"wires":[["3386c9cf.e71386"]]},{"id":"486c6f9a.114b6","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":2,"width":0,"height":0,"passthru":false,"label":"속도(100)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"v\",\"para\":\"100\"}","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":100,"wires":[["3386c9cf.e71386"]]},{"id":"88af3d57.1e1b","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":2,"width":0,"height":0,"passthru":false,"label":"속도(180)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"v\",\"para\":\"180\"}","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":140,"wires":[["3386c9cf.e71386"]]},{"id":"202929.1f40d6d8","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":2,"width":0,"height":0,"passthru":false,"label":"속도(255)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"v\",\"para\":\"255\"}","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":180,"wires":[["3386c9cf.e71386"]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]