269/269-4-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"7c8ac036.0cb96","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":350,"y":240,"wires":[]},{"id":"bc898aff.081798","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"button(+)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":200,"wires":[["7c8ac036.0cb96"]]},{"id":"2092fda0.685062","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":false,"label":"button(-)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":280,"wires":[["7c8ac036.0cb96"]]},{"id":"7420b475.bb7d2c","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":360,"wires":[]},{"id":"7b2f5fa8.56a8","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":110,"y":360,"wires":[["7420b475.bb7d2c"]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]