269/269-2-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"7c8ac036.0cb96","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":410,"y":200,"wires":[]},{"id":"e3aa0ff0.64bd7","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":120,"y":380,"wires":[["790554b8.9bcfec"]]},{"id":"e327cd07.3322b","type":"ui_slider","z":"d4fe52b8.55a31","name":"","label":"slider","tooltip":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"x":130,"y":200,"wires":[["7c8ac036.0cb96"]]},{"id":"790554b8.9bcfec","type":"ui_text","z":"d4fe52b8.55a31","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":360,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]