269/269-3-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"7c8ac036.0cb96","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":410,"y":200,"wires":[]},{"id":"e3aa0ff0.64bd7","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":70,"y":320,"wires":[["6c4a675a.89c3a8"]]},{"id":"6468bcb3.66bec4","type":"ui_form","z":"d4fe52b8.55a31","name":"","label":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"options":[{"label":"SERVO1","value":"servo1","type":"number","required":true,"rows":null},{"label":"SERVO2","value":"servo2","type":"number","required":true,"rows":null}],"formValue":{"servo1":"","servo2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":90,"y":180,"wires":[["4ace4bbd.723204"]]},{"id":"4ace4bbd.723204","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"str","pretty":true,"x":250,"y":200,"wires":[["7c8ac036.0cb96"]]},{"id":"6c4a675a.89c3a8","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":230,"y":360,"wires":[["5d2d7252.817a0c","79de5111.fe48c"]]},{"id":"5d2d7252.817a0c","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.servo1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":320,"wires":[]},{"id":"79de5111.fe48c","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.servo2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":420,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]