269/269-1-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"7c8ac036.0cb96","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":410,"y":200,"wires":[]},{"id":"65f3ee9d.467e4","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"button(+)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":160,"wires":[["7c8ac036.0cb96"]]},{"id":"d165db2c.77d768","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":false,"label":"button(-)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":260,"wires":[["7c8ac036.0cb96"]]},{"id":"e3aa0ff0.64bd7","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":120,"y":380,"wires":[["e3b3f1b8.069b9"]]},{"id":"e3b3f1b8.069b9","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":360,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]