427/427노드레드CCTV.txt
[{"id":"d5615f4e.c2af","type":"exec","z":"200cf880.993108","command":"","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":490,"y":240,"wires":[["385069d4.9fd426"],[],[]]},{"id":"5c20c428.f57ebc","type":"inject","z":"200cf880.993108","name":"재생","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ffmpeg -f rtsp -i \"rtsp://192.168.0.17:8554/mjpeg/1\" -preset ultrafast -vcodec libx264 -f segment -strftime 1 -segment_time 5 -reset_timestamps 1 \"C:\\Users\\wajang\\.node-red\\root\\video\\%Y-%m-%d-%H-%M-%S_steam1.mp4\" -f image2pipe pipe:1","payloadType":"str","x":250,"y":240,"wires":[["d5615f4e.c2af"]]},{"id":"385069d4.9fd426","type":"base64","z":"200cf880.993108","name":"","action":"","property":"payload","x":680,"y":220,"wires":[["9dde8d8d.8fe52"]]},{"id":"2ec7777b.88d278","type":"ui_template","z":"200cf880.993108","group":"b56302bf.2c7aa","name":"","order":1,"width":"16","height":"12","format":"<img src={{msg.payload}}>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":680,"y":380,"wires":[[]]},{"id":"9dde8d8d.8fe52","type":"function","z":"200cf880.993108","name":"BASE64전처리","func":"msg.payload = \"data:image/png;base64,\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["2ec7777b.88d278"]]},{"id":"93d1baae.dd7618","type":"inject","z":"200cf880.993108","name":"멈춤","props":[{"p":"kill","v":"SIGTERM","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":340,"wires":[["d5615f4e.c2af"]]},{"id":"63ed473d.f31308","type":"fs-file-lister","z":"200cf880.993108","name":"","start":"C:\\Users\\wajang\\.node-red\\root\\video","pattern":"*.*","folders":"*","hidden":true,"lstype":"files","path":false,"single":true,"depth":0,"stat":false,"showWarnings":true,"x":420,"y":560,"wires":[["23649fff.914d"]]},{"id":"6f5e055d.1ff6fc","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":600,"wires":[["63ed473d.f31308"]]},{"id":"5a5e6e58.af6ba","type":"debug","z":"200cf880.993108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"23649fff.914d","type":"ui_list","z":"200cf880.993108","group":"2e57a784.e34818","name":"","order":3,"width":"7","height":"8","lineType":"two","actionType":"click","allowHTML":false,"outputs":1,"topic":"","x":590,"y":600,"wires":[["5a5e6e58.af6ba","4488257b.0d750c"]]},{"id":"4488257b.0d750c","type":"ui_template","z":"200cf880.993108","group":"2e57a784.e34818","name":"","order":1,"width":"16","height":"14","format":"<div>\n     <video controls id=\"video\" width=\"100%\" heigth=\"100%\"></video>\n</div>\n\n<script> \n    (function(scope) {\n        scope.$watch('msg', function (msg) {      \n            if (msg) {\n\n                var video = document.getElementById('video');\n                video.src = \"http://192.168.0.8:1880/video/\"+msg.payload.title;\n                video.type=\"video/mp4\";\n                video.play();\n            }       \n         }); \n    })(scope); \n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":800,"y":660,"wires":[[]]},{"id":"cf92f394.36f48","type":"ui_button","z":"200cf880.993108","name":"","group":"b56302bf.2c7aa","order":2,"width":0,"height":0,"passthru":false,"label":"재생시작","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"ffmpeg -f rtsp -i \"rtsp://192.168.0.17:8554/mjpeg/1\" -preset ultrafast -vcodec libx264 -f segment -strftime 1 -segment_time 5 -reset_timestamps 1 \"C:\\Users\\wajang\\.node-red\\root\\video\\%Y-%m-%d-%H-%M-%S_steam1.mp4\" -f image2pipe pipe:1","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":60,"wires":[["4f09cdc1.2fe224"]]},{"id":"a0ac698b.8e4938","type":"ui_button","z":"200cf880.993108","name":"","group":"b56302bf.2c7aa","order":3,"width":0,"height":0,"passthru":false,"label":"종료","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"SIGTERM","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":100,"wires":[["3040bc82.0c7e24"]]},{"id":"4096ae81.53c8f","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["d5615f4e.c2af"]]},{"id":"cdf9c129.6061e","type":"ui_button","z":"200cf880.993108","name":"","group":"2e57a784.e34818","order":2,"width":0,"height":0,"passthru":false,"label":"목록갱신하기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":500,"wires":[["63ed473d.f31308"]]},{"id":"4f09cdc1.2fe224","type":"function","z":"200cf880.993108","name":"msg.payload를제외한나머지를 소거","func":"var data = {\n    payload:msg.payload\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":60,"wires":[["d5615f4e.c2af"]]},{"id":"3040bc82.0c7e24","type":"function","z":"200cf880.993108","name":"msg.payload를제외한나머지를 소거","func":"var data = {\n    payload:msg.payload\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["4096ae81.53c8f"]]},{"id":"d0b4ec66.ab01d","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload.title","v":"2022-02-09-21-57-54_steam1.mp4","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":530,"y":720,"wires":[["4488257b.0d750c"]]},{"id":"b56302bf.2c7aa","type":"ui_group","name":"ESP32CAM","tab":"d25c9cdc.bf5cd","order":4,"disp":true,"width":"16","collapse":false,"className":""},{"id":"2e57a784.e34818","type":"ui_group","name":"CCTV감시실","tab":"2edd23a3.ca6a2c","order":1,"disp":true,"width":"16","collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"원무과화면","icon":"info","order":1,"disabled":false,"hidden":false},{"id":"2edd23a3.ca6a2c","type":"ui_tab","name":"녹칸다의 CCTV","icon":"dashboard","order":8,"disabled":false,"hidden":false}]