507/507-5-1(node-red).txt
[{"id":"6ba1c9ef.ffc488","type":"tcp in","z":"7c2ee624.fb7028","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":120,"y":340,"wires":[["8179a1de.0c3f8"]]},{"id":"217828f8.c1d1d8","type":"debug","z":"7c2ee624.fb7028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":620,"wires":[]},{"id":"f6d0cc8d.843e3","type":"tcp out","z":"7c2ee624.fb7028","host":"","port":"6000","beserver":"reply","base64":false,"end":false,"name":"","x":480,"y":440,"wires":[]},{"id":"a8fde49d.ad4b28","type":"inject","z":"7c2ee624.fb7028","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"나는 노드레드 서버이다!","payloadType":"str","x":170,"y":440,"wires":[["860c128e.9ec2c"]]},{"id":"860c128e.9ec2c","type":"function","z":"7c2ee624.fb7028","name":"종료문자를붙혀주는블럭","func":"msg.payload = msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":540,"wires":[["f6d0cc8d.843e3"]]},{"id":"317857b1.c3b2b8","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":false,"label":"NODE1 LED ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":1,\"sw\":1}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":540,"wires":[["9a8d3f73.92ed2"]]},{"id":"e927c145.1d093","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"passthru":false,"label":"NODE1 LED OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":1,\"sw\":0}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":580,"wires":[["9a8d3f73.92ed2"]]},{"id":"8179a1de.0c3f8","type":"json","z":"7c2ee624.fb7028","name":"","property":"payload","action":"","pretty":false,"x":310,"y":340,"wires":[["54cc4f34.14aba"]]},{"id":"54cc4f34.14aba","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":280,"wires":[["98896acd.b0dd48","a1d47780.258a98"],["b723a47c.ff1b98","1f5d046.4111bfc"],["7e7c9d91.d6e8e4","c0da137e.e5e8d"]]},{"id":"98896acd.b0dd48","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":10,"width":0,"height":0,"name":"","label":"노드1번의온도","format":"{{msg.payload.temp}}","layout":"row-spread","className":"","x":540,"y":20,"wires":[]},{"id":"a1d47780.258a98","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":11,"width":0,"height":0,"name":"","label":"노드1번의습도","format":"{{msg.payload.humi}}","layout":"row-spread","className":"","x":540,"y":60,"wires":[]},{"id":"b723a47c.ff1b98","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":12,"width":0,"height":0,"name":"","label":"노드2번의온도","format":"{{msg.payload.temp}}","layout":"row-spread","className":"","x":540,"y":100,"wires":[]},{"id":"1f5d046.4111bfc","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":13,"width":0,"height":0,"name":"","label":"노드2번의습도","format":"{{msg.payload.humi}}","layout":"row-spread","className":"","x":540,"y":140,"wires":[]},{"id":"7e7c9d91.d6e8e4","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":14,"width":0,"height":0,"name":"","label":"노드3번의온도","format":"{{msg.payload.temp}}","layout":"row-spread","className":"","x":540,"y":180,"wires":[]},{"id":"c0da137e.e5e8d","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":15,"width":0,"height":0,"name":"","label":"노드3번의습도","format":"{{msg.payload.humi}}","layout":"row-spread","className":"","x":540,"y":220,"wires":[]},{"id":"ca59ceb4.8e4bd","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"passthru":false,"label":"NODE2 LED ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"sw\":1}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":620,"wires":[["9a8d3f73.92ed2"]]},{"id":"37cc7cd9.9f7314","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"passthru":false,"label":"NODE2 LED OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"sw\":0}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":660,"wires":[["9a8d3f73.92ed2"]]},{"id":"9bbc64cc.b79458","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":6,"width":0,"height":0,"passthru":false,"label":"NODE3 LED ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":3,\"sw\":1}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":700,"wires":[["9a8d3f73.92ed2"]]},{"id":"7b5d37ae.df9608","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"passthru":false,"label":"NODE3 LED OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":3,\"sw\":0}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":740,"wires":[["9a8d3f73.92ed2"]]},{"id":"9a8d3f73.92ed2","type":"json","z":"7c2ee624.fb7028","name":"","property":"payload","action":"","pretty":false,"x":340,"y":680,"wires":[["860c128e.9ec2c"]]},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]