507/507-4-1(node-red).txt
[{"id":"6ba1c9ef.ffc488","type":"tcp in","z":"7c2ee624.fb7028","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":120,"y":220,"wires":[["8179a1de.0c3f8"]]},{"id":"217828f8.c1d1d8","type":"debug","z":"7c2ee624.fb7028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":220,"wires":[]},{"id":"f6d0cc8d.843e3","type":"tcp out","z":"7c2ee624.fb7028","host":"","port":"6000","beserver":"reply","base64":false,"end":false,"name":"","x":480,"y":320,"wires":[]},{"id":"a8fde49d.ad4b28","type":"inject","z":"7c2ee624.fb7028","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"나는 노드레드 서버이다!","payloadType":"str","x":170,"y":320,"wires":[["860c128e.9ec2c"]]},{"id":"860c128e.9ec2c","type":"function","z":"7c2ee624.fb7028","name":"종료문자를붙혀주는블럭","func":"msg.payload = msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":400,"wires":[["f6d0cc8d.843e3"]]},{"id":"317857b1.c3b2b8","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"passthru":false,"label":"LED ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":420,"wires":[["860c128e.9ec2c"]]},{"id":"e927c145.1d093","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"passthru":false,"label":"LED OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":460,"wires":[["860c128e.9ec2c"]]},{"id":"8179a1de.0c3f8","type":"json","z":"7c2ee624.fb7028","name":"","property":"payload","action":"","pretty":false,"x":310,"y":220,"wires":[["217828f8.c1d1d8","27dc3ae7.761eb6","15a750ab.9e5bef","3278366f.8d901a","4fb7afb2.95ff3"]]},{"id":"27dc3ae7.761eb6","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":6,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.temp}}","layout":"row-spread","className":"","x":430,"y":120,"wires":[]},{"id":"15a750ab.9e5bef","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload.humi}}","layout":"row-spread","className":"","x":430,"y":160,"wires":[]},{"id":"4fb7afb2.95ff3","type":"ui_gauge","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":8,"width":0,"height":0,"gtype":"gage","title":"온도","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":430,"y":40,"wires":[]},{"id":"3278366f.8d901a","type":"ui_gauge","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":8,"width":0,"height":0,"gtype":"gage","title":"습도","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":430,"y":80,"wires":[]},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]