507/507-1-1(node-red).txt
[{"id":"6ba1c9ef.ffc488","type":"tcp in","z":"7c2ee624.fb7028","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":240,"y":220,"wires":[["217828f8.c1d1d8"]]},{"id":"217828f8.c1d1d8","type":"debug","z":"7c2ee624.fb7028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":220,"wires":[]},{"id":"f6d0cc8d.843e3","type":"tcp out","z":"7c2ee624.fb7028","host":"","port":"6000","beserver":"reply","base64":false,"end":false,"name":"","x":480,"y":320,"wires":[]},{"id":"a8fde49d.ad4b28","type":"inject","z":"7c2ee624.fb7028","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"나는 노드레드 서버이다!","payloadType":"str","x":170,"y":320,"wires":[["860c128e.9ec2c"]]},{"id":"860c128e.9ec2c","type":"function","z":"7c2ee624.fb7028","name":"","func":"msg.payload = msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":400,"wires":[["f6d0cc8d.843e3"]]}]