478/478-10(노드레드).txt
[{"id":"57f3c75ac896182a","type":"inject","z":"39bbe9fb0967ad82","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":200,"wires":[["81a1507326304543"]]},{"id":"d9357f2166f4194a","type":"inject","z":"39bbe9fb0967ad82","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["3a2457df8cb4e7d5"]]},{"id":"81a1507326304543","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":["8ff0f69e5f8af561d88fdcf811c926f5"],"entityId":["switch.node_red_led1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":200,"wires":[[]]},{"id":"3a2457df8cb4e7d5","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["8ff0f69e5f8af561d88fdcf811c926f5"],"entityId":["switch.node_red_led1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":260,"wires":[[]]},{"id":"c5060555eeed2a66","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":["8ff0f69e5f8af561d88fdcf811c926f5"],"entityId":["switch.node_red_led2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":340,"wires":[[]]},{"id":"6218ac69863a6d26","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["8ff0f69e5f8af561d88fdcf811c926f5"],"entityId":["switch.node_red_led2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":400,"wires":[[]]},{"id":"8deae10238cfd0df","type":"inject","z":"39bbe9fb0967ad82","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":340,"wires":[["c5060555eeed2a66"]]},{"id":"c68e6031f36ffccb","type":"inject","z":"39bbe9fb0967ad82","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":400,"wires":[["6218ac69863a6d26"]]},{"id":"9d65a8d8341e460f","type":"server-state-changed","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.node_red_btn1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":500,"wires":[["1fd15e7700c3aafe"],[]]},{"id":"d67dc260f4cf798b","type":"debug","z":"39bbe9fb0967ad82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":540,"wires":[]},{"id":"21801f538c6473b7","type":"server-state-changed","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.node_red_btn2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":580,"wires":[["c3ce3cb17971a431"],[]]},{"id":"1fd15e7700c3aafe","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"버튼 1번 눌려짐!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["d67dc260f4cf798b"]]},{"id":"c3ce3cb17971a431","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"버튼 2번 눌려짐!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":640,"wires":[["d67dc260f4cf798b"]]},{"id":"a16f3899.ea4888","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""}]