478/478-4(외부mqtt로메시지보내는예제).txt
[{"id":"29bcb3a10eeb55c7","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.mytest"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":360,"wires":[[]]},{"id":"6d03d6e97e004184","type":"mqtt in","z":"39bbe9fb0967ad82","name":"","topic":"nockanda/nodered","qos":"2","datatype":"auto","broker":"47ebe7f10fbe63e9","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":200,"wires":[["d58e2f1eb43a320b"]]},{"id":"d58e2f1eb43a320b","type":"function","z":"39bbe9fb0967ad82","name":"mqtt데이터를 call서비스와 연결하는노드","func":"var data = msg.payload;\n\nvar mqtt = {\n     payload:{\n         data:{\n             value:data\n         }\n     }\n};\n\nreturn mqtt;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":280,"wires":[["29bcb3a10eeb55c7"]]},{"id":"a16f3899.ea4888","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"47ebe7f10fbe63e9","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]