478/478-9-1(노드레드).txt
[{"id":"5794b72ebb90a522","type":"server-state-changed","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sw1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":280,"wires":[["3fe284c8516a708f"],["39ce10b83fdb5cef"]]},{"id":"3fe284c8516a708f","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"11","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":400,"wires":[["30eb236e9a48bfcf"]]},{"id":"39ce10b83fdb5cef","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":440,"wires":[["30eb236e9a48bfcf"]]},{"id":"d2af0dbbc7175bb9","type":"server-state-changed","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sw2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":500,"wires":[["7dc3a1a2f7a15c1c"],["202600413d37b5a9"]]},{"id":"7dc3a1a2f7a15c1c","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"21","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":560,"wires":[["30eb236e9a48bfcf"]]},{"id":"202600413d37b5a9","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":600,"wires":[["30eb236e9a48bfcf"]]},{"id":"30eb236e9a48bfcf","type":"mqtt out","z":"39bbe9fb0967ad82","name":"","topic":"nockanda/msg","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47ebe7f10fbe63e9","x":540,"y":500,"wires":[]},{"id":"a16f3899.ea4888","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"47ebe7f10fbe63e9","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]