478/478-7-1(노드레드).txt
[{"id":"213863b8a4b70ea9","type":"server-state-changed","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.btn1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":240,"wires":[["1039fbfd68b7fa12"]]},{"id":"c6d5af9ab082008c","type":"server-state-changed","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.btn2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":340,"wires":[["540e8c8f6dc14366"]]},{"id":"1039fbfd68b7fa12","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"녹칸다","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":180,"wires":[["449077ce7598accf"]]},{"id":"540e8c8f6dc14366","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"포에버","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[["449077ce7598accf"]]},{"id":"449077ce7598accf","type":"mqtt out","z":"39bbe9fb0967ad82","name":"","topic":"nockanda/msg","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47ebe7f10fbe63e9","x":560,"y":280,"wires":[]},{"id":"a16f3899.ea4888","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"47ebe7f10fbe63e9","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]