478/478-6-1(노드레드).txt
[{"id":"29bcb3a10eeb55c7","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.mytest"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":420,"wires":[[]]},{"id":"6d03d6e97e004184","type":"mqtt in","z":"39bbe9fb0967ad82","name":"","topic":"nockanda/sensor","qos":"2","datatype":"auto","broker":"47ebe7f10fbe63e9","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":200,"wires":[["882009165ac0db31","d58e2f1eb43a320b"]]},{"id":"d58e2f1eb43a320b","type":"function","z":"39bbe9fb0967ad82","name":"mqtt데이터를 call서비스와 연결하는노드","func":"var data = msg.payload;\n\nvar mqtt = {\n     payload:{\n         data:{\n             value:data\n         }\n     }\n};\n\nreturn mqtt;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["29bcb3a10eeb55c7"]]},{"id":"882009165ac0db31","type":"json","z":"39bbe9fb0967ad82","name":"","property":"payload","action":"","pretty":false,"x":110,"y":320,"wires":[["877662a723a603b0","27a5a6d6748ca561"]]},{"id":"877662a723a603b0","type":"change","z":"39bbe9fb0967ad82","name":"sensor1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":400,"wires":[["c2a51de0064563d0"]]},{"id":"27a5a6d6748ca561","type":"change","z":"39bbe9fb0967ad82","name":"sensor2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":440,"wires":[["12286659753a0bc1"]]},{"id":"d74397893c36bbbb","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.sensor1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":520,"wires":[[]]},{"id":"9cb3e21a3b7a0972","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.sensor2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":580,"wires":[[]]},{"id":"c2a51de0064563d0","type":"function","z":"39bbe9fb0967ad82","name":"mqtt데이터를 call서비스와 연결하는노드","func":"var data = msg.payload;\n\nvar mqtt = {\n     payload:{\n         data:{\n             value:data\n         }\n     }\n};\n\nreturn mqtt;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":520,"wires":[["d74397893c36bbbb"]]},{"id":"12286659753a0bc1","type":"function","z":"39bbe9fb0967ad82","name":"mqtt데이터를 call서비스와 연결하는노드","func":"var data = msg.payload;\n\nvar mqtt = {\n     payload:{\n         data:{\n             value:data\n         }\n     }\n};\n\nreturn mqtt;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":580,"wires":[["9cb3e21a3b7a0972"]]},{"id":"a16f3899.ea4888","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"47ebe7f10fbe63e9","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]