478/478-1(노드레드에서홈어시스턴트데이터전송하기).txt
[{"id":"e551fd79b1be52bb","type":"api-call-service","z":"39bbe9fb0967ad82","name":"서비스1","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.test"],"data":"{\"value\":\"녹칸다입니다!\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":400,"wires":[[]]},{"id":"537fbb7c2e52d52a","type":"inject","z":"39bbe9fb0967ad82","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":400,"wires":[["e551fd79b1be52bb"]]},{"id":"bb3dea6a90101271","type":"inject","z":"39bbe9fb0967ad82","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":480,"wires":[["335edd648d288c7b"]]},{"id":"335edd648d288c7b","type":"api-call-service","z":"39bbe9fb0967ad82","name":"서비스2","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.test"],"data":"{\"value\":\"구독과좋아요를 눌러주세요!\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":480,"wires":[[]]},{"id":"a16f3899.ea4888","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""}]