341/341-node-red.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"a722062a.af80c8","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/station/data","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":160,"y":100,"wires":[["48505570.c0a91c"]]},{"id":"48505570.c0a91c","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":340,"y":200,"wires":[["e784a0d.28ac06","9a2af00f.5a6c1","e34274ee.3dc748","3b62a284.d8d32e","5982ed03.eb2bf4","9621041e.4aad78","5fe53952.970618","d23ba913.be0818","c1fd9326.6752f","2a8f0ead.127b52"]]},{"id":"e784a0d.28ac06","type":"ui_text","z":"d00468c7.f49a28","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"풍향","format":"{{msg.payload.wind_direct}}","layout":"row-spread","x":550,"y":100,"wires":[]},{"id":"9a2af00f.5a6c1","type":"ui_text","z":"d00468c7.f49a28","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"풍속(m/s)","format":"{{msg.payload.wind_speed}}","layout":"row-spread","x":560,"y":200,"wires":[]},{"id":"e34274ee.3dc748","type":"ui_text","z":"d00468c7.f49a28","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"강우량(mm)","format":"{{msg.payload.rain_amout}}","layout":"row-spread","x":570,"y":300,"wires":[]},{"id":"3b62a284.d8d32e","type":"ui_text","z":"d00468c7.f49a28","group":"8cb24cb5.15088","order":0,"width":0,"height":0,"name":"","label":"습도(%)","format":"{{msg.payload.humi}}","layout":"row-spread","x":560,"y":400,"wires":[]},{"id":"5982ed03.eb2bf4","type":"ui_text","z":"d00468c7.f49a28","group":"2986cbe0.d1cd84","order":0,"width":0,"height":0,"name":"","label":"온도('C)","format":"{{msg.payload.temp}}","layout":"row-spread","x":560,"y":500,"wires":[]},{"id":"9621041e.4aad78","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"aa2634f1.1bbfd8","order":1,"width":0,"height":0,"gtype":"compass","title":"풍향","label":"degree","format":"{{msg.payload.wind_direct}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":140,"wires":[]},{"id":"5fe53952.970618","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"9c2bb4e6.01d708","order":1,"width":0,"height":0,"gtype":"donut","title":"풍속","label":"m/s","format":"{{msg.payload.wind_speed}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"6","x":550,"y":240,"wires":[]},{"id":"d23ba913.be0818","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"4ac94e5d.efbcd","order":1,"width":0,"height":0,"gtype":"wave","title":"강우량","label":"mm","format":"{{msg.payload.rain_amout}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"6","x":550,"y":340,"wires":[]},{"id":"2a8f0ead.127b52","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"2986cbe0.d1cd84","order":1,"width":0,"height":0,"gtype":"donut","title":"온도","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":540,"wires":[]},{"id":"c1fd9326.6752f","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"8cb24cb5.15088","order":1,"width":0,"height":0,"gtype":"donut","title":"습도","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":440,"wires":[]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"Group 1","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":6},{"id":"9c2bb4e6.01d708","type":"ui_group","name":"Group 2","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":6},{"id":"4ac94e5d.efbcd","type":"ui_group","name":"Group 3","tab":"d25c9cdc.bf5cd","order":3,"disp":true,"width":6},{"id":"8cb24cb5.15088","type":"ui_group","name":"Group 4","tab":"d25c9cdc.bf5cd","order":4,"disp":true,"width":6},{"id":"2986cbe0.d1cd84","type":"ui_group","name":"Group 5","tab":"d25c9cdc.bf5cd","order":5,"disp":true,"width":6},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]