288/288-3-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"6d754c15.dc5014","type":"serial in","z":"d00468c7.f49a28","name":"","serial":"ebcc379f.d04a68","x":90,"y":360,"wires":[["e01992a3.c97e9"]]},{"id":"d271cb4d.75e498","type":"serial out","z":"d00468c7.f49a28","name":"","serial":"ebcc379f.d04a68","x":450,"y":160,"wires":[]},{"id":"e01992a3.c97e9","type":"debug","z":"d00468c7.f49a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":360,"wires":[]},{"id":"82460c23.f873e","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"슬레이브1번양의방향","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[1,0,0,0,0,0,0,0,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":180,"y":40,"wires":[["d271cb4d.75e498"]]},{"id":"682d1d51.fc5dc4","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"passthru":false,"label":"슬레이브1번음의방향","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[1,0,1,0,0,0,0,0,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":170,"y":80,"wires":[["d271cb4d.75e498"]]},{"id":"5c366d07.294eb4","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"슬레이브2번양의방향","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[2,0,0,0,0,0,0,0,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":180,"y":120,"wires":[["d271cb4d.75e498"]]},{"id":"7e42f5ce.8c8b3c","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":false,"label":"슬레이브2번음의방향","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[2,0,1,0,0,0,0,0,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":170,"y":160,"wires":[["d271cb4d.75e498"]]},{"id":"e506498f.007a78","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"passthru":false,"label":"슬레이브3번양의방향","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[3,0,0,0,0,0,0,0,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":180,"y":200,"wires":[["d271cb4d.75e498"]]},{"id":"2a6f2963.2d4246","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"passthru":false,"label":"슬레이브3번음의방향","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[3,0,1,0,0,0,0,0,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":170,"y":240,"wires":[["d271cb4d.75e498"]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"10","bin":"false","out":"count","addchar":"","responsetimeout":"10000"},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]