288/288-1-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"6d754c15.dc5014","type":"serial in","z":"d00468c7.f49a28","name":"","serial":"ebcc379f.d04a68","x":90,"y":360,"wires":[["f6cd19cb.975a48","e01992a3.c97e9"]]},{"id":"d271cb4d.75e498","type":"serial out","z":"d00468c7.f49a28","name":"","serial":"ebcc379f.d04a68","x":450,"y":160,"wires":[]},{"id":"f370a009.57adf","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":340,"wires":[]},{"id":"d5444497.ee5c08","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"슬레이브1","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"options":[{"label":"LED1","value":"led1","type":"switch","required":true,"rows":null},{"label":"LED2","value":"led2","type":"switch","required":true,"rows":null}],"formValue":{"led1":false,"led2":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":180,"wires":[["e8c4d490.094bf8"]]},{"id":"e8c4d490.094bf8","type":"function","z":"d00468c7.f49a28","name":"","func":"const buff = Buffer.alloc(10);\n\n\nbuff[0] = 1; //슬레이브 1\nif(msg.payload.led1){\n    //LED1을 켜라\n    buff[2] = 1;\n}else{\n    //LED1을 꺼라\n    buff[2] = 0;\n}\n\nif(msg.payload.led2){\n    //LED2을 켜라\n    buff[3] = 1;\n}else{\n    //LED2을 꺼라\n    buff[3] = 0;\n}\n\nmsg.payload = buff;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":180,"wires":[["d271cb4d.75e498"]]},{"id":"b0bf71fe.5e36e","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"슬레이브2","group":"30b5144.689caec","order":1,"width":0,"height":0,"options":[{"label":"LED1","value":"led1","type":"switch","required":true,"rows":null},{"label":"LED2","value":"led2","type":"switch","required":true,"rows":null}],"formValue":{"led1":false,"led2":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":220,"wires":[["d79cc242.3ed09"]]},{"id":"d79cc242.3ed09","type":"function","z":"d00468c7.f49a28","name":"","func":"const buff = Buffer.alloc(10);\n\n\nbuff[0] = 2; //슬레이브 1\nif(msg.payload.led1){\n    //LED1을 켜라\n    buff[2] = 1;\n}else{\n    //LED1을 꺼라\n    buff[2] = 0;\n}\n\nif(msg.payload.led2){\n    //LED2을 켜라\n    buff[3] = 1;\n}else{\n    //LED2을 꺼라\n    buff[3] = 0;\n}\n\nmsg.payload = buff;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":220,"wires":[["d271cb4d.75e498"]]},{"id":"8d16f1e1.ec00d","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"슬레이브3","group":"c64ab8d6.5e1f38","order":1,"width":0,"height":0,"options":[{"label":"LED1","value":"led1","type":"switch","required":true,"rows":null},{"label":"LED2","value":"led2","type":"switch","required":true,"rows":null}],"formValue":{"led1":false,"led2":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":260,"wires":[["5eb6def0.2fc49"]]},{"id":"5eb6def0.2fc49","type":"function","z":"d00468c7.f49a28","name":"","func":"const buff = Buffer.alloc(10);\n\n\nbuff[0] = 3; //슬레이브 1\nif(msg.payload.led1){\n    //LED1을 켜라\n    buff[2] = 1;\n}else{\n    //LED1을 꺼라\n    buff[2] = 0;\n}\n\nif(msg.payload.led2){\n    //LED2을 켜라\n    buff[3] = 1;\n}else{\n    //LED2을 꺼라\n    buff[3] = 0;\n}\n\nmsg.payload = buff;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":260,"wires":[["d271cb4d.75e498"]]},{"id":"f6cd19cb.975a48","type":"function","z":"d00468c7.f49a28","name":"","func":"if(msg.payload[0] == \"\u0001\"){\n   msg.payload = \"슬레이브1번:\" + msg.payload[2] + msg.payload[3]; \n    \n}else if(msg.payload[0] == \"\u0002\"){\n  msg.payload = \"슬레이브2번:\" + msg.payload[2] + msg.payload[3]; \n}\nelse if(msg.payload[0] == \"\u0003\"){\n  msg.payload = \"슬레이브3번:\" + msg.payload[2] + msg.payload[3];\n}\n//2번\u0002\n//3번\u0003\n/*\nif(msg.payload[0] == 1){\n   msg.payload = \"슬레이브1번:\" + msg.payload[2] + msg.payload[3];\n}else if(msg.payload[0] == 2){\n   msg.payload = \"슬레이브2번:\" + msg.payload[2] + msg.payload[3]; \n}else if(msg.payload[0] == 3){\n   msg.payload = \"슬레이브3번:\" + msg.payload[2] + msg.payload[3];\n}\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":360,"wires":[["f370a009.57adf"]]},{"id":"e01992a3.c97e9","type":"debug","z":"d00468c7.f49a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":400,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"10","bin":"false","out":"count","addchar":"","responsetimeout":"10000"},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":4,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]