321/arduino_321-2-node-red.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"e6dae98d.0b77e8","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"PM1.0 : ","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":280,"wires":[]},{"id":"7a5c458c.1b3e2c","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"PM2.5 : ","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":320,"wires":[]},{"id":"c56a12fb.87278","type":"ui_text","z":"d00468c7.f49a28","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"PM10.0 : ","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":360,"wires":[]},{"id":"3a1642ca.41d91e","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"ug/m3","format":"{{msg.payload}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":420,"wires":[]},{"id":"cb849aee.832048","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"ug/m3","format":"{{msg.payload}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":460,"wires":[]},{"id":"e018e83.357af18","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"c64ab8d6.5e1f38","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"ug/m3","format":"{{msg.payload}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":520,"wires":[]},{"id":"92f01503.380498","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/pm10","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":150,"y":200,"wires":[["e6dae98d.0b77e8","3a1642ca.41d91e"]]},{"id":"900e798f.125138","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/pm25","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":140,"y":260,"wires":[["7a5c458c.1b3e2c","cb849aee.832048"]]},{"id":"1eb9f016.f46d6","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/pm100","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":140,"y":320,"wires":[["c56a12fb.87278","e018e83.357af18"]]},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":4,"disp":true,"width":"6","collapse":false},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]