321/arduino_321-1-node-red.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"86997cc7.81077","type":"serial in","z":"d00468c7.f49a28","name":"","serial":"ebcc379f.d04a68","x":150,"y":160,"wires":[["2907df7b.fe20d"]]},{"id":"bf6edce7.ea4a9","type":"debug","z":"d00468c7.f49a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":180,"wires":[]},{"id":"2907df7b.fe20d","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":240,"y":260,"wires":[["bf6edce7.ea4a9","e6dae98d.0b77e8","7a5c458c.1b3e2c","c56a12fb.87278","3a1642ca.41d91e","cb849aee.832048","e018e83.357af18"]]},{"id":"e6dae98d.0b77e8","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"PM1.0 : ","format":"{{msg.payload.PM10}}","layout":"row-spread","x":410,"y":280,"wires":[]},{"id":"7a5c458c.1b3e2c","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"PM2.5 : ","format":"{{msg.payload.PM25}}","layout":"row-spread","x":400,"y":320,"wires":[]},{"id":"c56a12fb.87278","type":"ui_text","z":"d00468c7.f49a28","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"PM10.0 : ","format":"{{msg.payload.PM100}}","layout":"row-spread","x":400,"y":360,"wires":[]},{"id":"3a1642ca.41d91e","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"ug/m3","format":"{{msg.payload.PM10}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":420,"wires":[]},{"id":"cb849aee.832048","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"ug/m3","format":"{{msg.payload.PM25}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":460,"wires":[]},{"id":"e018e83.357af18","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"c64ab8d6.5e1f38","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"ug/m3","format":"{{msg.payload.PM100}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":520,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":4,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]