525/525-6(노드레드).txt
[{"id":"69425ccc.3e8cf4","type":"mqtt in","z":"7c2ee624.fb7028","name":"","topic":"nockanda/max6675","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":240,"y":160,"wires":[["d56b105d.92fbb","eaae13e7.52d96","3657acb8.30def4","587b1f9a.f7b59"]]},{"id":"d56b105d.92fbb","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"name":"","label":"온도 : ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":490,"y":160,"wires":[]},{"id":"eaae13e7.52d96","type":"ui_gauge","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"gtype":"donut","title":"온도","label":"'C","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":490,"y":200,"wires":[]},{"id":"3657acb8.30def4","type":"ui_chart","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"label":"온도그래프","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":240,"wires":[[]]},{"id":"fff2393f.da8228","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":6,"width":"3","height":"1","passthru":false,"label":"부저작동","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":340,"wires":[["c963a7a9.14aa18","f121adba.4fa8b"]]},{"id":"e51b76c9.7ac8f8","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":7,"width":"3","height":"1","passthru":false,"label":"부저멈춤","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":440,"wires":[["c963a7a9.14aa18","276acbfc.f37294"]]},{"id":"c963a7a9.14aa18","type":"mqtt out","z":"7c2ee624.fb7028","name":"","topic":"nockanda/hightemp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":530,"y":380,"wires":[]},{"id":"587b1f9a.f7b59","type":"function","z":"7c2ee624.fb7028","name":"부저경고를할래말래","func":"var is_buzzer_start = global.get(\"is_buzzer_start\");\n\nvar is_buzzer_stop = global.get(\"is_buzzer_stop\");\nvar hightemp = global.get(\"hightemp\");\nvar sw = global.get(\"sw\");\n\nif(!sw) return;\n\nvar data = msg.payload;\n\nif(data > hightemp && is_buzzer_start == false){\n  msg.payload = \"1\";  \n  global.set(\"is_buzzer_start\",true);\n  global.set(\"is_buzzer_stop\",false);\n  return msg;\n}\n\nif(data <= hightemp && is_buzzer_stop == false){\n  msg.payload = \"0\";\n  global.set(\"is_buzzer_start\",false);\n  global.set(\"is_buzzer_stop\",true);\n  return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":260,"wires":[["c963a7a9.14aa18"]]},{"id":"bc8150fa.b8e59","type":"debug","z":"7c2ee624.fb7028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":600,"wires":[]},{"id":"4aa670cd.7b508","type":"inject","z":"7c2ee624.fb7028","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":80,"wires":[["d432a492.9af1d8"]]},{"id":"d432a492.9af1d8","type":"function","z":"7c2ee624.fb7028","name":"초기전역변수설정","func":"global.set(\"is_buzzer_start\",false);\nglobal.set(\"is_buzzer_stop\",true);\nglobal.set(\"hightemp\",40);\nglobal.set(\"sw\",false);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":80,"wires":[[]]},{"id":"f121adba.4fa8b","type":"function","z":"7c2ee624.fb7028","name":"전역변수update","func":"global.set(\"is_buzzer_start\",true);\nglobal.set(\"is_buzzer_stop\",false);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":460,"wires":[[]]},{"id":"276acbfc.f37294","type":"function","z":"7c2ee624.fb7028","name":"전역변수update","func":"global.set(\"is_buzzer_start\",false);\nglobal.set(\"is_buzzer_stop\",true);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":520,"wires":[[]]},{"id":"7d06606e.3ec76","type":"ui_form","z":"7c2ee624.fb7028","name":"","label":"","group":"2e91c6de.e9a80a","order":8,"width":0,"height":0,"options":[{"label":"설정온도값","value":"hightemp","type":"number","required":true,"rows":null}],"formValue":{"hightemp":""},"payload":"","submit":"설정","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":290,"y":580,"wires":[["12a1da27.4d7d76"]]},{"id":"12a1da27.4d7d76","type":"function","z":"7c2ee624.fb7028","name":"전역변수update","func":"global.set(\"hightemp\",msg.payload.hightemp);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":560,"wires":[[]]},{"id":"63256de2.25bf44","type":"ui_switch","z":"7c2ee624.fb7028","name":"","label":"온도경고활성유무","tooltip":"","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":320,"y":660,"wires":[["75dabd4.eac6044"]]},{"id":"75dabd4.eac6044","type":"function","z":"7c2ee624.fb7028","name":"전역변수update","func":"global.set(\"sw\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":660,"wires":[[]]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]