531/531-4(노드레드플로우).txt
[{"id":"54d67058.1ba17","type":"mqtt in","z":"10f98e2d.cd9152","name":"","topic":"nockanda/pzem016","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":210,"y":280,"wires":[["c4d14bb2.9730f8"]]},{"id":"c4d14bb2.9730f8","type":"json","z":"10f98e2d.cd9152","name":"","property":"payload","action":"","pretty":false,"x":320,"y":380,"wires":[["37785cdb.1a6084","f077f63f.a5f968","c3935ac0.9eeb78","d9e6e7c1.a7ab98"]]},{"id":"37785cdb.1a6084","type":"ui_gauge","z":"10f98e2d.cd9152","name":"","group":"2e91c6de.e9a80a","order":6,"width":0,"height":0,"gtype":"donut","title":"전압","label":"V","format":"{{msg.payload.volt}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":490,"y":320,"wires":[]},{"id":"f077f63f.a5f968","type":"ui_gauge","z":"10f98e2d.cd9152","name":"","group":"37b8047e.89c1ec","order":1,"width":0,"height":0,"gtype":"donut","title":"전류","label":"mA","format":"{{msg.payload.current}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":490,"y":360,"wires":[]},{"id":"c3935ac0.9eeb78","type":"ui_gauge","z":"10f98e2d.cd9152","name":"","group":"fdb00772.727d78","order":1,"width":0,"height":0,"gtype":"donut","title":"전력","label":"W","format":"{{msg.payload.watt}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":490,"y":400,"wires":[]},{"id":"d9e6e7c1.a7ab98","type":"debug","z":"10f98e2d.cd9152","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":240,"wires":[]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Group 2","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":7},{"id":"fdb00772.727d78","type":"ui_group","name":"Group 3","tab":"a8c3dc2a.d66a8","order":3,"disp":true,"width":7},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]