285/285-1-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"7b68bfa2.a2363","type":"mysql","z":"d00468c7.f49a28","mydb":"32efad14.604282","name":"","x":310,"y":80,"wires":[["79ece85b.475128"]]},{"id":"79ece85b.475128","type":"debug","z":"d00468c7.f49a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":80,"wires":[]},{"id":"ce6b2268.d63eb","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from sensor","payload":"","payloadType":"str","x":110,"y":80,"wires":[["7b68bfa2.a2363"]]},{"id":"37fa7ecb.327db2","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/cds1","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":120,"y":280,"wires":[["a45c7507.0dcf68","586670e5.1f91c","a62e83c9.da72d"]]},{"id":"a45c7507.0dcf68","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"첫번째광센서","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":280,"wires":[]},{"id":"586670e5.1f91c","type":"function","z":"d00468c7.f49a28","name":"","func":"var cds = msg.payload;\nvar stamp = new Date().getTime();\nmsg.topic = \"insert into sensor values(1,\"+cds+\",'\"+stamp+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":340,"wires":[["abdf1d3d.c3eed"]]},{"id":"abdf1d3d.c3eed","type":"mysql","z":"d00468c7.f49a28","mydb":"32efad14.604282","name":"","x":490,"y":580,"wires":[[]]},{"id":"6d7875ea.031e4c","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/cds2","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":120,"y":400,"wires":[["d98f69b5.285838","acf60acc.ee5008","35d18920.959976"]]},{"id":"d98f69b5.285838","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"두번째광센서","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":400,"wires":[]},{"id":"acf60acc.ee5008","type":"function","z":"d00468c7.f49a28","name":"","func":"var cds = msg.payload;\nvar stamp = new Date().getTime();\nmsg.topic = \"insert into sensor values(2,\"+cds+\",'\"+stamp+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":440,"wires":[["abdf1d3d.c3eed"]]},{"id":"4a69621.e62c09c","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/cds3","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":120,"y":500,"wires":[["2dc8312c.8e229e","233e282a.a8c078","d155bcd6.c5ee"]]},{"id":"2dc8312c.8e229e","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"세번째광센서","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":500,"wires":[]},{"id":"233e282a.a8c078","type":"function","z":"d00468c7.f49a28","name":"","func":"var cds = msg.payload;\nvar stamp = new Date().getTime();\nmsg.topic = \"insert into sensor values(3,\"+cds+\",'\"+stamp+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":540,"wires":[["abdf1d3d.c3eed"]]},{"id":"a62e83c9.da72d","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":240,"wires":[]},{"id":"35d18920.959976","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":360,"wires":[]},{"id":"d155bcd6.c5ee","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":460,"wires":[]},{"id":"cce8a7db.db62c8","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"c64ab8d6.5e1f38","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":680,"wires":[[]]},{"id":"971bfd4.165ec","type":"mysql","z":"d00468c7.f49a28","mydb":"32efad14.604282","name":"","x":370,"y":680,"wires":[["e9e794d0.2e0948"]]},{"id":"e9e794d0.2e0948","type":"function","z":"d00468c7.f49a28","name":"","func":"var x = [];\nvar y = [];\n\nvar data = msg.payload;\n\n//data[0].d_num\n//data[0].cds\n//data[0].date\nfor(var i=0;i<data.length;i++){\n    y.push(data[i].cds);\n    x.push(data[i].date);\n}\n\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":740,"wires":[["cce8a7db.db62c8"]]},{"id":"c16a6023.e842d","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"c7ba8c9e.b0b55","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":800,"wires":[[]]},{"id":"573acc54.a56284","type":"mysql","z":"d00468c7.f49a28","mydb":"32efad14.604282","name":"","x":370,"y":800,"wires":[["529d758a.48880c"]]},{"id":"529d758a.48880c","type":"function","z":"d00468c7.f49a28","name":"","func":"var x = [];\nvar y = [];\n\nvar data = msg.payload;\n\n//data[0].d_num\n//data[0].cds\n//data[0].date\nfor(var i=0;i<data.length;i++){\n    y.push(data[i].cds);\n    x.push(data[i].date);\n}\n\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":860,"wires":[["c16a6023.e842d"]]},{"id":"391e1969.089cc6","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"e97e673a.301ef8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":920,"wires":[[]]},{"id":"923b84ec.414fc8","type":"mysql","z":"d00468c7.f49a28","mydb":"32efad14.604282","name":"","x":370,"y":920,"wires":[["2f6bad09.6d5ec2"]]},{"id":"2f6bad09.6d5ec2","type":"function","z":"d00468c7.f49a28","name":"","func":"var x = [];\nvar y = [];\n\nvar data = msg.payload;\n\n//data[0].d_num\n//data[0].cds\n//data[0].date\nfor(var i=0;i<data.length;i++){\n    y.push(data[i].cds);\n    x.push(data[i].date);\n}\n\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":980,"wires":[["391e1969.089cc6"]]},{"id":"eb9279e2.b98108","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from sensor where d_num=1 order by date desc limit 20","payload":"","payloadType":"str","x":160,"y":700,"wires":[["971bfd4.165ec"]]},{"id":"8febaf67.2f33b","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from sensor where d_num=2 order by date desc limit 20","payload":"","payloadType":"str","x":170,"y":800,"wires":[["573acc54.a56284"]]},{"id":"1a89e466.a3157c","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from sensor where d_num=3 order by date desc limit 20","payload":"","payloadType":"str","x":170,"y":920,"wires":[["923b84ec.414fc8"]]},{"id":"32efad14.604282","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"arduino285","tz":"","charset":"UTF8"},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":4,"disp":true,"width":"6","collapse":false},{"id":"c7ba8c9e.b0b55","type":"ui_group","name":"Group 4","tab":"b6ba72ff.7f52","order":5,"disp":true,"width":"6","collapse":false},{"id":"e97e673a.301ef8","type":"ui_group","name":"Group 5","tab":"b6ba72ff.7f52","order":6,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]