498/498-9-2(노드레드).txt
[{"id":"c43b8dd3.74659","type":"debug","z":"200cf880.993108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"b358dffe.ae303","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"gtype":"gage","title":"커피머신","label":"'C","format":"{{msg.payload.temp1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":500,"y":240,"wires":[]},{"id":"90413a7d.c6d228","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"gtype":"gage","title":"온수매트","label":"'C","format":"{{msg.payload.temp2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":500,"y":280,"wires":[]},{"id":"ef4eea13.8283a8","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"gtype":"gage","title":"보일러온수","label":"'C","format":"{{msg.payload.temp3}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":510,"y":320,"wires":[]},{"id":"45c34929.097cb8","type":"mqtt in","z":"200cf880.993108","name":"","topic":"nockanda/sensors","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":110,"y":80,"wires":[["287aabb.8a2f754"]]},{"id":"287aabb.8a2f754","type":"json","z":"200cf880.993108","name":"","property":"payload","action":"","pretty":false,"x":290,"y":100,"wires":[["c43b8dd3.74659","b358dffe.ae303","90413a7d.c6d228","ef4eea13.8283a8"]]},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":6},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]