498/498-7(노드레드로하기).txt
[{"id":"c833e40c.16ab68","type":"serial in","z":"200cf880.993108","name":"","serial":"3ca061b1.78119e","x":170,"y":160,"wires":[["291e4fa2.f3232"]]},{"id":"c43b8dd3.74659","type":"debug","z":"200cf880.993108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"291e4fa2.f3232","type":"csv","z":"200cf880.993108","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":300,"y":180,"wires":[["c43b8dd3.74659","b358dffe.ae303","90413a7d.c6d228","ef4eea13.8283a8"]]},{"id":"b358dffe.ae303","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"gtype":"gage","title":"커피머신","label":"'C","format":"{{msg.payload.col1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":500,"y":240,"wires":[]},{"id":"90413a7d.c6d228","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"gtype":"gage","title":"온수매트","label":"'C","format":"{{msg.payload.col2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":500,"y":280,"wires":[]},{"id":"ef4eea13.8283a8","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"gtype":"gage","title":"보일러온수","label":"'C","format":"{{msg.payload.col3}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":510,"y":320,"wires":[]},{"id":"3ca061b1.78119e","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":6},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]