323/323-node-red.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"9e5d3c48.6b5cb","type":"debug","z":"d00468c7.f49a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":200,"wires":[]},{"id":"1244154d.dd41eb","type":"serial in","z":"d00468c7.f49a28","name":"","serial":"ebcc379f.d04a68","x":90,"y":180,"wires":[["c8d46035.d20fd"]]},{"id":"c8d46035.d20fd","type":"function","z":"d00468c7.f49a28","name":"","func":"var data = msg.payload.split(',');\n\nmsg.payload = [];\n\nfor(var i=0;i<64;i++){\n    msg.payload.push(Number(data[i]));\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":140,"wires":[["9e5d3c48.6b5cb","e50d292b.450b58"]]},{"id":"e50d292b.450b58","type":"ui_heat_map","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":"6","height":"6","name":"","rows":"8","columns":"8","minMax":false,"minimumValue":0,"maximumValue":0,"backgroundType":"color","backgroundColor":"#ffffff","image":"never","radius":"40","opacity":0.6,"blur":0.85,"showValues":false,"gridType":"vals","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":2,"x":320,"y":380,"wires":[[]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]