529/529-5(노드레드).txt
[{"id":"e8239191.50947","type":"http request","z":"10f98e2d.cd9152","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1845457/feeds.json?api_key=7V69B11HLVVGD2BV&results=1","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":180,"wires":[["a539cb96.4fbb88"]]},{"id":"930ea0ef.29c93","type":"inject","z":"10f98e2d.cd9152","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"16","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":180,"wires":[["e8239191.50947"]]},{"id":"a539cb96.4fbb88","type":"json","z":"10f98e2d.cd9152","name":"","property":"payload","action":"","pretty":false,"x":440,"y":240,"wires":[["eba8237b.d7cbd","56194c9e.2c1a24","a965b229.ffa05","ab9102d0.92c03","c80a6d69.bbe0c"]]},{"id":"eba8237b.d7cbd","type":"ui_text","z":"10f98e2d.cd9152","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"데이터수신시간","format":"{{msg.payload.feeds[0].created_at}}","layout":"row-spread","className":"","x":580,"y":300,"wires":[]},{"id":"56194c9e.2c1a24","type":"ui_text","z":"10f98e2d.cd9152","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.feeds[0].field1}}","layout":"row-spread","className":"","x":550,"y":340,"wires":[]},{"id":"a965b229.ffa05","type":"ui_text","z":"10f98e2d.cd9152","group":"2e91c6de.e9a80a","order":6,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload.feeds[0].field2}}","layout":"row-spread","className":"","x":550,"y":380,"wires":[]},{"id":"c71b6218.9f52c","type":"http request","z":"10f98e2d.cd9152","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1845458/feeds.json?api_key=03AVBDMGOMTK1AXC&results=1","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":440,"wires":[["e701270f.f190c8"]]},{"id":"a7f63db4.8b92f","type":"inject","z":"10f98e2d.cd9152","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"16","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":440,"wires":[["c71b6218.9f52c"]]},{"id":"e701270f.f190c8","type":"json","z":"10f98e2d.cd9152","name":"","property":"payload","action":"","pretty":false,"x":420,"y":500,"wires":[["4a13ac16.7f1a24","9b9d566d.837a78","54aac30a.f3f85c","96589b2b.826798","c0daba14.ba0ee8"]]},{"id":"4a13ac16.7f1a24","type":"ui_text","z":"10f98e2d.cd9152","group":"37b8047e.89c1ec","order":4,"width":0,"height":0,"name":"","label":"데이터수신시간","format":"{{msg.payload.feeds[0].created_at}}","layout":"row-spread","className":"","x":560,"y":560,"wires":[]},{"id":"9b9d566d.837a78","type":"ui_text","z":"10f98e2d.cd9152","group":"37b8047e.89c1ec","order":5,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.feeds[0].field1}}","layout":"row-spread","className":"","x":530,"y":600,"wires":[]},{"id":"54aac30a.f3f85c","type":"ui_text","z":"10f98e2d.cd9152","group":"37b8047e.89c1ec","order":6,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload.feeds[0].field2}}","layout":"row-spread","className":"","x":530,"y":640,"wires":[]},{"id":"ab9102d0.92c03","type":"ui_gauge","z":"10f98e2d.cd9152","name":"","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"gtype":"donut","title":"온도게이지","label":"units","format":"{{msg.payload.feeds[0].field1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":570,"y":420,"wires":[]},{"id":"c80a6d69.bbe0c","type":"ui_gauge","z":"10f98e2d.cd9152","name":"","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"gtype":"donut","title":"습도게이지","label":"units","format":"{{msg.payload.feeds[0].field2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":570,"y":460,"wires":[]},{"id":"96589b2b.826798","type":"ui_gauge","z":"10f98e2d.cd9152","name":"","group":"37b8047e.89c1ec","order":7,"width":0,"height":0,"gtype":"donut","title":"온도게이지","label":"units","format":"{{msg.payload.feeds[0].field1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":680,"wires":[]},{"id":"c0daba14.ba0ee8","type":"ui_gauge","z":"10f98e2d.cd9152","name":"","group":"37b8047e.89c1ec","order":7,"width":0,"height":0,"gtype":"donut","title":"습도게이지","label":"units","format":"{{msg.payload.feeds[0].field2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":720,"wires":[]},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Group 2","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":6},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]