528/528-3(노드레드).txt
[{"id":"c1893a63.d18438","type":"http request","z":"7c2ee624.fb7028","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1842414/feeds.json?api_key=QS595V4U204CHSIJ&results=1","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":240,"wires":[["61faa804.e754e8"]]},{"id":"fce1cd7c.36dc2","type":"inject","z":"7c2ee624.fb7028","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[[]]},{"id":"8065355a.df4188","type":"debug","z":"7c2ee624.fb7028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":680,"wires":[]},{"id":"61faa804.e754e8","type":"json","z":"7c2ee624.fb7028","name":"","property":"payload","action":"","pretty":false,"x":430,"y":340,"wires":[["dc60a395.32a3b","48334eba.ebe5e","3172454b.12526a"]]},{"id":"53666975.686b18","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":false,"label":"1개조회하기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":140,"wires":[["dbbabbae.acd118"]]},{"id":"dc60a395.32a3b","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"name":"","label":"데이터수신시간","format":"{{msg.payload.feeds[0].created_at}}","layout":"row-spread","className":"","x":620,"y":200,"wires":[]},{"id":"48334eba.ebe5e","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.feeds[0].field1}}","layout":"row-spread","className":"","x":590,"y":240,"wires":[]},{"id":"3172454b.12526a","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload.feeds[0].field2}}","layout":"row-spread","className":"","x":590,"y":280,"wires":[]},{"id":"a1bb0d95.099ba","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"37b8047e.89c1ec","order":7,"width":0,"height":0,"passthru":false,"label":"10개조회하기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":520,"wires":[["67d5e6b0.d558b8"]]},{"id":"61bf946f.dd120c","type":"http request","z":"7c2ee624.fb7028","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1842414/feeds.json?api_key=QS595V4U204CHSIJ&results=10","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":620,"wires":[["9ad8cf59.d8561"]]},{"id":"9ad8cf59.d8561","type":"json","z":"7c2ee624.fb7028","name":"","property":"payload","action":"","pretty":false,"x":510,"y":580,"wires":[["8065355a.df4188","7bffd73.c28e428","bf7bcd59.b7a43","ca6cd667.60d268"]]},{"id":"388dfdec.af1ee2","type":"ui_table","z":"7c2ee624.fb7028","group":"37b8047e.89c1ec","name":"","order":8,"width":"6","height":"7","columns":[],"outputs":0,"cts":false,"x":470,"y":780,"wires":[]},{"id":"7bffd73.c28e428","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.feeds","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":720,"wires":[["388dfdec.af1ee2"]]},{"id":"2620411f.52991e","type":"ui_chart","z":"7c2ee624.fb7028","name":"","group":"37b8047e.89c1ec","order":2,"width":0,"height":0,"label":"온도차트","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":480,"y":840,"wires":[[]]},{"id":"bf7bcd59.b7a43","type":"function","z":"7c2ee624.fb7028","name":"","func":"var y=[];\nvar x=[];\n\nfor(var i = 0;i<10;i++){\n    y.push(msg.payload.feeds[i].field1);\n    x.push(msg.payload.feeds[i].created_at);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":820,"wires":[["2620411f.52991e"]]},{"id":"49a298a0.f7c128","type":"ui_chart","z":"7c2ee624.fb7028","name":"","group":"37b8047e.89c1ec","order":2,"width":0,"height":0,"label":"습도차트","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":480,"y":900,"wires":[[]]},{"id":"ca6cd667.60d268","type":"function","z":"7c2ee624.fb7028","name":"","func":"var y=[];\nvar x=[];\n\nfor(var i = 0;i<10;i++){\n    y.push(msg.payload.feeds[i].field2);\n    x.push(msg.payload.feeds[i].created_at);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":860,"wires":[["49a298a0.f7c128"]]},{"id":"dbbabbae.acd118","type":"function","z":"7c2ee624.fb7028","name":"요청주소맨들기","func":"var ch_id = global.get(\"ch_id\");\nvar read_key = global.get(\"read_key\");\n\nif(ch_id == null || read_key == null) return;\n\nmsg.url = \"https://api.thingspeak.com/channels/\"+ch_id+\"/feeds.json?api_key=\"+read_key+\"&results=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["c1893a63.d18438"]]},{"id":"1ad3b3d8.a6ee3c","type":"inject","z":"7c2ee624.fb7028","name":"전역변수트리거","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[["b2eb2338.b93f4"]]},{"id":"b2eb2338.b93f4","type":"function","z":"7c2ee624.fb7028","name":"전역변수지정","func":"global.set(\"ch_id\",\"1842414\");\nglobal.set(\"read_key\",\"QS595V4U204CHSIJ\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":60,"wires":[[]]},{"id":"67d5e6b0.d558b8","type":"function","z":"7c2ee624.fb7028","name":"요청주소맨들기","func":"var ch_id = global.get(\"ch_id\");\nvar read_key = global.get(\"read_key\");\n\nif(ch_id == null || read_key == null) return;\n\nmsg.url = \"https://api.thingspeak.com/channels/\"+ch_id+\"/feeds.json?api_key=\"+read_key+\"&results=10\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":520,"wires":[["61bf946f.dd120c"]]},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Group 2","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":6},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]