275/275-2-flow (1).txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"fd8a542e.6a4558","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":430,"y":320,"wires":[]},{"id":"b8b9abc5.8fb0c8","type":"ui_form","z":"d4fe52b8.55a31","name":"","label":"금고 잠금 해제","group":"30b5144.689caec","order":0,"width":0,"height":0,"options":[{"label":"패스워드","value":"pw1","type":"text","required":true,"rows":null}],"formValue":{"pw1":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":100,"y":240,"wires":[["8db76d9.eeab89"]]},{"id":"8db76d9.eeab89","type":"function","z":"d4fe52b8.55a31","name":"","func":"\nmsg.payload.cmd = \"check\";\nmsg.payload.pw2 = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":180,"wires":[["fe816d12.c5c99"]]},{"id":"fe816d12.c5c99","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":370,"y":240,"wires":[["fd8a542e.6a4558"]]},{"id":"4bd3302a.2b999","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":70,"y":420,"wires":[["df9645db.8dbeb8"]]},{"id":"df9645db.8dbeb8","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":230,"y":360,"wires":[["39f7b942.d48c36","25a2aec1.302fa2"]]},{"id":"8e635b92.118978","type":"ui_toast","z":"d4fe52b8.55a31","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":430,"y":420,"wires":[]},{"id":"39f7b942.d48c36","type":"function","z":"d4fe52b8.55a31","name":"","func":"\nmsg.payload = msg.payload.msg;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":440,"wires":[["8e635b92.118978"]]},{"id":"43ca0d95.5dd564","type":"ui_text","z":"d4fe52b8.55a31","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"name":"","label":"금고의 잠금상태","format":"{{msg.output}}","layout":"row-spread","x":450,"y":500,"wires":[]},{"id":"25a2aec1.302fa2","type":"function","z":"d4fe52b8.55a31","name":"","func":"\nif(msg.payload.relay == \"0\"){\n    //잠금\n    msg.output = \"잠금\";\n}else if(msg.payload.relay == \"1\"){\n    //해제\n    msg.output = \"해제\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":500,"wires":[["43ca0d95.5dd564"]]},{"id":"ce2b761c.da9068","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"passthru":false,"label":"금고 강제 잠금!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"lock\",\"pw1\":\"\",\"pw2\":\"\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":300,"wires":[["fd8a542e.6a4558"]]},{"id":"8eddffe7.b4b85","type":"ui_form","z":"d4fe52b8.55a31","name":"","label":"금고 비번 변경!","group":"c7ba8c9e.b0b55","order":0,"width":0,"height":0,"options":[{"label":"기존비밀번호","value":"pw1","type":"text","required":true,"rows":null},{"label":"바꿀비밀번호","value":"pw2","type":"text","required":true,"rows":null}],"formValue":{"pw1":"","pw2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":100,"y":120,"wires":[["a5c1d79a.fe53e8"]]},{"id":"a5c1d79a.fe53e8","type":"function","z":"d4fe52b8.55a31","name":"","func":"\nmsg.payload.cmd = \"change\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":80,"wires":[["fe816d12.c5c99"]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"AmbientTemp('C)","tab":"b6ba72ff.7f52","order":1,"disp":false,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"ObjectTemp('C)","tab":"b6ba72ff.7f52","order":2,"disp":false,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":3,"disp":false,"width":"6","collapse":false},{"id":"c7ba8c9e.b0b55","type":"ui_group","name":"Group 4","tab":"b6ba72ff.7f52","order":4,"disp":false,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]