289/289-1-flow.txt
[{"id":"7387122d.dcd59c","type":"http request","z":"d00468c7.f49a28","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?ServiceKey={{apikey}}&startCreateDt={{t1}}&endCreateDt={{t2}}","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":340,"wires":[["513a6f40.bab88"]]},{"id":"bdb7cda.33c2a3","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":160,"wires":[["43accb5a.fa0a74"]]},{"id":"43accb5a.fa0a74","type":"function","z":"d00468c7.f49a28","name":"여러분의인증키!","func":"msg.apikey =\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":220,"wires":[["cc44ab7b.467168"]]},{"id":"513a6f40.bab88","type":"xml","z":"d00468c7.f49a28","name":"","property":"payload","attr":"","chr":"","x":150,"y":420,"wires":[["299ea05c.33fec"]]},{"id":"cc44ab7b.467168","type":"function","z":"d00468c7.f49a28","name":"날짜를 만드는 함수블럭","func":"var date = new Date();\nvar date2 = new Date();\n\nvar year = date.getFullYear().toString();\nvar month = (date.getMonth()+1).toString();\nvar day = date.getDate().toString();\n\nif(month.length == 1) month = \"0\" + month;\nif(day.length == 1) day = \"0\" + day;\n\ndate2.setDate(date2.getDate()-7);\n\nvar year2 = date2.getFullYear().toString();\nvar month2 = (date2.getMonth()+1).toString();\nvar day2 = date2.getDate().toString();\n\nif(month2.length == 1) month2 = \"0\" + month2;\nif(day2.length == 1) day2 = \"0\" + day2;\n\nvar t1 = year2+month2+day2;\nvar t2 = year+month+day;\n\nmsg.t1 = t1;\nmsg.t2 = t2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":280,"wires":[["7387122d.dcd59c"]]},{"id":"299ea05c.33fec","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.response.body[0].items[0].item","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[["e221e607.b5b488","8d13de2e.5ab9d","452361e.beb56a","1986eb22.750875","7ecc3ec6.b30de","59769c7d.1f7da4","eae4e99a.d1cce8","e89956b6.2e5be8","2afeacd3.a72c94","d79604ac.22d238","24889958.8bb0f6"]]},{"id":"e221e607.b5b488","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"확진자수","format":"{{msg.payload[0].decideCnt[0]}}","layout":"row-spread","x":500,"y":120,"wires":[]},{"id":"8d13de2e.5ab9d","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"격리해제 수","format":"{{msg.payload[0].clearCnt[0]}}","layout":"row-spread","x":510,"y":160,"wires":[]},{"id":"452361e.beb56a","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"검사진행 수","format":"{{msg.payload[0].examCnt[0]}}","layout":"row-spread","x":510,"y":200,"wires":[]},{"id":"1986eb22.750875","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"사망자 수","format":"{{msg.payload[0].deathCnt[0]}}","layout":"row-spread","x":500,"y":240,"wires":[]},{"id":"7ecc3ec6.b30de","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"치료중 환자 수","format":"{{msg.payload[0].careCnt[0]}}","layout":"row-spread","x":520,"y":280,"wires":[]},{"id":"59769c7d.1f7da4","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"결과 음성 수","format":"{{msg.payload[0].resutlNegCnt[0]}}","layout":"row-spread","x":510,"y":320,"wires":[]},{"id":"eae4e99a.d1cce8","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"누적 검사 수","format":"{{msg.payload[0].accExamCnt[0]}}","layout":"row-spread","x":510,"y":360,"wires":[]},{"id":"e89956b6.2e5be8","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"누적 검사 완료 수","format":"{{msg.payload[0].accExamCompCnt[0]}}","layout":"row-spread","x":530,"y":400,"wires":[]},{"id":"2afeacd3.a72c94","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"누적 환진률","format":"{{msg.payload[0].accDefRate[0]}}","layout":"row-spread","x":510,"y":440,"wires":[]},{"id":"d79604ac.22d238","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"데이터기준일","format":"{{msg.payload[0].stateDt[0]}}","layout":"row-spread","x":520,"y":480,"wires":[]},{"id":"93764473.307cc8","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"label":"확진자수","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":500,"y":560,"wires":[[]]},{"id":"24889958.8bb0f6","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];  //decideCnt\nvar x=[]; //stateDt\n\n// msg.payload\n\nfor(var i = msg.payload.length-1;i>0;i--){\n    y.push(msg.payload[i-1].decideCnt[0]-msg.payload[i].decideCnt[0]);\n    x.push(msg.payload[i].stateDt[0]);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":560,"wires":[["93764473.307cc8"]]},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]