289/289-2-flow.txt
[{"id":"7387122d.dcd59c","type":"http request","z":"d00468c7.f49a28","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?serviceKey={{apikey}}&returnType=json&stationName={{station}}&dataTerm=DAILY","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":320,"wires":[["8fb6c14c.8a662"]]},{"id":"43accb5a.fa0a74","type":"function","z":"d00468c7.f49a28","name":"여러분의인증키!","func":"msg.apikey =\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":260,"wires":[["7387122d.dcd59c"]]},{"id":"8fb6c14c.8a662","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":150,"y":380,"wires":[["2fa0c01d.43c08"]]},{"id":"2fa0c01d.43c08","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.response.body.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":440,"wires":[["4e89fa9c.f41934","9fa690ac.4fd83","cc927096.d09b","fbba8b51.20caf8","2a42be3b.aa79e2","1b57b196.44805e","71e887aa.934b38","b796b64e.2f47d8","40670c70.94f6b4","d79747a1.2351c8","8335f22a.08ae6"]]},{"id":"4e89fa9c.f41934","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"측정일","format":"{{msg.payload[0].dataTime}}","layout":"row-spread","x":370,"y":360,"wires":[]},{"id":"9fa690ac.4fd83","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"아황산가스 농도","format":"{{msg.payload[0].so2Value}}","layout":"row-spread","x":400,"y":400,"wires":[]},{"id":"cc927096.d09b","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"일산화탄소 농도","format":"{{msg.payload[0].coValue}}","layout":"row-spread","x":400,"y":440,"wires":[]},{"id":"fbba8b51.20caf8","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"오존 농도","format":"{{msg.payload[0].o3Value}}","layout":"row-spread","x":380,"y":480,"wires":[]},{"id":"2a42be3b.aa79e2","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"이산화질소 농도","format":"{{msg.payload[0].no2Value}}","layout":"row-spread","x":400,"y":520,"wires":[]},{"id":"1b57b196.44805e","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"미세먼지(PM10) 농도","format":"{{msg.payload[0].pm10Value}}","layout":"row-spread","x":420,"y":560,"wires":[]},{"id":"ff935fec.a8b8a","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"측정소명을 입력해주세요!","group":"dcdc0d14.9c98e","order":6,"width":0,"height":0,"options":[{"label":"측정소명","value":"station","type":"text","required":true,"rows":null}],"formValue":{"station":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":170,"y":140,"wires":[["7e453c1.a36edc4"]]},{"id":"7e453c1.a36edc4","type":"function","z":"d00468c7.f49a28","name":"UTF8인코딩","func":"var data =encodeURI(msg.payload.station);\n\nmsg.station = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":200,"wires":[["43accb5a.fa0a74"]]},{"id":"7ffc767b.3a4b28","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":2,"width":0,"height":0,"label":"아황산가스농도(So2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":400,"y":640,"wires":[[]]},{"id":"71e887aa.934b38","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];  //so2Value\nvar x=[]; //dataTime\n\nfor(var i = msg.payload.length-1;i>=0;i--){\n    if(msg.payload[i].so2Value == \"-\"){\n        msg.payload[i].so2Value = 0;\n    }\n    y.push(msg.payload[i].so2Value);\n    x.push(msg.payload[i].dataTime);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":640,"wires":[["7ffc767b.3a4b28"]]},{"id":"3b2c8cd9.7b5a54","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":3,"width":0,"height":0,"label":"일산화탄소농도(co)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":390,"y":680,"wires":[[]]},{"id":"b796b64e.2f47d8","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];  //coValue\nvar x=[]; //dataTime\n\nfor(var i = msg.payload.length-1;i>=0;i--){\n    if(msg.payload[i].coValue == \"-\"){\n        msg.payload[i].coValue = 0;\n    }\n    y.push(msg.payload[i].coValue);\n    x.push(msg.payload[i].dataTime);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":680,"wires":[["3b2c8cd9.7b5a54"]]},{"id":"2566a3c6.12d94c","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"label":"오존농도(o3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":720,"wires":[[]]},{"id":"3000a5ff.df33aa","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":5,"width":0,"height":0,"label":"일산화질소농도(no2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":400,"y":760,"wires":[[]]},{"id":"478d3ca6.8ed304","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"label":"미세먼지농도","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":380,"y":800,"wires":[[]]},{"id":"40670c70.94f6b4","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];  //coValue\nvar x=[]; //dataTime\n\nfor(var i = msg.payload.length-1;i>=0;i--){\n    if(msg.payload[i].o3Value == \"-\"){\n        msg.payload[i].o3Value = 0;\n    }\n    y.push(msg.payload[i].o3Value);\n    x.push(msg.payload[i].dataTime);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":720,"wires":[["2566a3c6.12d94c"]]},{"id":"d79747a1.2351c8","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];  //coValue\nvar x=[]; //dataTime\n\nfor(var i = msg.payload.length-1;i>=0;i--){\n    if(msg.payload[i].no2Value == \"-\"){\n        msg.payload[i].no2Value = 0;\n    }\n    y.push(msg.payload[i].no2Value);\n    x.push(msg.payload[i].dataTime);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":760,"wires":[["3000a5ff.df33aa"]]},{"id":"8335f22a.08ae6","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];  //coValue\nvar x=[]; //dataTime\n\nfor(var i = msg.payload.length-1;i>=0;i--){\n    if(msg.payload[i].pm10Value == \"-\"){\n        msg.payload[i].pm10Value = 0;\n    }\n    y.push(msg.payload[i].pm10Value);\n    x.push(msg.payload[i].dataTime);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":800,"wires":[["478d3ca6.8ed304"]]},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]