273/273-1-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"715f393c.d025c8","type":"ui_template","z":"d4fe52b8.55a31","group":"30b5144.689caec","name":"","order":1,"width":0,"height":0,"format":"\n\n<img src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":220,"wires":[[]]},{"id":"675e4f42.e36a","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/image1.png","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":180,"wires":[["715f393c.d025c8"]]},{"id":"26b8839b.58a0bc","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/image2.png","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":220,"wires":[["715f393c.d025c8"]]},{"id":"bc99db6f.1158b8","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/image3.png","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":260,"wires":[["715f393c.d025c8"]]},{"id":"df2eafb9.6521f","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":110,"y":380,"wires":[["540eade7.041a14"]]},{"id":"540eade7.041a14","type":"function","z":"d4fe52b8.55a31","name":"","func":"\nif(msg.payload == \"1\\r\\n\"){\n    //1번버튼이 눌려진경우\n    msg.payload = \"/image1.png\";\n}else if(msg.payload == \"2\\r\\n\"){\n    //2번버튼이 눌려진경우\n    msg.payload = \"/image2.png\";\n}else if(msg.payload == \"3\\r\\n\"){\n    //3번버튼이 눌려진경우\n    msg.payload = \"/image3.png\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":340,"wires":[["715f393c.d025c8"]]},{"id":"30b5144.689caec","type":"ui_group","name":"AmbientTemp('C)","tab":"b6ba72ff.7f52","order":1,"disp":false,"width":"6","collapse":false},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]