279/279-1-flow.txt
[{"id":"3b7ad19f.e3bb4e","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"57bb34a3.43f08c","type":"http request","z":"3b7ad19f.e3bb4e","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://www.kma.go.kr/wid/queryDFSRSS.jsp?zone={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[["4fd845d3.8bbb2c"]]},{"id":"fd2cfd43.8e90b","type":"inject","z":"3b7ad19f.e3bb4e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["57bb34a3.43f08c"]]},{"id":"4fd845d3.8bbb2c","type":"xml","z":"3b7ad19f.e3bb4e","name":"","property":"payload","attr":"","chr":"","x":110,"y":1900,"wires":[["b99f5c21.ddf3b","469a9ef1.fb055","60e2b343.f22bcc","85acd143.be6b4","55ba0867.ba73e8","b846ca57.1bc258","e5b619e7.b54ae8","a9dc57dd.fd04e8","bdd2e9.80df4d18","c1023af7.caa2f8"]]},{"id":"7ea3288.17f2fd8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"시간","format":"{{payload.hour[0]}}","layout":"row-spread","x":570,"y":160,"wires":[]},{"id":"fe8a1a9a.429c88","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"기온","format":"{{payload.temp[0]}}","layout":"row-spread","x":570,"y":200,"wires":[]},{"id":"f907c29a.af8c9","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"날씨","format":"{{payload.wfKor[0]}}","layout":"row-spread","x":570,"y":240,"wires":[]},{"id":"16398d4f.7e1893","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"강수확률","format":"{{payload.pop[0]}}","layout":"row-spread","x":580,"y":280,"wires":[]},{"id":"809e7f45.aa909","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"풍속","format":"{{payload.ws[0]}}","layout":"row-spread","x":570,"y":320,"wires":[]},{"id":"65593fbd.dd296","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"풍향","format":"{{payload.wdKor[0]}}","layout":"row-spread","x":570,"y":360,"wires":[]},{"id":"4f4d26cf.327df8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{payload.reh[0]}}","layout":"row-spread","x":570,"y":400,"wires":[]},{"id":"b99f5c21.ddf3b","type":"function","z":"3b7ad19f.e3bb4e","name":"","func":"var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[0];\n\n\n\nif(data.wfKor[0] == \"맑음\"){\n    msg.img = \"/1.png\";\n}else if(data.wfKor[0] == \"구름 많음\"){\n    msg.img = \"/2.png\";\n}else if(data.wfKor[0] == \"흐림\"){\n    msg.img = \"/3.png\";\n}else if(data.wfKor[0] == \"비\"){\n    msg.img = \"/4.png\";\n}else if(data.wfKor[0] == \"비/눈\"){\n    msg.img = \"/5.png\";\n}else if(data.wfKor[0] == \"눈\"){\n    msg.img = \"/6.png\";\n}else if(data.wfKor[0] == \"소나기\"){\n    msg.img = \"/7.png\";\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["7ea3288.17f2fd8","fe8a1a9a.429c88","f907c29a.af8c9","16398d4f.7e1893","809e7f45.aa909","65593fbd.dd296","4f4d26cf.327df8","c859b741.8d7d18"]]},{"id":"469a9ef1.fb055","type":"function","z":"3b7ad19f.e3bb4e","name":"","func":"var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[1];\n\nif(data.wfKor[0] == \"맑음\"){\n    msg.img = \"/1.png\";\n}else if(data.wfKor[0] == \"구름 많음\"){\n    msg.img = \"/2.png\";\n}else if(data.wfKor[0] == \"흐림\"){\n    msg.img = \"/3.png\";\n}else if(data.wfKor[0] == \"비\"){\n    msg.img = \"/4.png\";\n}else if(data.wfKor[0] == \"비/눈\"){\n    msg.img = \"/5.png\";\n}else if(data.wfKor[0] == \"눈\"){\n    msg.img = \"/6.png\";\n}else if(data.wfKor[0] == \"소나기\"){\n    msg.img = \"/7.png\";\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":460,"wires":[["4cd5c700.45c348","a1d6801.9a4d08","efca7f52.161b1","7532cd22.561e74","aa477861.d4c768","c04f6e3e.b51a6","93f5e7f4.679348","6d9721c5.16904"]]},{"id":"4cd5c700.45c348","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"시간","format":"{{payload.hour[0]}}","layout":"row-spread","x":570,"y":480,"wires":[]},{"id":"a1d6801.9a4d08","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"기온","format":"{{payload.temp[0]}}","layout":"row-spread","x":570,"y":520,"wires":[]},{"id":"efca7f52.161b1","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"날씨","format":"{{payload.wfKor[0]}}","layout":"row-spread","x":570,"y":560,"wires":[]},{"id":"7532cd22.561e74","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"강수확률","format":"{{payload.pop[0]}}","layout":"row-spread","x":580,"y":600,"wires":[]},{"id":"aa477861.d4c768","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"풍속","format":"{{payload.ws[0]}}","layout":"row-spread","x":570,"y":640,"wires":[]},{"id":"c04f6e3e.b51a6","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"풍향","format":"{{payload.wdKor[0]}}","layout":"row-spread","x":570,"y":680,"wires":[]},{"id":"93f5e7f4.679348","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{payload.reh[0]}}","layout":"row-spread","x":570,"y":720,"wires":[]},{"id":"60e2b343.f22bcc","type":"function","z":"3b7ad19f.e3bb4e","name":"","func":"var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[2];\n\nif(data.wfKor[0] == \"맑음\"){\n    msg.img = \"/1.png\";\n}else if(data.wfKor[0] == \"구름 많음\"){\n    msg.img = \"/2.png\";\n}else if(data.wfKor[0] == \"흐림\"){\n    msg.img = \"/3.png\";\n}else if(data.wfKor[0] == \"비\"){\n    msg.img = \"/4.png\";\n}else if(data.wfKor[0] == \"비/눈\"){\n    msg.img = \"/5.png\";\n}else if(data.wfKor[0] == \"눈\"){\n    msg.img = \"/6.png\";\n}else if(data.wfKor[0] == \"소나기\"){\n    msg.img = \"/7.png\";\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":760,"wires":[["9bd508ab.9c3468","84931e7.f5a62e","779b45c8.96cf4c","f56d5715.88cc38","9d2e3640.139d08","adace18c.31bc6","8ac17574.fcb3d8","f8aaf0ea.b7ef6"]]},{"id":"9bd508ab.9c3468","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"시간","format":"{{payload.hour[0]}}","layout":"row-spread","x":570,"y":760,"wires":[]},{"id":"84931e7.f5a62e","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"기온","format":"{{payload.temp[0]}}","layout":"row-spread","x":570,"y":800,"wires":[]},{"id":"779b45c8.96cf4c","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"날씨","format":"{{payload.wfKor[0]}}","layout":"row-spread","x":570,"y":840,"wires":[]},{"id":"f56d5715.88cc38","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"강수확률","format":"{{payload.pop[0]}}","layout":"row-spread","x":580,"y":880,"wires":[]},{"id":"9d2e3640.139d08","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"풍속","format":"{{payload.ws[0]}}","layout":"row-spread","x":570,"y":920,"wires":[]},{"id":"adace18c.31bc6","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"풍향","format":"{{payload.wdKor[0]}}","layout":"row-spread","x":570,"y":960,"wires":[]},{"id":"8ac17574.fcb3d8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{payload.reh[0]}}","layout":"row-spread","x":570,"y":1000,"wires":[]},{"id":"85acd143.be6b4","type":"function","z":"3b7ad19f.e3bb4e","name":"","func":"var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[3];\n\nif(data.wfKor[0] == \"맑음\"){\n    msg.img = \"/1.png\";\n}else if(data.wfKor[0] == \"구름 많음\"){\n    msg.img = \"/2.png\";\n}else if(data.wfKor[0] == \"흐림\"){\n    msg.img = \"/3.png\";\n}else if(data.wfKor[0] == \"비\"){\n    msg.img = \"/4.png\";\n}else if(data.wfKor[0] == \"비/눈\"){\n    msg.img = \"/5.png\";\n}else if(data.wfKor[0] == \"눈\"){\n    msg.img = \"/6.png\";\n}else if(data.wfKor[0] == \"소나기\"){\n    msg.img = \"/7.png\";\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1060,"wires":[["d92fd1a1.e45e6","21f93afb.d22f96","7e786d0d.df7bf4","a71351f1.7d406","29cf1b8.eca6ae4","cbbcc4dc.9aafe8","8c9aac8b.e95fd","68f985f1.121c2c"]]},{"id":"d92fd1a1.e45e6","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c7ba8c9e.b0b55","order":0,"width":0,"height":0,"name":"","label":"시간","format":"{{payload.hour[0]}}","layout":"row-spread","x":570,"y":1060,"wires":[]},{"id":"21f93afb.d22f96","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c7ba8c9e.b0b55","order":0,"width":0,"height":0,"name":"","label":"기온","format":"{{payload.temp[0]}}","layout":"row-spread","x":570,"y":1100,"wires":[]},{"id":"7e786d0d.df7bf4","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c7ba8c9e.b0b55","order":0,"width":0,"height":0,"name":"","label":"날씨","format":"{{payload.wfKor[0]}}","layout":"row-spread","x":570,"y":1140,"wires":[]},{"id":"a71351f1.7d406","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c7ba8c9e.b0b55","order":0,"width":0,"height":0,"name":"","label":"강수확률","format":"{{payload.pop[0]}}","layout":"row-spread","x":580,"y":1180,"wires":[]},{"id":"29cf1b8.eca6ae4","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c7ba8c9e.b0b55","order":0,"width":0,"height":0,"name":"","label":"풍속","format":"{{payload.ws[0]}}","layout":"row-spread","x":570,"y":1220,"wires":[]},{"id":"cbbcc4dc.9aafe8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c7ba8c9e.b0b55","order":0,"width":0,"height":0,"name":"","label":"풍향","format":"{{payload.wdKor[0]}}","layout":"row-spread","x":570,"y":1260,"wires":[]},{"id":"8c9aac8b.e95fd","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"c7ba8c9e.b0b55","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{payload.reh[0]}}","layout":"row-spread","x":570,"y":1300,"wires":[]},{"id":"55ba0867.ba73e8","type":"function","z":"3b7ad19f.e3bb4e","name":"","func":"var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[4];\n\nif(data.wfKor[0] == \"맑음\"){\n    msg.img = \"/1.png\";\n}else if(data.wfKor[0] == \"구름 많음\"){\n    msg.img = \"/2.png\";\n}else if(data.wfKor[0] == \"흐림\"){\n    msg.img = \"/3.png\";\n}else if(data.wfKor[0] == \"비\"){\n    msg.img = \"/4.png\";\n}else if(data.wfKor[0] == \"비/눈\"){\n    msg.img = \"/5.png\";\n}else if(data.wfKor[0] == \"눈\"){\n    msg.img = \"/6.png\";\n}else if(data.wfKor[0] == \"소나기\"){\n    msg.img = \"/7.png\";\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1360,"wires":[["a5d90486.0f6888","90e4dcc1.7e6b9","3328ae0c.f7b132","4ba0fbd1.8e10e4","47d7e07f.773c","cbfa918f.4f1d8","39df956c.ab65da","a9febf2e.d7c2e"]]},{"id":"a5d90486.0f6888","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"e97e673a.301ef8","order":0,"width":0,"height":0,"name":"","label":"시간","format":"{{payload.hour[0]}}","layout":"row-spread","x":570,"y":1360,"wires":[]},{"id":"90e4dcc1.7e6b9","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"e97e673a.301ef8","order":0,"width":0,"height":0,"name":"","label":"기온","format":"{{payload.temp[0]}}","layout":"row-spread","x":570,"y":1400,"wires":[]},{"id":"3328ae0c.f7b132","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"e97e673a.301ef8","order":0,"width":0,"height":0,"name":"","label":"날씨","format":"{{payload.wfKor[0]}}","layout":"row-spread","x":570,"y":1440,"wires":[]},{"id":"4ba0fbd1.8e10e4","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"e97e673a.301ef8","order":0,"width":0,"height":0,"name":"","label":"강수확률","format":"{{payload.pop[0]}}","layout":"row-spread","x":580,"y":1480,"wires":[]},{"id":"47d7e07f.773c","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"e97e673a.301ef8","order":0,"width":0,"height":0,"name":"","label":"풍속","format":"{{payload.ws[0]}}","layout":"row-spread","x":570,"y":1520,"wires":[]},{"id":"cbfa918f.4f1d8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"e97e673a.301ef8","order":0,"width":0,"height":0,"name":"","label":"풍향","format":"{{payload.wdKor[0]}}","layout":"row-spread","x":570,"y":1560,"wires":[]},{"id":"39df956c.ab65da","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"e97e673a.301ef8","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{payload.reh[0]}}","layout":"row-spread","x":570,"y":1600,"wires":[]},{"id":"596bfc3b.58a444","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"d2c6ee3.7c5191","order":0,"width":0,"height":0,"name":"","label":"시간","format":"{{payload.hour[0]}}","layout":"row-spread","x":570,"y":1660,"wires":[]},{"id":"1a753435.8e13dc","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"d2c6ee3.7c5191","order":0,"width":0,"height":0,"name":"","label":"기온","format":"{{payload.temp[0]}}","layout":"row-spread","x":570,"y":1700,"wires":[]},{"id":"6ae32254.90b47c","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"d2c6ee3.7c5191","order":0,"width":0,"height":0,"name":"","label":"날씨","format":"{{payload.wfKor[0]}}","layout":"row-spread","x":570,"y":1740,"wires":[]},{"id":"3f81c89e.f04b88","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"d2c6ee3.7c5191","order":0,"width":0,"height":0,"name":"","label":"강수확률","format":"{{payload.pop[0]}}","layout":"row-spread","x":580,"y":1780,"wires":[]},{"id":"31c5c8ca.1c4ba8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"d2c6ee3.7c5191","order":0,"width":0,"height":0,"name":"","label":"풍속","format":"{{payload.ws[0]}}","layout":"row-spread","x":570,"y":1820,"wires":[]},{"id":"155f8e37.21b302","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"d2c6ee3.7c5191","order":0,"width":0,"height":0,"name":"","label":"풍향","format":"{{payload.wdKor[0]}}","layout":"row-spread","x":570,"y":1860,"wires":[]},{"id":"86730946.4c48d8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"d2c6ee3.7c5191","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{payload.reh[0]}}","layout":"row-spread","x":570,"y":1900,"wires":[]},{"id":"b846ca57.1bc258","type":"function","z":"3b7ad19f.e3bb4e","name":"","func":"var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[5];\n\nif(data.wfKor[0] == \"맑음\"){\n    msg.img = \"/1.png\";\n}else if(data.wfKor[0] == \"구름 많음\"){\n    msg.img = \"/2.png\";\n}else if(data.wfKor[0] == \"흐림\"){\n    msg.img = \"/3.png\";\n}else if(data.wfKor[0] == \"비\"){\n    msg.img = \"/4.png\";\n}else if(data.wfKor[0] == \"비/눈\"){\n    msg.img = \"/5.png\";\n}else if(data.wfKor[0] == \"눈\"){\n    msg.img = \"/6.png\";\n}else if(data.wfKor[0] == \"소나기\"){\n    msg.img = \"/7.png\";\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1660,"wires":[["596bfc3b.58a444","1a753435.8e13dc","6ae32254.90b47c","3f81c89e.f04b88","31c5c8ca.1c4ba8","155f8e37.21b302","86730946.4c48d8","7375a2c9.866aac"]]},{"id":"e08e53c.f62efb","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"eb9519a9.7db0d8","order":0,"width":0,"height":0,"name":"","label":"시간","format":"{{payload.hour[0]}}","layout":"row-spread","x":570,"y":1960,"wires":[]},{"id":"cd11aae9.554db8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"eb9519a9.7db0d8","order":0,"width":0,"height":0,"name":"","label":"기온","format":"{{payload.temp[0]}}","layout":"row-spread","x":570,"y":2000,"wires":[]},{"id":"26fdb5cc.a2398a","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"eb9519a9.7db0d8","order":0,"width":0,"height":0,"name":"","label":"날씨","format":"{{payload.wfKor[0]}}","layout":"row-spread","x":570,"y":2040,"wires":[]},{"id":"7e829f2b.5f694","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"eb9519a9.7db0d8","order":0,"width":0,"height":0,"name":"","label":"강수확률","format":"{{payload.pop[0]}}","layout":"row-spread","x":580,"y":2080,"wires":[]},{"id":"c7ea4b3f.62b1a8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"eb9519a9.7db0d8","order":0,"width":0,"height":0,"name":"","label":"풍속","format":"{{payload.ws[0]}}","layout":"row-spread","x":570,"y":2120,"wires":[]},{"id":"4f5b1ded.17cfd4","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"eb9519a9.7db0d8","order":0,"width":0,"height":0,"name":"","label":"풍향","format":"{{payload.wdKor[0]}}","layout":"row-spread","x":570,"y":2160,"wires":[]},{"id":"59208fa3.ca19e","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"eb9519a9.7db0d8","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{payload.reh[0]}}","layout":"row-spread","x":570,"y":2200,"wires":[]},{"id":"e5b619e7.b54ae8","type":"function","z":"3b7ad19f.e3bb4e","name":"","func":"var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[6];\n\nif(data.wfKor[0] == \"맑음\"){\n    msg.img = \"/1.png\";\n}else if(data.wfKor[0] == \"구름 많음\"){\n    msg.img = \"/2.png\";\n}else if(data.wfKor[0] == \"흐림\"){\n    msg.img = \"/3.png\";\n}else if(data.wfKor[0] == \"비\"){\n    msg.img = \"/4.png\";\n}else if(data.wfKor[0] == \"비/눈\"){\n    msg.img = \"/5.png\";\n}else if(data.wfKor[0] == \"눈\"){\n    msg.img = \"/6.png\";\n}else if(data.wfKor[0] == \"소나기\"){\n    msg.img = \"/7.png\";\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1960,"wires":[["e08e53c.f62efb","cd11aae9.554db8","26fdb5cc.a2398a","7e829f2b.5f694","c7ea4b3f.62b1a8","4f5b1ded.17cfd4","59208fa3.ca19e","89d95d0.6d67ba"]]},{"id":"65fafdce.7aa224","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"48847c40.92f074","order":0,"width":0,"height":0,"name":"","label":"시간","format":"{{payload.hour[0]}}","layout":"row-spread","x":570,"y":2260,"wires":[]},{"id":"e6bb1a37.0c9808","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"48847c40.92f074","order":0,"width":0,"height":0,"name":"","label":"기온","format":"{{payload.temp[0]}}","layout":"row-spread","x":570,"y":2300,"wires":[]},{"id":"df50fab8.4368b8","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"48847c40.92f074","order":0,"width":0,"height":0,"name":"","label":"날씨","format":"{{payload.wfKor[0]}}","layout":"row-spread","x":570,"y":2340,"wires":[]},{"id":"8c78c56b.99f978","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"48847c40.92f074","order":0,"width":0,"height":0,"name":"","label":"강수확률","format":"{{payload.pop[0]}}","layout":"row-spread","x":580,"y":2380,"wires":[]},{"id":"4b633231.4ae56c","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"48847c40.92f074","order":0,"width":0,"height":0,"name":"","label":"풍속","format":"{{payload.ws[0]}}","layout":"row-spread","x":570,"y":2420,"wires":[]},{"id":"abbc1ed9.a3581","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"48847c40.92f074","order":0,"width":0,"height":0,"name":"","label":"풍향","format":"{{payload.wdKor[0]}}","layout":"row-spread","x":570,"y":2460,"wires":[]},{"id":"ecb31a18.ebda48","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"48847c40.92f074","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{payload.reh[0]}}","layout":"row-spread","x":570,"y":2500,"wires":[]},{"id":"a9dc57dd.fd04e8","type":"function","z":"3b7ad19f.e3bb4e","name":"","func":"var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[7];\n\nif(data.wfKor[0] == \"맑음\"){\n    msg.img = \"/1.png\";\n}else if(data.wfKor[0] == \"구름 많음\"){\n    msg.img = \"/2.png\";\n}else if(data.wfKor[0] == \"흐림\"){\n    msg.img = \"/3.png\";\n}else if(data.wfKor[0] == \"비\"){\n    msg.img = \"/4.png\";\n}else if(data.wfKor[0] == \"비/눈\"){\n    msg.img = \"/5.png\";\n}else if(data.wfKor[0] == \"눈\"){\n    msg.img = \"/6.png\";\n}else if(data.wfKor[0] == \"소나기\"){\n    msg.img = \"/7.png\";\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2260,"wires":[["65fafdce.7aa224","e6bb1a37.0c9808","df50fab8.4368b8","8c78c56b.99f978","4b633231.4ae56c","abbc1ed9.a3581","ecb31a18.ebda48","2ef26002.73cf9"]]},{"id":"c859b741.8d7d18","type":"ui_template","z":"3b7ad19f.e3bb4e","group":"30b5144.689caec","name":"","order":7,"width":"3","height":"3","format":"<img src=\"{{msg.img}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":120,"wires":[[]]},{"id":"6d9721c5.16904","type":"ui_template","z":"3b7ad19f.e3bb4e","group":"91f945bf.3f26b8","name":"","order":7,"width":"3","height":"3","format":"<img src=\"{{msg.img}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":440,"wires":[[]]},{"id":"f8aaf0ea.b7ef6","type":"ui_template","z":"3b7ad19f.e3bb4e","group":"c64ab8d6.5e1f38","name":"","order":7,"width":"3","height":"3","format":"<img src=\"{{msg.img}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":740,"wires":[[]]},{"id":"68f985f1.121c2c","type":"ui_template","z":"3b7ad19f.e3bb4e","group":"c7ba8c9e.b0b55","name":"","order":7,"width":"3","height":"3","format":"<img src=\"{{msg.img}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":1040,"wires":[[]]},{"id":"a9febf2e.d7c2e","type":"ui_template","z":"3b7ad19f.e3bb4e","group":"e97e673a.301ef8","name":"","order":7,"width":"3","height":"3","format":"<img src=\"{{msg.img}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":1340,"wires":[[]]},{"id":"7375a2c9.866aac","type":"ui_template","z":"3b7ad19f.e3bb4e","group":"d2c6ee3.7c5191","name":"","order":7,"width":"3","height":"3","format":"<img src=\"{{msg.img}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":1640,"wires":[[]]},{"id":"89d95d0.6d67ba","type":"ui_template","z":"3b7ad19f.e3bb4e","group":"eb9519a9.7db0d8","name":"","order":7,"width":"3","height":"3","format":"<img src=\"{{msg.img}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":1940,"wires":[[]]},{"id":"2ef26002.73cf9","type":"ui_template","z":"3b7ad19f.e3bb4e","group":"48847c40.92f074","name":"","order":7,"width":"3","height":"3","format":"<img src=\"{{msg.img}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":2240,"wires":[[]]},{"id":"7cc55776.2edc18","type":"ui_form","z":"3b7ad19f.e3bb4e","name":"","label":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"options":[{"label":"지역ID","value":"zone","type":"text","required":true,"rows":null}],"formValue":{"zone":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":90,"y":40,"wires":[[]]},{"id":"bdd2e9.80df4d18","type":"ui_text","z":"3b7ad19f.e3bb4e","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload.rss.channel[0].item[0].category[0]}}","layout":"row-spread","x":340,"y":1840,"wires":[]},{"id":"c1023af7.caa2f8","type":"function","z":"3b7ad19f.e3bb4e","name":"","func":"var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[3];\n\nvar out = {\"hour\":data.hour[0],\"wfKor\":data.wfEn[0],\"temp\":data.temp[0]};\n\n//msg.payload = {\"out1\":out1,\"out2\":out2,\"out3\":out3,\"out4\":out4,\"out5\":out5,\"out6\":out6,\"out7\":out7,\"out8\":out8};\nmsg.payload = out;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":2400,"wires":[["c7790f94.9f789"]]},{"id":"c7790f94.9f789","type":"json","z":"3b7ad19f.e3bb4e","name":"","property":"payload","action":"","pretty":false,"x":260,"y":2480,"wires":[["81336a6c.6ac018"]]},{"id":"81336a6c.6ac018","type":"serial out","z":"3b7ad19f.e3bb4e","name":"","serial":"ebcc379f.d04a68","x":460,"y":2600,"wires":[]},{"id":"e2c1c14a.de05e","type":"ui_button","z":"3b7ad19f.e3bb4e","name":"","group":"dcdc0d14.9c98e","order":2,"width":0,"height":0,"passthru":false,"label":"강릉시/구정면","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4215033000","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":80,"wires":[["57bb34a3.43f08c"]]},{"id":"c72e6eed.b8f5f","type":"ui_button","z":"3b7ad19f.e3bb4e","name":"","group":"dcdc0d14.9c98e","order":2,"width":0,"height":0,"passthru":false,"label":"부산/강서구/녹산동","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2644056000","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":120,"wires":[["57bb34a3.43f08c"]]},{"id":"36c5fe4.3146202","type":"ui_button","z":"3b7ad19f.e3bb4e","name":"","group":"dcdc0d14.9c98e","order":2,"width":0,"height":0,"passthru":false,"label":"제주/서귀포시/표선면","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5013032000","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":160,"wires":[["57bb34a3.43f08c"]]},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":4,"disp":true,"width":"6","collapse":false},{"id":"c7ba8c9e.b0b55","type":"ui_group","name":"Group 4","tab":"b6ba72ff.7f52","order":5,"disp":true,"width":"6","collapse":false},{"id":"e97e673a.301ef8","type":"ui_group","name":"Group 5","tab":"b6ba72ff.7f52","order":6,"disp":true,"width":"6","collapse":false},{"id":"d2c6ee3.7c5191","type":"ui_group","name":"Group 6","tab":"b6ba72ff.7f52","order":7,"disp":true,"width":"6","collapse":false},{"id":"eb9519a9.7db0d8","type":"ui_group","name":"Group 7","tab":"b6ba72ff.7f52","order":8,"disp":true,"width":6},{"id":"48847c40.92f074","type":"ui_group","name":"Group 8","tab":"b6ba72ff.7f52","order":9,"disp":true,"width":6},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]