397/397-4(노드레드서버).txt
[{"id":"9f6400e0.fb3f6","type":"socketio-in","z":"e03be621.b7d748","name":"","server":"c5dd5096.196f4","rules":[{"v":"upload"}],"x":410,"y":180,"wires":[["3ce27467.aa3d7c"]]},{"id":"3ce27467.aa3d7c","type":"switch","z":"e03be621.b7d748","name":"비닐하우스별분리","property":"payload.device_id","propertyType":"msg","rules":[{"t":"eq","v":"비닐하우스1동001번","vt":"str"},{"t":"eq","v":"비닐하우스1동002번","vt":"str"},{"t":"eq","v":"비닐하우스1동003번","vt":"str"},{"t":"eq","v":"비닐하우스1동004번","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":280,"wires":[["2eeda71b.a816f8","240f46a5.ac702a"],["81e73f28.4fe36","784ae781.b629c8","2100c38e.a6134c","6ddd82d1.397b4c"],["11f9a97e.d4d417","d464cb38.958d38","a53e4c78.79847","f27ecbde.5346e8"],["d2bffc85.6f85a","e647d156.46ef2","f60ecbb1.2625e8","b4882cef.ad559","ec3db880.919c18","a638ca3a.703c88"]]},{"id":"2eeda71b.a816f8","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":1,"width":0,"height":0,"name":"","label":"비닐하우스1동001호 광센서값","format":"{{msg.payload.cds}}","layout":"row-spread","className":"","x":890,"y":220,"wires":[]},{"id":"81e73f28.4fe36","type":"ui_text","z":"e03be621.b7d748","group":"9c2bb4e6.01d708","order":1,"width":0,"height":0,"name":"","label":"비닐하우스1동002호 습도값","format":"{{msg.payload.humi}}","layout":"row-spread","className":"","x":880,"y":380,"wires":[]},{"id":"11f9a97e.d4d417","type":"ui_text","z":"e03be621.b7d748","group":"4ac94e5d.efbcd","order":1,"width":0,"height":0,"name":"","label":"비닐하우스1동003호 Co2농도","format":"{{msg.payload.co2}}","layout":"row-spread","className":"","x":890,"y":560,"wires":[]},{"id":"d2bffc85.6f85a","type":"ui_text","z":"e03be621.b7d748","group":"8cb24cb5.15088","order":1,"width":0,"height":0,"name":"","label":"비닐하우스1동004호 PM10","format":"{{msg.payload.PM10}}","layout":"row-spread","className":"","x":880,"y":780,"wires":[]},{"id":"240f46a5.ac702a","type":"ui_gauge","z":"e03be621.b7d748","name":"","group":"aa2634f1.1bbfd8","order":2,"width":0,"height":0,"gtype":"donut","title":"광센서값","label":"units","format":"{{msg.payload.cds}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":820,"y":180,"wires":[]},{"id":"784ae781.b629c8","type":"ui_text","z":"e03be621.b7d748","group":"9c2bb4e6.01d708","order":2,"width":0,"height":0,"name":"","label":"비닐하우스1동002호 온도값","format":"{{msg.payload.temp}}","layout":"row-spread","className":"","x":880,"y":420,"wires":[]},{"id":"2100c38e.a6134c","type":"ui_gauge","z":"e03be621.b7d748","name":"","group":"9c2bb4e6.01d708","order":3,"width":0,"height":0,"gtype":"donut","title":"습도값","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":810,"y":300,"wires":[]},{"id":"6ddd82d1.397b4c","type":"ui_gauge","z":"e03be621.b7d748","name":"","group":"9c2bb4e6.01d708","order":5,"width":0,"height":0,"gtype":"donut","title":"온도값","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":810,"y":340,"wires":[]},{"id":"d464cb38.958d38","type":"ui_text","z":"e03be621.b7d748","group":"4ac94e5d.efbcd","order":2,"width":0,"height":0,"name":"","label":"비닐하우스1동003호 온도값","format":"{{msg.payload.temp}}","layout":"row-spread","className":"","x":880,"y":600,"wires":[]},{"id":"a53e4c78.79847","type":"ui_gauge","z":"e03be621.b7d748","name":"","group":"4ac94e5d.efbcd","order":3,"width":0,"height":0,"gtype":"donut","title":"Co2농도","label":"PPM","format":"{{msg.payload.co2}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":820,"y":480,"wires":[]},{"id":"f27ecbde.5346e8","type":"ui_gauge","z":"e03be621.b7d748","name":"","group":"4ac94e5d.efbcd","order":5,"width":0,"height":0,"gtype":"donut","title":"온도값","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":810,"y":520,"wires":[]},{"id":"e647d156.46ef2","type":"ui_text","z":"e03be621.b7d748","group":"8cb24cb5.15088","order":2,"width":0,"height":0,"name":"","label":"비닐하우스1동004호 PM25","format":"{{msg.payload.PM25}}","layout":"row-spread","className":"","x":880,"y":820,"wires":[]},{"id":"f60ecbb1.2625e8","type":"ui_text","z":"e03be621.b7d748","group":"8cb24cb5.15088","order":3,"width":0,"height":0,"name":"","label":"비닐하우스1동004호 PM100","format":"{{msg.payload.PM100}}","layout":"row-spread","className":"","x":880,"y":860,"wires":[]},{"id":"b4882cef.ad559","type":"ui_gauge","z":"e03be621.b7d748","name":"","group":"8cb24cb5.15088","order":4,"width":0,"height":0,"gtype":"donut","title":"PM1.0","label":"ug/m3","format":"{{msg.payload.PM10}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":810,"y":660,"wires":[]},{"id":"ec3db880.919c18","type":"ui_gauge","z":"e03be621.b7d748","name":"","group":"8cb24cb5.15088","order":6,"width":0,"height":0,"gtype":"donut","title":"PM2.5","label":"ug/m3","format":"{{msg.payload.PM25}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":810,"y":700,"wires":[]},{"id":"a638ca3a.703c88","type":"ui_gauge","z":"e03be621.b7d748","name":"","group":"8cb24cb5.15088","order":8,"width":0,"height":0,"gtype":"donut","title":"PM10.0","label":"ug/m3","format":"{{msg.payload.PM100}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":820,"y":740,"wires":[]},{"id":"c5dd5096.196f4","type":"socketio-config","port":"60000","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"보드1번","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":5,"collapse":false,"className":""},{"id":"9c2bb4e6.01d708","type":"ui_group","name":"보드2번","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":5,"collapse":false,"className":""},{"id":"4ac94e5d.efbcd","type":"ui_group","name":"보드3번","tab":"d25c9cdc.bf5cd","order":3,"disp":true,"width":5,"collapse":false,"className":""},{"id":"8cb24cb5.15088","type":"ui_group","name":"보드4번","tab":"d25c9cdc.bf5cd","order":4,"disp":true,"width":5,"collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false}]