397/397-1(노드레드서버).txt
[{"id":"f22b0b32.443328","type":"socketio-in","z":"e03be621.b7d748","name":"","server":"c5dd5096.196f4","rules":[{"v":"upload"}],"x":190,"y":220,"wires":[["f8080381.ad3f9","c7ea767.4d28c88","1ed22851.4f7298","dc2ed63c.37d4a8","73f0f083.6e30f"]]},{"id":"f8080381.ad3f9","type":"debug","z":"e03be621.b7d748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":220,"wires":[]},{"id":"c7ea767.4d28c88","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"이름","format":"{{msg.payload.name}}","layout":"row-spread","className":"","x":410,"y":260,"wires":[]},{"id":"1ed22851.4f7298","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"나이","format":"{{msg.payload.age}}","layout":"row-spread","className":"","x":410,"y":300,"wires":[]},{"id":"dc2ed63c.37d4a8","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"성별","format":"{{msg.payload.gender}}","layout":"row-spread","className":"","x":410,"y":340,"wires":[]},{"id":"73f0f083.6e30f","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"취미","format":"{{msg.payload.hobby}}","layout":"row-spread","className":"","x":410,"y":380,"wires":[]},{"id":"c5dd5096.196f4","type":"socketio-config","port":"60000","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"클라이언트리스트","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false}]