397/397-3(노드레드서버).txt
[{"id":"f22b0b32.443328","type":"socketio-in","z":"e03be621.b7d748","name":"","server":"c5dd5096.196f4","rules":[{"v":"upload"},{"v":"sending"}],"x":90,"y":340,"wires":[["d573b29.be49d5","e5725ece.294f1"]]},{"id":"a85c7456.178b78","type":"switch","z":"e03be621.b7d748","name":"비닐하우스별분리","property":"payload.device_id","propertyType":"msg","rules":[{"t":"eq","v":"비닐하우스1동001번","vt":"str"},{"t":"eq","v":"비닐하우스1동002번","vt":"str"},{"t":"eq","v":"비닐하우스1동003번","vt":"str"},{"t":"eq","v":"비닐하우스1동004번","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":80,"wires":[["a43dbdac.88418","e5911580.fcdf78"],["71cd6185.5d11e","638f7e21.e9bd9"],["efa9ef47.8f4be","ddbfcdbe.17bcf"],["4de04b27.1f4ed4","3eb72101.d0e43e"]]},{"id":"a43dbdac.88418","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":2,"width":0,"height":0,"name":"","label":"비닐하우스1동001호 광센서값","format":"{{msg.payload.cds}}","layout":"row-spread","className":"","x":930,"y":20,"wires":[]},{"id":"71cd6185.5d11e","type":"ui_text","z":"e03be621.b7d748","group":"9c2bb4e6.01d708","order":2,"width":0,"height":0,"name":"","label":"비닐하우스1동002호 광센서값","format":"{{msg.payload.cds}}","layout":"row-spread","className":"","x":940,"y":60,"wires":[]},{"id":"efa9ef47.8f4be","type":"ui_text","z":"e03be621.b7d748","group":"4ac94e5d.efbcd","order":2,"width":0,"height":0,"name":"","label":"비닐하우스1동003호 광센서값","format":"{{msg.payload.cds}}","layout":"row-spread","className":"","x":940,"y":100,"wires":[]},{"id":"4de04b27.1f4ed4","type":"ui_text","z":"e03be621.b7d748","group":"8cb24cb5.15088","order":2,"width":0,"height":0,"name":"","label":"비닐하우스1동004호 광센서값","format":"{{msg.payload.cds}}","layout":"row-spread","className":"","x":940,"y":140,"wires":[]},{"id":"d573b29.be49d5","type":"switch","z":"e03be621.b7d748","name":"이벤트에따라서분리하겠다","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"upload","vt":"str"},{"t":"eq","v":"sending","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":340,"wires":[["a85c7456.178b78"],["654455a9.b28d8c"]]},{"id":"654455a9.b28d8c","type":"switch","z":"e03be621.b7d748","name":"비닐하우스별분리","property":"payload.device_id","propertyType":"msg","rules":[{"t":"eq","v":"비닐하우스1동001번","vt":"str"},{"t":"eq","v":"비닐하우스1동002번","vt":"str"},{"t":"eq","v":"비닐하우스1동003번","vt":"str"},{"t":"eq","v":"비닐하우스1동004번","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":260,"wires":[["364f69d0.675f66"],["6e2989e7.310c28"],["ec86dc08.9c59a"],["19d8c537.d5ca9b"]]},{"id":"74dafa6f.a2ffd4","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":1,"width":0,"height":0,"name":"","label":"비닐하우스1동001호 상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1130,"y":340,"wires":[]},{"id":"364f69d0.675f66","type":"change","z":"e03be621.b7d748","name":"측정중","rules":[{"t":"set","p":"payload","pt":"msg","to":"측정중","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":420,"wires":[["74dafa6f.a2ffd4"]]},{"id":"e5911580.fcdf78","type":"change","z":"e03be621.b7d748","name":"측정완료","rules":[{"t":"set","p":"payload","pt":"msg","to":"측정완료","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":200,"wires":[["74dafa6f.a2ffd4"]]},{"id":"e5725ece.294f1","type":"debug","z":"e03be621.b7d748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":140,"wires":[]},{"id":"638f7e21.e9bd9","type":"change","z":"e03be621.b7d748","name":"측정완료","rules":[{"t":"set","p":"payload","pt":"msg","to":"측정완료","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":240,"wires":[["292484ed.6ef5fc"]]},{"id":"ddbfcdbe.17bcf","type":"change","z":"e03be621.b7d748","name":"측정완료","rules":[{"t":"set","p":"payload","pt":"msg","to":"측정완료","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":280,"wires":[["af8247cf.433e58"]]},{"id":"3eb72101.d0e43e","type":"change","z":"e03be621.b7d748","name":"측정완료","rules":[{"t":"set","p":"payload","pt":"msg","to":"측정완료","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":320,"wires":[["46a3306.94fc7d"]]},{"id":"292484ed.6ef5fc","type":"ui_text","z":"e03be621.b7d748","group":"9c2bb4e6.01d708","order":1,"width":0,"height":0,"name":"","label":"비닐하우스1동002호 상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1130,"y":380,"wires":[]},{"id":"af8247cf.433e58","type":"ui_text","z":"e03be621.b7d748","group":"4ac94e5d.efbcd","order":1,"width":0,"height":0,"name":"","label":"비닐하우스1동003호 상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1130,"y":420,"wires":[]},{"id":"46a3306.94fc7d","type":"ui_text","z":"e03be621.b7d748","group":"8cb24cb5.15088","order":1,"width":0,"height":0,"name":"","label":"비닐하우스1동004호 상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1130,"y":460,"wires":[]},{"id":"6e2989e7.310c28","type":"change","z":"e03be621.b7d748","name":"측정중","rules":[{"t":"set","p":"payload","pt":"msg","to":"측정중","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":460,"wires":[["292484ed.6ef5fc"]]},{"id":"ec86dc08.9c59a","type":"change","z":"e03be621.b7d748","name":"측정중","rules":[{"t":"set","p":"payload","pt":"msg","to":"측정중","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":500,"wires":[["af8247cf.433e58"]]},{"id":"19d8c537.d5ca9b","type":"change","z":"e03be621.b7d748","name":"측정중","rules":[{"t":"set","p":"payload","pt":"msg","to":"측정중","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[["46a3306.94fc7d"]]},{"id":"3fff82d9.b0bc7e","type":"ui_button","z":"e03be621.b7d748","name":"","group":"aa2634f1.1bbfd8","order":2,"width":0,"height":0,"passthru":false,"label":"비닐하우스1동001번","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"비닐하우스1동001번","payloadType":"str","topic":"topic","topicType":"msg","x":480,"y":620,"wires":[["e3127c5d.2d58b"]]},{"id":"e3127c5d.2d58b","type":"change","z":"e03be621.b7d748","name":"서버메시지","rules":[{"t":"set","p":"socketIOEvent","pt":"msg","to":"server_msg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":620,"wires":[["bb34b75b.3f8728"]]},{"id":"bb34b75b.3f8728","type":"socketio-out","z":"e03be621.b7d748","name":"","server":"c5dd5096.196f4","x":920,"y":620,"wires":[]},{"id":"b014aec8.61f09","type":"ui_button","z":"e03be621.b7d748","name":"","group":"9c2bb4e6.01d708","order":3,"width":0,"height":0,"passthru":false,"label":"비닐하우스1동002번","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"비닐하우스1동002번","payloadType":"str","topic":"topic","topicType":"msg","x":480,"y":660,"wires":[["e3127c5d.2d58b"]]},{"id":"622ec501.442e1c","type":"ui_button","z":"e03be621.b7d748","name":"","group":"4ac94e5d.efbcd","order":3,"width":0,"height":0,"passthru":false,"label":"비닐하우스1동003번","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"비닐하우스1동003번","payloadType":"str","topic":"topic","topicType":"msg","x":480,"y":700,"wires":[["e3127c5d.2d58b"]]},{"id":"2855c5f5.b738aa","type":"ui_button","z":"e03be621.b7d748","name":"","group":"8cb24cb5.15088","order":3,"width":0,"height":0,"passthru":false,"label":"비닐하우스1동004번","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"비닐하우스1동004번","payloadType":"str","topic":"topic","topicType":"msg","x":480,"y":740,"wires":[["e3127c5d.2d58b"]]},{"id":"d664e331.1c932","type":"ui_button","z":"e03be621.b7d748","name":"","group":"51ce6aa1.620754","order":2,"width":0,"height":0,"passthru":false,"label":"전부다가져와라!","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"전부다","payloadType":"str","topic":"topic","topicType":"msg","x":460,"y":780,"wires":[["e3127c5d.2d58b"]]},{"id":"c5dd5096.196f4","type":"socketio-config","port":"60000","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"보드1번","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9c2bb4e6.01d708","type":"ui_group","name":"보드2번","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4ac94e5d.efbcd","type":"ui_group","name":"보드3번","tab":"d25c9cdc.bf5cd","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8cb24cb5.15088","type":"ui_group","name":"보드4번","tab":"d25c9cdc.bf5cd","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"51ce6aa1.620754","type":"ui_group","name":"녹칸다의 컨트롤 패널","tab":"d25c9cdc.bf5cd","order":6,"disp":false,"width":"10","collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false}]