397/397-2(노드레드서버).txt
[{"id":"f22b0b32.443328","type":"socketio-in","z":"e03be621.b7d748","name":"","server":"c5dd5096.196f4","rules":[{"v":"upload"}],"x":190,"y":220,"wires":[["a85c7456.178b78"]]},{"id":"a85c7456.178b78","type":"switch","z":"e03be621.b7d748","name":"비닐하우스별분리","property":"payload.device_id","propertyType":"msg","rules":[{"t":"eq","v":"비닐하우스1동001번","vt":"str"},{"t":"eq","v":"비닐하우스1동002번","vt":"str"},{"t":"eq","v":"비닐하우스1동003번","vt":"str"},{"t":"eq","v":"비닐하우스1동004번","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":320,"wires":[["a43dbdac.88418"],["71cd6185.5d11e"],["efa9ef47.8f4be"],["4de04b27.1f4ed4"]]},{"id":"a43dbdac.88418","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"비닐하우스1동001호 광센서값","format":"{{msg.payload.cds}}","layout":"row-spread","className":"","x":660,"y":280,"wires":[]},{"id":"71cd6185.5d11e","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"비닐하우스1동002호 광센서값","format":"{{msg.payload.cds}}","layout":"row-spread","className":"","x":670,"y":320,"wires":[]},{"id":"efa9ef47.8f4be","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"비닐하우스1동003호 광센서값","format":"{{msg.payload.cds}}","layout":"row-spread","className":"","x":670,"y":360,"wires":[]},{"id":"4de04b27.1f4ed4","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":0,"width":0,"height":0,"name":"","label":"비닐하우스1동004호 광센서값","format":"{{msg.payload.cds}}","layout":"row-spread","className":"","x":670,"y":400,"wires":[]},{"id":"c5dd5096.196f4","type":"socketio-config","port":"60000","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"클라이언트리스트","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false}]