284/284-1-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"580d3dc4.379194","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/board1","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":170,"y":180,"wires":[["e5243631.922148"]]},{"id":"e5243631.922148","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":180,"wires":[]},{"id":"bf4e6161.6230f","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"passthru":false,"label":"DC모터야 켜져라!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":260,"wires":[["bab1a390.ae1a"]]},{"id":"43acdfae.f2d02","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"passthru":false,"label":"DC모터야 꺼져라!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":300,"wires":[["bab1a390.ae1a"]]},{"id":"bab1a390.ae1a","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/relay","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":460,"y":260,"wires":[]},{"id":"dc53057f.946008","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/rpm","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":200,"y":400,"wires":[["fd285e8.219f6a","518a729a.2a29cc","5901403.5e1cbc"]]},{"id":"fd285e8.219f6a","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"모터RPM","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":440,"wires":[]},{"id":"518a729a.2a29cc","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"gtype":"gage","title":"모터RPM","label":"RPM","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":400,"wires":[]},{"id":"5901403.5e1cbc","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"30","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":420,"y":360,"wires":[[]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]