266/266-2-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"63c7a76.4894d58","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":70,"y":300,"wires":[["a0abf894.651eb8"]]},{"id":"be782478.13ff68","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":1,"width":0,"height":0,"name":"","label":"BUTTON1","format":"{{msg.payload.btn1}}","layout":"row-spread","x":450,"y":140,"wires":[]},{"id":"d92b8beb.9f34d8","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":1,"width":0,"height":0,"name":"","label":"BUTTON2","format":"{{msg.payload.btn2}}","layout":"row-spread","x":450,"y":180,"wires":[]},{"id":"111b20c4.f5357f","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":1,"width":0,"height":0,"name":"","label":"BUTTON3","format":"{{msg.payload.btn3}}","layout":"row-spread","x":450,"y":220,"wires":[]},{"id":"7abf30fa.c0772","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":1,"width":0,"height":0,"name":"","label":"BUTTON4","format":"{{msg.payload.btn4}}","layout":"row-spread","x":450,"y":260,"wires":[]},{"id":"a0abf894.651eb8","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":250,"y":300,"wires":[["be782478.13ff68","d92b8beb.9f34d8","111b20c4.f5357f","7abf30fa.c0772","c87bd3c2.f38a8","14cd96be.00ee09","cb4ed3da.37cbf","7893c54e.a94bec"]]},{"id":"c87bd3c2.f38a8","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.btn1}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":300,"wires":[]},{"id":"14cd96be.00ee09","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.btn2}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":340,"wires":[]},{"id":"cb4ed3da.37cbf","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.btn3}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":380,"wires":[]},{"id":"7893c54e.a94bec","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.btn4}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":420,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]