266/266-1-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"3a5184a3.695c9c","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":430,"y":260,"wires":[]},{"id":"c454f4c1.0a1028","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":150,"y":640,"wires":[["7dde149d.d6873c"]]},{"id":"7dde149d.d6873c","type":"debug","z":"d4fe52b8.55a31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":620,"wires":[]},{"id":"1b41a8df.c5b717","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"LED1 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"num\":\"1\",\"set\":\"on\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":20,"wires":[["3a5184a3.695c9c"]]},{"id":"7686fab1.4fc0e4","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"LED1 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"num\":\"1\",\"set\":\"off\"}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":60,"wires":[["3a5184a3.695c9c"]]},{"id":"676621a2.2afbb","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"LED2 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"num\":\"2\",\"set\":\"off\"}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":140,"wires":[["3a5184a3.695c9c"]]},{"id":"e46ca45a.053778","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"LED2 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"num\":\"2\",\"set\":\"on\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":100,"wires":[["3a5184a3.695c9c"]]},{"id":"1e5326b0.8c8879","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"LED3 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"num\":\"3\",\"set\":\"on\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":180,"wires":[["3a5184a3.695c9c"]]},{"id":"98552a58.40e8a8","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"LED3 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"num\":\"3\",\"set\":\"off\"}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":220,"wires":[["3a5184a3.695c9c"]]},{"id":"fb63aefa.d05e9","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"LED4 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"num\":\"4\",\"set\":\"on\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":260,"wires":[["3a5184a3.695c9c"]]},{"id":"fee3fd3b.abac6","type":"ui_button","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"LED4 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"num\":\"4\",\"set\":\"off\"}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":300,"wires":[["3a5184a3.695c9c"]]},{"id":"89d97e0b.d4572","type":"ui_switch","z":"d4fe52b8.55a31","name":"","label":"LED1 SW","tooltip":"","group":"30b5144.689caec","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"{\"num\":\"1\",\"set\":\"on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"num\":\"1\",\"set\":\"off\"}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":200,"y":340,"wires":[["3a5184a3.695c9c"]]},{"id":"716e6769.bcfa68","type":"ui_switch","z":"d4fe52b8.55a31","name":"","label":"LED2 SW","tooltip":"","group":"30b5144.689caec","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"{\"num\":\"2\",\"set\":\"on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"num\":\"2\",\"set\":\"off\"}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":200,"y":380,"wires":[["3a5184a3.695c9c"]]},{"id":"e16a56b3.e9daa8","type":"ui_switch","z":"d4fe52b8.55a31","name":"","label":"LED3 SW","tooltip":"","group":"30b5144.689caec","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"{\"num\":\"3\",\"set\":\"on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"num\":\"3\",\"set\":\"off\"}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":200,"y":420,"wires":[["3a5184a3.695c9c"]]},{"id":"6c035df8.a244d4","type":"ui_switch","z":"d4fe52b8.55a31","name":"","label":"LED4 SW","tooltip":"","group":"30b5144.689caec","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"{\"num\":\"4\",\"set\":\"on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"num\":\"4\",\"set\":\"off\"}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":200,"y":460,"wires":[["3a5184a3.695c9c"]]},{"id":"72819abc.216634","type":"ui_switch","z":"d4fe52b8.55a31","name":"","label":"LED ALL SW","tooltip":"","group":"30b5144.689caec","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"{\"num\":\"all\",\"set\":\"on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"num\":\"all\",\"set\":\"off\"}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":190,"y":520,"wires":[["3a5184a3.695c9c"]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]