265/265-2-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"5e41ee96.fb5c9","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":410,"y":260,"wires":[]},{"id":"1b41f988.4dc7a6","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":120,"wires":[]},{"id":"63c7a76.4894d58","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":140,"y":420,"wires":[["6252fa.3be92d08","be782478.13ff68"]]},{"id":"6252fa.3be92d08","type":"debug","z":"d4fe52b8.55a31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":480,"wires":[]},{"id":"460a4a0e.622484","type":"ui_switch","z":"d4fe52b8.55a31","name":"","label":"switch","tooltip":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":160,"y":220,"wires":[["1b41f988.4dc7a6","5e41ee96.fb5c9"]]},{"id":"be782478.13ff68","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":380,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]