265/265-1-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"5abeabdc.e55874","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":90,"y":200,"wires":[["3fc73148.725ffe","6baf417.48bd5c"]]},{"id":"dd593114.aa3c","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"센서1","format":"{{msg.payload.sensor1}}","layout":"row-spread","x":450,"y":100,"wires":[]},{"id":"b88e862e.a6a6b8","type":"serial out","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":430,"y":500,"wires":[]},{"id":"db0ac5e0.10b7d8","type":"ui_switch","z":"d4fe52b8.55a31","name":"","label":"switch","tooltip":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":160,"y":520,"wires":[["b88e862e.a6a6b8"]]},{"id":"3fc73148.725ffe","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":250,"y":300,"wires":[["dd593114.aa3c","4e7c1927.d61978","98c2c634.a4bb98","bc4c8e3f.32549","8bdee71d.9bf4a8","7cda66cc.fc4768"]]},{"id":"4e7c1927.d61978","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"센서2","format":"{{msg.payload.sensor2}}","layout":"row-spread","x":450,"y":180,"wires":[]},{"id":"98c2c634.a4bb98","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"센서3","format":"{{msg.payload.sensor3}}","layout":"row-spread","x":450,"y":260,"wires":[]},{"id":"6baf417.48bd5c","type":"debug","z":"d4fe52b8.55a31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":80,"wires":[]},{"id":"bc4c8e3f.32549","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.sensor1}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":140,"wires":[]},{"id":"8bdee71d.9bf4a8","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.sensor2}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":220,"wires":[]},{"id":"7cda66cc.fc4768","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.sensor3}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":300,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]