274/274-2-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"b6e706fb.d87648","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":160,"y":220,"wires":[["f9330708.08a668","1ed3c564.7d14bb","cf7b6c81.94119"]]},{"id":"f9330708.08a668","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"체중","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":200,"wires":[]},{"id":"1ed3c564.7d14bb","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"gtype":"gage","title":"디지털체중계","label":"kg","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":120,"wires":[]},{"id":"cf7b6c81.94119","type":"ui_chart","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"30","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":280,"wires":[[]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"AmbientTemp('C)","tab":"b6ba72ff.7f52","order":1,"disp":false,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]