282/282-3-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"785d7558.24240c","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/dot1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":360,"y":120,"wires":[]},{"id":"3ff76346.a8fb9c","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"화장실1번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[64,67,112,35,248,1,113,17,3,162,186,162,163,0,0,224,144,16,28,16,144,0,0,0,0,240,158,146,130,130,206,120]","payloadType":"bin","topic":"topic","topicType":"msg","x":120,"y":60,"wires":[["785d7558.24240c"]]},{"id":"883d4732.c9ed68","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"화장실2번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[123,10,10,3,120,19,16,0,192,15,1,129,129,225,7,0,0,30,19,17,24,6,131,0,0,28,52,196,140,56,224,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":120,"y":100,"wires":[["785d7558.24240c"]]},{"id":"98735186.bf2fd","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"화장실3번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[0,0,32,32,32,32,63,2,0,0,0,0,0,0,224,0,0,0,0,0,252,4,4,4,0,16,16,16,16,16,16,16]","payloadType":"bin","topic":"topic","topicType":"msg","x":120,"y":140,"wires":[["785d7558.24240c"]]},{"id":"f331e235.d958e","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/dot2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":360,"y":280,"wires":[]},{"id":"47ec9751.da2b78","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/dot3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":360,"y":440,"wires":[]},{"id":"c21d521b.55bce","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"거실1번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[64,67,112,35,248,1,113,17,3,162,186,162,163,0,0,224,144,16,28,16,144,0,0,0,0,240,158,146,130,130,206,120]","payloadType":"bin","topic":"topic","topicType":"msg","x":110,"y":240,"wires":[["f331e235.d958e"]]},{"id":"32961a4e.68f796","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"거실2번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[123,10,10,3,120,19,16,0,192,15,1,129,129,225,7,0,0,30,19,17,24,6,131,0,0,28,52,196,140,56,224,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":110,"y":280,"wires":[["f331e235.d958e"]]},{"id":"4d8a9f7a.b5d42","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"거실3번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[2,2,2,63,0,0,8,7,0,0,0,224,16,0,0,192,7,62,2,2,2,2,16,16,16,30,16,16,16,16,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":110,"y":320,"wires":[["f331e235.d958e"]]},{"id":"55a56a56.1dfc84","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"passthru":false,"label":"주방1번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[64,67,112,35,248,1,113,17,3,162,186,162,163,0,0,224,144,16,28,16,144,0,0,0,0,240,158,146,130,130,206,120]","payloadType":"bin","topic":"topic","topicType":"msg","x":110,"y":420,"wires":[["47ec9751.da2b78"]]},{"id":"5a1f2085.07943","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"passthru":false,"label":"주방2번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[123,10,10,3,120,19,16,0,192,15,1,129,129,225,7,0,0,30,19,17,24,6,131,0,0,28,52,196,140,56,224,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":110,"y":460,"wires":[["47ec9751.da2b78"]]},{"id":"77e726f1.42f0a8","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"passthru":false,"label":"주방3번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[0,0,0,0,0,0,0,0,64,64,64,64,64,64,64,0,16,16,16,15,0,0,0,0,0,0,0,248,0,0,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":110,"y":500,"wires":[["47ec9751.da2b78"]]},{"id":"31be3a65.4b5a26","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"passthru":false,"label":"화장실4번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[0,0,124,4,4,126,16,16,0,0,243,128,240,32,241,1,0,0,128,136,136,136,14,8,0,120,120,120,120,48,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":120,"y":180,"wires":[["785d7558.24240c"]]},{"id":"ff19eb05.58fd08","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"passthru":false,"label":"거실4번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[16,0,0,0,3,2,0,0,123,8,0,0,240,163,178,146,232,0,0,0,0,201,73,77,0,0,0,0,224,152,8,248]","payloadType":"bin","topic":"topic","topicType":"msg","x":110,"y":360,"wires":[["f331e235.d958e"]]},{"id":"6b803350.58dc6c","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"passthru":false,"label":"주방4번패턴","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[96,124,124,124,121,120,32,0,20,71,64,64,240,0,0,0,72,200,8,0,0,1,0,0,0,0,144,144,144,252,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":110,"y":540,"wires":[["47ec9751.da2b78"]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]