282/282-2-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"1e226332.82fd4d","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/board1","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":160,"y":60,"wires":[["dbf6d52f.bf3628"]]},{"id":"dbf6d52f.bf3628","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":60,"wires":[]},{"id":"c3d8504d.098d2","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/number1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":500,"y":320,"wires":[]},{"id":"47f95fb7.7ec48","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"options":[{"label":"NUMBER","value":"number","type":"number","required":true,"rows":null}],"formValue":{"number":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":90,"y":320,"wires":[["f14a8108.db35d"]]},{"id":"f14a8108.db35d","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.number","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":320,"wires":[["c3d8504d.098d2"]]},{"id":"39a5f368.4b30fc","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/board2","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":160,"y":120,"wires":[["8ec4216f.4b85a"]]},{"id":"8ec4216f.4b85a","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":120,"wires":[]},{"id":"e672a4a2.3fe7c8","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/board3","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":160,"y":180,"wires":[["deee076c.d27f78"]]},{"id":"deee076c.d27f78","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":180,"wires":[]},{"id":"ba3d8ed0.a3ac","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/number2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":490,"y":380,"wires":[]},{"id":"4a386e94.a865b","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"options":[{"label":"NUMBER","value":"number","type":"number","required":true,"rows":null}],"formValue":{"number":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":80,"y":380,"wires":[["a2b1baa5.c59428"]]},{"id":"a2b1baa5.c59428","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.number","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":380,"wires":[["ba3d8ed0.a3ac"]]},{"id":"c2642c56.18b3e","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/number3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":490,"y":440,"wires":[]},{"id":"d308a767.e6fae8","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"options":[{"label":"NUMBER","value":"number","type":"number","required":true,"rows":null}],"formValue":{"number":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":80,"y":440,"wires":[["420476a7.8fe5a8"]]},{"id":"420476a7.8fe5a8","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.number","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":440,"wires":[["c2642c56.18b3e"]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]