282/282-1-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"1e226332.82fd4d","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/board1","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":190,"y":160,"wires":[["dbf6d52f.bf3628"]]},{"id":"dbf6d52f.bf3628","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":160,"wires":[]},{"id":"c3d8504d.098d2","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/number1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":500,"y":320,"wires":[]},{"id":"47f95fb7.7ec48","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"","group":"30b5144.689caec","order":0,"width":0,"height":0,"options":[{"label":"NUMBER","value":"number","type":"number","required":true,"rows":null}],"formValue":{"number":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":90,"y":320,"wires":[["f14a8108.db35d"]]},{"id":"f14a8108.db35d","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.number","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":300,"wires":[["c3d8504d.098d2"]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]