439/439-3(노드레드코드).txt
[{"id":"3b68cce7.029ab4","type":"mqtt in","z":"200cf880.993108","name":"","topic":"nockanda/data","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":140,"y":220,"wires":[["9242c964.9e5938"]]},{"id":"9242c964.9e5938","type":"function","z":"200cf880.993108","name":"","func":"msg.payload = msg.payload.split(',');\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":260,"wires":[["1aa53694.45bf09","1781249b.8d6bcb","8cb3a245.7510a","966d3240.5a21f"]]},{"id":"1aa53694.45bf09","type":"ui_gauge","z":"200cf880.993108","name":"","group":"176765.9e09989b","order":3,"width":0,"height":0,"gtype":"donut","title":"습도(%)","label":"%","format":"{{msg.payload[2]}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":560,"y":440,"wires":[]},{"id":"1781249b.8d6bcb","type":"ui_gauge","z":"200cf880.993108","name":"","group":"176765.9e09989b","order":4,"width":0,"height":0,"gtype":"donut","title":"온도('C)","label":"'C","format":"{{msg.payload[3]}}","min":"-20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":560,"y":500,"wires":[]},{"id":"e113d3d8.8e7ab","type":"ui_text","z":"200cf880.993108","group":"aa2634f1.1bbfd8","order":1,"width":0,"height":0,"name":"","label":"작동상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":860,"y":240,"wires":[]},{"id":"441ba128.0f09b","type":"ui_text","z":"200cf880.993108","group":"aa2634f1.1bbfd8","order":2,"width":0,"height":0,"name":"","label":"모드","format":"{{msg.payload}}","layout":"row-spread","className":"","x":910,"y":340,"wires":[]},{"id":"8cb3a245.7510a","type":"switch","z":"200cf880.993108","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":260,"wires":[["41fe2429.605f6c"],["6fb32fa3.9c1f4"]]},{"id":"41fe2429.605f6c","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":200,"wires":[["e113d3d8.8e7ab"]]},{"id":"6fb32fa3.9c1f4","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":280,"wires":[["e113d3d8.8e7ab"]]},{"id":"966d3240.5a21f","type":"switch","z":"200cf880.993108","name":"","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":340,"wires":[["c9105c99.e38e4"],["cb5bb6f5.30d7a8"]]},{"id":"c9105c99.e38e4","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"수동","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":320,"wires":[["441ba128.0f09b"]]},{"id":"cb5bb6f5.30d7a8","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"자동","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":360,"wires":[["441ba128.0f09b"]]},{"id":"fe9d65b1.7b6208","type":"ui_button","z":"200cf880.993108","name":"","group":"aa2634f1.1bbfd8","order":2,"width":0,"height":0,"passthru":false,"label":"켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":600,"wires":[["8a8c1845.127968"]]},{"id":"3372bbb8.1dfba4","type":"ui_button","z":"200cf880.993108","name":"","group":"aa2634f1.1bbfd8","order":3,"width":0,"height":0,"passthru":false,"label":"끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":660,"wires":[["8a8c1845.127968"]]},{"id":"8a8c1845.127968","type":"mqtt out","z":"200cf880.993108","name":"","topic":"nockanda/control","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":600,"y":640,"wires":[]},{"id":"74b9151f.58c54c","type":"mqtt out","z":"200cf880.993108","name":"","topic":"nockanda/auto","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":820,"y":740,"wires":[]},{"id":"47ef9762.e32888","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"aa2634f1.1bbfd8","order":4,"width":0,"height":0,"options":[{"label":"하한값","value":"min","type":"number","required":true,"rows":null},{"label":"상한값","value":"max","type":"number","required":true,"rows":null}],"formValue":{"min":"","max":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":420,"y":780,"wires":[["1ab5278e.4e6f98"]]},{"id":"1ab5278e.4e6f98","type":"function","z":"200cf880.993108","name":"","func":"var data = msg.payload.min + \",\" + msg.payload.max;\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":780,"wires":[["74b9151f.58c54c"]]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"176765.9e09989b","type":"ui_group","name":"Group 2","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":6},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"등록","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"원무과화면","icon":"info","order":1,"disabled":false,"hidden":false}]