365/365편_노드레드TCP서버.txt
[{"id":"7fae9eff.40218","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"44de8150.71f8d","type":"tcp in","z":"7fae9eff.40218","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":80,"y":160,"wires":[["601b6ce9.224844","28eae34a.dc097c"]]},{"id":"f9d75785.54d3d8","type":"tcp out","z":"7fae9eff.40218","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":410,"y":120,"wires":[]},{"id":"ed8d00a1.1b84a","type":"function","z":"7fae9eff.40218","name":"메시지에코","func":"msg.payload = \"[서버응답]\" + msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[[]]},{"id":"601b6ce9.224844","type":"function","z":"7fae9eff.40218","name":"클라언트등록","func":"if(msg.payload[0] == '#'){\n   //디바이스 아이디인것이다!\n   //등록을 해야한다!\n   //#OK를 응답한다!\n   msg.payload = msg.payload.replace(\"\\r\",\"\");\n   msg.payload = msg.payload.replace(\"\\n\",\"\");\n  //msg.payload = 디바이스ID\n  //msg = 디바이스의 소켓\n   //클라이언트 목록 오브젝트를 가져온다\n   var clients = global.get(\"clients\");\n\n   //혹시~~전역변수 목록이 생성이 안되어 있으면 내가 생성한다!\n   if(clients == null) global.set(\"clients\",{});\n\n   //무조건 전역변수 clients목록이 있는것이다!\n\n   //msg 오브젝트에 마지막데이터 수신시간 필드를 할당한다\n   msg.last_msg = new Date();\n   msg.send = 0;\n   msg.recv = 0;\n   msg.run = true;\n\n   msg.Rssi = 0;\n   var dataset = {};\n   dataset.Cds = 0;\n   dataset.Led1 = 0;\n   dataset.Led2 = 0;\n   dataset.Led3 = 0;\n   dataset.Led4 = 0;\n   msg.dataset = dataset;\n\n   clients[msg.payload] = msg;\n   \n   msg.payload = \"#OK\\n\";\n   return msg;\n}else{\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":120,"wires":[["f9d75785.54d3d8"]]},{"id":"d8aa98aa.a0b9c8","type":"debug","z":"7fae9eff.40218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":800,"wires":[]},{"id":"5196f3d2.fd20fc","type":"status","z":"7fae9eff.40218","name":"","scope":["44de8150.71f8d"],"x":140,"y":580,"wires":[["e2dda4d7.e03898"]]},{"id":"e2dda4d7.e03898","type":"function","z":"7fae9eff.40218","name":"클라이언트가끊어지는부분","func":"if(msg.status.event != \"disconnect\") return null;\n\n//클라이언트 목록을 가져온다!\nvar clients = global.get(\"clients\"); //딕셔너리\nvar list = Object.keys(clients);\n\n//msg.ip  msg.port\n//msg.status.event (connect,disconnect)\n//msg.status.ip\n//msg.status.port\n\n//현재 끊어지는 소켓정보하고 등록된 정보하고 같은게 있다면 그녀석을 삭제하겠다!\nfor(var i = 0;i<list.length;i++){\n    //list[i] : i번째 디바이스의 이름\n    //clients : 디바이스의 딕셔너리\n    var socket = clients[list[i]];\n    if(socket != null){\n        if(socket.ip == msg.status.ip && socket.port == msg.status.port){\n            //디바이스목록에서 삭제해라\n            //global.set(list[i],undefined);\n            delete clients[list[i]];\n            break;\n        }\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":640,"wires":[[]]},{"id":"c83f8cf7.20c54","type":"inject","z":"7fae9eff.40218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":740,"wires":[["b6101d3a.2e309"]]},{"id":"b6101d3a.2e309","type":"function","z":"7fae9eff.40218","name":"","func":"var list = global.keys();\n\nfor(var i = 0;i<list.length;i++){\n    global.set(list[i],undefined);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":740,"wires":[[]]},{"id":"661c3231.011d4c","type":"inject","z":"7fae9eff.40218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":440,"wires":[["f3953847.3f6968","b40321f0.c7d53"]]},{"id":"f3953847.3f6968","type":"function","z":"7fae9eff.40218","name":"클라이언트목록조회","func":"var clients = global.get(\"clients\");\nvar dic = Object.keys(clients);\n\n//클라이언트들의 목록을 가지고 온다!\nvar list = []; //list UI에 반환해야할 변수\nvar now = new Date();\n\nfor(var i = 0;i<dic.length;i++){\n  //dic[i] : i번째 클라이언트의 ID\n  //clients[dic[i]] : i번째 클라이언트의 소켓\n  var socket = clients[dic[i]];\n\n  var timeout = now  - socket.last_msg;\n\n  if(timeout > 5000){\n      //클라이언트 비활성상태\n      list.push(\"<img src=/link2.png width=30 height=30> <font color=red>\"+dic[i]+\"[▲\"+socket.send+\"/▼\"+socket.recv+\"]</font>\");\n      socket.run = false;\n  }else{\n      //활성~!\n      list.push(\"<img src=/link1.png width=30 height=30> <font color=black>\"+dic[i]+\"[▲\"+socket.send+\"/▼\"+socket.recv+\"]</font>\");\n      socket.run = true;\n  }\n\n}\n\n\nmsg.payload = list; //list\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":440,"wires":[["7e7de7d8.6ad0c8"]]},{"id":"7e7de7d8.6ad0c8","type":"ui_list","z":"7fae9eff.40218","group":"aa2634f1.1bbfd8","name":"","order":0,"width":"6","height":"10","lineType":"two","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":550,"y":400,"wires":[["d4acbe27.63c14"]]},{"id":"28eae34a.dc097c","type":"function","z":"7fae9eff.40218","name":"일반메시지","func":"if(msg.payload[0] == '#') return null;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":220,"wires":[["b0f019cd.1d7c08"]]},{"id":"b0f019cd.1d7c08","type":"json","z":"7fae9eff.40218","name":"","property":"payload","action":"","pretty":false,"x":390,"y":300,"wires":[["b2781055.12d5d","4124550d.4c6bac"]]},{"id":"b2781055.12d5d","type":"function","z":"7fae9eff.40218","name":"받는소켓을찾는부분","func":"var clients = global.get(\"clients\");\n\n//받는놈의 id가 #server인경우를 별도로 뺸다\nif(msg.payload.to == \"#server\"){\n    //보내는놈의 소켓을 가지고 와서 마지막 데이터 수신시간을 기록한다!\n    //msg.payload.from\n    var sender_socket = clients[msg.payload.from];\n    \n    if(sender_socket != null){\n        //시간기록~!\n        sender_socket.last_msg = new Date();\n    }\n    msg.payload = msg.payload.msg.length;\n    \n    return [null,null];\n}\n\n//받는놈의 소켓을 가지고 오라\n\nvar socket = clients[msg.payload.to];\n\n//msg.payload.msg => 서버에서 보내줘야할 메시지\n\n\nif(socket != null && socket.run){\n    var myobject = {};\n    myobject.from = msg.payload.from;\n    myobject.msg = msg.payload.msg;\n\n    socket.payload = myobject;\n    socket.to = msg.payload.to;\n    socket.len = msg.payload.msg.length;\n    return [socket,msg];\n}else{\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["441f174.db605e8","696c9e37.dc6cf"],["eb63abe9.159dd8"]]},{"id":"1c54663e.9c892a","type":"tcp out","z":"7fae9eff.40218","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":890,"y":280,"wires":[]},{"id":"61edbba0.214804","type":"inject","z":"7fae9eff.40218","name":"전역변수설정","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":40,"wires":[["b456b994.2a5f28"]]},{"id":"b456b994.2a5f28","type":"function","z":"7fae9eff.40218","name":"전역변수설정","func":"\n//비어있는 클라이언트 목록을 생성\nvar clients = {};\nglobal.set(\"clients\",clients);\n//클라이언트들이 송신하는 데이터의 총량을 저장하는 변수\nvar upload = {};\nupload.byte = 0;\nglobal.set(\"upload\",upload);\n//클라이언트들이 수신하는 데이터의 총량을 저장하는 변수\nvar dnload = {};\ndnload.byte = 0;\nglobal.set(\"dnload\",dnload);\n\nvar runtime = {};\nruntime.time = new Date();\nglobal.set(\"runtime\",runtime);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":40,"wires":[[]]},{"id":"a438c0e3.63177","type":"inject","z":"7fae9eff.40218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":800,"wires":[["18f8024.c2530fe"]]},{"id":"18f8024.c2530fe","type":"function","z":"7fae9eff.40218","name":"전역변수 목록을 가지고오는 블럭","func":"var list = global.keys();\n\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":800,"wires":[["d8aa98aa.a0b9c8"]]},{"id":"66bc3d86.afa2f4","type":"inject","z":"7fae9eff.40218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":860,"wires":[["72325e2a.916db"]]},{"id":"72325e2a.916db","type":"function","z":"7fae9eff.40218","name":"#device1에 소켓 정보를 조회한다","func":"var clients = global.get(\"clients\");\n\nvar socket = clients[\"#device1\"];\n\nif(socket != null){\n    return socket;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":860,"wires":[["3109e04b.de099"]]},{"id":"3109e04b.de099","type":"debug","z":"7fae9eff.40218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":920,"wires":[]},{"id":"7663c66b.3a4f68","type":"function","z":"7fae9eff.40218","name":"전체upload량측정","func":"var upload = global.get(\"upload\");\n//upload.byte\n\nvar len = msg.payload.msg.length;\n\nupload.byte += len;\n\nmsg.payload = upload.byte;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":200,"wires":[[]]},{"id":"d2a8cf2b.b2ec7","type":"function","z":"7fae9eff.40218","name":"전체dnload량측정","func":"var upload = global.get(\"dnload\");\n\n//msg.len => 유효한 메시지의 길이\n\nupload.byte += msg.payload.msg.length;\n\nmsg.payload = upload.byte;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":320,"wires":[[]]},{"id":"447115c2.302c8c","type":"ui_text","z":"7fae9eff.40218","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버에들어오는데이터총량(byte)","format":"{{msg.byte}}","layout":"row-spread","className":"","x":640,"y":480,"wires":[]},{"id":"dc1fd295.b0663","type":"ui_text","z":"7fae9eff.40218","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버에서나가는데이터총량(byte)","format":"{{msg.byte}}","layout":"row-spread","className":"","x":640,"y":520,"wires":[]},{"id":"65d469fc.0ff0e8","type":"inject","z":"7fae9eff.40218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":980,"wires":[["76022fa0.1d8de"]]},{"id":"76022fa0.1d8de","type":"function","z":"7fae9eff.40218","name":"#device1청소부!","func":"var clients = global.get(\"clients\");\nvar socket = clients[\"#device1\"];\n\nvar timeout = new Date() - socket.last_msg;\n\nif(timeout > 5000){\n    //클라이언트 비활성상태\n    msg.payload = \"클라이언트 비활성!\";\n}else{\n    //활성~!\n    msg.payload = \"클라이언트 활성!\";\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":980,"wires":[["3a3cc454.9adabc"]]},{"id":"3a3cc454.9adabc","type":"debug","z":"7fae9eff.40218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":980,"wires":[]},{"id":"b40321f0.c7d53","type":"function","z":"7fae9eff.40218","name":"서버상태업데이트","func":"var upload = global.get(\"upload\");\nvar dnload = global.get(\"dnload\");\nvar runtime = global.get(\"runtime\");\n\nvar now = new Date();\nvar time = now - runtime.time;\ntime = time/1000;\n\nmsg.time = time;\nmsg.now = now.toString();\n\nreturn [upload,dnload,msg];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":500,"wires":[["447115c2.302c8c"],["dc1fd295.b0663"],["b4e8a745.76f398","84dd224c.8848f"]]},{"id":"4e051d.e3010ae4","type":"function","z":"7fae9eff.40218","name":"디바이스별로 송신데이터를 체크","func":"var clients = global.get(\"clients\");\n\nif(msg.payload.to == \"#server\") return null;\n\nvar socket = clients[msg.payload.from];\n\nif(socket == null) return null;\n\nsocket.send += msg.payload.msg.length;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":40,"wires":[[]]},{"id":"16334745.e63fc9","type":"function","z":"7fae9eff.40218","name":"디바이스별dnload량측정","func":"var clients = global.get(\"clients\");\n//msg.len = 메시지의길이\n//msg.to = 받는놈의 ID\nvar socket = clients[msg.to];\n\nif(socket == null) return null;\n\nsocket.recv += msg.payload.msg.length;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":360,"wires":[[]]},{"id":"b4e8a745.76f398","type":"ui_text","z":"7fae9eff.40218","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버작동시간(초)","format":"{{msg.time}}","layout":"row-spread","className":"","x":590,"y":560,"wires":[]},{"id":"84dd224c.8848f","type":"ui_text","z":"7fae9eff.40218","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버의 현재시간","format":"{{msg.now}}","layout":"row-spread","className":"","x":580,"y":600,"wires":[]},{"id":"43edc8e8.6cbdd8","type":"ui_text","z":"7fae9eff.40218","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"IP주소","format":"{{msg.ip}}","layout":"row-spread","className":"","x":1070,"y":340,"wires":[]},{"id":"d4acbe27.63c14","type":"function","z":"7fae9eff.40218","name":"클라이언트ID분리기+소켓정보반환","func":"var clients = global.get(\"clients\");\n\nvar data = msg.payload.title;\nvar start = data.indexOf(\">#\")+1;\nvar end = data.indexOf(\"[▲\");\nvar id = data.substring(start,end);\n\nvar socket = clients[id];\n\nif(socket == null) return null;\n\n\n\nreturn socket;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":400,"wires":[["43edc8e8.6cbdd8","10aedd10.cf11d3","94e406a2.372b08","1ed75536.1cc1db","4e8a558a.23fbac"]]},{"id":"10aedd10.cf11d3","type":"ui_text","z":"7fae9eff.40218","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"포트번호","format":"{{msg.port}}","layout":"row-spread","className":"","x":1080,"y":380,"wires":[]},{"id":"94e406a2.372b08","type":"ui_text","z":"7fae9eff.40218","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"마지막메시지수신시간","format":"{{msg.last_msg}}","layout":"row-spread","className":"","x":1120,"y":420,"wires":[]},{"id":"1ed75536.1cc1db","type":"ui_text","z":"7fae9eff.40218","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"세션타입","format":"{{msg._session.type}}","layout":"row-spread","className":"","x":1080,"y":460,"wires":[]},{"id":"4e8a558a.23fbac","type":"ui_text","z":"7fae9eff.40218","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"세션아이디","format":"{{msg._session.id}}","layout":"row-spread","className":"","x":1090,"y":500,"wires":[]},{"id":"abff8df7.994b5","type":"inject","z":"7fae9eff.40218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1060,"wires":[["b464c6a2.6e73c8"]]},{"id":"b464c6a2.6e73c8","type":"function","z":"7fae9eff.40218","name":"전체 클라이언트 목록 가지고오기!","func":"var clients = global.get(\"clients\");\n\nvar dic = Object.keys(clients);\n\nvar list = [];\n\nfor(var i = 0;i<dic.length;i++){\n    list.push(dic[i]);\n}\n\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1060,"wires":[["9cab82d.9a2e78"]]},{"id":"9cab82d.9a2e78","type":"debug","z":"7fae9eff.40218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1060,"wires":[]},{"id":"441f174.db605e8","type":"json","z":"7fae9eff.40218","name":"","property":"payload","action":"","pretty":false,"x":570,"y":300,"wires":[["768fbaf6.935b14"]]},{"id":"768fbaf6.935b14","type":"function","z":"7fae9eff.40218","name":"\\n","func":"msg.payload = msg.payload+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":280,"wires":[["1c54663e.9c892a"]]},{"id":"696c9e37.dc6cf","type":"json","z":"7fae9eff.40218","name":"","property":"payload.msg","action":"","pretty":false,"x":570,"y":340,"wires":[["d2a8cf2b.b2ec7","16334745.e63fc9"]]},{"id":"eb63abe9.159dd8","type":"json","z":"7fae9eff.40218","name":"","property":"payload.msg","action":"","pretty":false,"x":850,"y":140,"wires":[["7663c66b.3a4f68"]]},{"id":"2c01555c.f0421a","type":"json","z":"7fae9eff.40218","name":"","property":"payload.msg","action":"","pretty":false,"x":590,"y":40,"wires":[["4e051d.e3010ae4"]]},{"id":"4124550d.4c6bac","type":"function","z":"7fae9eff.40218","name":"","func":"if(msg.payload.to == \"#server\") return null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["2c01555c.f0421a","65f79806.8b5ab8"]]},{"id":"65f79806.8b5ab8","type":"function","z":"7fae9eff.40218","name":"전역변수에 디바이스별 데이터를 기록한다","func":"//전역변수에서 해당되는 클라이언트의 소켓을 가지고온다\nvar clients = global.get(\"clients\"); //딕셔너리 구조임\n//해당되는 클라이언트의 소켓을 찾아내라\nvar socket = clients[msg.payload.from];\n//소켓이 없으면 아무일도 안함!\nif(socket == null) return;\n\n//해당되는 소켓의 필드값에 업로드된 값을 저장한다\nsocket.Rssi = msg.payload.msg.Rssi;\nsocket.dataset.Cds = msg.payload.msg.Cds;\nsocket.dataset.Led1 =msg.payload.msg.Led1;\nsocket.dataset.Led2 =msg.payload.msg.Led2;\nsocket.dataset.Led3 =msg.payload.msg.Led3;\nsocket.dataset.Led4 =msg.payload.msg.Led4;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":100,"wires":[[]]},{"id":"1ab05172.95eeaf","type":"inject","z":"7fae9eff.40218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":1160,"wires":[["c03ae31b.9f8ab"]]},{"id":"53fdc3a6.4fb9fc","type":"change","z":"7fae9eff.40218","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"디바이스상태\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"디바이스ID\",\"field\":\"Device_id\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\",\"min\":-90,\"max\":-50,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {return '&nbsp;&nbsp;'+value+'dBm';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"left\"},\"title\":\"WiFi감도\",\"field\":\"Rssi\",\"formatter\":\"progress\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"활성상태\",\"field\":\"Run\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-ban fa-lg\\\"></i>';else return '<i class=\\\"fa fa-check-circle fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"업로드량\",\"field\":\"Up\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue()+'bytes';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"다운로드량\",\"field\":\"Down\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue()+'bytes';}\",\"width\":100,\"align\":\"center\"}]},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"센서상태\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":1023,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {return '&nbsp;&nbsp;'+value+'';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"left\"},\"title\":\"광센서값\",\"field\":\"Cds\",\"formatter\":\"progress\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LED1\",\"field\":\"Led1\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-toggle-off fa-lg\\\"></i>';else return '<i class=\\\"fa fa-toggle-on fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LED2\",\"field\":\"Led2\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-toggle-off fa-lg\\\"></i>';else return '<i class=\\\"fa fa-toggle-on fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LED3\",\"field\":\"Led3\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-toggle-off fa-lg\\\"></i>';else return '<i class=\\\"fa fa-toggle-on fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LED4\",\"field\":\"Led4\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-toggle-off fa-lg\\\"></i>';else return '<i class=\\\"fa fa-toggle-on fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"}]}],\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\"},\"customHeight\":12}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1280,"wires":[["9ff130f7.de941"]]},{"id":"b7b3c3fe.45377","type":"debug","z":"7fae9eff.40218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":1420,"wires":[]},{"id":"9ff130f7.de941","type":"ui_table","z":"7fae9eff.40218","group":"832145a9.25bca8","name":"컨트롤패널","order":1,"width":"25","height":"7","columns":[],"outputs":1,"cts":true,"x":550,"y":1340,"wires":[["b7b3c3fe.45377","c35048f4.dae9a8"]]},{"id":"c03ae31b.9f8ab","type":"function","z":"7fae9eff.40218","name":"클라이언트별 소켓에서 데이터를 뺴오는부분","func":"//전역변수에서 클라이언트 목록을 가지고 온다\nvar clients = global.get(\"clients\");\n\nvar dic = Object.keys(clients); //배열형태\n\n//출력 JSON\nvar client_list = [];\n\nfor(var i = 0;i<dic.length;i++){\n   var socket = clients[dic[i]];\n   var dataset = {};\n   dataset.Device_id = dic[i];\n   dataset.Rssi = socket.Rssi;\n   dataset.Run = socket.run?1:0;\n   dataset.Up = socket.send;\n   dataset.Down = socket.recv;\n   dataset.Cds = socket.dataset.Cds;\n   dataset.Led1 = socket.dataset.Led1;\n   dataset.Led2 = socket.dataset.Led2;\n   dataset.Led3 = socket.dataset.Led3;\n   dataset.Led4 = socket.dataset.Led4;\n\n   client_list.push(dataset);\n}\nmsg.payload = client_list;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1220,"wires":[["53fdc3a6.4fb9fc"]]},{"id":"c35048f4.dae9a8","type":"function","z":"7fae9eff.40218","name":"LED제어명령을 눌렀을때","func":"var clients = global.get(\"clients\");\n\nvar socket = clients[msg.payload.Device_id];\n\nif(socket == null) return;\n\nif(msg.topic == \"Led1\"){\n   //LED1 제어 신호를 해당되는 디바이스에게 전송한다\n   if(msg.payload.Led1 == 0){\n      //1을 보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":1,\\\"State\\\":1}}\\n\";\n   }else{\n      //0을보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":1,\\\"State\\\":0}}\\n\";\n   }\n\n   return socket;\n}else if(msg.topic == \"Led2\"){\n\n   if(msg.payload.Led2 == 0){\n      //1을 보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":2,\\\"State\\\":1}}\\n\";\n   }else{\n      //0을보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":2,\\\"State\\\":0}}\\n\";\n   }\n   return socket;\n}else if(msg.topic == \"Led3\"){\n\n   if(msg.payload.Led3 == 0){\n      //1을 보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":3,\\\"State\\\":1}}\\n\";\n   }else{\n      //0을보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":3,\\\"State\\\":0}}\\n\";\n   }\n   return socket;\n}else if(msg.topic == \"Led4\"){\n\n   if(msg.payload.Led4 == 0){\n      //1을 보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":4,\\\"State\\\":1}}\\n\";\n   }else{\n      //0을보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":4,\\\"State\\\":0}}\\n\";\n   }\n   return socket;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1180,"wires":[["500a17a7.5b1cf8"]]},{"id":"500a17a7.5b1cf8","type":"tcp out","z":"7fae9eff.40218","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":870,"y":1240,"wires":[]},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"클라이언트리스트","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9c2bb4e6.01d708","type":"ui_group","name":"서버정보","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4ac94e5d.efbcd","type":"ui_group","name":"클라이언트정보","tab":"d25c9cdc.bf5cd","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"832145a9.25bca8","type":"ui_group","name":"디바이스정보","tab":"23e9519c.96172e","order":1,"disp":false,"width":"25","collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false},{"id":"23e9519c.96172e","type":"ui_tab","name":"컨트롤패널","icon":"tv","order":2,"disabled":false,"hidden":false}]