482/482-5(노드레드).txt
[{"id":"1ea1e142.0fea2f","type":"mqtt in","z":"200cf880.993108","name":"","topic":"nockanda/espnow","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":150,"y":200,"wires":[["5cbce009.bf83e"]]},{"id":"5cbce009.bf83e","type":"json","z":"200cf880.993108","name":"","property":"payload","action":"","pretty":false,"x":370,"y":200,"wires":[["dda87e8.d89c08","701d2f34.06fbc","63358cd3.205554","56d56223.39ac1c","e3796a40.4c5e78","41d92e5f.aafb3","fc9e9170.22a24"]]},{"id":"dda87e8.d89c08","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"ID","format":"{{msg.payload.id}}","layout":"row-spread","className":"","x":590,"y":120,"wires":[]},{"id":"701d2f34.06fbc","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.temp}}","layout":"row-spread","className":"","x":590,"y":160,"wires":[]},{"id":"63358cd3.205554","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload.humi}}","layout":"row-spread","className":"","x":590,"y":200,"wires":[]},{"id":"56d56223.39ac1c","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"리피터","format":"{{msg.payload.repeater}}","layout":"row-spread","className":"","x":590,"y":240,"wires":[]},{"id":"e3796a40.4c5e78","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"리퍼터갯수","format":"{{msg.payload.count}}","layout":"row-spread","className":"","x":610,"y":280,"wires":[]},{"id":"41d92e5f.aafb3","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"gtype":"gage","title":"온도","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":340,"wires":[]},{"id":"fc9e9170.22a24","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":6,"width":0,"height":0,"gtype":"gage","title":"습도","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":380,"wires":[]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":6},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]