372/372(노드레드파일서버).txt
[{"id":"e8ff81c8.e471","type":"http in","z":"bd4b401b.10ecb","name":"","url":"/update","method":"get","upload":false,"swaggerDoc":"","x":130,"y":160,"wires":[["ef2876c9.05b4c8","617379db.5d0d58"]]},{"id":"1e0b056.f5ce9fb","type":"function","z":"bd4b401b.10ecb","name":"업데이트를 해야하나 말아야하나?","func":"if(msg.req.headers.useragent == \"ESP8266-http-Update\" && msg.req.query.code != null && msg.req.query.code == \"123456\"){\n  //ESP8266보드가 파일서버로 접근한 경우\n  if(msg.req.headers.myversion == \"0.2\"){\n      //이미 최신버전이다\n      msg.statusCode = 304;\n      msg.payload = \"이미최신버전이다!\";\n      return [null,msg];\n  }else{\n      //업데이트 대상자\n\n      msg.filename = \"C:\\\\Users\\\\wajang\\\\esp8266\\\\file.bin\";\n      msg.statusCode = 200;\n      return [msg,null];\n  }\n}else{\n  //당신은 누구입니까?\n  msg.statusCode = 405;\n  msg.payload = \"당신은 내가 원하는 디바이스가 아닙니다!\";\n  return [null,msg];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":200,"wires":[[],[]]},{"id":"71a23cb4.544414","type":"file in","z":"bd4b401b.10ecb","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1690,"y":340,"wires":[["74128088.f3426"]]},{"id":"74128088.f3426","type":"http response","z":"bd4b401b.10ecb","name":"","statusCode":"","headers":{},"x":1830,"y":600,"wires":[]},{"id":"617379db.5d0d58","type":"debug","z":"bd4b401b.10ecb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":140,"wires":[]},{"id":"ef2876c9.05b4c8","type":"change","z":"bd4b401b.10ecb","name":"하이픈을 제거하는 작업(별로중요하지 않음)","rules":[{"t":"set","p":"req.headers.useragent","pt":"msg","to":"req.headers.user-agent","tot":"msg"},{"t":"set","p":"req.headers.myversion","pt":"msg","to":"req.headers.x-esp8266-version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":280,"wires":[["f8929776.5447c8"]]},{"id":"f8929776.5447c8","type":"switch","z":"bd4b401b.10ecb","name":"너가 ESP8266이 맞느냐?","property":"req.headers.useragent","propertyType":"msg","rules":[{"t":"eq","v":"ESP8266-http-Update","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":360,"wires":[["62be7c34.1ae4d4"],["d01f07dc.2a7658"]]},{"id":"d01f07dc.2a7658","type":"change","z":"bd4b401b.10ecb","name":"405코드 반환","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"405","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":640,"wires":[["74128088.f3426"]]},{"id":"62be7c34.1ae4d4","type":"switch","z":"bd4b401b.10ecb","name":"너의 시리얼번호가 무엇이냐?","property":"req.query.serial","propertyType":"msg","rules":[{"t":"eq","v":"nockanda01","vt":"str"},{"t":"eq","v":"nockanda02","vt":"str"},{"t":"eq","v":"nockanda03","vt":"str"},{"t":"eq","v":"nockanda04","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":610,"y":360,"wires":[["a09d1196.ab2e8"],["49c67ebe.9cc03"],["62ea8e17.93b5"],["a8b73107.8ef11"],["d01f07dc.2a7658"]]},{"id":"a09d1196.ab2e8","type":"switch","z":"bd4b401b.10ecb","name":"너의비밀번호는 무엇이냐?","property":"req.query.code","propertyType":"msg","rules":[{"t":"eq","v":"123456","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":300,"wires":[["e99b21fa.ff30d"],["d01f07dc.2a7658"]]},{"id":"e99b21fa.ff30d","type":"switch","z":"bd4b401b.10ecb","name":"너의 버전이 몇이냐?","property":"req.headers.myversion","propertyType":"msg","rules":[{"t":"neq","v":"0.2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":280,"wires":[["9e47a62f.e2b828"],["887e8c36.64aed"]]},{"id":"49c67ebe.9cc03","type":"switch","z":"bd4b401b.10ecb","name":"너의비밀번호는 무엇이냐?","property":"req.query.code","propertyType":"msg","rules":[{"t":"eq","v":"123456","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":340,"wires":[["3439775b.6da108"],["d01f07dc.2a7658"]]},{"id":"62ea8e17.93b5","type":"switch","z":"bd4b401b.10ecb","name":"너의비밀번호는 무엇이냐?","property":"req.query.code","propertyType":"msg","rules":[{"t":"eq","v":"123456","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":380,"wires":[["46e8bf43.d4c69"],["d01f07dc.2a7658"]]},{"id":"a8b73107.8ef11","type":"switch","z":"bd4b401b.10ecb","name":"너의비밀번호는 무엇이냐?","property":"req.query.code","propertyType":"msg","rules":[{"t":"eq","v":"123456","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":420,"wires":[["5da5445f.8bc52c"],["d01f07dc.2a7658"]]},{"id":"3439775b.6da108","type":"switch","z":"bd4b401b.10ecb","name":"너의 버전이 몇이냐?","property":"req.headers.myversion","propertyType":"msg","rules":[{"t":"neq","v":"0.2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":320,"wires":[["2e01d3ab.85f30c"],["887e8c36.64aed"]]},{"id":"46e8bf43.d4c69","type":"switch","z":"bd4b401b.10ecb","name":"너의 버전이 몇이냐?","property":"req.headers.myversion","propertyType":"msg","rules":[{"t":"neq","v":"0.2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":360,"wires":[["6177a792.eaacc8"],["887e8c36.64aed"]]},{"id":"5da5445f.8bc52c","type":"switch","z":"bd4b401b.10ecb","name":"너의 버전이 몇이냐?","property":"req.headers.myversion","propertyType":"msg","rules":[{"t":"neq","v":"0.2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":400,"wires":[["aedd29c3.a81788"],["887e8c36.64aed"]]},{"id":"887e8c36.64aed","type":"change","z":"bd4b401b.10ecb","name":"304코드 반환","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"304","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":560,"wires":[["74128088.f3426"]]},{"id":"9e47a62f.e2b828","type":"change","z":"bd4b401b.10ecb","name":"업데이트파일명대입","rules":[{"t":"set","p":"filename","pt":"msg","to":"C:\\Users\\wajang\\esp8266\\nockanda01.bin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":280,"wires":[["71a23cb4.544414","129569c8.4cf426"]]},{"id":"2e01d3ab.85f30c","type":"change","z":"bd4b401b.10ecb","name":"업데이트파일명대입","rules":[{"t":"set","p":"filename","pt":"msg","to":"C:\\Users\\wajang\\esp8266\\nockanda02.bin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":320,"wires":[["71a23cb4.544414"]]},{"id":"6177a792.eaacc8","type":"change","z":"bd4b401b.10ecb","name":"업데이트파일명대입","rules":[{"t":"set","p":"filename","pt":"msg","to":"C:\\Users\\wajang\\esp8266\\nockanda03.bin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":360,"wires":[["71a23cb4.544414"]]},{"id":"aedd29c3.a81788","type":"change","z":"bd4b401b.10ecb","name":"업데이트파일명대입","rules":[{"t":"set","p":"filename","pt":"msg","to":"C:\\Users\\wajang\\esp8266\\nockanda04.bin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":400,"wires":[["71a23cb4.544414"]]},{"id":"129569c8.4cf426","type":"debug","z":"bd4b401b.10ecb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1580,"y":180,"wires":[]}]