364/364편에서쓰는 노드레드TCP서버.txt
[{"id":"2aa23fb2.5faf6","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"77a9bd0b.eaf234","type":"tcp in","z":"2aa23fb2.5faf6","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":80,"y":160,"wires":[["586a7c72.c98364","5a87572c.d07408"]]},{"id":"51cc761a.3de7f8","type":"tcp out","z":"2aa23fb2.5faf6","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":410,"y":120,"wires":[]},{"id":"30b6cc2e.757164","type":"function","z":"2aa23fb2.5faf6","name":"메시지에코","func":"msg.payload = \"[서버응답]\" + msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[[]]},{"id":"586a7c72.c98364","type":"function","z":"2aa23fb2.5faf6","name":"클라언트등록","func":"if(msg.payload[0] == '#'){\n   //디바이스 아이디인것이다!\n   //등록을 해야한다!\n   //#OK를 응답한다!\n   msg.payload = msg.payload.replace(\"\\r\",\"\");\n   msg.payload = msg.payload.replace(\"\\n\",\"\");\n  //msg.payload = 디바이스ID\n  //msg = 디바이스의 소켓\n   //클라이언트 목록 오브젝트를 가져온다\n   var clients = global.get(\"clients\");\n\n   //혹시~~전역변수 목록이 생성이 안되어 있으면 내가 생성한다!\n   if(clients == null) global.set(\"clients\",{});\n\n   //무조건 전역변수 clients목록이 있는것이다!\n\n   //msg 오브젝트에 마지막데이터 수신시간 필드를 할당한다\n   msg.last_msg = new Date();\n   msg.send = 0;\n   msg.recv = 0;\n   msg.run = true;\n\n   clients[msg.payload] = msg;\n   \n   msg.payload = \"#OK\\n\";\n   return msg;\n}else{\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":120,"wires":[["51cc761a.3de7f8"]]},{"id":"30a260b1.cd26c","type":"debug","z":"2aa23fb2.5faf6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":800,"wires":[]},{"id":"5a8b9c65.2cddf4","type":"status","z":"2aa23fb2.5faf6","name":"","scope":["77a9bd0b.eaf234"],"x":140,"y":580,"wires":[["ac48df8d.15e3d"]]},{"id":"ac48df8d.15e3d","type":"function","z":"2aa23fb2.5faf6","name":"클라이언트가끊어지는부분","func":"if(msg.status.event != \"disconnect\") return null;\n\n//클라이언트 목록을 가져온다!\nvar clients = global.get(\"clients\"); //딕셔너리\nvar list = Object.keys(clients);\n\n//msg.ip  msg.port\n//msg.status.event (connect,disconnect)\n//msg.status.ip\n//msg.status.port\n\n//현재 끊어지는 소켓정보하고 등록된 정보하고 같은게 있다면 그녀석을 삭제하겠다!\nfor(var i = 0;i<list.length;i++){\n    //list[i] : i번째 디바이스의 이름\n    //clients : 디바이스의 딕셔너리\n    var socket = clients[list[i]];\n    if(socket != null){\n        if(socket.ip == msg.status.ip && socket.port == msg.status.port){\n            //디바이스목록에서 삭제해라\n            //global.set(list[i],undefined);\n            delete clients[list[i]];\n            break;\n        }\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":640,"wires":[[]]},{"id":"4c426975.b66138","type":"inject","z":"2aa23fb2.5faf6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":740,"wires":[["3074b7a1.cc6dd8"]]},{"id":"3074b7a1.cc6dd8","type":"function","z":"2aa23fb2.5faf6","name":"","func":"var list = global.keys();\n\nfor(var i = 0;i<list.length;i++){\n    global.set(list[i],undefined);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":740,"wires":[[]]},{"id":"7952260b.503b68","type":"inject","z":"2aa23fb2.5faf6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":440,"wires":[["9ef38fb0.0b818","41f6c859.307f98"]]},{"id":"9ef38fb0.0b818","type":"function","z":"2aa23fb2.5faf6","name":"클라이언트목록조회","func":"var clients = global.get(\"clients\");\nvar dic = Object.keys(clients);\n\n//클라이언트들의 목록을 가지고 온다!\nvar list = []; //list UI에 반환해야할 변수\nvar now = new Date();\n\nfor(var i = 0;i<dic.length;i++){\n  //dic[i] : i번째 클라이언트의 ID\n  //clients[dic[i]] : i번째 클라이언트의 소켓\n  var socket = clients[dic[i]];\n\n  var timeout = now  - socket.last_msg;\n\n  if(timeout > 5000){\n      //클라이언트 비활성상태\n      list.push(\"<img src=/link2.png width=30 height=30> <font color=red>\"+dic[i]+\"[▲\"+socket.send+\"/▼\"+socket.recv+\"]</font>\");\n      socket.run = false;\n  }else{\n      //활성~!\n      list.push(\"<img src=/link1.png width=30 height=30> <font color=black>\"+dic[i]+\"[▲\"+socket.send+\"/▼\"+socket.recv+\"]</font>\");\n      socket.run = true;\n  }\n\n}\n\n\nmsg.payload = list; //list\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":440,"wires":[["5261c36c.2dd0ac"]]},{"id":"5261c36c.2dd0ac","type":"ui_list","z":"2aa23fb2.5faf6","group":"aa2634f1.1bbfd8","name":"","order":0,"width":"6","height":"10","lineType":"two","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":550,"y":400,"wires":[["42b3cb4b.1e9714"]]},{"id":"5a87572c.d07408","type":"function","z":"2aa23fb2.5faf6","name":"일반메시지","func":"if(msg.payload[0] == '#') return null;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":220,"wires":[["657bd6db.d51218"]]},{"id":"657bd6db.d51218","type":"json","z":"2aa23fb2.5faf6","name":"","property":"payload","action":"","pretty":false,"x":390,"y":300,"wires":[["fc049b87.f40688","89cc6d35.e830a"]]},{"id":"fc049b87.f40688","type":"function","z":"2aa23fb2.5faf6","name":"받는소켓을찾는부분","func":"var clients = global.get(\"clients\");\n\n//받는놈의 id가 #server인경우를 별도로 뺸다\nif(msg.payload.to == \"#server\"){\n    //보내는놈의 소켓을 가지고 와서 마지막 데이터 수신시간을 기록한다!\n    //msg.payload.from\n    var sender_socket = clients[msg.payload.from];\n    \n    if(sender_socket != null){\n        //시간기록~!\n        sender_socket.last_msg = new Date();\n    }\n    msg.payload = msg.payload.msg.length;\n    \n    return [null,null];\n}\n\n//받는놈의 소켓을 가지고 오라\n\nvar socket = clients[msg.payload.to];\n\n//msg.payload.msg => 서버에서 보내줘야할 메시지\n\n\nif(socket != null && socket.run){\n    var myobject = {};\n    myobject.from = msg.payload.from;\n    myobject.msg = msg.payload.msg;\n\n    socket.payload = myobject;\n    socket.to = msg.payload.to;\n    socket.len = msg.payload.msg.length;\n    return [socket,msg];\n}else{\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["93addd0c.b54b6","a29a6a14.87ea68"],["2c75cb6c.6e2394"]]},{"id":"f10866d0.fdc5a8","type":"tcp out","z":"2aa23fb2.5faf6","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":890,"y":280,"wires":[]},{"id":"7f1deee4.a30c2","type":"inject","z":"2aa23fb2.5faf6","name":"전역변수설정","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":40,"wires":[["cff34883.fd1bf8"]]},{"id":"cff34883.fd1bf8","type":"function","z":"2aa23fb2.5faf6","name":"전역변수설정","func":"\n//비어있는 클라이언트 목록을 생성\nvar clients = {};\nglobal.set(\"clients\",clients);\n//클라이언트들이 송신하는 데이터의 총량을 저장하는 변수\nvar upload = {};\nupload.byte = 0;\nglobal.set(\"upload\",upload);\n//클라이언트들이 수신하는 데이터의 총량을 저장하는 변수\nvar dnload = {};\ndnload.byte = 0;\nglobal.set(\"dnload\",dnload);\n\nvar runtime = {};\nruntime.time = new Date();\nglobal.set(\"runtime\",runtime);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":40,"wires":[[]]},{"id":"11698d43.fd7d33","type":"inject","z":"2aa23fb2.5faf6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":800,"wires":[["16f44d91.c6d9e2"]]},{"id":"16f44d91.c6d9e2","type":"function","z":"2aa23fb2.5faf6","name":"전역변수 목록을 가지고오는 블럭","func":"var list = global.keys();\n\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":800,"wires":[["30a260b1.cd26c"]]},{"id":"7f9898f0.8b1f38","type":"inject","z":"2aa23fb2.5faf6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":860,"wires":[["5231fc77.680974"]]},{"id":"5231fc77.680974","type":"function","z":"2aa23fb2.5faf6","name":"#device1에 소켓 정보를 조회한다","func":"var clients = global.get(\"clients\");\n\nvar socket = clients[\"#device1\"];\n\nif(socket != null){\n    return socket;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":860,"wires":[["32855a3f.25cb96"]]},{"id":"32855a3f.25cb96","type":"debug","z":"2aa23fb2.5faf6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":920,"wires":[]},{"id":"eec04f1c.faf1b","type":"function","z":"2aa23fb2.5faf6","name":"전체upload량측정","func":"var upload = global.get(\"upload\");\n//upload.byte\n\nvar len = msg.payload.msg.length;\n\nupload.byte += len;\n\nmsg.payload = upload.byte;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":200,"wires":[[]]},{"id":"7ac64d4d.8ba694","type":"function","z":"2aa23fb2.5faf6","name":"전체dnload량측정","func":"var upload = global.get(\"dnload\");\n\n//msg.len => 유효한 메시지의 길이\n\nupload.byte += msg.payload.msg.length;\n\nmsg.payload = upload.byte;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":320,"wires":[[]]},{"id":"538bbd8f.c85fc4","type":"ui_text","z":"2aa23fb2.5faf6","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버에들어오는데이터총량(byte)","format":"{{msg.byte}}","layout":"row-spread","className":"","x":640,"y":480,"wires":[]},{"id":"12fd0c78.4ed2f4","type":"ui_text","z":"2aa23fb2.5faf6","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버에서나가는데이터총량(byte)","format":"{{msg.byte}}","layout":"row-spread","className":"","x":640,"y":520,"wires":[]},{"id":"367bbcee.e3df94","type":"inject","z":"2aa23fb2.5faf6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":980,"wires":[["a0416509.ef4e48"]]},{"id":"a0416509.ef4e48","type":"function","z":"2aa23fb2.5faf6","name":"#device1청소부!","func":"var clients = global.get(\"clients\");\nvar socket = clients[\"#device1\"];\n\nvar timeout = new Date() - socket.last_msg;\n\nif(timeout > 5000){\n    //클라이언트 비활성상태\n    msg.payload = \"클라이언트 비활성!\";\n}else{\n    //활성~!\n    msg.payload = \"클라이언트 활성!\";\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":980,"wires":[["cd8ea0b7.9ad62"]]},{"id":"cd8ea0b7.9ad62","type":"debug","z":"2aa23fb2.5faf6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":980,"wires":[]},{"id":"41f6c859.307f98","type":"function","z":"2aa23fb2.5faf6","name":"서버상태업데이트","func":"var upload = global.get(\"upload\");\nvar dnload = global.get(\"dnload\");\nvar runtime = global.get(\"runtime\");\n\nvar now = new Date();\nvar time = now - runtime.time;\ntime = time/1000;\n\nmsg.time = time;\nmsg.now = now.toString();\n\nreturn [upload,dnload,msg];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":500,"wires":[["538bbd8f.c85fc4"],["12fd0c78.4ed2f4"],["94b6506e.56474","b919522.d0e08b"]]},{"id":"ad8ace44.38363","type":"function","z":"2aa23fb2.5faf6","name":"디바이스별로 송신데이터를 체크","func":"var clients = global.get(\"clients\");\n\nif(msg.payload.to == \"#server\") return null;\n\nvar socket = clients[msg.payload.from];\n\nif(socket == null) return null;\n\nsocket.send += msg.payload.msg.length;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":40,"wires":[[]]},{"id":"fc9b1c8.5bb9de","type":"function","z":"2aa23fb2.5faf6","name":"디바이스별dnload량측정","func":"var clients = global.get(\"clients\");\n//msg.len = 메시지의길이\n//msg.to = 받는놈의 ID\nvar socket = clients[msg.to];\n\nif(socket == null) return null;\n\nsocket.recv += msg.payload.msg.length;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":360,"wires":[[]]},{"id":"94b6506e.56474","type":"ui_text","z":"2aa23fb2.5faf6","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버작동시간(초)","format":"{{msg.time}}","layout":"row-spread","className":"","x":590,"y":560,"wires":[]},{"id":"b919522.d0e08b","type":"ui_text","z":"2aa23fb2.5faf6","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버의 현재시간","format":"{{msg.now}}","layout":"row-spread","className":"","x":580,"y":600,"wires":[]},{"id":"ec1288e6.7df1e8","type":"ui_text","z":"2aa23fb2.5faf6","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"IP주소","format":"{{msg.ip}}","layout":"row-spread","className":"","x":1070,"y":340,"wires":[]},{"id":"42b3cb4b.1e9714","type":"function","z":"2aa23fb2.5faf6","name":"클라이언트ID분리기+소켓정보반환","func":"var clients = global.get(\"clients\");\n\nvar data = msg.payload.title;\nvar start = data.indexOf(\">#\")+1;\nvar end = data.indexOf(\"[▲\");\nvar id = data.substring(start,end);\n\nvar socket = clients[id];\n\nif(socket == null) return null;\n\n\n\nreturn socket;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":400,"wires":[["ec1288e6.7df1e8","4fa431c2.baa62","3a287e6f.44dc72","11a744c9.44bc0b","86492d5c.05bb4"]]},{"id":"4fa431c2.baa62","type":"ui_text","z":"2aa23fb2.5faf6","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"포트번호","format":"{{msg.port}}","layout":"row-spread","className":"","x":1080,"y":380,"wires":[]},{"id":"3a287e6f.44dc72","type":"ui_text","z":"2aa23fb2.5faf6","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"마지막메시지수신시간","format":"{{msg.last_msg}}","layout":"row-spread","className":"","x":1120,"y":420,"wires":[]},{"id":"11a744c9.44bc0b","type":"ui_text","z":"2aa23fb2.5faf6","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"세션타입","format":"{{msg._session.type}}","layout":"row-spread","className":"","x":1080,"y":460,"wires":[]},{"id":"86492d5c.05bb4","type":"ui_text","z":"2aa23fb2.5faf6","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"세션아이디","format":"{{msg._session.id}}","layout":"row-spread","className":"","x":1090,"y":500,"wires":[]},{"id":"2bfe52b.a0ceeae","type":"inject","z":"2aa23fb2.5faf6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1060,"wires":[["23403150.4a364e"]]},{"id":"23403150.4a364e","type":"function","z":"2aa23fb2.5faf6","name":"전체 클라이언트 목록 가지고오기!","func":"var clients = global.get(\"clients\");\n\nvar dic = Object.keys(clients);\n\nvar list = [];\n\nfor(var i = 0;i<dic.length;i++){\n    list.push(dic[i]);\n}\n\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1060,"wires":[["36c99a2f.35f3d6"]]},{"id":"36c99a2f.35f3d6","type":"debug","z":"2aa23fb2.5faf6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1060,"wires":[]},{"id":"93addd0c.b54b6","type":"json","z":"2aa23fb2.5faf6","name":"","property":"payload","action":"","pretty":false,"x":570,"y":300,"wires":[["3b22a13d.52466e"]]},{"id":"3b22a13d.52466e","type":"function","z":"2aa23fb2.5faf6","name":"\\n","func":"msg.payload = msg.payload+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":280,"wires":[["f10866d0.fdc5a8"]]},{"id":"a29a6a14.87ea68","type":"json","z":"2aa23fb2.5faf6","name":"","property":"payload.msg","action":"","pretty":false,"x":570,"y":340,"wires":[["7ac64d4d.8ba694","fc9b1c8.5bb9de"]]},{"id":"2c75cb6c.6e2394","type":"json","z":"2aa23fb2.5faf6","name":"","property":"payload.msg","action":"","pretty":false,"x":850,"y":140,"wires":[["eec04f1c.faf1b"]]},{"id":"3f015164.9e6d6e","type":"json","z":"2aa23fb2.5faf6","name":"","property":"payload.msg","action":"","pretty":false,"x":590,"y":40,"wires":[["ad8ace44.38363"]]},{"id":"89cc6d35.e830a","type":"function","z":"2aa23fb2.5faf6","name":"","func":"if(msg.payload.to == \"#server\") return null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["3f015164.9e6d6e"]]},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"클라이언트리스트","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9c2bb4e6.01d708","type":"ui_group","name":"서버정보","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4ac94e5d.efbcd","type":"ui_group","name":"클라이언트정보","tab":"d25c9cdc.bf5cd","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false}]