267/267-2-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"5b518570.edd01c","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"","x":90,"y":240,"wires":[["43872f1d.57b5e"]]},{"id":"f57c964f.2c8158","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload.cds}}","layout":"row-spread","x":410,"y":120,"wires":[]},{"id":"65f06f04.85541","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.cds}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"256","seg2":"512","x":410,"y":160,"wires":[]},{"id":"43872f1d.57b5e","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":250,"y":220,"wires":[["f57c964f.2c8158","65f06f04.85541","2d624383.d2f32c","ff3bf2e7.ce5e4","10196158.92282f","7f8cd67d.c9f758"]]},{"id":"2d624383.d2f32c","type":"ui_text","z":"d4fe52b8.55a31","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload.photen}}","layout":"row-spread","x":410,"y":280,"wires":[]},{"id":"ff3bf2e7.ce5e4","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.photen}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"256","seg2":"512","x":410,"y":320,"wires":[]},{"id":"fe2ede78.a7503","type":"ui_chart","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":390,"y":60,"wires":[[]]},{"id":"10196158.92282f","type":"change","z":"d4fe52b8.55a31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cds","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":100,"wires":[["fe2ede78.a7503"]]},{"id":"7f8cd67d.c9f758","type":"change","z":"d4fe52b8.55a31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.photen","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":360,"wires":[["b0fcf6fb.14f3d8"]]},{"id":"b0fcf6fb.14f3d8","type":"ui_chart","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":390,"y":400,"wires":[[]]},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]