333/333-2-node-red.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"377b904e.099d7","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":250,"y":200,"wires":[["aed4c562.6abbd8","a18cbced.a0696","6dd8ca37.dac224","e78e2b67.569db8","6a9a7aa0.719ca4","499333c9.b8c3fc","81ec7f94.da3de","88fd77ff.a60468"]]},{"id":"6dd8ca37.dac224","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"게이트웨이ID","format":"{{msg.payload.gateway_id}}","layout":"row-spread","x":500,"y":280,"wires":[]},{"id":"e78e2b67.569db8","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"노드ID","format":"{{msg.payload.node_id}}","layout":"row-spread","x":470,"y":320,"wires":[]},{"id":"6a9a7aa0.719ca4","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"온도값('C)","format":"{{msg.payload.temp}}","layout":"row-spread","x":490,"y":360,"wires":[]},{"id":"499333c9.b8c3fc","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"습도값(%)","format":"{{msg.payload.humi}}","layout":"row-spread","x":490,"y":400,"wires":[]},{"id":"6a450b8.78059f4","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"게이트웨이ID","format":"{{msg.payload.gateway_id}}","layout":"row-spread","x":480,"y":620,"wires":[]},{"id":"b72a4923.c970e8","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"노드ID","format":"{{msg.payload.node_id}}","layout":"row-spread","x":450,"y":660,"wires":[]},{"id":"ee1bcebf.3d03b","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"온도값('C)","format":"{{msg.payload.temp}}","layout":"row-spread","x":470,"y":700,"wires":[]},{"id":"ff161f4c.5052c","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"습도값(%)","format":"{{msg.payload.humi}}","layout":"row-spread","x":470,"y":740,"wires":[]},{"id":"d0017382.49542","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"게이트웨이ID","format":"{{msg.payload.gateway_id}}","layout":"row-spread","x":380,"y":940,"wires":[]},{"id":"cf49d7c0.ee0f88","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"노드ID","format":"{{msg.payload.node_id}}","layout":"row-spread","x":350,"y":980,"wires":[]},{"id":"1121a21d.c0f1ee","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"온도값('C)","format":"{{msg.payload.temp}}","layout":"row-spread","x":370,"y":1020,"wires":[]},{"id":"b0a930dd.d1ab3","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"습도값(%)","format":"{{msg.payload.humi}}","layout":"row-spread","x":370,"y":1060,"wires":[]},{"id":"aed4c562.6abbd8","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":4,"width":0,"height":0,"gtype":"gage","title":"온도","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"a18cbced.a0696","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":4,"width":0,"height":0,"gtype":"gage","title":"습도","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":240,"wires":[]},{"id":"1e3d37a4.ac54a8","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"온도","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":540,"wires":[]},{"id":"50ee1441.6591dc","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"습도","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":580,"wires":[]},{"id":"502dcb1.88efa34","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":4,"width":0,"height":0,"gtype":"gage","title":"온도","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":860,"wires":[]},{"id":"66ec671b.87e798","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":4,"width":0,"height":0,"gtype":"gage","title":"습도","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":900,"wires":[]},{"id":"81ec7f94.da3de","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":120,"wires":[["fefc4439.ec6338"]]},{"id":"88fd77ff.a60468","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[["9d93590a.5afb78"]]},{"id":"6c0f0163.388ce","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["190e5fe4.c72b8"]]},{"id":"fe4b31a4.91691","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":480,"wires":[["f43f4018.9abc"]]},{"id":"dc73b294.27fd8","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":780,"wires":[["6ee9c7bd.1047b8"]]},{"id":"8605cb67.339c38","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":820,"wires":[["6b1ea3bd.75cf3c"]]},{"id":"bcb159ac.a44aa8","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/node11","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":100,"y":200,"wires":[["377b904e.099d7"]]},{"id":"202452cd.d77f9e","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/node22","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":90,"y":540,"wires":[["ede1ccbe.06c64"]]},{"id":"b74967c.de83598","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/node33","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":90,"y":640,"wires":[["1e736b5.2c37f95"]]},{"id":"ede1ccbe.06c64","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":270,"y":540,"wires":[["6c0f0163.388ce","fe4b31a4.91691","1e3d37a4.ac54a8","50ee1441.6591dc","6a450b8.78059f4","b72a4923.c970e8","ee1bcebf.3d03b","ff161f4c.5052c"]]},{"id":"1e736b5.2c37f95","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":130,"y":920,"wires":[["dc73b294.27fd8","8605cb67.339c38","502dcb1.88efa34","66ec671b.87e798","d0017382.49542","cf49d7c0.ee0f88","1121a21d.c0f1ee","b0a930dd.d1ab3"]]},{"id":"fefc4439.ec6338","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":6,"width":0,"height":0,"label":"온도('C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":120,"wires":[[]]},{"id":"9d93590a.5afb78","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":6,"width":0,"height":0,"label":"습도(%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":160,"wires":[[]]},{"id":"190e5fe4.c72b8","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":6,"width":0,"height":0,"label":"온도('C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":440,"wires":[[]]},{"id":"f43f4018.9abc","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":6,"width":0,"height":0,"label":"습도(%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":480,"wires":[[]]},{"id":"6ee9c7bd.1047b8","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":6,"width":0,"height":0,"label":"온도('C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":780,"wires":[[]]},{"id":"6b1ea3bd.75cf3c","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":6,"width":0,"height":0,"label":"습도(%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":820,"wires":[[]]},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]