333/333-1-node-red.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"bde0044a.4c1238","type":"serial in","z":"d00468c7.f49a28","name":"","serial":"5869f093.b9086","x":150,"y":280,"wires":[["377b904e.099d7"]]},{"id":"377b904e.099d7","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":270,"y":360,"wires":[["e01441ea.9992c"]]},{"id":"e01441ea.9992c","type":"switch","z":"d00468c7.f49a28","name":"","property":"payload.node_id","propertyType":"msg","rules":[{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"33","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":460,"wires":[["6dd8ca37.dac224","e78e2b67.569db8","6a9a7aa0.719ca4","499333c9.b8c3fc","aed4c562.6abbd8","a18cbced.a0696","81ec7f94.da3de","88fd77ff.a60468"],["6a450b8.78059f4","b72a4923.c970e8","ee1bcebf.3d03b","ff161f4c.5052c","1e3d37a4.ac54a8","50ee1441.6591dc","6c0f0163.388ce","fe4b31a4.91691"],["d0017382.49542","cf49d7c0.ee0f88","1121a21d.c0f1ee","b0a930dd.d1ab3","502dcb1.88efa34","66ec671b.87e798","dc73b294.27fd8","8605cb67.339c38"]]},{"id":"6dd8ca37.dac224","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"게이트웨이ID","format":"{{msg.payload.gateway_id}}","layout":"row-spread","x":500,"y":280,"wires":[]},{"id":"e78e2b67.569db8","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"노드ID","format":"{{msg.payload.node_id}}","layout":"row-spread","x":470,"y":320,"wires":[]},{"id":"6a9a7aa0.719ca4","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"온도값('C)","format":"{{msg.payload.temp}}","layout":"row-spread","x":490,"y":360,"wires":[]},{"id":"499333c9.b8c3fc","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"습도값(%)","format":"{{msg.payload.humi}}","layout":"row-spread","x":490,"y":400,"wires":[]},{"id":"6a450b8.78059f4","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"게이트웨이ID","format":"{{msg.payload.gateway_id}}","layout":"row-spread","x":800,"y":560,"wires":[]},{"id":"b72a4923.c970e8","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"노드ID","format":"{{msg.payload.node_id}}","layout":"row-spread","x":770,"y":600,"wires":[]},{"id":"ee1bcebf.3d03b","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"온도값('C)","format":"{{msg.payload.temp}}","layout":"row-spread","x":790,"y":640,"wires":[]},{"id":"ff161f4c.5052c","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"습도값(%)","format":"{{msg.payload.humi}}","layout":"row-spread","x":790,"y":680,"wires":[]},{"id":"d0017382.49542","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"게이트웨이ID","format":"{{msg.payload.gateway_id}}","layout":"row-spread","x":380,"y":780,"wires":[]},{"id":"cf49d7c0.ee0f88","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"노드ID","format":"{{msg.payload.node_id}}","layout":"row-spread","x":350,"y":820,"wires":[]},{"id":"1121a21d.c0f1ee","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"온도값('C)","format":"{{msg.payload.temp}}","layout":"row-spread","x":370,"y":860,"wires":[]},{"id":"b0a930dd.d1ab3","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"습도값(%)","format":"{{msg.payload.humi}}","layout":"row-spread","x":370,"y":900,"wires":[]},{"id":"aed4c562.6abbd8","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":4,"width":0,"height":0,"gtype":"gage","title":"온도","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"a18cbced.a0696","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":4,"width":0,"height":0,"gtype":"gage","title":"습도","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":240,"wires":[]},{"id":"1e3d37a4.ac54a8","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"온도","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":480,"wires":[]},{"id":"50ee1441.6591dc","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":4,"width":0,"height":0,"gtype":"gage","title":"습도","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":520,"wires":[]},{"id":"502dcb1.88efa34","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":4,"width":0,"height":0,"gtype":"gage","title":"온도","label":"'C","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":700,"wires":[]},{"id":"66ec671b.87e798","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":4,"width":0,"height":0,"gtype":"gage","title":"습도","label":"%","format":"{{msg.payload.humi}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":740,"wires":[]},{"id":"97d0c6cc.fd4618","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":6,"width":0,"height":0,"label":"온도('C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":500,"y":80,"wires":[[]]},{"id":"81ec7f94.da3de","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["97d0c6cc.fd4618"]]},{"id":"c4827c44.2a8ad","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":6,"width":0,"height":0,"label":"습도(%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":500,"y":120,"wires":[[]]},{"id":"88fd77ff.a60468","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["c4827c44.2a8ad"]]},{"id":"6c0f0163.388ce","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["f35671e6.7226b"]]},{"id":"fe4b31a4.91691","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":420,"wires":[["fe2ffed8.d8de"]]},{"id":"fe2ffed8.d8de","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":6,"width":0,"height":0,"label":"습도(%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":420,"wires":[[]]},{"id":"f35671e6.7226b","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":6,"width":0,"height":0,"label":"온도('C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":380,"wires":[[]]},{"id":"dc73b294.27fd8","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":620,"wires":[["f7f0a92c.02c4e8"]]},{"id":"f7f0a92c.02c4e8","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":6,"width":0,"height":0,"label":"온도('C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":720,"wires":[[]]},{"id":"c2a9a9d2.92a578","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":6,"width":0,"height":0,"label":"습도(%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":760,"wires":[[]]},{"id":"8605cb67.339c38","type":"change","z":"d00468c7.f49a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":660,"wires":[["c2a9a9d2.92a578"]]},{"id":"5869f093.b9086","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]