522/522-3(노드레드).txt
[{"id":"c0f3823.9f1d08","type":"mqtt out","z":"7c2ee624.fb7028","name":"","topic":"nockanda/1ch_relay","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":520,"y":1060,"wires":[]},{"id":"83b34c66.136d1","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":2,"width":"3","height":"1","passthru":false,"label":"1ch ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":0,\"cmd\":1}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":800,"wires":[["c0f3823.9f1d08"]]},{"id":"828b7b6c.2e02e8","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":3,"width":"3","height":"1","passthru":false,"label":"1ch OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":0,\"cmd\":0}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":840,"wires":[["c0f3823.9f1d08"]]},{"id":"e375509.06a33b","type":"mqtt in","z":"7c2ee624.fb7028","name":"","topic":"nockanda/response","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":130,"y":60,"wires":[["eef3f32a.7023d"]]},{"id":"eef3f32a.7023d","type":"json","z":"7c2ee624.fb7028","name":"","property":"payload","action":"","pretty":false,"x":320,"y":40,"wires":[["edcd5c5e.3e1e4"]]},{"id":"9f9638ca.a06058","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":18,"width":0,"height":0,"name":"","label":"1ch LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":140,"wires":[]},{"id":"4fd76b1b.dcdf24","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":140,"wires":[["7b7cb92.8425748"],["e046b8f9.e590c8"]]},{"id":"e046b8f9.e590c8","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["9f9638ca.a06058"]]},{"id":"7b7cb92.8425748","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["9f9638ca.a06058"]]},{"id":"edcd5c5e.3e1e4","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.ch","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":110,"y":200,"wires":[["4fd76b1b.dcdf24"],["545a96e6.1c4d58"],["f4254d4f.5e70b"],["346722e1.fee73e"],["3d95bc79.b10a84"],["f5fead11.3076"],["a0407f65.451a3"],["daa8e872.a5ad58"]]},{"id":"a1b792fc.5d5fa","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":19,"width":0,"height":0,"name":"","label":"2ch LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":220,"wires":[]},{"id":"3ab98565.b1b58a","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["a1b792fc.5d5fa"]]},{"id":"1c5b530f.8db6dd","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["a1b792fc.5d5fa"]]},{"id":"545a96e6.1c4d58","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":220,"wires":[["1c5b530f.8db6dd"],["3ab98565.b1b58a"]]},{"id":"6e69164d.638648","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":20,"width":0,"height":0,"name":"","label":"3ch LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":300,"wires":[]},{"id":"d068b1d4.e5f04","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["6e69164d.638648"]]},{"id":"83e49e7c.46e9","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":280,"wires":[["6e69164d.638648"]]},{"id":"f4254d4f.5e70b","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":300,"wires":[["83e49e7c.46e9"],["d068b1d4.e5f04"]]},{"id":"13e656c9.3b95e9","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":21,"width":0,"height":0,"name":"","label":"4ch LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":380,"wires":[]},{"id":"63994f09.50b58","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[["13e656c9.3b95e9"]]},{"id":"2767e8af.0a2aa8","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":360,"wires":[["13e656c9.3b95e9"]]},{"id":"346722e1.fee73e","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":380,"wires":[["2767e8af.0a2aa8"],["63994f09.50b58"]]},{"id":"af38f978.c13c78","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":22,"width":0,"height":0,"name":"","label":"5ch LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":460,"wires":[]},{"id":"6f2953e9.7e628c","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[["af38f978.c13c78"]]},{"id":"6ecbbf5e.461ff","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["af38f978.c13c78"]]},{"id":"3d95bc79.b10a84","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":460,"wires":[["6ecbbf5e.461ff"],["6f2953e9.7e628c"]]},{"id":"e06250a4.a7f65","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":23,"width":0,"height":0,"name":"","label":"6ch LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":540,"wires":[]},{"id":"11598de.87b6872","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":560,"wires":[["e06250a4.a7f65"]]},{"id":"7c78313a.a29bc","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["e06250a4.a7f65"]]},{"id":"f5fead11.3076","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":540,"wires":[["7c78313a.a29bc"],["11598de.87b6872"]]},{"id":"44a44b9b.008244","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":24,"width":0,"height":0,"name":"","label":"7ch LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":620,"wires":[]},{"id":"79dad391.87006c","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":640,"wires":[["44a44b9b.008244"]]},{"id":"6be808ad.c133f8","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":600,"wires":[["44a44b9b.008244"]]},{"id":"a0407f65.451a3","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":620,"wires":[["6be808ad.c133f8"],["79dad391.87006c"]]},{"id":"3325f3f1.e89d8c","type":"ui_text","z":"7c2ee624.fb7028","group":"2e91c6de.e9a80a","order":25,"width":0,"height":0,"name":"","label":"8ch LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":700,"wires":[]},{"id":"cf87d40.2e77a3","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":720,"wires":[["3325f3f1.e89d8c"]]},{"id":"ef10cfa1.abac3","type":"change","z":"7c2ee624.fb7028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":680,"wires":[["3325f3f1.e89d8c"]]},{"id":"daa8e872.a5ad58","type":"switch","z":"7c2ee624.fb7028","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":700,"wires":[["ef10cfa1.abac3"],["cf87d40.2e77a3"]]},{"id":"233eb041.75321","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":4,"width":"3","height":"1","passthru":false,"label":"2ch ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":1,\"cmd\":1}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":880,"wires":[["c0f3823.9f1d08"]]},{"id":"18bb513d.fa441f","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":5,"width":"3","height":"1","passthru":false,"label":"2ch OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":1,\"cmd\":0}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":920,"wires":[["c0f3823.9f1d08"]]},{"id":"c9eec.ca918114","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":6,"width":"3","height":"1","passthru":false,"label":"3ch ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":2,\"cmd\":1}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":960,"wires":[["c0f3823.9f1d08"]]},{"id":"b5dd8b0b.8f17b8","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":7,"width":"3","height":"1","passthru":false,"label":"3ch OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":2,\"cmd\":0}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1000,"wires":[["c0f3823.9f1d08"]]},{"id":"c4cd1607.4e76b8","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":8,"width":"3","height":"1","passthru":false,"label":"4ch ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":3,\"cmd\":1}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1040,"wires":[["c0f3823.9f1d08"]]},{"id":"505e4004.45318","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":9,"width":"3","height":"1","passthru":false,"label":"4ch OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":3,\"cmd\":0}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1080,"wires":[["c0f3823.9f1d08"]]},{"id":"2cc22369.95a1ac","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":10,"width":"3","height":"1","passthru":false,"label":"5ch ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":4,\"cmd\":1}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1120,"wires":[["c0f3823.9f1d08"]]},{"id":"80254bf8.5a6738","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":11,"width":"3","height":"1","passthru":false,"label":"5ch OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":4,\"cmd\":0}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1160,"wires":[["c0f3823.9f1d08"]]},{"id":"5044620c.4f9ebc","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":12,"width":"3","height":"1","passthru":false,"label":"6ch ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":5,\"cmd\":1}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1200,"wires":[["c0f3823.9f1d08"]]},{"id":"8f048abe.2d9378","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":13,"width":"3","height":"1","passthru":false,"label":"6ch OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":5,\"cmd\":0}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1240,"wires":[["c0f3823.9f1d08"]]},{"id":"d2fba8a4.b211d8","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":14,"width":"3","height":"1","passthru":false,"label":"7ch ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":6,\"cmd\":1}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1280,"wires":[["c0f3823.9f1d08"]]},{"id":"a302d0fa.8f491","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":15,"width":"3","height":"1","passthru":false,"label":"7ch OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":6,\"cmd\":0}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1320,"wires":[["c0f3823.9f1d08"]]},{"id":"93a20fa4.7f284","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":16,"width":"3","height":"1","passthru":false,"label":"8ch ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":7,\"cmd\":1}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1360,"wires":[["c0f3823.9f1d08"]]},{"id":"a584926e.6653","type":"ui_button","z":"7c2ee624.fb7028","name":"","group":"2e91c6de.e9a80a","order":17,"width":"3","height":"1","passthru":false,"label":"8ch OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":2,\"ch\":7,\"cmd\":0}","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1400,"wires":[["c0f3823.9f1d08"]]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]