271/271-3-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"3bfa65d8.e865da","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":130,"y":240,"wires":[["88d7dd28.7270f"]]},{"id":"a21fd40d.3e09c8","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"알콜농도","format":"{{msg.payload.mq3}}","layout":"row-spread","x":520,"y":200,"wires":[]},{"id":"2404e45a.432f7c","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"gtype":"gage","title":"알콜농도(PPM)","label":"units","format":"{{msg.payload.mq3}}","min":0,"max":"0.1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":260,"wires":[]},{"id":"88d7dd28.7270f","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":300,"y":280,"wires":[["a21fd40d.3e09c8","2404e45a.432f7c","d4950365.49887","cae59dbf.10d7f"]]},{"id":"d4950365.49887","type":"ui_text","z":"d4fe52b8.55a31","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"부탄농도","format":"{{msg.payload.mq6}}","layout":"row-spread","x":520,"y":340,"wires":[]},{"id":"cae59dbf.10d7f","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"gtype":"gage","title":"부탄농도(PPM)","label":"units","format":"{{msg.payload.mq6}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":400,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"MQ3(알콜)","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"MQ6(부탄)","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]