280/280-4-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"7d8abc2f.dfe2a4","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/out","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":310,"y":180,"wires":[["eccdbbde.280688"]]},{"id":"eccdbbde.280688","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":120,"wires":[]},{"id":"4e795c77.2fe1b4","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":500,"y":340,"wires":[]},{"id":"5798d5b6.8bb6dc","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"options":[{"label":"조명1","value":"LED1","type":"switch","required":true,"rows":null},{"label":"조명2","value":"LED2","type":"switch","required":true,"rows":null},{"label":"조명3","value":"LED3","type":"switch","required":true,"rows":null},{"label":"조명4","value":"LED4","type":"switch","required":true,"rows":null}],"formValue":{"LED1":false,"LED2":false,"LED3":false,"LED4":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":90,"y":360,"wires":[["2a222817.4c5168"]]},{"id":"cf52089b.fcb698","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":330,"y":360,"wires":[["4e795c77.2fe1b4"]]},{"id":"2a222817.4c5168","type":"function","z":"d00468c7.f49a28","name":"","func":"if(msg.payload.LED1 == \"\"){\n    msg.payload.LED1 = false;\n}\nif(msg.payload.LED2 == \"\"){\n    msg.payload.LED2 = false;\n}\nif(msg.payload.LED3 == \"\"){\n    msg.payload.LED3 = false;\n}\nif(msg.payload.LED4 == \"\"){\n    msg.payload.LED4 = false;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":440,"wires":[["cf52089b.fcb698"]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]