280/280-5-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"7d8abc2f.dfe2a4","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"home1/msg","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":150,"y":100,"wires":[["eccdbbde.280688"]]},{"id":"eccdbbde.280688","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":100,"wires":[]},{"id":"4e795c77.2fe1b4","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"home1/room","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":730,"y":160,"wires":[]},{"id":"5798d5b6.8bb6dc","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"home1/room","group":"30b5144.689caec","order":1,"width":0,"height":0,"options":[{"label":"조명1","value":"LED1","type":"switch","required":true,"rows":null},{"label":"조명2","value":"LED2","type":"switch","required":true,"rows":null},{"label":"조명3","value":"LED3","type":"switch","required":true,"rows":null},{"label":"조명4","value":"LED4","type":"switch","required":true,"rows":null}],"formValue":{"LED1":false,"LED2":false,"LED3":false,"LED4":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":150,"y":160,"wires":[["2a222817.4c5168"]]},{"id":"cf52089b.fcb698","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":550,"y":160,"wires":[["4e795c77.2fe1b4"]]},{"id":"2a222817.4c5168","type":"function","z":"d00468c7.f49a28","name":"","func":"if(msg.payload.LED1 == \"\"){\n    msg.payload.LED1 = false;\n}\nif(msg.payload.LED2 == \"\"){\n    msg.payload.LED2 = false;\n}\nif(msg.payload.LED3 == \"\"){\n    msg.payload.LED3 = false;\n}\nif(msg.payload.LED4 == \"\"){\n    msg.payload.LED4 = false;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["cf52089b.fcb698"]]},{"id":"e5dec96e.89ae68","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"home2/msg","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":150,"y":240,"wires":[["7f09f2b3.11405c"]]},{"id":"7f09f2b3.11405c","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":240,"wires":[]},{"id":"2c12016e.5edd7e","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"home2/room","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":730,"y":300,"wires":[]},{"id":"22501ee3.753952","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"home2/room","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"options":[{"label":"조명1","value":"LED1","type":"switch","required":true,"rows":null},{"label":"조명2","value":"LED2","type":"switch","required":true,"rows":null},{"label":"조명3","value":"LED3","type":"switch","required":true,"rows":null},{"label":"조명4","value":"LED4","type":"switch","required":true,"rows":null}],"formValue":{"LED1":false,"LED2":false,"LED3":false,"LED4":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":150,"y":300,"wires":[["8929c4ef.fba008"]]},{"id":"dcbbc1a6.16f64","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":550,"y":300,"wires":[["2c12016e.5edd7e"]]},{"id":"8929c4ef.fba008","type":"function","z":"d00468c7.f49a28","name":"","func":"if(msg.payload.LED1 == \"\"){\n    msg.payload.LED1 = false;\n}\nif(msg.payload.LED2 == \"\"){\n    msg.payload.LED2 = false;\n}\nif(msg.payload.LED3 == \"\"){\n    msg.payload.LED3 = false;\n}\nif(msg.payload.LED4 == \"\"){\n    msg.payload.LED4 = false;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":300,"wires":[["dcbbc1a6.16f64"]]},{"id":"1a10029f.ea4a6d","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"home3/msg","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":150,"y":380,"wires":[["fddcfcdd.cd096"]]},{"id":"fddcfcdd.cd096","type":"ui_text","z":"d00468c7.f49a28","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":380,"wires":[]},{"id":"9c95eaf7.1638e8","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"home3/room","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":730,"y":440,"wires":[]},{"id":"aea7e5a0.2ede78","type":"ui_form","z":"d00468c7.f49a28","name":"","label":"home3/room","group":"c64ab8d6.5e1f38","order":1,"width":0,"height":0,"options":[{"label":"조명1","value":"LED1","type":"switch","required":true,"rows":null},{"label":"조명2","value":"LED2","type":"switch","required":true,"rows":null},{"label":"조명3","value":"LED3","type":"switch","required":true,"rows":null},{"label":"조명4","value":"LED4","type":"switch","required":true,"rows":null}],"formValue":{"LED1":false,"LED2":false,"LED3":false,"LED4":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":150,"y":440,"wires":[["2a9fe92d.f0f606"]]},{"id":"12b59841.fc6698","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":550,"y":440,"wires":[["9c95eaf7.1638e8"]]},{"id":"2a9fe92d.f0f606","type":"function","z":"d00468c7.f49a28","name":"","func":"if(msg.payload.LED1 == \"\"){\n    msg.payload.LED1 = false;\n}\nif(msg.payload.LED2 == \"\"){\n    msg.payload.LED2 = false;\n}\nif(msg.payload.LED3 == \"\"){\n    msg.payload.LED3 = false;\n}\nif(msg.payload.LED4 == \"\"){\n    msg.payload.LED4 = false;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":440,"wires":[["12b59841.fc6698"]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":4,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]