280/280-2-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"7d8abc2f.dfe2a4","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/out","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":230,"y":260,"wires":[["eccdbbde.280688"]]},{"id":"eccdbbde.280688","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":200,"wires":[]},{"id":"4e795c77.2fe1b4","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":500,"y":340,"wires":[]},{"id":"7158a0a0.e8f93","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"passthru":false,"label":"ON button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":380,"wires":[["4e795c77.2fe1b4"]]},{"id":"4087a61f.6a5b38","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":2,"width":0,"height":0,"passthru":false,"label":"OFF button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":440,"wires":[["4e795c77.2fe1b4"]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]