280/280-8-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"7d8abc2f.dfe2a4","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/msg","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":220,"y":200,"wires":[["b57ad2a1.ec5fd"]]},{"id":"eccdbbde.280688","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload.sensor1}}","layout":"row-spread","x":550,"y":120,"wires":[]},{"id":"b57ad2a1.ec5fd","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":400,"y":200,"wires":[["eccdbbde.280688","41457a12.0ca484","67fbddd8.db54f4"]]},{"id":"41457a12.0ca484","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload.sensor2}}","layout":"row-spread","x":550,"y":200,"wires":[]},{"id":"67fbddd8.db54f4","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload.sensor3}}","layout":"row-spread","x":550,"y":280,"wires":[]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]