361/361-기본템플릿테스트하는코드.txt
[{"id":"99490d49.ee652","type":"ui_template","z":"2ae616c6.62516a","group":"aa2634f1.1bbfd8","name":"1.유저가 넘긴값을 화면에 출력하라!","order":0,"width":0,"height":0,"format":"결과 : {{msg.payload}}","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":490,"y":360,"wires":[[]]},{"id":"776b6cda.2c7f54","type":"inject","z":"2ae616c6.62516a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"노칸다포에버!!","payloadType":"str","x":160,"y":300,"wires":[["99490d49.ee652"]]},{"id":"e245cdc6.2f78f","type":"inject","z":"2ae616c6.62516a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"안녕하세요 녹칸다입니다!!","payloadType":"str","x":170,"y":360,"wires":[["99490d49.ee652"]]},{"id":"8b12aa80.8e7f78","type":"ui_template","z":"2ae616c6.62516a","group":"aa2634f1.1bbfd8","name":"2.앞에서 넘어오는 매개변수가 2개이상일때 출력해보기!","order":0,"width":0,"height":0,"format":"보일러메시지 : {{msg.data1}}<BR>\n현재 온도 : {{msg.data2}}","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":550,"y":440,"wires":[[]]},{"id":"45f68c93.c142c4","type":"inject","z":"2ae616c6.62516a","name":"","props":[{"p":"data1","v":"나는 보일러 1번이다!!","vt":"str"},{"p":"data2","v":"현재 온도는 29도이다!!","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":420,"wires":[["8b12aa80.8e7f78"]]},{"id":"7860e7e.9e6d318","type":"inject","z":"2ae616c6.62516a","name":"","props":[{"p":"data1","v":"나는 보일러 2번이다!!","vt":"str"},{"p":"data2","v":"현재 온도는 22도이다!!","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":480,"wires":[["8b12aa80.8e7f78"]]},{"id":"147ae7f8.fc6aa8","type":"ui_template","z":"2ae616c6.62516a","group":"aa2634f1.1bbfd8","name":"3.인풋박스에 결과를 출력해보자!","order":0,"width":0,"height":0,"format":"<div>\n\t<input ng-model=msg.payload style=\"width: 100px; height:20px;\"/>\n\t<md-button ng-click=\"send({payload:msg.payload})\">전송!</md-button>\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":480,"y":540,"wires":[["a066f4.a2bd191"]]},{"id":"280ff790.94fb58","type":"inject","z":"2ae616c6.62516a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"노칸다포에버!!","payloadType":"str","x":140,"y":540,"wires":[["147ae7f8.fc6aa8"]]},{"id":"a066f4.a2bd191","type":"debug","z":"2ae616c6.62516a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":540,"wires":[]},{"id":"14a40f64.83b641","type":"ui_template","z":"2ae616c6.62516a","group":"aa2634f1.1bbfd8","name":"4.버튼을 누르면 인풋박스 2개의 값을 리스트로 출력","order":0,"width":0,"height":0,"format":"<div>\n시작시간<input ng-model='msg1' style=\"width: 100px; height:40px;\"/>\n종료시간<input ng-model='msg2' style=\"width: 100px; height:40px;\"/>\n<md-button style=\"width: 100px; height:40px;\" ng-click=\"send({payload:[msg1,msg2]})\">설정</md-button>\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":530,"y":620,"wires":[["6f301e58.69967"]]},{"id":"6f301e58.69967","type":"debug","z":"2ae616c6.62516a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":620,"wires":[]},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"클라이언트리스트","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info_outline","order":1,"disabled":false,"hidden":false}]