361/361-노드레드TCP서버.txt
[{"id":"46860c9e.c5e754","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"ed495fb6.64b1a","type":"tcp in","z":"46860c9e.c5e754","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":80,"y":160,"wires":[["83fdc1e9.f07f3","8b5f06e7.c4bd88"]]},{"id":"22ea1b13.2751a4","type":"tcp out","z":"46860c9e.c5e754","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":410,"y":120,"wires":[]},{"id":"55addf34.c84ab","type":"function","z":"46860c9e.c5e754","name":"메시지에코","func":"msg.payload = \"[서버응답]\" + msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[[]]},{"id":"83fdc1e9.f07f3","type":"function","z":"46860c9e.c5e754","name":"클라언트등록","func":"if(msg.payload[0] == '#'){\n   //디바이스 아이디인것이다!\n   //등록을 해야한다!\n   //#OK를 응답한다!\n   msg.payload = msg.payload.replace(\"\\r\",\"\");\n   msg.payload = msg.payload.replace(\"\\n\",\"\");\n  //msg.payload = 디바이스ID\n  //msg = 디바이스의 소켓\n   //클라이언트 목록 오브젝트를 가져온다\n   var clients = global.get(\"clients\");\n\n   //혹시~~전역변수 목록이 생성이 안되어 있으면 내가 생성한다!\n   if(clients == null) global.set(\"clients\",{});\n\n   //무조건 전역변수 clients목록이 있는것이다!\n\n   //msg 오브젝트에 마지막데이터 수신시간 필드를 할당한다\n   msg.last_msg = new Date();\n   msg.send = 0;\n   msg.recv = 0;\n   msg.run = true;\n\n   clients[msg.payload] = msg;\n   \n   msg.payload = \"#OK\\n\";\n   return msg;\n}else{\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":120,"wires":[["22ea1b13.2751a4"]]},{"id":"8fdffab3.8f3ec8","type":"debug","z":"46860c9e.c5e754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":800,"wires":[]},{"id":"8c95e901.e312e8","type":"status","z":"46860c9e.c5e754","name":"","scope":["ed495fb6.64b1a"],"x":140,"y":580,"wires":[["8547390c.950f38"]]},{"id":"8547390c.950f38","type":"function","z":"46860c9e.c5e754","name":"클라이언트가끊어지는부분","func":"if(msg.status.event != \"disconnect\") return null;\n\n//클라이언트 목록을 가져온다!\nvar clients = global.get(\"clients\"); //딕셔너리\nvar list = Object.keys(clients);\n\n//msg.ip  msg.port\n//msg.status.event (connect,disconnect)\n//msg.status.ip\n//msg.status.port\n\n//현재 끊어지는 소켓정보하고 등록된 정보하고 같은게 있다면 그녀석을 삭제하겠다!\nfor(var i = 0;i<list.length;i++){\n    //list[i] : i번째 디바이스의 이름\n    //clients : 디바이스의 딕셔너리\n    var socket = clients[list[i]];\n    if(socket != null){\n        if(socket.ip == msg.status.ip && socket.port == msg.status.port){\n            //디바이스목록에서 삭제해라\n            //global.set(list[i],undefined);\n            delete clients[list[i]];\n            break;\n        }\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":640,"wires":[[]]},{"id":"faabbde6.f8268","type":"inject","z":"46860c9e.c5e754","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":740,"wires":[["c3ba7255.82c75"]]},{"id":"c3ba7255.82c75","type":"function","z":"46860c9e.c5e754","name":"","func":"var list = global.keys();\n\nfor(var i = 0;i<list.length;i++){\n    global.set(list[i],undefined);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":740,"wires":[[]]},{"id":"4111e02.b86a52","type":"inject","z":"46860c9e.c5e754","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":440,"wires":[["4581f105.107b1","aca15106.1ab03"]]},{"id":"4581f105.107b1","type":"function","z":"46860c9e.c5e754","name":"클라이언트목록조회","func":"var clients = global.get(\"clients\");\nvar dic = Object.keys(clients);\n\n//클라이언트들의 목록을 가지고 온다!\nvar list = []; //list UI에 반환해야할 변수\nvar now = new Date();\n\nfor(var i = 0;i<dic.length;i++){\n  //dic[i] : i번째 클라이언트의 ID\n  //clients[dic[i]] : i번째 클라이언트의 소켓\n  var socket = clients[dic[i]];\n\n  var timeout = now  - socket.last_msg;\n\n  if(timeout > 5000){\n      //클라이언트 비활성상태\n      list.push(\"<img src=/link2.png width=30 height=30> <font color=red>\"+dic[i]+\"[▲\"+socket.send+\"/▼\"+socket.recv+\"]</font>\");\n      socket.run = false;\n  }else{\n      //활성~!\n      list.push(\"<img src=/link1.png width=30 height=30> <font color=black>\"+dic[i]+\"[▲\"+socket.send+\"/▼\"+socket.recv+\"]</font>\");\n      socket.run = true;\n  }\n\n}\n\n\nmsg.payload = list; //list\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":440,"wires":[["bd7685fa.0f1db8"]]},{"id":"bd7685fa.0f1db8","type":"ui_list","z":"46860c9e.c5e754","group":"aa2634f1.1bbfd8","name":"","order":0,"width":"6","height":"10","lineType":"two","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":550,"y":400,"wires":[["c4678a0d.c76a08"]]},{"id":"8b5f06e7.c4bd88","type":"function","z":"46860c9e.c5e754","name":"일반메시지","func":"if(msg.payload[0] == '#') return null;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":220,"wires":[["696db6bf.1eef68"]]},{"id":"696db6bf.1eef68","type":"json","z":"46860c9e.c5e754","name":"","property":"payload","action":"","pretty":false,"x":390,"y":300,"wires":[["14d441ee.b82d1e","89c84b54.5d6fc8","f7ef99fa.e801c8"]]},{"id":"14d441ee.b82d1e","type":"function","z":"46860c9e.c5e754","name":"받는소켓을찾는부분","func":"var clients = global.get(\"clients\");\n\n//받는놈의 id가 #server인경우를 별도로 뺸다\nif(msg.payload.to == \"#server\"){\n    //보내는놈의 소켓을 가지고 와서 마지막 데이터 수신시간을 기록한다!\n    //msg.payload.from\n    var sender_socket = clients[msg.payload.from];\n    \n    if(sender_socket != null){\n        //시간기록~!\n        sender_socket.last_msg = new Date();\n    }\n    msg.payload = msg.payload.msg.length;\n    \n    return [null,null];\n}\n\n//받는놈의 소켓을 가지고 오라\n\nvar socket = clients[msg.payload.to];\n\n//msg.payload.msg => 서버에서 보내줘야할 메시지\n\n\nif(socket != null && socket.run){\n    var myobject = {};\n    myobject.from = msg.payload.from;\n    myobject.msg = msg.payload.msg;\n\n    socket.payload = myobject;\n    socket.to = msg.payload.to;\n    socket.len = msg.payload.msg.length;\n    return [socket,msg];\n}else{\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["e05c760a.64d228","53824d37.567d64"],["2178f9e7.454716","44e6a022.c983c"]]},{"id":"e42e8d33.4a5ae","type":"tcp out","z":"46860c9e.c5e754","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":890,"y":280,"wires":[]},{"id":"3f97c79f.9b4e38","type":"inject","z":"46860c9e.c5e754","name":"전역변수설정","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":40,"wires":[["13b8f790.efe8d8"]]},{"id":"13b8f790.efe8d8","type":"function","z":"46860c9e.c5e754","name":"전역변수설정","func":"\n//비어있는 클라이언트 목록을 생성\nvar clients = {};\nglobal.set(\"clients\",clients);\n//클라이언트들이 송신하는 데이터의 총량을 저장하는 변수\nvar upload = {};\nupload.byte = 0;\nglobal.set(\"upload\",upload);\n//클라이언트들이 수신하는 데이터의 총량을 저장하는 변수\nvar dnload = {};\ndnload.byte = 0;\nglobal.set(\"dnload\",dnload);\n\nvar runtime = {};\nruntime.time = new Date();\nglobal.set(\"runtime\",runtime);\n\nvar boiler1 = {};\nboiler1.power = \"0\";\nboiler1.timer_state = \"0\";\nboiler1.timer_start = \"0\";\nboiler1.timer_end = \"0\";\nboiler1.div1 = \"0\";\nboiler1.div2 = \"0\";\nboiler1.div3 = \"0\";\nboiler1.div4 = \"0\";\nglobal.set(\"boiler1\",boiler1);\n\nvar boiler2 = {};\nboiler2.power = \"0\";\nboiler2.timer_state = \"0\";\nboiler2.timer_start = \"0\";\nboiler2.timer_end = \"0\";\nboiler2.div1 = \"0\";\nboiler2.div2 = \"0\";\nboiler2.div3 = \"0\";\nboiler2.div4 = \"0\";\nglobal.set(\"boiler2\",boiler2);\n\nvar boiler3 = {};\nboiler3.power = \"0\";\nboiler3.timer_state = \"0\";\nboiler3.timer_start = \"0\";\nboiler3.timer_end = \"0\";\nboiler3.div1 = \"0\";\nboiler3.div2 = \"0\";\nboiler3.div3 = \"0\";\nboiler3.div4 = \"0\";\nglobal.set(\"boiler3\",boiler3);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":40,"wires":[[]]},{"id":"1a071c6d.366dc4","type":"inject","z":"46860c9e.c5e754","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":800,"wires":[["b6e2ef7f.031dc"]]},{"id":"b6e2ef7f.031dc","type":"function","z":"46860c9e.c5e754","name":"전역변수 목록을 가지고오는 블럭","func":"var list = global.keys();\n\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":800,"wires":[["8fdffab3.8f3ec8"]]},{"id":"58f6d1e8.cdf27","type":"inject","z":"46860c9e.c5e754","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":860,"wires":[["1a7b45e9.c39d7a"]]},{"id":"1a7b45e9.c39d7a","type":"function","z":"46860c9e.c5e754","name":"#device1에 소켓 정보를 조회한다","func":"var clients = global.get(\"clients\");\n\nvar socket = clients[\"#device1\"];\n\nif(socket != null){\n    return socket;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":860,"wires":[["c830b515.b1cfe8"]]},{"id":"c830b515.b1cfe8","type":"debug","z":"46860c9e.c5e754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":920,"wires":[]},{"id":"2178f9e7.454716","type":"function","z":"46860c9e.c5e754","name":"전체upload량측정","func":"var upload = global.get(\"upload\");\n//upload.byte\n\nvar len = msg.payload.msg.length;\n\nupload.byte += len;\n\nmsg.payload = upload.byte;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":200,"wires":[[]]},{"id":"9fb950ee.43181","type":"function","z":"46860c9e.c5e754","name":"전체dnload량측정","func":"var upload = global.get(\"dnload\");\n\n//msg.len => 유효한 메시지의 길이\n\nupload.byte += msg.payload.msg.length;\n\nmsg.payload = upload.byte;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":320,"wires":[[]]},{"id":"5b2407cc.70bef8","type":"ui_text","z":"46860c9e.c5e754","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버에들어오는데이터총량(byte)","format":"{{msg.byte}}","layout":"row-spread","className":"","x":640,"y":480,"wires":[]},{"id":"52be332c.f34e6c","type":"ui_text","z":"46860c9e.c5e754","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버에서나가는데이터총량(byte)","format":"{{msg.byte}}","layout":"row-spread","className":"","x":640,"y":520,"wires":[]},{"id":"9bfce01.423ca2","type":"inject","z":"46860c9e.c5e754","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":980,"wires":[["b2c7aa1.5027958"]]},{"id":"b2c7aa1.5027958","type":"function","z":"46860c9e.c5e754","name":"#device1청소부!","func":"var clients = global.get(\"clients\");\nvar socket = clients[\"#device1\"];\n\nvar timeout = new Date() - socket.last_msg;\n\nif(timeout > 5000){\n    //클라이언트 비활성상태\n    msg.payload = \"클라이언트 비활성!\";\n}else{\n    //활성~!\n    msg.payload = \"클라이언트 활성!\";\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":980,"wires":[["256e9450.d4d4ac"]]},{"id":"256e9450.d4d4ac","type":"debug","z":"46860c9e.c5e754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":980,"wires":[]},{"id":"aca15106.1ab03","type":"function","z":"46860c9e.c5e754","name":"서버상태업데이트","func":"var upload = global.get(\"upload\");\nvar dnload = global.get(\"dnload\");\nvar runtime = global.get(\"runtime\");\n\nvar now = new Date();\nvar time = now - runtime.time;\ntime = time/1000;\n\nmsg.time = time;\nmsg.now = now.toString();\n\nreturn [upload,dnload,msg];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":500,"wires":[["5b2407cc.70bef8"],["52be332c.f34e6c"],["aeacfc63.add0b","a9aa5d56.77b1e"]]},{"id":"33148376.82f15c","type":"function","z":"46860c9e.c5e754","name":"디바이스별로 송신데이터를 체크","func":"var clients = global.get(\"clients\");\n\nif(msg.payload.to == \"#server\") return null;\n\nvar socket = clients[msg.payload.from];\n\nif(socket == null) return null;\n\nsocket.send += msg.payload.msg.length;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":40,"wires":[[]]},{"id":"ac160e67.9b117","type":"function","z":"46860c9e.c5e754","name":"디바이스별dnload량측정","func":"var clients = global.get(\"clients\");\n//msg.len = 메시지의길이\n//msg.to = 받는놈의 ID\nvar socket = clients[msg.to];\n\nif(socket == null) return null;\n\nsocket.recv += msg.payload.msg.length;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":360,"wires":[[]]},{"id":"aeacfc63.add0b","type":"ui_text","z":"46860c9e.c5e754","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버작동시간(초)","format":"{{msg.time}}","layout":"row-spread","className":"","x":590,"y":560,"wires":[]},{"id":"a9aa5d56.77b1e","type":"ui_text","z":"46860c9e.c5e754","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버의 현재시간","format":"{{msg.now}}","layout":"row-spread","className":"","x":580,"y":600,"wires":[]},{"id":"6b085ed8.b2f02","type":"ui_text","z":"46860c9e.c5e754","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"IP주소","format":"{{msg.ip}}","layout":"row-spread","className":"","x":1070,"y":340,"wires":[]},{"id":"c4678a0d.c76a08","type":"function","z":"46860c9e.c5e754","name":"클라이언트ID분리기+소켓정보반환","func":"var clients = global.get(\"clients\");\n\nvar data = msg.payload.title;\nvar start = data.indexOf(\">#\")+1;\nvar end = data.indexOf(\"[▲\");\nvar id = data.substring(start,end);\n\nvar socket = clients[id];\n\nif(socket == null) return null;\n\n\n\nreturn socket;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":400,"wires":[["6b085ed8.b2f02","89d3f24d.ef0e4","cb1c970d.8676c8","c4d06b0c.798dc8","c69e2592.df1e58"]]},{"id":"89d3f24d.ef0e4","type":"ui_text","z":"46860c9e.c5e754","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"포트번호","format":"{{msg.port}}","layout":"row-spread","className":"","x":1080,"y":380,"wires":[]},{"id":"cb1c970d.8676c8","type":"ui_text","z":"46860c9e.c5e754","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"마지막메시지수신시간","format":"{{msg.last_msg}}","layout":"row-spread","className":"","x":1120,"y":420,"wires":[]},{"id":"c4d06b0c.798dc8","type":"ui_text","z":"46860c9e.c5e754","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"세션타입","format":"{{msg._session.type}}","layout":"row-spread","className":"","x":1080,"y":460,"wires":[]},{"id":"c69e2592.df1e58","type":"ui_text","z":"46860c9e.c5e754","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"세션아이디","format":"{{msg._session.id}}","layout":"row-spread","className":"","x":1090,"y":500,"wires":[]},{"id":"32e4d862.224af8","type":"inject","z":"46860c9e.c5e754","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1060,"wires":[["4c4e5e2.77ff5a"]]},{"id":"4c4e5e2.77ff5a","type":"function","z":"46860c9e.c5e754","name":"전체 클라이언트 목록 가지고오기!","func":"var clients = global.get(\"clients\");\n\nvar dic = Object.keys(clients);\n\nvar list = [];\n\nfor(var i = 0;i<dic.length;i++){\n    list.push(dic[i]);\n}\n\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1060,"wires":[["e4dd6ba6.15bcf8"]]},{"id":"e4dd6ba6.15bcf8","type":"debug","z":"46860c9e.c5e754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1060,"wires":[]},{"id":"ef9b2ad3.123c08","type":"ui_template","z":"46860c9e.c5e754","group":"832145a9.25bca8","name":"컨트롤패널","order":0,"width":"25","height":"14","format":"<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<title>제어패널샘플</title>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=euc-kr\" />\n<!-- Save for Web Styles (제어패널샘플.png) -->\n<style type=\"text/css\">\n<!--\n\n#__01 {\n\tposition:absolute;\n\tleft:0px;\n\ttop:0px;\n\twidth:1280px;\n\theight:720px;\n}\n\n#nockanda-01_ {\n\tposition:absolute;\n\tleft:0px;\n\ttop:0px;\n\twidth:1280px;\n\theight:135px;\n}\n\n#nockanda-02_ {\n\tposition:absolute;\n\tleft:0px;\n\ttop:135px;\n\twidth:180px;\n\theight:114px;\n}\n\n#nockanda-03_ {\n\tposition:absolute;\n\tleft:180px;\n\ttop:135px;\n\twidth:153px;\n\theight:89px;\n}\n\n#nockanda-04_ {\n\tposition:absolute;\n\tleft:333px;\n\ttop:135px;\n\twidth:271px;\n\theight:114px;\n}\n\n#nockanda-05_ {\n\tposition:absolute;\n\tleft:604px;\n\ttop:135px;\n\twidth:156px;\n\theight:89px;\n}\n\n#nockanda-06_ {\n\tposition:absolute;\n\tleft:760px;\n\ttop:135px;\n\twidth:263px;\n\theight:114px;\n}\n\n#nockanda-07_ {\n\tposition:absolute;\n\tleft:1023px;\n\ttop:135px;\n\twidth:154px;\n\theight:89px;\n}\n\n#nockanda-08_ {\n\tposition:absolute;\n\tleft:1177px;\n\ttop:135px;\n\twidth:103px;\n\theight:403px;\n}\n\n#nockanda-09_ {\n\tposition:absolute;\n\tleft:180px;\n\ttop:224px;\n\twidth:153px;\n\theight:314px;\n}\n\n#nockanda-10_ {\n\tposition:absolute;\n\tleft:604px;\n\ttop:224px;\n\twidth:156px;\n\theight:314px;\n}\n\n#nockanda-11_ {\n\tposition:absolute;\n\tleft:1023px;\n\ttop:224px;\n\twidth:154px;\n\theight:314px;\n}\n\n#nockanda-12_ {\n\tposition:absolute;\n\tleft:0px;\n\ttop:249px;\n\twidth:28px;\n\theight:471px;\n}\n\n#nockanda-13_ {\n\tposition:absolute;\n\tleft:28px;\n\ttop:249px;\n\twidth:132px;\n\theight:176px;\n}\n\n#nockanda-14_ {\n\tposition:absolute;\n\tleft:160px;\n\ttop:249px;\n\twidth:20px;\n\theight:302px;\n}\n\n#nockanda-15_ {\n\tposition:absolute;\n\tleft:333px;\n\ttop:249px;\n\twidth:120px;\n\theight:289px;\n}\n\n#nockanda-16_ {\n\tposition:absolute;\n\tleft:453px;\n\ttop:249px;\n\twidth:133px;\n\theight:176px;\n}\n\n#nockanda-17_ {\n\tposition:absolute;\n\tleft:586px;\n\ttop:249px;\n\twidth:18px;\n\theight:302px;\n}\n\n#nockanda-18_ {\n\tposition:absolute;\n\tleft:760px;\n\ttop:249px;\n\twidth:110px;\n\theight:289px;\n}\n\n#nockanda-19_ {\n\tposition:absolute;\n\tleft:870px;\n\ttop:249px;\n\twidth:134px;\n\theight:176px;\n}\n\n#nockanda-20_ {\n\tposition:absolute;\n\tleft:1004px;\n\ttop:249px;\n\twidth:19px;\n\theight:302px;\n}\n\n#nockanda-21_ {\n\tposition:absolute;\n\tleft:28px;\n\ttop:425px;\n\twidth:132px;\n\theight:126px;\n}\n\n#nockanda-22_ {\n\tposition:absolute;\n\tleft:453px;\n\ttop:425px;\n\twidth:133px;\n\theight:126px;\n}\n\n#nockanda-23_ {\n\tposition:absolute;\n\tleft:870px;\n\ttop:425px;\n\twidth:134px;\n\theight:126px;\n}\n\n#nockanda-24_ {\n\tposition:absolute;\n\tleft:180px;\n\ttop:538px;\n\twidth:61px;\n\theight:87px;\n}\n\n#nockanda-25_ {\n\tposition:absolute;\n\tleft:241px;\n\ttop:538px;\n\twidth:135px;\n\theight:61px;\n}\n\n#nockanda-26_ {\n\tposition:absolute;\n\tleft:376px;\n\ttop:538px;\n\twidth:77px;\n\theight:87px;\n}\n\n#nockanda-27_ {\n\tposition:absolute;\n\tleft:604px;\n\ttop:538px;\n\twidth:64px;\n\theight:87px;\n}\n\n#nockanda-28_ {\n\tposition:absolute;\n\tleft:668px;\n\ttop:538px;\n\twidth:131px;\n\theight:61px;\n}\n\n#nockanda-29_ {\n\tposition:absolute;\n\tleft:799px;\n\ttop:538px;\n\twidth:71px;\n\theight:87px;\n}\n\n#nockanda-30_ {\n\tposition:absolute;\n\tleft:1023px;\n\ttop:538px;\n\twidth:64px;\n\theight:87px;\n}\n\n#nockanda-31_ {\n\tposition:absolute;\n\tleft:1087px;\n\ttop:538px;\n\twidth:132px;\n\theight:61px;\n}\n\n#nockanda-32_ {\n\tposition:absolute;\n\tleft:1219px;\n\ttop:538px;\n\twidth:61px;\n\theight:87px;\n}\n\n#nockanda-33_ {\n\tposition:absolute;\n\tleft:28px;\n\ttop:551px;\n\twidth:9px;\n\theight:169px;\n}\n\n#nockanda-34_ {\n\tposition:absolute;\n\tleft:37px;\n\ttop:551px;\n\twidth:133px;\n\theight:64px;\n}\n\n#nockanda-35_ {\n\tposition:absolute;\n\tleft:170px;\n\ttop:551px;\n\twidth:10px;\n\theight:74px;\n}\n\n#nockanda-36_ {\n\tposition:absolute;\n\tleft:453px;\n\ttop:551px;\n\twidth:9px;\n\theight:169px;\n}\n\n#nockanda-37_ {\n\tposition:absolute;\n\tleft:462px;\n\ttop:551px;\n\twidth:133px;\n\theight:64px;\n}\n\n#nockanda-38_ {\n\tposition:absolute;\n\tleft:595px;\n\ttop:551px;\n\twidth:9px;\n\theight:74px;\n}\n\n#nockanda-39_ {\n\tposition:absolute;\n\tleft:870px;\n\ttop:551px;\n\twidth:8px;\n\theight:169px;\n}\n\n#nockanda-40_ {\n\tposition:absolute;\n\tleft:878px;\n\ttop:551px;\n\twidth:135px;\n\theight:64px;\n}\n\n#nockanda-41_ {\n\tposition:absolute;\n\tleft:1013px;\n\ttop:551px;\n\twidth:10px;\n\theight:74px;\n}\n\n#nockanda-42_ {\n\tposition:absolute;\n\tleft:241px;\n\ttop:599px;\n\twidth:135px;\n\theight:26px;\n}\n\n#nockanda-43_ {\n\tposition:absolute;\n\tleft:668px;\n\ttop:599px;\n\twidth:131px;\n\theight:26px;\n}\n\n#nockanda-44_ {\n\tposition:absolute;\n\tleft:1087px;\n\ttop:599px;\n\twidth:132px;\n\theight:26px;\n}\n\n#nockanda-45_ {\n\tposition:absolute;\n\tleft:37px;\n\ttop:615px;\n\twidth:133px;\n\theight:10px;\n}\n\n#nockanda-46_ {\n\tposition:absolute;\n\tleft:462px;\n\ttop:615px;\n\twidth:133px;\n\theight:10px;\n}\n\n#nockanda-47_ {\n\tposition:absolute;\n\tleft:878px;\n\ttop:615px;\n\twidth:135px;\n\theight:10px;\n}\n\n#nockanda-48_ {\n\tposition:absolute;\n\tleft:37px;\n\ttop:625px;\n\twidth:73px;\n\theight:95px;\n}\n\n#nockanda-49_ {\n\tposition:absolute;\n\tleft:110px;\n\ttop:625px;\n\twidth:131px;\n\theight:62px;\n}\n\n#nockanda-50_ {\n\tposition:absolute;\n\tleft:241px;\n\ttop:625px;\n\twidth:45px;\n\theight:95px;\n}\n\n#nockanda-51_ {\n\tposition:absolute;\n\tleft:286px;\n\ttop:625px;\n\twidth:133px;\n\theight:62px;\n}\n\n#nockanda-52_ {\n\tposition:absolute;\n\tleft:419px;\n\ttop:625px;\n\twidth:34px;\n\theight:95px;\n}\n\n#nockanda-53_ {\n\tposition:absolute;\n\tleft:462px;\n\ttop:625px;\n\twidth:73px;\n\theight:95px;\n}\n\n#nockanda-54_ {\n\tposition:absolute;\n\tleft:535px;\n\ttop:625px;\n\twidth:133px;\n\theight:62px;\n}\n\n#nockanda-55_ {\n\tposition:absolute;\n\tleft:668px;\n\ttop:625px;\n\twidth:43px;\n\theight:95px;\n}\n\n#nockanda-56_ {\n\tposition:absolute;\n\tleft:711px;\n\ttop:625px;\n\twidth:132px;\n\theight:62px;\n}\n\n#nockanda-57_ {\n\tposition:absolute;\n\tleft:843px;\n\ttop:625px;\n\twidth:27px;\n\theight:95px;\n}\n\n#nockanda-58_ {\n\tposition:absolute;\n\tleft:878px;\n\ttop:625px;\n\twidth:75px;\n\theight:95px;\n}\n\n#nockanda-59_ {\n\tposition:absolute;\n\tleft:953px;\n\ttop:625px;\n\twidth:134px;\n\theight:62px;\n}\n\n#nockanda-60_ {\n\tposition:absolute;\n\tleft:1087px;\n\ttop:625px;\n\twidth:43px;\n\theight:95px;\n}\n\n#nockanda-61_ {\n\tposition:absolute;\n\tleft:1130px;\n\ttop:625px;\n\twidth:131px;\n\theight:62px;\n}\n\n#nockanda-62_ {\n\tposition:absolute;\n\tleft:1261px;\n\ttop:625px;\n\twidth:19px;\n\theight:95px;\n}\n\n#nockanda-63_ {\n\tposition:absolute;\n\tleft:110px;\n\ttop:687px;\n\twidth:131px;\n\theight:33px;\n}\n\n#nockanda-64_ {\n\tposition:absolute;\n\tleft:286px;\n\ttop:687px;\n\twidth:133px;\n\theight:33px;\n}\n\n#nockanda-65_ {\n\tposition:absolute;\n\tleft:535px;\n\ttop:687px;\n\twidth:133px;\n\theight:33px;\n}\n\n#nockanda-66_ {\n\tposition:absolute;\n\tleft:711px;\n\ttop:687px;\n\twidth:132px;\n\theight:33px;\n}\n\n#nockanda-67_ {\n\tposition:absolute;\n\tleft:953px;\n\ttop:687px;\n\twidth:134px;\n\theight:33px;\n}\n\n#nockanda-68_ {\n\tposition:absolute;\n\tleft:1130px;\n\ttop:687px;\n\twidth:131px;\n\theight:33px;\n}\n\n-->\n</style>\n<!-- End Save for Web Styles -->\n</head>\n<body style=\"background-color:#FFFFFF;\">\n<!-- Save for Web Slices (제어패널샘플.png) -->\n<div id=\"__01\" style=\"background-image: url('/main.png');\">\n\t<div id=\"nockanda-01_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-02_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-03_\" style=\"background-color: {{msg.boiler1.color}}\">\n\t\t<!-- 보일러 1번에 제어부 -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2 align=center>\n\t\t\t현재상태 : {{msg.boiler1.power}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td align=center>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'power', msg:'0'})\"><md-icon class=\"close\"></md-icon>끄기!</md-button>\n\t\t</td>\n\t\t<td align=center>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'power', msg:'1'})\"><md-icon class=\"check\"></md-icon>켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-04_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-05_\" style=\"background-color: {{msg.boiler2.color}}\">\n\t\t<!-- 보일러 2번에 제어부 -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2 align=center>\n\t\t\t현재상태 : {{msg.boiler2.power}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td align=center>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'power', msg:'0'})\"><md-icon class=\"close\"></md-icon>끄기!</md-button>\n\t\t</td>\n\t\t<td align=center>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'power', msg:'1'})\"><md-icon class=\"check\"></md-icon>켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-06_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-07_\" style=\"background-color: {{msg.boiler3.color}}\">\n\t\t<!-- 보일러 3번에 제어부 -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2 align=center>\n\t\t\t현재상태 : {{msg.boiler3.power}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td align=center>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'power', msg:'0'})\"><md-icon class=\"close\"></md-icon>끄기!</md-button>\n\t\t</td>\n\t\t<td align=center>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'power', msg:'1'})\"><md-icon class=\"check\"></md-icon>켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-08_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-09_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-10_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-11_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-12_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-13_\">\n\t\t<!-- 보일러1번 예약부분  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=4 align=center>상태 : {{msg.boiler1.timer_state}}</td>\n\t\t</tr>\n\n\t\t<tr>\n\t\t<td>시작</td>\n\t\t<td><input ng-model=msg.boiler1.timer_start style=\"width: 20px;\"/></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device1',mode:'ontimer', msg:'-'})\">-</md-button></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device1',mode:'ontimer', msg:'+'})\">+</md-button></td>\n\t\t</tr>\n\n\t\t<tr>\n\t\t<td>종료</td>\n\t\t<td><input ng-model=msg.boiler1.timer_end style=\"width: 20px;\"/></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device1',mode:'offtimer', msg:'-'})\">-</md-button></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device1',mode:'offtimer', msg:'+'})\">+</md-button></td>\n\t\t</tr>\n\n\t\t<tr>\n\t\t<td colspan=4 align=center><md-button ng-click=\"send({device_id:'#device1',mode:'timerset', msg:'1'})\"><md-icon class=\"timer\"></md-icon>예약하기!</md-button></td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td colspan=4 align=center><md-button ng-click=\"send({device_id:'#device1',mode:'timerset', msg:'0'})\">예약종료하기!</md-button></td>\n\t\t</tr>\n\t\t</table>\n\t\t\n\t</div>\n\t<div id=\"nockanda-14_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-15_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-16_\">\n\t\t<!-- 보일러2번 예약부분  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=4 align=center>상태 : {{msg.boiler2.timer_state}}</td>\n\t\t</tr>\n\n\t\t<tr>\n\t\t<td>시작</td>\n\t\t<td><input ng-model=msg.boiler2.timer_start style=\"width: 20px;\"/></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device2',mode:'ontimer', msg:'-'})\">-</md-button></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device2',mode:'ontimer', msg:'+'})\">+</md-button></td>\n\t\t</tr>\n\n\t\t<tr>\n\t\t<td>종료</td>\n\t\t<td><input ng-model=msg.boiler2.timer_end style=\"width: 20px;\"/></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device2',mode:'offtimer', msg:'-'})\">-</md-button></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device2',mode:'offtimer', msg:'+'})\">+</md-button></td>\n\t\t</tr>\n\n\t\t<tr>\n\t\t<td colspan=4 align=center><md-button ng-click=\"send({device_id:'#device2',mode:'timerset', msg:'1'})\"><md-icon class=\"timer\"></md-icon>예약하기!</md-button></td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td colspan=4 align=center><md-button ng-click=\"send({device_id:'#device2',mode:'timerset', msg:'0'})\">예약종료하기!</md-button></td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-17_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-18_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-19_\">\n\t\t<!-- 보일러3번 예약부분  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=4 align=center>상태 : {{msg.boiler3.timer_state}}</td>\n\t\t</tr>\n\n\t\t<tr>\n\t\t<td>시작</td>\n\t\t<td><input ng-model=msg.boiler3.timer_start style=\"width: 20px;\"/></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device3',mode:'ontimer', msg:'-'})\">-</md-button></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device3',mode:'ontimer', msg:'+'})\">+</md-button></td>\n\t\t</tr>\n\n\t\t<tr>\n\t\t<td>종료</td>\n\t\t<td><input ng-model=msg.boiler3.timer_end style=\"width: 20px;\"/></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device3',mode:'offtimer', msg:'-'})\">-</md-button></td>\n\t\t<td><md-button ng-click=\"send({device_id:'#device3',mode:'offtimer', msg:'+'})\">+</md-button></td>\n\t\t</tr>\n\n\t\t<tr>\n\t\t<td colspan=4 align=center><md-button ng-click=\"send({device_id:'#device3',mode:'timerset', msg:'1'})\"><md-icon class=\"timer\"></md-icon>예약하기!</md-button></td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td colspan=4 align=center><md-button ng-click=\"send({device_id:'#device3',mode:'timerset', msg:'0'})\">예약종료하기!</md-button></td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-20_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-21_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-22_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-23_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-24_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-25_\">\n\t\t<!-- 보일러1번 분배기3번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler1.div3}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'div3', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'div3', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-26_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-27_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-28_\">\n\t\t<!-- 보일러2번 분배기3번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler2.div3}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'div3', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'div3', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-29_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-30_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-31_\">\n\t\t<!-- 보일러3번 분배기3번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler3.div3}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'div3', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'div3', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-32_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-33_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-34_\">\n\t\t<!-- 보일러1번 분배기1번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler1.div1}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'div1', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'div1', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t\t\n\t</div>\n\t<div id=\"nockanda-35_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-36_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-37_\">\n\t\t<!-- 보일러2번 분배기1번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler2.div1}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'div1', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'div1', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-38_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-39_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-40_\">\n\t\t<!-- 보일러3번 분배기1번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler3.div1}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'div1', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'div1', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-41_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-42_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-43_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-44_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-45_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-46_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-47_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-48_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-49_\">\n\t\t<!-- 보일러1번 분배기2번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler1.div2}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'div2', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'div2', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-50_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-51_\">\n\t\t<!-- 보일러1번 분배기4번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler1.div4}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'div4', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device1',mode:'div4', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-52_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-53_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-54_\">\n\t\t<!-- 보일러2번 분배기2번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler2.div2}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'div2', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'div2', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-55_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-56_\">\n\t\t<!-- 보일러2번 분배기4번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler2.div4}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'div4', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device2',mode:'div4', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-57_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-58_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-59_\">\n\t\t<!-- 보일러3번 분배기2번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler3.div2}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'div2', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'div2', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-60_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-61_\">\n\t\t<!-- 보일러3번 분배기4번  -->\n\t\t<table border=0 width=100%>\n\t\t<tr>\n\t\t<td colspan=2>\n\t\t\t현재상태 : {{msg.boiler3.div4}}\n\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'div4', msg:'0'})\">끄기!</md-button>\n\t\t</td>\n\t\t<td>\n\t\t\t<md-button ng-click=\"send({device_id:'#device3',mode:'div4', msg:'1'})\">켜기!</md-button>\n\t\t</td>\n\t\t</tr>\n\t\t</table>\n\t</div>\n\t<div id=\"nockanda-62_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-63_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-64_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-65_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-66_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-67_\">\n\t\t\n\t</div>\n\t<div id=\"nockanda-68_\">\n\t\t\n\t</div>\n</div>\n<!-- End Save for Web Slices -->\n</body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":390,"y":1400,"wires":[["2a99d0cb.65aa5"]]},{"id":"3309abc2.54fd94","type":"inject","z":"46860c9e.c5e754","name":"","props":[],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":1380,"wires":[["933df390.1ec2b"]]},{"id":"e05c760a.64d228","type":"json","z":"46860c9e.c5e754","name":"","property":"payload","action":"","pretty":false,"x":570,"y":300,"wires":[["75a2fa8d.a46ea4"]]},{"id":"75a2fa8d.a46ea4","type":"function","z":"46860c9e.c5e754","name":"\\n","func":"msg.payload = msg.payload+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":280,"wires":[["e42e8d33.4a5ae"]]},{"id":"53824d37.567d64","type":"json","z":"46860c9e.c5e754","name":"","property":"payload.msg","action":"","pretty":false,"x":570,"y":340,"wires":[["9fb950ee.43181","ac160e67.9b117"]]},{"id":"44e6a022.c983c","type":"json","z":"46860c9e.c5e754","name":"","property":"payload.msg","action":"","pretty":false,"x":850,"y":140,"wires":[["2178f9e7.454716"]]},{"id":"26a3ea40.d2d236","type":"json","z":"46860c9e.c5e754","name":"","property":"payload.msg","action":"","pretty":false,"x":590,"y":40,"wires":[["33148376.82f15c"]]},{"id":"89c84b54.5d6fc8","type":"function","z":"46860c9e.c5e754","name":"","func":"if(msg.payload.to == \"#server\") return null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["26a3ea40.d2d236"]]},{"id":"f7ef99fa.e801c8","type":"function","z":"46860c9e.c5e754","name":"모니터링패널에 전역변수를 지정하는 부분","func":"if(msg.payload.to == \"#server\") return null;\n\n//전역변수 가져오기\nif(msg.payload.from == \"#device1\"){\n    var boiler1 = global.get(\"boiler1\");\n    boiler1.power = msg.payload.msg.power;\n    boiler1.timer_state = msg.payload.msg.timer_state;\n    boiler1.timer_start = msg.payload.msg.timer_start;\n    boiler1.timer_end = msg.payload.msg.timer_end;\n    boiler1.div1 = msg.payload.msg.div1;\n    boiler1.div2 = msg.payload.msg.div2;\n    boiler1.div3 = msg.payload.msg.div3;\n    boiler1.div4 = msg.payload.msg.div4;\n}\nif(msg.payload.from == \"#device2\"){\n    var boiler2 = global.get(\"boiler2\");\n    boiler2.power = msg.payload.msg.power;\n    boiler2.timer_state = msg.payload.msg.timer_state;\n    boiler2.timer_start = msg.payload.msg.timer_start;\n    boiler2.timer_end = msg.payload.msg.timer_end;\n    boiler2.div1 = msg.payload.msg.div1;\n    boiler2.div2 = msg.payload.msg.div2;\n    boiler2.div3 = msg.payload.msg.div3;\n    boiler2.div4 = msg.payload.msg.div4;\n}\nif(msg.payload.from == \"#device3\"){\n    var boiler3 = global.get(\"boiler3\");\n    boiler3.power = msg.payload.msg.power;\n    boiler3.timer_state = msg.payload.msg.timer_state;\n    boiler3.timer_start = msg.payload.msg.timer_start;\n    boiler3.timer_end = msg.payload.msg.timer_end;\n    boiler3.div1 = msg.payload.msg.div1;\n    boiler3.div2 = msg.payload.msg.div2;\n    boiler3.div3 = msg.payload.msg.div3;\n    boiler3.div4 = msg.payload.msg.div4;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":80,"wires":[[]]},{"id":"933df390.1ec2b","type":"function","z":"46860c9e.c5e754","name":"모니터링 패널의 전역변수 값을 가져온다","func":"//클라이언트들의 소켓을 모조리 가지고 와서 접속상태를 확인한다\nvar clients = global.get(\"clients\");\n\nvar device1_state = true;\nvar device2_state = true;\nvar device3_state = true;\n\nif(clients[\"#device1\"] == null){\n    device1_state = false;\n}else{\n    if(clients[\"#device1\"].run == false) device1_state = false;\n}\nif(clients[\"#device2\"] == null){\n    device2_state = false;\n}else{\n    if(clients[\"#device2\"].run == false) device2_state = false;\n}\nif(clients[\"#device3\"] == null){\n  device3_state = false;  \n} else{\n  if(clients[\"#device3\"].run == false) device3_state = false;    \n}\n\n\nvar boiler1 = global.get(\"boiler1\");\nvar boiler2 = global.get(\"boiler2\");\nvar boiler3 = global.get(\"boiler3\");\n\nmsg.boiler1 = boiler1;\nmsg.boiler2 = boiler2;\nmsg.boiler3 = boiler3;\n\nif(device1_state) msg.boiler1.color = \"green\";\nelse msg.boiler1.color = \"red\";\n\nif(device2_state) msg.boiler2.color = \"green\";\nelse msg.boiler2.color = \"red\";\n\nif(device3_state) msg.boiler3.color = \"green\";\nelse msg.boiler3.color = \"red\";\n\nif(boiler1.power == \"0\"){\n    msg.boiler1.power = \"멈춤!\";\n}else if(boiler1.power == \"1\"){\n    msg.boiler1.power = \"작동중!\";\n}\n\nif(boiler1.timer_state == \"0\"){\n    msg.boiler1.timer_state = \"멈춤!\"\n}else if(boiler1.timer_state == \"1\"){\n    msg.boiler1.timer_state = \"예약중!\"\n}\n\nif(boiler1.div1 == \"0\"){\n    msg.boiler1.div1 = \"닫힘!\"\n}else if(boiler1.div1 == \"1\"){\n    msg.boiler1.div1 = \"열림!\"\n}\n\nif(boiler1.div2 == \"0\"){\n    msg.boiler1.div2 = \"닫힘!\"\n}else if(boiler1.div2 == \"1\"){\n    msg.boiler1.div2 = \"열림!\"\n}\n\nif(boiler1.div3 == \"0\"){\n    msg.boiler1.div3 = \"닫힘!\"\n}else if(boiler1.div3 == \"1\"){\n    msg.boiler1.div3 = \"열림!\"\n}\n\nif(boiler1.div4 == \"0\"){\n    msg.boiler1.div4 = \"닫힘!\"\n}else if(boiler1.div4 == \"1\"){\n    msg.boiler1.div4 = \"열림!\"\n}\n\nif(boiler2.power == \"0\"){\n    msg.boiler2.power = \"멈춤!\";\n}else if(boiler2.power == \"1\"){\n    msg.boiler2.power = \"작동중!\";\n}\n\nif(boiler2.timer_state == \"0\"){\n    msg.boiler2.timer_state = \"멈춤!\"\n}else if(boiler2.timer_state == \"1\"){\n    msg.boiler2.timer_state = \"예약중!\"\n}\n\nif(boiler2.div1 == \"0\"){\n    msg.boiler2.div1 = \"닫힘!\"\n}else if(boiler2.div1 == \"1\"){\n    msg.boiler2.div1 = \"열림!\"\n}\n\nif(boiler2.div2 == \"0\"){\n    msg.boiler2.div2 = \"닫힘!\"\n}else if(boiler2.div2 == \"1\"){\n    msg.boiler2.div2 = \"열림!\"\n}\n\nif(boiler2.div3 == \"0\"){\n    msg.boiler2.div3 = \"닫힘!\"\n}else if(boiler2.div3 == \"1\"){\n    msg.boiler2.div3 = \"열림!\"\n}\n\nif(boiler2.div4 == \"0\"){\n    msg.boiler2.div4 = \"닫힘!\"\n}else if(boiler2.div4 == \"1\"){\n    msg.boiler2.div4 = \"열림!\"\n}\n\nif(boiler3.power == \"0\"){\n    msg.boiler3.power = \"멈춤!\";\n}else if(boiler3.power == \"1\"){\n    msg.boiler3.power = \"작동중!\";\n}\n\nif(boiler3.timer_state == \"0\"){\n    msg.boiler3.timer_state = \"멈춤!\"\n}else if(boiler3.timer_state == \"1\"){\n    msg.boiler3.timer_state = \"예약중!\"\n}\n\nif(boiler3.div1 == \"0\"){\n    msg.boiler3.div1 = \"닫힘!\"\n}else if(boiler3.div1 == \"1\"){\n    msg.boiler3.div1 = \"열림!\"\n}\n\nif(boiler3.div2 == \"0\"){\n    msg.boiler3.div2 = \"닫힘!\"\n}else if(boiler3.div2 == \"1\"){\n    msg.boiler3.div2 = \"열림!\"\n}\n\nif(boiler3.div3 == \"0\"){\n    msg.boiler3.div3 = \"닫힘!\"\n}else if(boiler3.div3 == \"1\"){\n    msg.boiler3.div3 = \"열림!\"\n}\n\nif(boiler3.div4 == \"0\"){\n    msg.boiler3.div4 = \"닫힘!\"\n}else if(boiler3.div4 == \"1\"){\n    msg.boiler3.div4 = \"열림!\"\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1320,"wires":[["ef9b2ad3.123c08"]]},{"id":"9fb36941.2a1de8","type":"tcp out","z":"46860c9e.c5e754","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":690,"y":1480,"wires":[]},{"id":"2a99d0cb.65aa5","type":"function","z":"46860c9e.c5e754","name":"수신할 노드의 소켓정보를 뺴온다!","func":"var clients = global.get(\"clients\");\n\nif(clients[msg.device_id] == null) return null;\n\nvar socket = clients[msg.device_id];\n\nsocket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"mode\\\": \\\"\"+msg.mode+\"\\\",\\\"msg\\\": \\\"\"+msg.msg+\"\\\"}}\\n\";\n\nreturn socket;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1480,"wires":[["9fb36941.2a1de8"]]},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"클라이언트리스트","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9c2bb4e6.01d708","type":"ui_group","name":"서버정보","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4ac94e5d.efbcd","type":"ui_group","name":"클라이언트정보","tab":"d25c9cdc.bf5cd","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"832145a9.25bca8","type":"ui_group","name":"Group 1","tab":"23e9519c.96172e","order":1,"disp":false,"width":"25","collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false},{"id":"23e9519c.96172e","type":"ui_tab","name":"컨트롤패널","icon":"tv","order":2,"disabled":false,"hidden":false}]