281/281-2-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"4128bc1.8499144","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/sensor1","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":190,"y":140,"wires":[["17fb229f.d7c96d","e531bf4a.f9277","b1d58d8.4e86c7"]]},{"id":"17fb229f.d7c96d","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":160,"wires":[]},{"id":"e531bf4a.f9277","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":120,"wires":[]},{"id":"a1ecf3c7.4fd6c","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/sensor2","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":190,"y":240,"wires":[["55c22431.ffb02c","851ecce2.dba35","f9397197.77ddd"]]},{"id":"55c22431.ffb02c","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":260,"wires":[]},{"id":"851ecce2.dba35","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":220,"wires":[]},{"id":"c8212632.332c28","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/sensor3","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":190,"y":340,"wires":[["2b030a0.1d498f6","c860d606.1aeae8","2d4218ba.bc1468"]]},{"id":"2b030a0.1d498f6","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":360,"wires":[]},{"id":"c860d606.1aeae8","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":320,"wires":[]},{"id":"f5cbef1f.164e3","type":"ui_heat_map","z":"d00468c7.f49a28","group":"c64ab8d6.5e1f38","order":0,"width":"6","height":"6","name":"","rows":0,"columns":0,"minMax":false,"minimumValue":0,"maximumValue":0,"backgroundType":"color","backgroundColor":"#ffffff","image":"never","radius":"200","opacity":0.6,"blur":0.85,"showValues":false,"gridType":"vals","valuesDecimals":0,"showLegend":false,"legendType":"vals","legendDecimals":0,"legendCount":2,"x":480,"y":440,"wires":[[]]},{"id":"985f3e7a.595b3","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":440,"wires":[["2aa11916.dc9fb6"]]},{"id":"2aa11916.dc9fb6","type":"function","z":"d00468c7.f49a28","name":"","func":"var data1 = flow.get(\"sensor1\");\nvar data2 = flow.get(\"sensor2\");\nvar data3 = flow.get(\"sensor3\");\n\nvar max = 1024;\nvar min = 0;\nvar data4 = Math.floor(Math.random() * (max - min)) + min;\n\nif(data1 == null) data1 = 0;\nif(data2 == null) data2 = 0;\nif(data3 == null) data3 = 0;\n\nmsg.payload = [data1,data2,data3,data4];\nmsg.rows = 2;\nmsg.columns = 2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":440,"wires":[["f5cbef1f.164e3"]]},{"id":"b1d58d8.4e86c7","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"sensor1\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"f9397197.77ddd","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"sensor2\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[[]]},{"id":"2d4218ba.bc1468","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"sensor3\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[[]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":4,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]