281/281-5-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"4128bc1.8499144","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/sensor1","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":190,"y":140,"wires":[["17fb229f.d7c96d","e531bf4a.f9277","c1ffec6b.e0796","c114966f.8720a8"]]},{"id":"17fb229f.d7c96d","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":160,"wires":[]},{"id":"e531bf4a.f9277","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":120,"wires":[]},{"id":"c1ffec6b.e0796","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"dcdc0d14.9c98e","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":420,"y":220,"wires":[[]]},{"id":"67da8240.10df1c","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/sensor2","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":190,"y":340,"wires":[["e21440de.8b2a8","941d0424.12eb28","eb78733a.f6a15","2ccd0e61.380662"]]},{"id":"e21440de.8b2a8","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":360,"wires":[]},{"id":"941d0424.12eb28","type":"ui_gauge","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":320,"wires":[]},{"id":"eb78733a.f6a15","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"30b5144.689caec","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":420,"y":420,"wires":[[]]},{"id":"f03f52f1.3d5cb","type":"ui_heat_map","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":3,"width":"6","height":"4","name":"","rows":0,"columns":0,"minMax":false,"minimumValue":0,"maximumValue":0,"backgroundType":"color","backgroundColor":"#ffffff","image":"never","radius":"200","opacity":0.6,"blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":2,"x":420,"y":520,"wires":[[]]},{"id":"c114966f.8720a8","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"sensor1\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[[]]},{"id":"2ccd0e61.380662","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"sensor2\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":280,"wires":[[]]},{"id":"68189f1b.1cdee","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":520,"wires":[["caf1fc30.f8804"]]},{"id":"caf1fc30.f8804","type":"function","z":"d00468c7.f49a28","name":"","func":"var data1 = flow.get(\"sensor1\");\nvar data2 = flow.get(\"sensor2\");\n\nif(data1 == null) data1 = 0;\nif(data2 == null) data2 = 0;\n\nmsg.payload = [data1,data2];\nmsg.rows = 1;\nmsg.columns = 2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":520,"wires":[["f03f52f1.3d5cb"]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]