366/366노드레드TCP서버.txt
[{"id":"33145442.33943c","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"acfe91f2.15a85","type":"tcp in","z":"33145442.33943c","name":"","server":"server","host":"","port":"60000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":80,"y":160,"wires":[["308623dd.325f3c","8cd5a0f5.62c4a"]]},{"id":"f03c04df.bce158","type":"tcp out","z":"33145442.33943c","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":410,"y":120,"wires":[]},{"id":"2e8b3ae5.6477e6","type":"function","z":"33145442.33943c","name":"메시지에코","func":"msg.payload = \"[서버응답]\" + msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[[]]},{"id":"308623dd.325f3c","type":"function","z":"33145442.33943c","name":"클라언트등록","func":"if(msg.payload[0] == '#'){\n   //디바이스 아이디인것이다!\n   //등록을 해야한다!\n   //#OK를 응답한다!\n   msg.payload = msg.payload.replace(\"\\r\",\"\");\n   msg.payload = msg.payload.replace(\"\\n\",\"\");\n  //msg.payload = 디바이스ID\n  //msg = 디바이스의 소켓\n   //클라이언트 목록 오브젝트를 가져온다\n   var clients = global.get(\"clients\");\n\n   //혹시~~전역변수 목록이 생성이 안되어 있으면 내가 생성한다!\n   if(clients == null) global.set(\"clients\",{});\n\n   //무조건 전역변수 clients목록이 있는것이다!\n\n   //msg 오브젝트에 마지막데이터 수신시간 필드를 할당한다\n   msg.last_msg = new Date();\n   msg.send = 0;\n   msg.recv = 0;\n   msg.run = true;\n\n   //전역변수 record_num의 값을 가지고 와서\n   //레코드번호를 할당하고 번호를 1개씩 올린다\n   var record_num = global.get(\"record_num\");\n   var record_list = global.get(\"record_list\");\n\n   msg.record_num = record_num;\n   \n   record_list.push(record_num);\n   \n   record_num++;\n   global.set(\"record_num\",record_num);\n\n   clients[msg.payload] = msg;\n   \n   msg.payload = \"#OK\\n\";\n   return msg;\n}else{\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":120,"wires":[["f03c04df.bce158"]]},{"id":"e1f42e00.10836","type":"debug","z":"33145442.33943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":800,"wires":[]},{"id":"b944c2d0.b4042","type":"status","z":"33145442.33943c","name":"","scope":["acfe91f2.15a85"],"x":140,"y":580,"wires":[["3318d2d8.1d0a3e"]]},{"id":"3318d2d8.1d0a3e","type":"function","z":"33145442.33943c","name":"클라이언트가끊어지는부분","func":"if(msg.status.event != \"disconnect\") return null;\n\n//클라이언트 목록을 가져온다!\nvar clients = global.get(\"clients\"); //딕셔너리\nvar list = Object.keys(clients);\n\n//msg.ip  msg.port\n//msg.status.event (connect,disconnect)\n//msg.status.ip\n//msg.status.port\n\n//현재 끊어지는 소켓정보하고 등록된 정보하고 같은게 있다면 그녀석을 삭제하겠다!\nfor(var i = 0;i<list.length;i++){\n    //list[i] : i번째 디바이스의 이름\n    //clients : 디바이스의 딕셔너리\n    var socket = clients[list[i]];\n    if(socket != null){\n        if(socket.ip == msg.status.ip && socket.port == msg.status.port){\n            //디바이스목록에서 삭제해라\n            //global.set(list[i],undefined);\n            delete clients[list[i]];\n            break;\n        }\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":640,"wires":[[]]},{"id":"71de33f7.92ef6c","type":"inject","z":"33145442.33943c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":740,"wires":[["146be6ae.45e1f9"]]},{"id":"146be6ae.45e1f9","type":"function","z":"33145442.33943c","name":"","func":"var list = global.keys();\n\nfor(var i = 0;i<list.length;i++){\n    global.set(list[i],undefined);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":740,"wires":[[]]},{"id":"6b2afa1d.d31034","type":"inject","z":"33145442.33943c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":440,"wires":[["a92c85ad.3220b8","9f4486bd.3bd248"]]},{"id":"a92c85ad.3220b8","type":"function","z":"33145442.33943c","name":"클라이언트목록조회","func":"var clients = global.get(\"clients\");\nvar dic = Object.keys(clients);\n\n//클라이언트들의 목록을 가지고 온다!\nvar list = []; //list UI에 반환해야할 변수\nvar now = new Date();\n\nfor(var i = 0;i<dic.length;i++){\n  //dic[i] : i번째 클라이언트의 ID\n  //clients[dic[i]] : i번째 클라이언트의 소켓\n  var socket = clients[dic[i]];\n\n  var timeout = now  - socket.last_msg;\n\n  if(timeout > 5000){\n      //클라이언트 비활성상태\n      list.push(\"<img src=/link2.png width=30 height=30> <font color=red>\"+dic[i]+\"[▲\"+socket.send+\"/▼\"+socket.recv+\"]</font>\");\n      socket.run = false;\n  }else{\n      //활성~!\n      list.push(\"<img src=/link1.png width=30 height=30> <font color=black>\"+dic[i]+\"[▲\"+socket.send+\"/▼\"+socket.recv+\"]</font>\");\n      socket.run = true;\n  }\n\n}\n\n\nmsg.payload = list; //list\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":440,"wires":[["5f8e933b.b18cac"]]},{"id":"5f8e933b.b18cac","type":"ui_list","z":"33145442.33943c","group":"aa2634f1.1bbfd8","name":"","order":0,"width":"6","height":"10","lineType":"two","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":550,"y":400,"wires":[["77c35426.7067ac"]]},{"id":"8cd5a0f5.62c4a","type":"function","z":"33145442.33943c","name":"일반메시지","func":"if(msg.payload[0] == '#') return null;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":220,"wires":[["935fbe80.7669c"]]},{"id":"935fbe80.7669c","type":"json","z":"33145442.33943c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":300,"wires":[["68772af0.91ffc4","faa0f097.a986c"]]},{"id":"68772af0.91ffc4","type":"function","z":"33145442.33943c","name":"받는소켓을찾는부분","func":"var clients = global.get(\"clients\");\n\n//받는놈의 id가 #server인경우를 별도로 뺸다\nif(msg.payload.to == \"#server\"){\n    //보내는놈의 소켓을 가지고 와서 마지막 데이터 수신시간을 기록한다!\n    //msg.payload.from\n    var sender_socket = clients[msg.payload.from];\n    \n    if(sender_socket != null){\n        //시간기록~!\n        sender_socket.last_msg = new Date();\n    }\n    msg.payload = msg.payload.msg.length;\n    \n    return [null,null];\n}\n\n//받는놈의 소켓을 가지고 오라\n\nvar socket = clients[msg.payload.to];\n\n//msg.payload.msg => 서버에서 보내줘야할 메시지\n\n\nif(socket != null && socket.run){\n    var myobject = {};\n    myobject.from = msg.payload.from;\n    myobject.msg = msg.payload.msg;\n\n    socket.payload = myobject;\n    socket.to = msg.payload.to;\n    socket.len = msg.payload.msg.length;\n    return [socket,msg];\n}else{\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["48bbee85.02e13","d192fa45.349998"],["f9267926.447448"]]},{"id":"4b9cab62.1ce854","type":"tcp out","z":"33145442.33943c","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":890,"y":280,"wires":[]},{"id":"6b86e691.6f6708","type":"inject","z":"33145442.33943c","name":"전역변수설정","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":40,"wires":[["49478cd3.725ad4"]]},{"id":"49478cd3.725ad4","type":"function","z":"33145442.33943c","name":"전역변수설정","func":"\n//비어있는 클라이언트 목록을 생성\nvar clients = {};\nglobal.set(\"clients\",clients);\n//클라이언트들이 송신하는 데이터의 총량을 저장하는 변수\nvar upload = {};\nupload.byte = 0;\nglobal.set(\"upload\",upload);\n//클라이언트들이 수신하는 데이터의 총량을 저장하는 변수\nvar dnload = {};\ndnload.byte = 0;\nglobal.set(\"dnload\",dnload);\n\nvar runtime = {};\nruntime.time = new Date();\nglobal.set(\"runtime\",runtime);\n\nglobal.set(\"record_num\",0);\nglobal.set(\"record_list\",[])\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":40,"wires":[[]]},{"id":"80da2144.b5dac","type":"inject","z":"33145442.33943c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":800,"wires":[["ca2bd807.a1f718"]]},{"id":"ca2bd807.a1f718","type":"function","z":"33145442.33943c","name":"전역변수 목록을 가지고오는 블럭","func":"var list = global.keys();\n\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":800,"wires":[["e1f42e00.10836"]]},{"id":"6c10ee4e.56539","type":"inject","z":"33145442.33943c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":860,"wires":[["fa17c8b8.5f4418"]]},{"id":"fa17c8b8.5f4418","type":"function","z":"33145442.33943c","name":"#device1에 소켓 정보를 조회한다","func":"var clients = global.get(\"clients\");\n\nvar socket = clients[\"#device1\"];\n\nif(socket != null){\n    return socket;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":860,"wires":[["348d3945.e01bd6"]]},{"id":"348d3945.e01bd6","type":"debug","z":"33145442.33943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":920,"wires":[]},{"id":"1c1be7a5.e6c648","type":"function","z":"33145442.33943c","name":"전체upload량측정","func":"var upload = global.get(\"upload\");\n//upload.byte\n\nvar len = msg.payload.msg.length;\n\nupload.byte += len;\n\nmsg.payload = upload.byte;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":200,"wires":[[]]},{"id":"408d78d0.f6d778","type":"function","z":"33145442.33943c","name":"전체dnload량측정","func":"var upload = global.get(\"dnload\");\n\n//msg.len => 유효한 메시지의 길이\n\nupload.byte += msg.payload.msg.length;\n\nmsg.payload = upload.byte;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":320,"wires":[[]]},{"id":"3d49d6c4.8185fa","type":"ui_text","z":"33145442.33943c","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버에들어오는데이터총량(byte)","format":"{{msg.byte}}","layout":"row-spread","className":"","x":640,"y":480,"wires":[]},{"id":"741b8014.4a065","type":"ui_text","z":"33145442.33943c","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버에서나가는데이터총량(byte)","format":"{{msg.byte}}","layout":"row-spread","className":"","x":640,"y":520,"wires":[]},{"id":"7dff2c69.dcbce4","type":"inject","z":"33145442.33943c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":980,"wires":[["d51260a.5dcc0a"]]},{"id":"d51260a.5dcc0a","type":"function","z":"33145442.33943c","name":"#device1청소부!","func":"var clients = global.get(\"clients\");\nvar socket = clients[\"#device1\"];\n\nvar timeout = new Date() - socket.last_msg;\n\nif(timeout > 5000){\n    //클라이언트 비활성상태\n    msg.payload = \"클라이언트 비활성!\";\n}else{\n    //활성~!\n    msg.payload = \"클라이언트 활성!\";\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":980,"wires":[["cc784b79.e07a48"]]},{"id":"cc784b79.e07a48","type":"debug","z":"33145442.33943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":980,"wires":[]},{"id":"9f4486bd.3bd248","type":"function","z":"33145442.33943c","name":"서버상태업데이트","func":"var upload = global.get(\"upload\");\nvar dnload = global.get(\"dnload\");\nvar runtime = global.get(\"runtime\");\n\nvar now = new Date();\nvar time = now - runtime.time;\ntime = time/1000;\n\nmsg.time = time;\nmsg.now = now.toString();\n\nreturn [upload,dnload,msg];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":500,"wires":[["3d49d6c4.8185fa"],["741b8014.4a065"],["3724454e.3bcffa","f7fd51bc.dc5f"]]},{"id":"8f2e59b8.964d28","type":"function","z":"33145442.33943c","name":"디바이스별로 송신데이터를 체크","func":"var clients = global.get(\"clients\");\n\nif(msg.payload.to == \"#server\") return null;\n\nvar socket = clients[msg.payload.from];\n\nif(socket == null) return null;\n\nsocket.send += msg.payload.msg.length;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":40,"wires":[[]]},{"id":"1eb32e1e.953ee2","type":"function","z":"33145442.33943c","name":"디바이스별dnload량측정","func":"var clients = global.get(\"clients\");\n//msg.len = 메시지의길이\n//msg.to = 받는놈의 ID\nvar socket = clients[msg.to];\n\nif(socket == null) return null;\n\nsocket.recv += msg.payload.msg.length;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":360,"wires":[[]]},{"id":"3724454e.3bcffa","type":"ui_text","z":"33145442.33943c","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버작동시간(초)","format":"{{msg.time}}","layout":"row-spread","className":"","x":590,"y":560,"wires":[]},{"id":"f7fd51bc.dc5f","type":"ui_text","z":"33145442.33943c","group":"9c2bb4e6.01d708","order":0,"width":0,"height":0,"name":"","label":"서버의 현재시간","format":"{{msg.now}}","layout":"row-spread","className":"","x":580,"y":600,"wires":[]},{"id":"92ca22a4.93e1e","type":"ui_text","z":"33145442.33943c","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"IP주소","format":"{{msg.ip}}","layout":"row-spread","className":"","x":1070,"y":340,"wires":[]},{"id":"77c35426.7067ac","type":"function","z":"33145442.33943c","name":"클라이언트ID분리기+소켓정보반환","func":"var clients = global.get(\"clients\");\n\nvar data = msg.payload.title;\nvar start = data.indexOf(\">#\")+1;\nvar end = data.indexOf(\"[▲\");\nvar id = data.substring(start,end);\n\nvar socket = clients[id];\n\nif(socket == null) return null;\n\n\n\nreturn socket;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":400,"wires":[["92ca22a4.93e1e","7fe4ab36.5b79a4","e42c53d8.33253","d914b485.deeea8","c4fa3bf3.c089c8"]]},{"id":"7fe4ab36.5b79a4","type":"ui_text","z":"33145442.33943c","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"포트번호","format":"{{msg.port}}","layout":"row-spread","className":"","x":1080,"y":380,"wires":[]},{"id":"e42c53d8.33253","type":"ui_text","z":"33145442.33943c","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"마지막메시지수신시간","format":"{{msg.last_msg}}","layout":"row-spread","className":"","x":1120,"y":420,"wires":[]},{"id":"d914b485.deeea8","type":"ui_text","z":"33145442.33943c","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"세션타입","format":"{{msg._session.type}}","layout":"row-spread","className":"","x":1080,"y":460,"wires":[]},{"id":"c4fa3bf3.c089c8","type":"ui_text","z":"33145442.33943c","group":"4ac94e5d.efbcd","order":0,"width":0,"height":0,"name":"","label":"세션아이디","format":"{{msg._session.id}}","layout":"row-spread","className":"","x":1090,"y":500,"wires":[]},{"id":"aa166970.47bb48","type":"inject","z":"33145442.33943c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1060,"wires":[["6dc7b206.e9e7cc"]]},{"id":"6dc7b206.e9e7cc","type":"function","z":"33145442.33943c","name":"전체 클라이언트 목록 가지고오기!","func":"var clients = global.get(\"clients\");\n\nvar dic = Object.keys(clients);\n\nvar list = [];\n\nfor(var i = 0;i<dic.length;i++){\n    list.push(dic[i]);\n}\n\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1060,"wires":[["67599741.a90618"]]},{"id":"67599741.a90618","type":"debug","z":"33145442.33943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1060,"wires":[]},{"id":"48bbee85.02e13","type":"json","z":"33145442.33943c","name":"","property":"payload","action":"","pretty":false,"x":570,"y":300,"wires":[["bbaa7b28.d47f98"]]},{"id":"bbaa7b28.d47f98","type":"function","z":"33145442.33943c","name":"\\n","func":"msg.payload = msg.payload+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":280,"wires":[["4b9cab62.1ce854"]]},{"id":"d192fa45.349998","type":"json","z":"33145442.33943c","name":"","property":"payload.msg","action":"","pretty":false,"x":570,"y":340,"wires":[["408d78d0.f6d778","1eb32e1e.953ee2"]]},{"id":"f9267926.447448","type":"json","z":"33145442.33943c","name":"","property":"payload.msg","action":"","pretty":false,"x":850,"y":140,"wires":[["1c1be7a5.e6c648"]]},{"id":"4854c2c2.7856bc","type":"json","z":"33145442.33943c","name":"","property":"payload.msg","action":"","pretty":false,"x":590,"y":40,"wires":[["8f2e59b8.964d28"]]},{"id":"faa0f097.a986c","type":"function","z":"33145442.33943c","name":"","func":"if(msg.payload.to == \"#server\") return null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["4854c2c2.7856bc","8a162db7.0dab8"]]},{"id":"8a162db7.0dab8","type":"function","z":"33145442.33943c","name":"전역변수에 디바이스별 데이터를 기록한다","func":"//table에 하나의 레코드를 입력하거나 수정하는 쿼리로 변경한다!\n//전역변수에서 해당되는 클라이언트의 소켓을 가지고온다\nvar clients = global.get(\"clients\"); //딕셔너리 구조임\n//해당되는 클라이언트의 소켓을 찾아내라\nvar socket = clients[msg.payload.from];\n//소켓이 없으면 아무일도 안함!\nif(socket == null) return;\n\n//반대쪽으로 넘길 table 입력값을 만들어준다!\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\n\nvar argu = [];\nvar dataset = {};\ndataset.id = socket.record_num;\ndataset.Device_id = msg.payload.from;\ndataset.Rssi = msg.payload.msg.Rssi;\ndataset.Run = socket.run?1:0;\ndataset.Up = socket.send;\ndataset.Down = socket.recv;\ndataset.Cds = msg.payload.msg.Cds;\ndataset.Led1 = msg.payload.msg.Led1;\ndataset.Led2 = msg.payload.msg.Led2;\ndataset.Led3 = msg.payload.msg.Led3;\ndataset.Led4 = msg.payload.msg.Led4;\n\nargu.push(dataset);\nupdate.arguments.push(argu);\n\nmsg.payload = update;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":100,"wires":[["f549ccc4.ba451"]]},{"id":"7ebffdda.d28ac4","type":"inject","z":"33145442.33943c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1130,"y":20,"wires":[["10a8d9c8.f23ef6"]]},{"id":"10a8d9c8.f23ef6","type":"change","z":"33145442.33943c","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"디바이스상태\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"디바이스ID\",\"field\":\"Device_id\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\",\"min\":-90,\"max\":-50,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {return '&nbsp;&nbsp;'+value+'dBm';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"left\"},\"title\":\"WiFi감도\",\"field\":\"Rssi\",\"formatter\":\"progress\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"활성상태\",\"field\":\"Run\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-ban fa-lg\\\"></i>';else return '<i class=\\\"fa fa-check-circle fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"업로드량\",\"field\":\"Up\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue()+'bytes';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"다운로드량\",\"field\":\"Down\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue()+'bytes';}\",\"width\":100,\"align\":\"center\"}]},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"센서상태\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":1023,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {return '&nbsp;&nbsp;'+value+'';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"left\"},\"title\":\"광센서값\",\"field\":\"Cds\",\"formatter\":\"progress\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LED1\",\"field\":\"Led1\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-toggle-off fa-lg\\\"></i>';else return '<i class=\\\"fa fa-toggle-on fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LED2\",\"field\":\"Led2\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-toggle-off fa-lg\\\"></i>';else return '<i class=\\\"fa fa-toggle-on fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LED3\",\"field\":\"Led3\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-toggle-off fa-lg\\\"></i>';else return '<i class=\\\"fa fa-toggle-on fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LED4\",\"field\":\"Led4\",\"formatter\":\"function(cell, formatterParams, onRendered){if(cell.getValue() == 0) return '<i class=\\\"fa fa-toggle-off fa-lg\\\"></i>';else return '<i class=\\\"fa fa-toggle-on fa-lg\\\"></i>';}\",\"width\":100,\"align\":\"center\"}]}],\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\"},\"customHeight\":12}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":100,"wires":[["f549ccc4.ba451"]]},{"id":"f549ccc4.ba451","type":"ui_table","z":"33145442.33943c","group":"832145a9.25bca8","name":"컨트롤패널","order":1,"width":"25","height":"7","columns":[],"outputs":1,"cts":true,"x":1270,"y":180,"wires":[["a296cd7a.b57"]]},{"id":"eaf30d30.2dcfb","type":"function","z":"33145442.33943c","name":"클라이언트별 소켓에서 데이터를 뺴오는부분","func":"//전역변수에서 클라이언트 목록을 가지고 온다\nvar clients = global.get(\"clients\");\n\nvar dic = Object.keys(clients); //배열형태\n\n//출력 JSON\nvar client_list = [];\n\nfor(var i = 0;i<dic.length;i++){\n   var socket = clients[dic[i]];\n   var dataset = {};\n   dataset.Device_id = dic[i];\n   dataset.Rssi = socket.Rssi;\n   dataset.Run = socket.run?1:0;\n   dataset.Up = socket.send;\n   dataset.Down = socket.recv;\n   dataset.Cds = socket.dataset.Cds;\n   dataset.Led1 = socket.dataset.Led1;\n   dataset.Led2 = socket.dataset.Led2;\n   dataset.Led3 = socket.dataset.Led3;\n   dataset.Led4 = socket.dataset.Led4;\n\n   client_list.push(dataset);\n}\nmsg.payload = client_list;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":1200,"wires":[[]]},{"id":"a296cd7a.b57","type":"function","z":"33145442.33943c","name":"LED제어명령을 눌렀을때","func":"var clients = global.get(\"clients\");\n\nvar socket = clients[msg.payload.Device_id];\n\nif(socket == null) return;\n\nif(msg.topic == \"Led1\"){\n   //LED1 제어 신호를 해당되는 디바이스에게 전송한다\n   if(msg.payload.Led1 == 0){\n      //1을 보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":1,\\\"State\\\":1}}\\n\";\n   }else{\n      //0을보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":1,\\\"State\\\":0}}\\n\";\n   }\n\n   return socket;\n}else if(msg.topic == \"Led2\"){\n\n   if(msg.payload.Led2 == 0){\n      //1을 보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":2,\\\"State\\\":1}}\\n\";\n   }else{\n      //0을보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":2,\\\"State\\\":0}}\\n\";\n   }\n   return socket;\n}else if(msg.topic == \"Led3\"){\n\n   if(msg.payload.Led3 == 0){\n      //1을 보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":3,\\\"State\\\":1}}\\n\";\n   }else{\n      //0을보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":3,\\\"State\\\":0}}\\n\";\n   }\n   return socket;\n}else if(msg.topic == \"Led4\"){\n\n   if(msg.payload.Led4 == 0){\n      //1을 보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":4,\\\"State\\\":1}}\\n\";\n   }else{\n      //0을보냄\n      socket.payload = \"{\\\"from\\\":\\\"#server\\\",\\\"msg\\\":{\\\"Led_num\\\":4,\\\"State\\\":0}}\\n\";\n   }\n   return socket;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":120,"wires":[["b3324bf6.fc2cf8"]]},{"id":"b3324bf6.fc2cf8","type":"tcp out","z":"33145442.33943c","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":1490,"y":200,"wires":[]},{"id":"f03ce9d0.8a71c8","type":"function","z":"33145442.33943c","name":"컨트롤패널오프라인체크","func":"//1번 전체 소켓을 가지고온다\n//로프를 회전을 하면서 오프인인 레코드의 정보를 업데이트한다\nvar clients = global.get(\"clients\");\n\nvar dic = Object.keys(clients);\n\nvar update = {};\nupdate.command = \"updateOrAddData\";\nupdate.arguments = [];\nvar argu = [];\n\nfor(var i = 0;i<dic.length;i++){\n    var socket = clients[dic[i]];\n\n    if(socket.run == false){\n        //비활성상태\n\tvar dataset = {};\n\tdataset.id = socket.record_num;\n\tdataset.Device_id = dic[i];\n\tdataset.Rssi = -90;\n\tdataset.Run = socket.run?1:0;\n\tdataset.Up = socket.send;\n\tdataset.Down = socket.recv;\n\tdataset.Cds = 0;\n\tdataset.Led1 = 0;\n\tdataset.Led2 = 0;\n\tdataset.Led3 = 0;\n\tdataset.Led4 = 0;\n              argu.push(dataset);\n    }\n}\nupdate.arguments.push(argu);\n\nif(argu.length == 0) return null;\n\nmsg.payload = update;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":260,"wires":[["f549ccc4.ba451"]]},{"id":"decebf44.f1ff7","type":"inject","z":"33145442.33943c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":260,"wires":[["f03ce9d0.8a71c8","d42464f7.c48958"]]},{"id":"d42464f7.c48958","type":"function","z":"33145442.33943c","name":"삭제할 레코드를 찾는 노드","func":"//클라이언트 정보를 가지고온다\nvar clients = global.get(\"clients\");\n//발급한 레코드 번호를 가지고온다\nvar record_list = global.get(\"record_list\");\n\n//클라이언트 정보에서 루프를 순회하면서 레코드번호를 뺀다\nvar socket_record_list = [];\n\nvar dic = Object.keys(clients);\n\nfor(var i = 0;i<dic.length;i++){\n    var socket = clients[dic[i]];\n    socket_record_list.push(socket.record_num);\n}\n\nvar is_found = true;\nvar is_run = false;\nvar delete_index = 0;\n//record_list : 전체 발급한 레코드번호(비어있는거 포함)\n//socket_record_list(실제 소켓이 할당받은 레코드번호)\nfor(var j = 0;j<record_list.length;j++){\n    for(var k = 0;k<socket_record_list.length;k++){\n        if(record_list[j] == socket_record_list[k]){\n            //실제 발급한 번호를 실사용하고있다!\n            is_found = false;\n            break;\n        }else{\n            //매치가 안되는 부분\n            is_found = true;\n        }\n    }\n\n    //단 한번도 실제 소켓에서 사용하는 번호와 만난적이 없음!\n    if(is_found == true){\n        delete_index = j;\n        is_run = true;\n        break;\n    }\n}\n\n\n\n//delete_index\nif(is_run){\n    //삭제하는 구문을 만든다음\n    msg.payload = {\n         command:\"deleteRow\",\n         arguments:[record_list[delete_index]]\n    }\n    //리스트에서 해당 요소를 삭제한다\n    record_list.splice(delete_index,1);\n\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":320,"wires":[["f549ccc4.ba451"]]},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"클라이언트리스트","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9c2bb4e6.01d708","type":"ui_group","name":"서버정보","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4ac94e5d.efbcd","type":"ui_group","name":"클라이언트정보","tab":"d25c9cdc.bf5cd","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"832145a9.25bca8","type":"ui_group","name":"디바이스정보","tab":"23e9519c.96172e","order":1,"disp":false,"width":"25","collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false},{"id":"23e9519c.96172e","type":"ui_tab","name":"컨트롤패널","icon":"tv","order":2,"disabled":false,"hidden":false}]