272/272-1-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"2a2ec329.7545dc","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":130,"y":240,"wires":[["193995f.05e846a"]]},{"id":"193995f.05e846a","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":300,"y":240,"wires":[["64da0e53.f89c7","5ca4093a.89d438","10fa6bab.83c8a4","5092699e.652658"]]},{"id":"64da0e53.f89c7","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"주변온도","format":"{{msg.payload.at}}","layout":"row-spread","x":480,"y":200,"wires":[]},{"id":"5ca4093a.89d438","type":"ui_text","z":"d4fe52b8.55a31","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"검출온도","format":"{{msg.payload.ot}}","layout":"row-spread","x":480,"y":260,"wires":[]},{"id":"10fa6bab.83c8a4","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"gtype":"gage","title":"주변온도","label":"units","format":"{{msg.payload.at}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":320,"wires":[]},{"id":"5092699e.652658","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"gtype":"gage","title":"검출온도","label":"units","format":"{{msg.payload.ot}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":380,"wires":[]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"AmbientTemp('C)","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"ObjectTemp('C)","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]