272/272-2-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"2a2ec329.7545dc","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":130,"y":240,"wires":[["193995f.05e846a"]]},{"id":"193995f.05e846a","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":270,"y":260,"wires":[["d35e6081.fb636","fad44f94.2d957","ef75dd8e.1056e","af8dcd74.a91d3","f98c1172.eeb7a","91dd701.f799b9","d028e568.2c2ee8","61af4811.390e38","6ba71780.768f98","8cf5d8a5.ca27d8"]]},{"id":"d35e6081.fb636","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.data1}}","layout":"row-spread","x":450,"y":180,"wires":[]},{"id":"fad44f94.2d957","type":"ui_text","z":"d4fe52b8.55a31","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"name":"","label":"기압","format":"{{msg.payload.data2}}","layout":"row-spread","x":450,"y":220,"wires":[]},{"id":"ef75dd8e.1056e","type":"ui_text","z":"d4fe52b8.55a31","group":"c64ab8d6.5e1f38","order":2,"width":0,"height":0,"name":"","label":"고도","format":"{{msg.payload.data3}}","layout":"row-spread","x":450,"y":260,"wires":[]},{"id":"af8dcd74.a91d3","type":"ui_text","z":"d4fe52b8.55a31","group":"c7ba8c9e.b0b55","order":3,"width":0,"height":0,"name":"","label":"해발기압","format":"{{msg.payload.data4}}","layout":"row-spread","x":460,"y":300,"wires":[]},{"id":"f98c1172.eeb7a","type":"ui_text","z":"d4fe52b8.55a31","group":"d5e2a892.22dd38","order":4,"width":0,"height":0,"name":"","label":"해발고도","format":"{{msg.payload.data5}}","layout":"row-spread","x":460,"y":340,"wires":[]},{"id":"a4d7212b.05b3d","type":"ui_chart","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":400,"wires":[[]]},{"id":"91dd701.f799b9","type":"change","z":"d4fe52b8.55a31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":400,"wires":[["a4d7212b.05b3d"]]},{"id":"3202fffb.00e59","type":"ui_chart","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":440,"wires":[[]]},{"id":"d028e568.2c2ee8","type":"change","z":"d4fe52b8.55a31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":440,"wires":[["3202fffb.00e59"]]},{"id":"61af4811.390e38","type":"change","z":"d4fe52b8.55a31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":480,"wires":[["c2d406ee.079cc8"]]},{"id":"6ba71780.768f98","type":"change","z":"d4fe52b8.55a31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":520,"wires":[["3feede69.e243c2"]]},{"id":"8cf5d8a5.ca27d8","type":"change","z":"d4fe52b8.55a31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data5","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":560,"wires":[["47165975.12e868"]]},{"id":"c2d406ee.079cc8","type":"ui_chart","z":"d4fe52b8.55a31","name":"","group":"c64ab8d6.5e1f38","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":480,"wires":[[]]},{"id":"3feede69.e243c2","type":"ui_chart","z":"d4fe52b8.55a31","name":"","group":"c7ba8c9e.b0b55","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":520,"wires":[[]]},{"id":"47165975.12e868","type":"ui_chart","z":"d4fe52b8.55a31","name":"","group":"d5e2a892.22dd38","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":560,"wires":[[]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"AmbientTemp('C)","tab":"b6ba72ff.7f52","order":1,"disp":false,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"ObjectTemp('C)","tab":"b6ba72ff.7f52","order":2,"disp":false,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":3,"disp":false,"width":"6","collapse":false},{"id":"c7ba8c9e.b0b55","type":"ui_group","name":"Group 4","tab":"b6ba72ff.7f52","order":4,"disp":false,"width":"6","collapse":false},{"id":"d5e2a892.22dd38","type":"ui_group","name":"Group 5","tab":"b6ba72ff.7f52","order":5,"disp":false,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]