272/272-3-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"2a2ec329.7545dc","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"","x":130,"y":240,"wires":[["4b8594.fbf56a6c"]]},{"id":"4b8594.fbf56a6c","type":"json","z":"d4fe52b8.55a31","name":"","property":"payload","action":"","pretty":false,"x":290,"y":300,"wires":[["17c89fc2.325e","422154dd.4a053c","c4e48754.5603c8","1d02d88f.c51197","19524946.544d27","7c8d7ffc.ddca7"]]},{"id":"17c89fc2.325e","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"X","format":"{{msg.payload.x}}","layout":"row-spread","x":450,"y":260,"wires":[]},{"id":"422154dd.4a053c","type":"ui_text","z":"d4fe52b8.55a31","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"Y","format":"{{msg.payload.y}}","layout":"row-spread","x":450,"y":300,"wires":[]},{"id":"c4e48754.5603c8","type":"ui_text","z":"d4fe52b8.55a31","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"Z","format":"{{msg.payload.z}}","layout":"row-spread","x":450,"y":340,"wires":[]},{"id":"1d02d88f.c51197","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","order":3,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{msg.payload.x}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":420,"wires":[]},{"id":"19524946.544d27","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"91f945bf.3f26b8","order":3,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{msg.payload.y}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":460,"wires":[]},{"id":"7c8d7ffc.ddca7","type":"ui_gauge","z":"d4fe52b8.55a31","name":"","group":"c64ab8d6.5e1f38","order":3,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{msg.payload.z}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":500,"wires":[]},{"id":"30b5144.689caec","type":"ui_group","name":"AmbientTemp('C)","tab":"b6ba72ff.7f52","order":1,"disp":false,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"ObjectTemp('C)","tab":"b6ba72ff.7f52","order":2,"disp":false,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":3,"disp":false,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]