276/276-1-flow.txt
[{"id":"d4fe52b8.55a31","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"7a094e8e.5946b","type":"serial in","z":"d4fe52b8.55a31","name":"","serial":"ebcc379f.d04a68","x":90,"y":220,"wires":[["c83b648a.8f7188"]]},{"id":"c83b648a.8f7188","type":"function","z":"d4fe52b8.55a31","name":"","func":"if(msg.payload == \"d46da22a\\r\\n\"){\n    msg.word = \"사과\";\n    msg.image = \"/tag1.png\";\n}else if(msg.payload == \"4d94a03d\\r\\n\"){\n    msg.word = \"바나나\";\n    msg.image = \"/tag2.png\";\n}else if(msg.payload == \"1c75843d\\r\\n\"){\n    msg.word = \"딸기\";\n    msg.image = \"/tag3.png\";\n}else if(msg.payload == \"bf5fa03d\\r\\n\"){\n    msg.word = \"수박\";\n    msg.image = \"/tag4.png\";\n}else if(msg.payload == \"1783a03d\\r\\n\"){\n    msg.word = \"참외\";\n    msg.image = \"/tag5.png\";\n}else if(msg.payload == \"6b8a03d\\r\\n\"){\n    msg.word = \"오렌지\";\n    msg.image = \"/tag6.png\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":220,"wires":[["2c9bd5a0.150b8a","6a5ffe72.c9d8a","b300415b.e12c1"]]},{"id":"2c9bd5a0.150b8a","type":"ui_text","z":"d4fe52b8.55a31","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"결과","format":"{{msg.word}}","layout":"row-spread","x":440,"y":160,"wires":[]},{"id":"6a5ffe72.c9d8a","type":"ui_template","z":"d4fe52b8.55a31","group":"30b5144.689caec","name":"","order":1,"width":"6","height":"6","format":"<img src=\"{{msg.image}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":220,"wires":[[]]},{"id":"a1a20222.9886f","type":"ui_audio","z":"d4fe52b8.55a31","name":"","group":"30b5144.689caec","voice":"Google 한국의","always":true,"x":500,"y":300,"wires":[]},{"id":"b300415b.e12c1","type":"change","z":"d4fe52b8.55a31","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"word","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":300,"wires":[["a1a20222.9886f"]]},{"id":"ebcc379f.d04a68","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"30b5144.689caec","type":"ui_group","name":"AmbientTemp('C)","tab":"b6ba72ff.7f52","order":1,"disp":false,"width":"6","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]