287/287-1-flow.txt
[{"id":"d00468c7.f49a28","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"f74c82a0.52f9e","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/device1","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":130,"y":60,"wires":[["a14de400.d93798","7f48c9f6.9f2b28"]]},{"id":"3ddfe041.07572","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"광센서","format":"{{msg.payload.cds}}","layout":"row-spread","x":440,"y":60,"wires":[]},{"id":"a14de400.d93798","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":300,"y":60,"wires":[["3ddfe041.07572","2524a25e.aafd1e","dc638ad2.de3e48","24d2e3bc.069c5c","584b292c.09a568"]]},{"id":"2524a25e.aafd1e","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"습도센서","format":"{{msg.payload.humi}}","layout":"row-spread","x":450,"y":100,"wires":[]},{"id":"dc638ad2.de3e48","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"온도센서","format":"{{msg.payload.temp}}","layout":"row-spread","x":450,"y":140,"wires":[]},{"id":"24d2e3bc.069c5c","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"이산화탄소센서","format":"{{msg.payload.co2}}","layout":"row-spread","x":470,"y":180,"wires":[]},{"id":"6be9781e.b5c358","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"오프라인","payloadType":"str","x":130,"y":240,"wires":[["301dfacb.9e7816"]]},{"id":"301dfacb.9e7816","type":"delay","z":"d00468c7.f49a28","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":240,"wires":[["71c90280.08944c","d6adc3b8.8ad71"]]},{"id":"71c90280.08944c","type":"ui_text","z":"d00468c7.f49a28","group":"dcdc0d14.9c98e","order":0,"width":0,"height":0,"name":"","label":"연결상태","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":240,"wires":[]},{"id":"7f48c9f6.9f2b28","type":"function","z":"d00468c7.f49a28","name":"","func":"msg.payload = \"온라인\";\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":140,"wires":[["301dfacb.9e7816","71c90280.08944c"]]},{"id":"3f7080a0.5aecc","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/device2","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":130,"y":320,"wires":[["57c16608.ffe698","733a3291.6d489c"]]},{"id":"67f5abdd.f63844","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"토양습도","format":"{{msg.payload.soil}}","layout":"row-spread","x":470,"y":320,"wires":[]},{"id":"57c16608.ffe698","type":"json","z":"d00468c7.f49a28","name":"","property":"payload","action":"","pretty":false,"x":310,"y":320,"wires":[["67f5abdd.f63844","550fbbc4.b659a4","3c968f9e.93d96"]]},{"id":"550fbbc4.b659a4","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"토양온도","format":"{{msg.payload.temp}}","layout":"row-spread","x":460,"y":360,"wires":[]},{"id":"fddbe002.1026","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"오프라인","payloadType":"str","x":130,"y":440,"wires":[["aadb2056.2c96a"]]},{"id":"aadb2056.2c96a","type":"delay","z":"d00468c7.f49a28","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":440,"wires":[["7e948a2.cb5d674","aa269873.25a6e8"]]},{"id":"7e948a2.cb5d674","type":"ui_text","z":"d00468c7.f49a28","group":"30b5144.689caec","order":0,"width":0,"height":0,"name":"","label":"연결상태","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":440,"wires":[]},{"id":"733a3291.6d489c","type":"function","z":"d00468c7.f49a28","name":"","func":"msg.payload = \"온라인\";\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":380,"wires":[["aadb2056.2c96a","7e948a2.cb5d674"]]},{"id":"f621984e.54f538","type":"mqtt out","z":"d00468c7.f49a28","name":"","topic":"nockanda/device3/pump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b300b90d.5b3268","x":450,"y":540,"wires":[]},{"id":"7c4a58a9.6a9558","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":3,"width":0,"height":0,"passthru":false,"label":"펌프작동버튼","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":520,"wires":[["f621984e.54f538"]]},{"id":"c3010696.5c4868","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"91f945bf.3f26b8","order":2,"width":0,"height":0,"passthru":false,"label":"펌프멈춤버튼","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":560,"wires":[["f621984e.54f538"]]},{"id":"a561937a.c79c5","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/device3/flow","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":140,"y":660,"wires":[["b94653a1.3779c","4706b1d.dec9c5","a943a31e.e12a1"]]},{"id":"b94653a1.3779c","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":1,"width":0,"height":0,"name":"","label":"유량","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":660,"wires":[]},{"id":"7e4e0b8e.0dbcb4","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"오프라인","payloadType":"str","x":140,"y":780,"wires":[["bb002cf.81a19d"]]},{"id":"bb002cf.81a19d","type":"delay","z":"d00468c7.f49a28","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":780,"wires":[["81b1b1e9.1d52f","8c6afb26.bf37c8"]]},{"id":"81b1b1e9.1d52f","type":"ui_text","z":"d00468c7.f49a28","group":"91f945bf.3f26b8","order":0,"width":0,"height":0,"name":"","label":"연결상태","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":780,"wires":[]},{"id":"4706b1d.dec9c5","type":"function","z":"d00468c7.f49a28","name":"","func":"msg.payload = \"온라인\";\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":720,"wires":[["bb002cf.81a19d","81b1b1e9.1d52f"]]},{"id":"584163bb.b329dc","type":"mqtt in","z":"d00468c7.f49a28","name":"","topic":"nockanda/device4","qos":"2","datatype":"auto","broker":"b300b90d.5b3268","nl":false,"rap":true,"rh":0,"x":130,"y":880,"wires":[["1359e29d.3ebf1d","2fb1de62.3de032"]]},{"id":"7b0f685e.3ce6b8","type":"ui_text","z":"d00468c7.f49a28","group":"c64ab8d6.5e1f38","order":1,"width":0,"height":0,"name":"","label":"수위센서","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":880,"wires":[]},{"id":"1359e29d.3ebf1d","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"level\",msg.payload);\n\nif(msg.payload == \"0\"){\n    msg.payload = \"물이 부족합니다!\";\n}else if(msg.payload == \"1\"){\n    msg.payload = \"물이 적당합니다!\";\n}else if(msg.payload == \"2\"){\n    msg.payload = \"물이 넘쳐납니다!\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":880,"wires":[["7b0f685e.3ce6b8"]]},{"id":"2153ab81.e41eb4","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"오프라인","payloadType":"str","x":130,"y":1000,"wires":[["ec1adfc6.053fd"]]},{"id":"2fb1de62.3de032","type":"function","z":"d00468c7.f49a28","name":"","func":"msg.payload = \"온라인\";\nmsg.reset = true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":940,"wires":[["ec1adfc6.053fd","77244d69.a735f4"]]},{"id":"ec1adfc6.053fd","type":"delay","z":"d00468c7.f49a28","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":1000,"wires":[["77244d69.a735f4","ee0e239e.878d7"]]},{"id":"77244d69.a735f4","type":"ui_text","z":"d00468c7.f49a28","group":"c64ab8d6.5e1f38","order":0,"width":0,"height":0,"name":"","label":"연결상태","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":1000,"wires":[]},{"id":"584b292c.09a568","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"cds\",msg.payload.cds);\nflow.set(\"humi\",msg.payload.humi);\nflow.set(\"temp\",msg.payload.temp);\nflow.set(\"co2\",msg.payload.co2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":20,"wires":[[]]},{"id":"3c968f9e.93d96","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"soil\",msg.payload.soil);\nflow.set(\"s_temp\",msg.payload.temp);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[[]]},{"id":"a943a31e.e12a1","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"flow\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":620,"wires":[[]]},{"id":"271e8337.a4c7fc","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1100,"wires":[["78390832.8cd1c8"]]},{"id":"78390832.8cd1c8","type":"function","z":"d00468c7.f49a28","name":"","func":"var cds1 = flow.get(\"cds\");\nvar humi1 = flow.get(\"humi\");\nvar temp1 = flow.get(\"temp\");\nvar co21 = flow.get(\"co2\");\nvar soil1 =flow.get(\"soil\");\nvar s_temp1 = flow.get(\"s_temp\");\nvar flow1 = flow.get(\"flow\");\nvar level1 = flow.get(\"level\");\nvar date = new Date().getTime();\n\nif(cds1 == null) cds1 = -999;\nif(humi1 == null) humi1 = -999;\nif(temp1 == null) temp1 = -999;\nif(co21 == null) co21 = -999;\nif(soil1 == null) soil1 = -999;\nif(s_temp1 == null) s_temp1 = -999;\nif(flow1 == null) flow1 = -999;\nif(level1 == null) level1 = -999;\n\nmsg.topic = \"insert into house values(\"+cds1+\",\"+humi1+\",\"+temp1+\",\"+co21+\",\"+soil1+\",\"+s_temp1+\",\"+flow1+\",\"+level1+\",'\"+date+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1100,"wires":[["842b0f6d.3c4c8"]]},{"id":"842b0f6d.3c4c8","type":"mysql","z":"d00468c7.f49a28","mydb":"32efad14.604282","name":"","x":510,"y":1100,"wires":[[]]},{"id":"a9b221f9.b1f83","type":"ui_button","z":"d00468c7.f49a28","name":"","group":"f3f80c78.df78","order":0,"width":0,"height":0,"passthru":false,"label":"기록보기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"select * from house order by date desc limit 20","topicType":"str","x":100,"y":1160,"wires":[["18f9c8e7.95f877"]]},{"id":"18f9c8e7.95f877","type":"mysql","z":"d00468c7.f49a28","mydb":"32efad14.604282","name":"","x":260,"y":1200,"wires":[["238252e5.a5edae","6d61ea35.effbd4","8be6c755.87f908","27acf1d6.de8e5e","dfa3000e.462a","fae4ba6e.fd3cd8","e4e99bb9.7f2998","293e9f07.6998","2e156a85.96d296"]]},{"id":"da8f7515.80c938","type":"ui_table","z":"d00468c7.f49a28","group":"f3f80c78.df78","name":"","order":1,"width":"15","height":"6","columns":[],"outputs":0,"cts":false,"x":530,"y":1200,"wires":[]},{"id":"9e545e8f.92402","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"f3f80c78.df78","order":2,"width":"7","height":"3","label":"광센서 그래프(DB)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":1260,"wires":[[]]},{"id":"238252e5.a5edae","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];\nvar x=[];\n\n//msg.payload[].cds\n\nfor(var i = 0;i<msg.payload.length;i++){\n    y.push(msg.payload[i].cds);\n    x.push(msg.payload[i].date);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1260,"wires":[["9e545e8f.92402"]]},{"id":"1b663ed5.d8e231","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"f3f80c78.df78","order":2,"width":"7","height":"3","label":"습도 그래프(DB)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":1300,"wires":[[]]},{"id":"6d61ea35.effbd4","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];\nvar x=[];\n\n//msg.payload[].cds\n\nfor(var i = 0;i<msg.payload.length;i++){\n    y.push(msg.payload[i].humi);\n    x.push(msg.payload[i].date);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1300,"wires":[["1b663ed5.d8e231"]]},{"id":"8be6c755.87f908","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];\nvar x=[];\n\n//msg.payload[].cds\n\nfor(var i = 0;i<msg.payload.length;i++){\n    y.push(msg.payload[i].temp);\n    x.push(msg.payload[i].date);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1340,"wires":[["47494d6e.623f44"]]},{"id":"47494d6e.623f44","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"f3f80c78.df78","order":2,"width":"7","height":"3","label":"온도 그래프(DB)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":1340,"wires":[[]]},{"id":"27acf1d6.de8e5e","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];\nvar x=[];\n\n//msg.payload[].cds\n\nfor(var i = 0;i<msg.payload.length;i++){\n    y.push(msg.payload[i].co2);\n    x.push(msg.payload[i].date);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1380,"wires":[["ff1d7b3f.f2d278"]]},{"id":"ff1d7b3f.f2d278","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"f3f80c78.df78","order":2,"width":"7","height":"3","label":"Co2 그래프(DB)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":1380,"wires":[[]]},{"id":"dfa3000e.462a","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];\nvar x=[];\n\n//msg.payload[].cds\n\nfor(var i = 0;i<msg.payload.length;i++){\n    y.push(msg.payload[i].soil);\n    x.push(msg.payload[i].date);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1420,"wires":[["123bcc65.f912a4"]]},{"id":"123bcc65.f912a4","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"f3f80c78.df78","order":2,"width":"7","height":"3","label":"토양습도 그래프(DB)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":560,"y":1420,"wires":[[]]},{"id":"fae4ba6e.fd3cd8","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];\nvar x=[];\n\n//msg.payload[].cds\n\nfor(var i = 0;i<msg.payload.length;i++){\n    y.push(msg.payload[i].s_temp);\n    x.push(msg.payload[i].date);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1460,"wires":[["c2bf3454.fdacd8"]]},{"id":"c2bf3454.fdacd8","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"f3f80c78.df78","order":2,"width":"7","height":"3","label":"토양온도 그래프(DB)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":560,"y":1460,"wires":[[]]},{"id":"e4e99bb9.7f2998","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];\nvar x=[];\n\n//msg.payload[].cds\n\nfor(var i = 0;i<msg.payload.length;i++){\n    y.push(msg.payload[i].flow);\n    x.push(msg.payload[i].date);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1500,"wires":[["d234cfe8.f2b15"]]},{"id":"d234cfe8.f2b15","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"f3f80c78.df78","order":2,"width":"7","height":"3","label":"유량 그래프(DB)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":1500,"wires":[[]]},{"id":"293e9f07.6998","type":"function","z":"d00468c7.f49a28","name":"","func":"var y=[];\nvar x=[];\n\n//msg.payload[].cds\n\nfor(var i = 0;i<msg.payload.length;i++){\n    y.push(msg.payload[i].level);\n    x.push(msg.payload[i].date);\n}\n\nmsg.payload = [{\n    series:\"\",\n    data:[y],\n    labels:x\n    \n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1540,"wires":[["b73dcbcc.c8e7f8"]]},{"id":"b73dcbcc.c8e7f8","type":"ui_chart","z":"d00468c7.f49a28","name":"","group":"f3f80c78.df78","order":2,"width":"7","height":"3","label":"수위 그래프(DB)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":1540,"wires":[[]]},{"id":"7964bb2a.447374","type":"inject","z":"d00468c7.f49a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"select * from house order by date desc limit 20","payload":"","payloadType":"date","x":90,"y":1260,"wires":[["18f9c8e7.95f877"]]},{"id":"2e156a85.96d296","type":"function","z":"d00468c7.f49a28","name":"","func":"\nfor(var i = 0;i<msg.payload.length;i++){\n    var date2 = new Date(parseInt(msg.payload[i].date));\n    \n    date2.setHours(date2.getHours() + 9);\n    \n    msg.payload[i].date = date2\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1160,"wires":[["da8f7515.80c938"]]},{"id":"ee0e239e.878d7","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"level\",-999);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":940,"wires":[[]]},{"id":"d6adc3b8.8ad71","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"cds\",-999);\nflow.set(\"humi\",-999);\nflow.set(\"temp\",-999);\nflow.set(\"co2\",-999);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":200,"wires":[[]]},{"id":"aa269873.25a6e8","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"soil\",-999);\nflow.set(\"s_temp\",-999);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":400,"wires":[[]]},{"id":"8c6afb26.bf37c8","type":"function","z":"d00468c7.f49a28","name":"","func":"flow.set(\"flow\",-999);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":720,"wires":[[]]},{"id":"b300b90d.5b3268","type":"mqtt-broker","name":"nockanda broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dcdc0d14.9c98e","type":"ui_group","name":"Group 9","tab":"b6ba72ff.7f52","order":1,"disp":true,"width":6},{"id":"30b5144.689caec","type":"ui_group","name":"Group 1","tab":"b6ba72ff.7f52","order":2,"disp":true,"width":"6","collapse":false},{"id":"91f945bf.3f26b8","type":"ui_group","name":"Group 2","tab":"b6ba72ff.7f52","order":3,"disp":true,"width":"6","collapse":false},{"id":"c64ab8d6.5e1f38","type":"ui_group","name":"Group 3","tab":"b6ba72ff.7f52","order":4,"disp":true,"width":"6","collapse":false},{"id":"32efad14.604282","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"arduino287","tz":"","charset":"UTF8"},{"id":"f3f80c78.df78","type":"ui_group","name":"Group 2","tab":"b633a287.fd0b8","order":2,"disp":true,"width":"15","collapse":false},{"id":"b6ba72ff.7f52","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"b633a287.fd0b8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]