398/398(노드레드서버).txt
[{"id":"490dce08.5e24","type":"socketio-in","z":"e03be621.b7d748","name":"","server":"c5dd5096.196f4","rules":[{"v":"upload"}],"x":390,"y":120,"wires":[["451b8c2d.de9904"]]},{"id":"fcc3a6ea.52ede8","type":"socketio-out","z":"e03be621.b7d748","name":"","server":"c5dd5096.196f4","x":840,"y":320,"wires":[]},{"id":"16a1f445.97ee8c","type":"ui_button","z":"e03be621.b7d748","name":"","group":"aa2634f1.1bbfd8","order":2,"width":0,"height":0,"passthru":false,"label":"DC모터ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"device_id\":\"서보모터\",\"cmd\":1}","payloadType":"json","topic":"topic","topicType":"msg","x":390,"y":300,"wires":[["5278b2b6.adb2ac"]]},{"id":"b21791df.133d1","type":"ui_button","z":"e03be621.b7d748","name":"","group":"aa2634f1.1bbfd8","order":3,"width":0,"height":0,"passthru":false,"label":"DC모터OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"device_id\":\"서보모터\",\"cmd\":0}","payloadType":"json","topic":"topic","topicType":"msg","x":390,"y":340,"wires":[["5278b2b6.adb2ac"]]},{"id":"5278b2b6.adb2ac","type":"change","z":"e03be621.b7d748","name":"이벤트네임","rules":[{"t":"set","p":"socketIOEvent","pt":"msg","to":"server_msg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":320,"wires":[["fcc3a6ea.52ede8"]]},{"id":"451b8c2d.de9904","type":"switch","z":"e03be621.b7d748","name":"이벤트별로구분!","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"upload","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":120,"wires":[["a7b7197.f92c3e8"]]},{"id":"a7b7197.f92c3e8","type":"switch","z":"e03be621.b7d748","name":"디바이스별로구분","property":"payload.device_id","propertyType":"msg","rules":[{"t":"eq","v":"서보모터","vt":"str"},{"t":"eq","v":"빼앗긴모터","vt":"str"},{"t":"eq","v":"워터펌프","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":120,"wires":[["cf9b1f57.4fec9"],["9969d879.f29d88","97548675.8cd0c8"],["f4fcb98e.e915b8"]]},{"id":"cf9b1f57.4fec9","type":"ui_text","z":"e03be621.b7d748","group":"aa2634f1.1bbfd8","order":1,"width":0,"height":0,"name":"","label":"DC모터의상태","format":"{{msg.payload.relay_state}}","layout":"row-spread","className":"","x":960,"y":60,"wires":[]},{"id":"b9899f96.e0e2","type":"ui_button","z":"e03be621.b7d748","name":"","group":"9c2bb4e6.01d708","order":3,"width":0,"height":0,"passthru":false,"label":"서보모터+","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"device_id\":\"빼앗긴모터\",\"cmd\":1}","payloadType":"json","topic":"topic","topicType":"msg","x":390,"y":380,"wires":[["5278b2b6.adb2ac"]]},{"id":"71870911.3862e8","type":"ui_button","z":"e03be621.b7d748","name":"","group":"9c2bb4e6.01d708","order":2,"width":0,"height":0,"passthru":false,"label":"서보모터-","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"device_id\":\"빼앗긴모터\",\"cmd\":0}","payloadType":"json","topic":"topic","topicType":"msg","x":400,"y":420,"wires":[["5278b2b6.adb2ac"]]},{"id":"9969d879.f29d88","type":"ui_text","z":"e03be621.b7d748","group":"9c2bb4e6.01d708","order":1,"width":0,"height":0,"name":"","label":"서보모터의각도","format":"{{msg.payload.servo_degree}}","layout":"row-spread","className":"","x":1020,"y":120,"wires":[]},{"id":"97548675.8cd0c8","type":"ui_gauge","z":"e03be621.b7d748","name":"","group":"9c2bb4e6.01d708","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.servo_degree}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":990,"y":160,"wires":[]},{"id":"237e6f7f.4a864","type":"ui_button","z":"e03be621.b7d748","name":"","group":"4ac94e5d.efbcd","order":3,"width":0,"height":0,"passthru":false,"label":"펌프ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"device_id\":\"워터펌프\",\"cmd\":1}","payloadType":"json","topic":"topic","topicType":"msg","x":400,"y":460,"wires":[["5278b2b6.adb2ac"]]},{"id":"2238e1ef.7b2f4e","type":"ui_button","z":"e03be621.b7d748","name":"","group":"4ac94e5d.efbcd","order":4,"width":0,"height":0,"passthru":false,"label":"펌프OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"device_id\":\"워터펌프\",\"cmd\":0}","payloadType":"json","topic":"topic","topicType":"msg","x":400,"y":500,"wires":[["5278b2b6.adb2ac"]]},{"id":"f98bd0a7.7a4ca","type":"ui_text","z":"e03be621.b7d748","group":"4ac94e5d.efbcd","order":1,"width":0,"height":0,"name":"","label":"펌프의상태","format":"{{msg.payload.pump_state}}","layout":"row-spread","className":"","x":1110,"y":200,"wires":[]},{"id":"f4fcb98e.e915b8","type":"switch","z":"e03be621.b7d748","name":"","property":"payload.module","propertyType":"msg","rules":[{"t":"eq","v":"펌프","vt":"str"},{"t":"eq","v":"유량","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":220,"wires":[["f98bd0a7.7a4ca"],["bb9bd3d3.e3373"]]},{"id":"bb9bd3d3.e3373","type":"ui_text","z":"e03be621.b7d748","group":"4ac94e5d.efbcd","order":2,"width":0,"height":0,"name":"","label":"유량(mL)","format":"{{msg.payload.water}}","layout":"row-spread","className":"","x":1080,"y":240,"wires":[]},{"id":"628d1930.305118","type":"ui_button","z":"e03be621.b7d748","name":"","group":"4ac94e5d.efbcd","order":5,"width":0,"height":0,"passthru":false,"label":"유량초기화","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"device_id\":\"워터펌프\",\"cmd\":2}","payloadType":"json","topic":"topic","topicType":"msg","x":410,"y":540,"wires":[["5278b2b6.adb2ac"]]},{"id":"c5dd5096.196f4","type":"socketio-config","port":"60000","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"aa2634f1.1bbfd8","type":"ui_group","name":"보드1번","tab":"d25c9cdc.bf5cd","order":1,"disp":true,"width":5,"collapse":false,"className":""},{"id":"9c2bb4e6.01d708","type":"ui_group","name":"보드2번","tab":"d25c9cdc.bf5cd","order":2,"disp":true,"width":5,"collapse":false,"className":""},{"id":"4ac94e5d.efbcd","type":"ui_group","name":"보드3번","tab":"d25c9cdc.bf5cd","order":3,"disp":true,"width":5,"collapse":false,"className":""},{"id":"d25c9cdc.bf5cd","type":"ui_tab","name":"서버정보","icon":"info","order":1,"disabled":false,"hidden":false}]