494/494-4(노드레드코드).txt
[{"id":"4433a61f.fac258","type":"mqtt in","z":"200cf880.993108","name":"","topic":"nockanda/waterlevel","qos":"2","datatype":"auto","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"x":220,"y":160,"wires":[["7b9fccac.e89fb4"]]},{"id":"7b9fccac.e89fb4","type":"csv","z":"200cf880.993108","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":300,"y":280,"wires":[["a158ef14.8c3bc","1fdf7035.0c838","b5e956ab.d6c568","40e5ccaa.7cc7d4"]]},{"id":"a158ef14.8c3bc","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"물탱크수위","format":"{{msg.payload.col1}}","layout":"row-spread","className":"","x":480,"y":160,"wires":[]},{"id":"1fdf7035.0c838","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"백분율","format":"{{msg.payload.col2}}","layout":"row-spread","className":"","x":470,"y":200,"wires":[]},{"id":"b5e956ab.d6c568","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"gtype":"wave","title":"물탱크수위","label":"%","format":"{{msg.payload.col2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":520,"y":280,"wires":[]},{"id":"28451583.3262ba","type":"ui_chart","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":500,"y":340,"wires":[[]]},{"id":"40e5ccaa.7cc7d4","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[["28451583.3262ba"]]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":6},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]